<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <!-- build:css -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/5.3.0/video-js.css" rel="stylesheet">
    <!-- endbuild -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6DiTpnzFTf7fNS9H7Ea2jds3BUuBWinE&amp;libraries=places"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script>
    var config = {
        apiKey: "AIzaSyAUF4rowBeLt_of5ZIR5_RTE7XRsgdo1h8",
        authDomain: "remedy-b2615.firebaseapp.com",
        databaseURL: "https://remedy-b2615.firebaseio.com",
        storageBucket: "remedy-b2615.appspot.com",
    };
    firebase.initializeApp(config);
    </script>
    <script type="text/javascript" src="https://vjs.zencdn.net/5.3.0/video.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <!-- <script src="cordova.js"></script> -->
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    <!-- build:js -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services/zipcodeService.js"></script>
    <script src="js/services/appointmentService.js"></script>
    <script src="js/services/promocodeService.js"></script>
    <script src="js/services/objectFilterService.js"></script>
    <script src="js/services/mailSenderService.js"></script>
    <script src="js/services/stateListService.js"></script>
    <script src="js/services/staffListService.js"></script>
    <script src="js/controllers/authController.js"></script>
    <script src="js/controllers/homeController.js"></script>
    <script src="js/controllers/verificationController.js"></script>
    <script src="js/controllers/appointmentController.js"></script>
    <script src="js/controllers/locationController.js"></script>
    <script src="js/controllers/detailsController.js"></script>
    <script src="js/controllers/paymentController.js"></script>
    <script src="js/controllers/confirmedCotroller.js"></script>
    <script src="js/controllers/insurancesController.js"></script>
    <script src="js/controllers/settingsController.js"></script>
    <script src="js/controllers/messagesController.js"></script>
    <script src="js/controllers/accountController.js"></script>
    <script src="js/controllers/userAppointmentController.js"></script>
    <script src="js/factories/factory.js"></script>
    <script src="js/directives/directives.js"></script>
    <!-- endbuild -->
</head>

<body ng-app="remedy">
    <div class="splash" style="display: none !important;">
        <img src="img/logo.png" alt="" class="middle">
    </div>
    <ion-nav-bar class="bar-calm" ng-controller="authCtrl">
        <ion-nav-title>
            <img class="title-image" src="img/header_logo.png">
        </ion-nav-title>
        <ion-nav-buttons side="secondary">
            <a ng-if="chkUserLogin() === 'false'" href="#/auth">
                <button class="button button-icon icon ion-unlocked"></button>
            </a>
            <a ng-if="chkUserLogin() === 'true'" ng-click="popover.show($event)">
                <button class="button button-icon icon ion-person"></button>
            </a>
            <a ng-click="callPhone()">
                <button class="button button-icon icon ion-ios-telephone"></button>
            </a>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
</body>

</html>
