html, body {height: 100%;margin: 0 auto; }
.container {position: relative; min-height: 100%; }
.container header{/* background-color: #23D6F9 */}
.logo{text-align: center;margin-top: -42px;}
.logo img{height: 350px;}
nav ul{}
nav ul li{display: inline;margin:0 30px 0 70px;background-color: #F4B9B9;padding: 15px 20px 15px 20px;}
/* nav ul li:hover{background-color: #fff;color: blue;}
 */nav ul li a{text-decoration: none;color: #fff;font-weight: bold;}
nav ul li a:hover{text-decoration: none;	}
.slider_div {width: 100%;height:300px;margin: 50px 0 100px 0;}
.services ul{text-decoration: none;}
.services ul li{float: left;margin:0 0 37px 50px;list-style: none;}
.services ul li img{height: 200px;width: 200px;border-radius: 50%;}
.services ul li h3{text-align: center;}
.bxslider li{margin-left: -40px;}
footer{width: 100%;height: 40px;position: fixed;bottom: 0px;background: #EFF5F5; height: 28px; border-top: 1px solid #d1d1d1; line-height: 26px; color: #a1a1a1; text-align: center}
footer p{display: block; margin-bottom: -13px; font-size: 12px; margin-top: -3px;}