<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Sessions</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Packages</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Physiotherapy at Home</h1>
                    <service-request servicename="Physiotherapy at home" serviceIndex = "14" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/physiotherapy.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Targeted to all age groups, healthyBillions' at home physiotherapy program is carefully designed to bring instant relief. Specially designed program for elders.</p>
                  </section>

                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Sessions</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="phySummaryData.upcomingSessions.length">{{phySummaryData.upcomingSessions.length}}</span> <span ng-show="!phySummaryData.upcomingSessions.length">0</span>Upcoming Sessions</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-show="phySummaryData.lastSessions.length">{{phySummaryData.lastSessions.length}}</span><span ng-show="!phySummaryData.lastSessions.length">0</span>Previous Sessions</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                    <span ng-if="phySummaryData.upcomingSessions[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{phySummaryData.upcomingSessions[0].start_date}}</span> <span ng-if="phySummaryData.upcomingSessions[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{phySummaryData.upcomingSessions[0].start_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in phySummaryData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Packages</h2>
                    <ul>
                      <li ng-repeat="package in phySummaryData.packages | limitTo:2">
                        <section> <span class="statusGreen">{{truncate(package.unit_price)| currency:"&#8377;"}} </span>{{package.servicename}} </section>
                      </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Physiotherapy at Home</h1>
                    <service-request servicename="Physiotherapy at home" serviceIndex = "14" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Sessions</h2>
                    <ul>
                      <li ng-repeat="upcomingSessions in phySummaryData.upcomingSessions">
                        <h3>{{upcomingSessions.consultant}}</h3>
                        <em ng-if="upcomingSessions.start_date" class="ion-ios-calendar-outline blue"></em> <em class="fl">{{upcomingSessions.start_date}}</em> <em ng-if="upcomingSessions.start_time" class="ion-ios-clock-outline blue paddingleft15"></em> <em class="fl">{{upcomingSessions.start_time}}</em> </li>
                    </ul>
                  </section>
                  <span ng-hide="phySummaryData.upcomingSessions" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Sessions</h2>
                    <ul>
                      <li ng-repeat="lastSessions in phySummaryData.lastSessions">
                        <h3>{{lastSessions.consultant}}</h3>
                        <em ng-if="lastSessions.start_date" class="ion-ios-calendar-outline blue"></em> <em class="fl">{{lastSessions.start_date}}</em> <em ng-if="lastSessions.start_time" class="ion-ios-clock-outline blue paddingleft15"></em> <em class="fl">{{lastSessions.start_time}}</em> </li>
                    </ul>
                  </section>
                  <span ng-hide="phySummaryData.lastSessions" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Physiotherapy at Home</h1>
                    <service-request servicename="Physiotherapy at home" serviceIndex = "14" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul  ng-show="phySummaryData.invoices">
                      <li ng-repeat="invoice in phySummaryData.invoices | limitTo:2"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section> </li>
                    </ul>
                  </section>
                  <span class="assertive noData" ng-show="!phySummaryData.invoices">You do not have any invoices</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Physiotherapy at Home</h1>
                    <service-request servicename="Physiotherapy at home" serviceIndex = "14" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Packages</h2>
                    <ul ng-show="phySummaryData.packages">
                      <li ng-repeat="package in phySummaryData.packages">
                        <section> <span class="statusGreen">{{truncate(package.unit_price)| currency:"&#8377;"}}</span> {{package.servicename}} </section>
                      </li>
                    </ul>
                  </section>
                  <span class="assertive noData" ng-show="!phySummaryData.packages">You do not have any packages</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
             <div class="item item-body">
                    <h1>Physiotherapy at Home</h1>
                    <service-request servicename="Physiotherapy at home" serviceIndex = "14" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/physiotherapy.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Targeted to all age groups, healthyBillions' at home physiotherapy program is carefully designed to bring instant relief. Specially designed program for elders.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
