<div class="search-content-tabs zzimbangMenu" id="mainBodyMenu">
    <div class="row">
        <div class="search-content-tab-area">
            <ul class="list-inline">
                <li data-ng-class="{'active': selected=='main.base.taxonomy.main.main'}"><a ng-click="reloadCurrent('main.base.taxonomy.main.main')"  ui-sref="main.base.taxonomy.main.main" translate>Main</a></li>
                <li data-ng-class="{'active': selected=='main.base.taxonomy.main.trendingphrases'}"><a ng-click="reloadCurrent('main.base.taxonomy.main.trendingphrases')" ui-sref="main.base.taxonomy.main.trendingphrases" translate>Trending Phrases</a></li>
                <li data-ng-class="{'active': selected=='main.base.taxonomy.main.contributors'}"><a ng-click="reloadCurrent('main.base.taxonomy.main.contributors')" ui-sref="main.base.taxonomy.main.contributors" translate>Contributors</a></li>
                <li data-ng-class="{'active': selected=='main.base.taxonomy.main.media'}"><a  ng-click="reloadCurrent('main.base.taxonomy.main.media')" ui-sref="main.base.taxonomy.main.media" translate>Media</a></li>
            </ul>
        </div>
       <div class="content-popular-searches" data-ng-include="'js/app/search/templates/recent.searches.view.html'">
        </div>
    </div>    
</div>
