<div class="row main-result">
    <div class="">
        <div class="">
            <div class="head taxonomyBar" data-ui-view="taxonomytoolbar">
                 <!--data-ng-include src="'/js/app/taxonomy/templates/main.taxonomy.toolbar.items.view.html'"-->
            </div>
        </div>
        <div class="">
            <div data-ui-view />
        </div>
    </div>
</div>
