<div class="taxonomy-toolbar">
    <div class="taxonomy-toolbar-wrapper">
        <div class="categoryFilterSrch">
            <div class="search">
                <div class="input-group add-on pull-left">
                    <h1 translate>Filter categories</h1>
                    <div class="input-group-btn iconWrap" ng-click="chkVisible()">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <!-- <button class="btn btn-default" type="button"></button> -->
                    </div>
                </div>
                <button class="clearCatFilter" ng-click="clearCategories()" ng-if="showClear">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Clear all filters
                </button>
            </div>
            <button ng-click="addTaxonomy()" class="manageCategory">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span translate>Set up emotion</span>
            </button>
        </div>
    </div>
    <div class="clear"></div>
    <div class="catBubbleList" ng-if="filterList.length > 0">
        <div class="catBubble" ng-repeat="item in filterList">{{item}}<i class="fa fa-times" aria-hidden="true" ng-click="editFilter(item, 'del')"></i></div>
    </div>
</div>

<div class="taxonomy-toolbar-cat-details" ng-if="isVisible">
    <ul>
        <li data-ng-repeat="item in result | filter: { name: tfilter }">
            <span ng-style="{ 'background-color' : item.color}"></span>
            <span>{{item.name}}</span>
            <div class="checkbox">
                <input id="checkbox{{$index}}" class="styled" type="checkbox" ng-model="item.selected">
                <label for="checkbox{{$index}}"></label>
            </div>
            <!-- <input type="checkbox"  ng-model="item.selected"/> -->
        </li>

    </ul>
    <i class="fa fa-repeat"  aria-hidden="true" ng-click="searchCategories()" tooltip-html-unsafe="{{ 'Refresh results' | translate }}"></i>
    <i class="fa fa-times" aria-hidden="true" ng-click="chkVisible()" tooltip-html-unsafe="{{ 'Close' | translate }}"></i>
</div>
