<div class="content-results">
    <div class="contributors-full full-content">
        <!-- <div class="full-header">
            <span translate>OPINION LEADERS</span>
            </div> -->
        </div>
        <div class="full-body" infinite-scroll-distance="0" infinite-scroll="loadMore()" infinite-scroll-disabled="pagingData.busy || pagingData.disabled">
            <div deckgrid class="deckgrid clearfix" source="result" cardTemplate="/js/app/taxonomy/templates/content/results/contributors/taxonomy.result.contributors.card.view.html">
            </div>
        </div>
    </div>
</div>