<div class="contributor-item result-item-wrapper">
    <div class="item-head">
        <div class="image-wrapper">
            <div class="image">
                <img data-ng-src="{{card.content.profile_image_url}}" width="42" height="39">
            </div>
            <div class="pull-left">
                <a ng-href="{{card.content.profileUrl}}" target="_blank">
                    <div class="username">{{card.content.userName}}</div>
                </a>
                <div class="time text-muted">
                    <span am-time-ago="card.content.messages.createdAt"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="category-wrapper">
                <div class="text-muted category" data-ng-style="{'color':card.categoryColor}">{{ card.category }}</div>
            </div>
        </div>
        <div class="source">
            <img data-ng-src="{{ mother.getSourceImgUrl(card.content.source) }}" width="25" height="25">
        </div>
    </div>
    <div class="item-body">
        <a href="{{card.content.profileUrl | decodeURIComponent}}" target="_blank">
            <p>{{ card.content.messages.text | limitTo: 150 }}{{card.content.messages.text.length > 150 ? '...' : ''}}</p>
        </a>
    </div>
    <div class="item-footer">
        <div class="item-footer-wrapper pull-right">
            <!-- <div data-ng-include="'/js/app/common/templates/item.footer.view.html'"></div>-->
            <taxonomy-item-footer item="card" context="'taxonomy'" item-type="'contributor'"></taxonomy-item-footer>
        </div>
    </div>
</div>
