<div class="content-landing">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div data-ui-view="leftads"></div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
        <div data-ui-view="rightads"></div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <div class="content-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" data-ui-view="mainads">

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" data-ui-view="cloud">

                        </div>
                    </div>
                    <div class="row" data-ui-view="results">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
