<!-- Fixed navbar -->
<div class="container-narrow" ng-intro-options="IntroOptions" ng-intro-method="$root.CallTour" ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent" ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent" ng-intro-onafterchange="AfterChangeEvent" ng-intro-autostart="ShouldAutoStart">
    <nav class="navbar">
        <div class="container-fluid nav-bar-header-main" data-ui-view="navbar">
        </div>
    </nav>
    <div data-ui-view="leftcontainer"></div>
    <div class="container content-main">
        <div growl limit-messages="20"></div>
        <div ng-if="$state.current.name != 'main.base.landingbase.main'" data-ng-include="'/js/app/as/templates/left.as.view.html'" class="col-md-1" />
        <div ng-class="$state.current.name != 'main.base.landingbase.main' && 'col-md-10'">
            <div class="row search-row" data-ui-view="search">
            </div>
            <div data-ui-view="content">
            </div>
        </div>
        <div ng-if="$state.current.name != 'main.base.landingbase.main'" data-ng-include="'/js/app/as/templates/right.as.view.html'" class="col-md-1" />
    </div>
    <div data-ui-view="rightcontainer"></div>
    <div class="footernavbar-header" style="height: 32px;" data-ui-view="footernavbar">
        <p style="
        display: block;
        margin-bottom: -13px;
        font-size: 12px;
        margin-top: -3px;"><span translate>© 2016 BPU Holdings,</span> <a target="_blank" href="http://www.vikorea.co.kr/"><span translate>Powered By VIK</span> | </a>
            <a ng-if="$root.prvtPlcKo" ui-sref="main.policy.kop"><span translate>Privacy Statement </span> |</a>
            <a ng-if="$root.prvtPlcKo" ui-sref="main.policy.kot"><span translate>Terms </span> |</a>
            <a ng-if="$root.prvtPlcKo" ui-sref="main.policy.koprt"><span translate>Protection Policy</span></a>
            <a ng-if="$root.prvtPlcEn" ui-sref="main.policy.en"><span translate>Privacy Policy</span></a>
        </p>
        <span style="
        display: inline-block;
        margin-top: -2px;
        font-size: 11px;
        padding-top: 0;" translate> 
        Best viewed with  Internet Explorer 11 or higher, Firefox 47 or higher and Chrome 52 or higher</span>
    </div>
</div>
