<div class="phrases" data-ng-controller="TaxonomyMainContentResultTrendingphrasesCtrl">
    <!-- <div class="col-md-4" data-ng-repeat="item in result"> -->
    <div deckgrid class="deckgrid" source="result" ng-if="result && result.length > 0">
        <div class="proPic3">
            <delete-taxonomy class="pull-right removePostZimbang" item="card"></delete-taxonomy>
            <div class="profileInfo clearfix">
                <div class="profileInfoPic"><img data-ng-src="{{card.content.PROFILE_IMAGE_URL}}" alt="" on-error-img-src="img/default_profile.jpg" /></div>
                <div class="profileInfoText">
                    <h3>
                    <a ng-href="{{card.content.PROFILE_URL}}" target="_blank">
                        <div class="username">{{card.content.USER_NAME}}</div>
                    </a>
                </h3>
                    <span am-time-ago="card.content.CREATED_AT"></span>
                </div>
            </div>
            <a href="{{card.itemUrl | decodeURIComponent}}" target="_blank">
                <p>{{ card.content.TEXT | limitTo: 150 }}{{card.content.TEXT.length > 150 ? '...' : ''}}</p>
            </a>
            <!-- <div class="category-wrapper">
                <div class="text-muted category" data-ng-style="{'color':card.categoryColor}">{{ card.category }}</div>
            </div> -->
            <div class="text-images media-item">
                <media-list list-model="card.content.MEDIA_JSON"></media-list>
            </div>
            <div class="proPic2Btm">
                <div class="proPic2icon"><img ng-src="img/social/plain/small/circle/{{ card.source.toLowerCase() }}_circle.png"></div>
                <taxonomy-item-footer context="'taxonomy'" taxonomy-item="card" item="card.content" item-type="'trendingphrases'" tagged-by="card.categoryIds"></taxonomy-item-footer>
            </div>
            <div>
                <footer-cat-list taxonomy-item="card" tagged-by="card.categoryIds"></footer-cat-list>
            </div>
        </div>
    </div>
    <div class="noResult" ng-if="!filterActivate && (result.length == 0 || result == null)" translate>No content has been tagged</div>
    <div class="noResult" ng-if="filterActivate && (result.length == 0 || result == null)" translate>No matching content found</div>
    <!-- <div class="header">
        <span translate>TRENDING PHRASE</span>
    </div> -->
    <!-- <div class="body">
        <ul class="list-unstyled">
            <li data-ng-repeat="item in result" class="result-item">
                <div class="phrase-item result-item-wrapper">
                    <div class="item-head">
                        <div class="image-wrapper">
                            <div class="image">
                                <img data-ng-src="{{item.content.topTaggedMessage.profile_image_url}}" width="42" height="39">
                              
                            </div>
                            <div class="pull-left">
                                <a ng-href="{{item.content.topTaggedMessage.profileUrl}}" target="_blank">
                                    <div class="username">{{phrase.topTaggedMessage.userName}}</div>
                                </a>
                                <div class="time text-muted">
                                    <span am-time-ago="item.content.topTaggedMessage.createdAt"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="category-wrapper">
                                <div class="text-muted category" data-ng-style="{'color':item.categoryColor}">{{ item.category }}</div>
                            </div>
                        </div>
                        <div class="source">
                            <img data-ng-src="{{ getSourceImgUrl(item.content.topTaggedMessage.source) }}" width="25" height="25">                            
                        </div>
                    </div>
                    <div class="item-body">

                        <p><strong>{{ item.content.textItem }}</strong></p>
                        
                        <a href="{{item.content.messages[0].messageLinkUrl | decodeURIComponent}}" target="_blank">
                            <p>{{ item.content.topTaggedMessage.text | limitTo: 150 }}{{item.content.topTaggedMessage.text.length > 150 ? '...' : ''}}</p>
                        </a> 

                    </div>
                    <div class="item-footer">
                        <div class="item-footer-wrapper pull-right">
                           <taxonomy-item-footer  context="'taxonomy'" item="item" item-type="'trendingphrases'"></taxonomy-item-footer>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
</div>
