<div class="photovideo" data-ng-controller="TaxonomyMainContentResultMediaCtrl">
    <div deckgrid class="deckgrid" source="result" ng-if="result && result.length > 0">
        <div class="proPic zoomPic" tooltip-html="{{card.content.TITLE}}" tooltip-placement="top" tooltip-trigger="{{{ true: 'mouseenter', false: 'never'}[card.content.TITLE.length > 25]}}">
            <delete-taxonomy class="pull-right removePostZimbang media" item="card"></delete-taxonomy>
            <div class="proPicWrapper" ng-show="card.content.TYPE==='PHOTO'">
                <div class="proPicInnerWrapper">
                    <a ng-href="{{ card.content.IMG_URL }}" target="_blank">
                        <img fallback-image fallback-src="img/empty_500x500.png" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ mother.getPreparedUrl(card.content.BIGIMG_URL) }}">
                    </a>
                </div>
                <div class="propicTrnsbox">
                    <div class="proSocialicon">
                        <a ng-href="{{ card.content.IMG_URL }}" target="_blank"><img data-ng-src="img/social/plain/small/circle/{{card.source.toLowerCase()}}_circle.png"></a>
                    </div>
                    <taxonomy-item-footer taxonomy-item="card" item="card.content" context="'taxonomy'" item-type="'media-'+card.content.TYPE" tagged-by="card.categoryIds"></taxonomy-item-footer>
                </div>
            </div>
            <div class="proPicWrapper" ng-show="card.content.TYPE==='VIDEO'">
                <div class="proPicInnerWrapper">
                    <img fallback-image fallback-src="img/empty_500x500.png" style="cursor: pointer;" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ mother.getPreparedUrl(card.content.BIGIMG_URL) }}" ng-click="mother.playVideo(card.content)">
                </div>
                <!--ng-click="mother.playVideo(card.content.VIDEO_URL)"-->
                <div class="propicTrnsbox">
                    <div class="proSocialicon"><img data-ng-src="img/social/plain/small/circle/{{card.source.toLowerCase()}}_circle.png" ng-click="mother.playVideo(card.content)"></div>
                    <span class="imgSpan">{{card.content.TITLE}}</span>
                    <taxonomy-item-footer taxonomy-item="card" item="card.content" context="'taxonomy'" item-type="'media-'+card.content.TYPE" tagged-by="card.categoryIds"></taxonomy-item-footer>
                </div>
            </div>
            <div>
                <footer-cat-list taxonomy-item="card" tagged-by="card.categoryIds"></footer-cat-list>
            </div>
        </div>
    </div>
    <div class="noResult" ng-if="!filterActivate && (result.length == 0 || result == null)" translate>No content has been tagged</div>
    <div class="noResult" ng-if="filterActivate && (result.length == 0 || result == null)" translate>No matching content found</div>
    <!-- <div class="header">
        <span translate>IMAGE & VIDEO</span>
    </div> -->
    <!-- <div class="body">
        <ul class="list-unstyled">
            <li data-ng-repeat="item in result" class="media-item">
                <div class="media-item-wrapper">
                    <div class="category-wrapper">
                        <div class="text-muted category" data-ng-style="{'color':item.categoryColor}">{{ item.category }}</div>
                    </div>
                    <div class="item-header">
                        <div class="item-header-wrapper">
                            <div class="image-wrapper">
                                <img data-ng-src="{{getSourceImgUrl(item.content.source)}}" width="35" height="35">
                            </div>
                        </div>
                    </div>
                    <div class="item-body">
                        <div class="photo-wrapper" ng-if="item.content.type=='PHOTO' ">
                            <a ng-href="{{ item.content.imgUrl }}" target="_blank">
                                <img fallback-image fallback-src="img/empty_500x500.png" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ getPreparedUrl(item.content.bigImgUrl) }}">
                            </a>
                        </div>
                        <div class="photo-wrapper" ng-if="item.content.type=='VIDEO' ">
                            <img fallback-image fallback-src="img/empty_500x500.png" style="cursor: pointer;" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" ng-click="playVideo(item.content.videoUrl)" data-ng-src="{{ getPreparedUrl(item.content.bigImgUrl) }}">
                        </div>
                    </div>
                    <div class="item-footer">
                        <div class="item-footer-wrapper pull-right">
                            <taxonomy-item-footer item="item" context="'taxonomy'" item-type="'media-'+item.content.type"></taxonomy-item-footer>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
</div>
