<div class="result-content col-md-12 resultTab" ng-class="{'noHt': !shwLoad,'addHt' : shwLoad}" ng-init="$root.taxonomySearchListArr = []; loadTdata = true; loadOdata = false; loadIdata = false;">
    <div class="spin-loading" ng-if="shwLoad">
        <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
    </div>
    <div class="loadingAnimate" ng-if="shwLoad"><marquee scrollamount="5" width="40">&lt;&lt;&lt;</marquee><span translate>Scraping content sources for your search</span><marquee scrollamount="5" direction="right" width="40">&gt;&gt;&gt;</marquee></div>
    <ul id="myTab" class="nav nav-tabs" ng-init="selectedTab='trending_phrase'; $root.disableSocialPart = true;">
        <li class="trending_phrase" ng-class="{active : selectedTab === 'trending_phrase'}">
            <a href="javascript:void(0)" ng-click="selectedTab='trending_phrase'; $root.disableSocialPart = true; loadTdata = false ? ($root.taxonomySearchListArr.indexOf('trending_phrase') < 0) : true;">
                <span translate>TRENDING PHRASE</span>
            </a>
        </li>
        <li class="opinion_leader" ng-class="{active : selectedTab === 'opinion_leader'}">
            <a href="javascript:void(0)" ng-click="selectedTab='opinion_leader'; $root.disableSocialPart = true; loadOdata = false ? ($root.taxonomySearchListArr.indexOf('opinion_leader') < 0) : true;">
                <span translate>OPINION LEADER</span>
            </a>
        </li>
        <li class="image_video" ng-class="{active : selectedTab === 'image_video'}">
            <a href="javascript:void(0)" ng-click="selectedTab='image_video'; $root.disableSocialPart = false; loadIdata = false ? ($root.taxonomySearchListArr.indexOf('image_video') < 0) : true;">
                <span translate>IMAGE & VIDEO</span>
            </a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="pull-left result-col col-space tradingIcon tab-pane taxonomyTabDetails" ng-if="loadTdata" ng-show="selectedTab === 'trending_phrase'" id="trending_phrase" ng-class="{'srchBodyColor' : !shwLoad, 'srchBodyNoColor' : shwLoad, 'active' : selectedTab === 'trending_phrase' }" ng-include src="'js/app/taxonomy/templates/content/main/taxonomy.result.main.trendingphrases.view.html'"></div>
         <div class="pull-left result-col col-space opinionIcon tab-pane taxonomyTabDetails" ng-if="loadOdata" ng-show="selectedTab === 'opinion_leader'" id="opinion_leader" ng-class="{'srchBodyColor' : !shwLoad, 'srchBodyNoColor' : shwLoad, 'active': selectedTab === 'opinion_leader'}" ng-include src="'js/app/taxonomy/templates/content/main/taxonomy.result.main.contributors.view.html'"></div>
        <div class="pull-left result-col mediaIcontab-pane taxonomyTabDetails" ng-if="loadIdata" ng-show="selectedTab === 'image_video'" id="image_video" ng-class="{'srchBodyColor' : !shwLoad, 'srchBodyNoColor' : shwLoad, 'active': selectedTab === 'image_video'}" ng-include src="'js/app/taxonomy/templates/content/main/taxonomy.result.main.media.view.html'"></div>
    </div>
</div>
