  <ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth5">Appointment Status</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Medical Second Opinion</h1>
                    <service-request servicename="Medical Second Opinion" serviceIndex = "16" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/mso.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">We provide medical second opinion from one of the most renowned hospital across the world. Our partner, MediGuide America provides medical second opinion from one of the most renowned hospital across the world. Some of the Indian hospitals on board are <strong>Fortis, Narayana Hrudayalaya (Bangalore), Hinduja, Shroff Eye Center (Mumbai), Artemis, Moolchand (Delhi)</strong>.</p>
                  </section>
                  
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-if="secondOpData.currentActiveSecondOpinion.length">{{secondOpData.currentActiveSecondOpinion.length}}</span> <span ng-show="!secondOpData.currentActiveSecondOpinion.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-show="secondOpData.lastFiveMedicalSecondOpinion.length">{{secondOpData.lastFiveMedicalSecondOpinion.length}}</span><span ng-show="!secondOpData.lastFiveMedicalSecondOpinion.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section> 

                    <span ng-if="secondOpData.currentActiveSecondOpinion[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{secondOpData.currentActiveSecondOpinion[0].preferred_date}}</span> <span ng-if="secondOpData.currentActiveSecondOpinion[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{secondOpData.currentActiveSecondOpinion[0].preferred_time}}</span>

                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in secondOpData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Medical Second Opinion</h1>
                    <service-request servicename="Medical Second Opinion" serviceIndex = "16" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="currentActiveSecondOpinion in secondOpData.currentActiveSecondOpinion">
                        <h3>{{currentActiveSecondOpinion.consultantsname}}</h3>
                        <span ng-if="currentActiveSecondOpinion.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{currentActiveSecondOpinion.preferred_date}}</span> 
                        <span ng-if="currentActiveSecondOpinion.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> 
                        <span class="fl">{{currentActiveSecondOpinion.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="secondOpData.currentActiveSecondOpinion" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastFiveMedicalSecondOpinion in secondOpData.lastFiveMedicalSecondOpinion">
                        <h3>{{lastFiveMedicalSecondOpinion.consultantsname}}</h3>
                        <span ng-if="lastFiveMedicalSecondOpinion.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{lastFiveMedicalSecondOpinion.preferred_date}}</span> <span ng-if="lastFiveMedicalSecondOpinion.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{lastFiveMedicalSecondOpinion.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="secondOpData.lastFiveMedicalSecondOpinion" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Medical Second Opinion</h1>
                    <service-request servicename="Medical Second Opinion" serviceIndex = "16" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="secondOpData.invoices">
                      <li ng-repeat="invoice in secondOpData.invoices | limitTo:2"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                  </section>
                  <div ng-show="!secondOpData.invoices" class="assertive noData">You do not have any invoices</div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
              
                <div class="card list">
                <div class="item item-body">
                    <h1>Medical Second Opinion</h1>
                    <service-request servicename="Medical Second Opinion" serviceIndex = "16" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div ng-if="secondOpData.balance" ng-show="secondOpData.balance">
                    <div ng-repeat="package in secondOpData.balance.service_status">
                      <section class="dtlsBox">
                        <h2>{{package.member}}</h2>
                        <ul>
                          <li> <section ng-if="package.service_taken"> <span class="badge statusGreen">{{package.service_taken}}</span>Total Services Taken </section> <section ng-if="package.service_taken==null"> Total Services Taken <span class="badge statusGreen">0</span> </section> <section ng-if="package.services_remaining_free"> <span class="badge statusGreen">{{package.services_remaining_free}}</span> Free Services Remaining </section> <section ng-if="package.services_remaining_free==null"> <span class="badge statusGreen">0</span> Free Services Remaining </section></li>
                        </ul>
                      </section>
                      <div ng-hide="secondOpData.balance" class="assertive noData">You do not have any service</div>
                    </div>
                    <div class="dtlsBox" ng-repeat="packages in secondOpData.balance.service_list">
                      <ul>
                        <li>
                          <section>{{packages.servicename}} price <span class="badge statusGreen"> {{truncate(packages.unit_price)| currency:"&#8377;"}} </span></section>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            </section>
            </div>
            </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
  </ion-view>
  </ion-content>
  </ion-view>
  <ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" >
      
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body">
                    <h1>Medical Second Opinion</h1>
                    <service-request servicename="Medical Second Opinion" serviceIndex = "16" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/mso.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">We provide medical second opinion from one of the most renowned hospital across the world. Our partner, MediGuide America provides medical second opinion from one of the most renowned hospital across the world. Some of the Indian hospitals on board are Fortis, Narayana Hrudayalaya (Bangalore), Hinduja, Shroff Eye Center (Mumbai), Artemis, Moolchand (Delhi).</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
  </ion-view>
