<div class="row tribeContainer">
    <div class="col-md-12 col-md-12-15">
        <div class="col-sm-3 col-md-3 tribe-left-nav bodyPad">
            <!-- <div class="row createNew">
                <h4 ng-click="toggleSpamPopover();">Create New <span popover-template="'tribe.new.create.view.html'" popover-toggle="isPopoverOpen" popover-placement="bottom" ><div class="popoverParent pull-right"  ><i class="fa fa-chevron-down" aria-hidden="true"></i></div> </span></h4>
            </div> -->
            <div class="row tribeCategories">
                <div class="header">
                    <h4><i class="fa fa-bars" aria-hidden="true"></i> Tribe Categories</h4>
                </div>
                <div class="tribeCategoriesList">
                    <ul>
                        <li ng-repeat="(cIndex,c) in tribeCategoriesList" ng-init="cat = c.category" ui-sref="main.base.tribe.main.main.categorie({categorieID:cat.categoryId})">
                            <div>
                                <h5>{{cat.categoryName}}</h5>
                                <span><em>Tribes({{c.tribesCount}}),</em><em>Clans({{c.clansCount}})</em></span>
                            </div>
                            <!-- <span ng-if="filterTribes(cat.categoryName).length == 0"> 
                            <span ng-click="setCurrentCatagory(cat)" ng-class="{ catActive: ($stateParams.categorieID === cat.categoryId)}" class="categorieTitle"> <a href="#/tribe/categories/{{cat.categoryId}}">{{cat.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            </span> -->
                            <!-- <ul ng-if="filterTribes(cat.categoryName).length !== 0">
                                <li ng-repeat="(tIndex,tribe) in filterTribes(cat.categoryName)">
                                    <span class="catAtribe" > 
                                        <span ng-click="setCurrentCatagory(cat)" ng-class="{ catActive: (isActive(cat.categoryId))}" class="categorieTitle"> <a href="#/tribe/categories/{{cat.categoryId}}">{{cat.categoryName}} <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
                                    <em><a href="#/tribe/tribes/{{tribe.tribeId}}/tirbeClans" ng-class="{ catTrieActive: (isTribeActive(cat.categoryId))}" ng-click="setNavTribe(cat,tribe)" class="categorieVal" >{{tribe.tribeName}}</a></em>
                                    </span>
                                     <ul ng-if="filterClans(tribe.tribeId).length !== 0">
                                        <li ng-repeat="(cIndex,clan) in filterClans(tribe.tribeId)">
                                            <span ng-click="setCurrentCatagory(cat)" ng-class="{ catActive: (isActive(cat.categoryId))}" class="categorieTitle"> <a href="#/tribe/categories/{{cat.categoryId}}">{{cat.categoryName}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>  </span>
                                            <em><a ng-class="{ catTrieActive: (isTribeActive(cat.categoryId))}" ng-click="setNavTribe(cat,tribe)" class="categorieVal" href="#/tribe/tribes/{{tribe.tribeId}}/tirbeClans">{{tribe.tribeName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i></em>
                                            <p class="catClan" ui-sref="main.base.clan.main.main.post" ng-click="setCTCAll(cat,tribe,clan);"><a>{{clan.clanName}}</a> </p>
                                        </li>
                                    </ul> 
                                </li>
                            </ul>  -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 tribe-main bodyPad">
            <div class="tribeMainContent">
                <div class="spin-loading" ng-if="shwLoad">
                    <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="loadingAnimate" ng-if="shwLoad">
                    <marquee scrollamount="5" width="40">&lt;&lt;&lt;</marquee><span translate>Fetching tribe list</span>
                    <marquee scrollamount="5" direction="right" width="40">&gt;&gt;&gt;</marquee>
                </div> -->
                <div data-ui-view="tribeMain"></div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 tribe-right-nav bodyPad">
            <div class="col-md-12 tribeContributorList">
                <div class="contributor-heder">
                    <h4><i class="fa fa-user" aria-hidden="true"></i> Top Contributors</h4>
                </div>
                <div class="topContributors clearfix">
                    <ul class="col-md-12 col-sm-12">
                        <li ng-if="topContributorLis.length !== 0 || topContributorLis !== null" ng-repeat="tm in topContributorLis" ng-init="tribeman = tm.tribeman">
                            <div class="col-md-4 col-sm-4 no_padding">
                                <div class="cntribtImg">
                                    <img class="img-responsive img-circle" data-ng-src="{{tribeman.profilePic}}" src="/img/default_profile.jpg" class="img img-responsive img-circle contributor-img" alt="">
                                    <img class="cntrb-tribe-mood img-circle" class="img img-responsive" ng-src="/img/exp_icons/{{tribeman.tribemanMood}}.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 contributor-det">
                                <div class="cntrb-desc">
                                    <div class="cntrb-content">
                                        <h4 class="cntrb-title" ng-if="tribeman.tribemanId === loggedInTribemanId"><a ui-sref="main.base.tribe.main.profile({tribemanId:tribeman.tribemanId})" title="">{{tribeman.tribemanName}}</a></h4>
                                        <h4 class="cntrb-title" ng-if="tribeman.tribemanId !== loggedInTribemanId"><a ui-sref="main.base.tribe.main.friendProfile({tribemanId:tribeman.tribemanId})" title="">{{tribeman.tribemanName}}</a></h4>
                                        <!-- <span class="cntrb-member">Member : History Clean</span> -->
                                    </div>
                                    <!-- <span class="cntrb-clan">Member On:{{tribeman.clan}}</span> -->
                                    <span class="cntrbtrSent post-det-sentiment tribeSentiment">
                                    <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
                                    </span>
                                </div>
                                <!--  <div class="cntrb-tribe-sentiment tribeSentiment">
                                    <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
                                </div> -->
                            </div>
                        </li>
                        <div class="noResult" ng-if="topContributorLis.length == 0 || topContributorLis == null">No Result Found</div>
                    </ul>
                </div>
            </div>
            <!-- <div class="row adsPlace">
                <div class="profileRightAds">
                    <img class="img-thumbnail" src="/img/tribeImgs/add2.jpg" alt="">
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- <script type="text/ng-template" id="tribe.new.create.view.html">
    <div class="createTribePopup">
        <ul>
            <create-tribe tname="Tribe" btn="Tribe" tribemanid="" position="homePage"></create-tribe>
            <create-tribe tname="Clan" btn="Clan" tribemanid="" position="homePage"></create-tribe>
        </ul>
    </div>
</script> -->
