<div class="tribeCreate">
    <div class="col-md-12">
        <div class="tab_form">
            <div class="tab_form_title">
                <div class="modal-header">
                    <h4 class="ctreateTitle">Create {{tribeName}}  <i class="fa fa-times" ng-click="close()"></i></h4>
                    <!-- <ul class="nav nav-tabs tab_form_ul" role="tablist">
                        <li role="presentation" class="active" data-toggle="tab" data-target="#tribe">Tribe</li>
                       <li role="presentation" data-toggle="tab" data-target="#clan">Clan</li> 
                    </ul> -->
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tribe">
                        <form name="tribeCreateForm">
                            <div class="form-group">
                                <label>Enter your tribr name</label>
                                <input type="text" ng-model="tribeData.tribename" name="username" id="username" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label>Tribe description</label>
                                <textarea class="form-control" ng-model="tribeData.description" rows="3" placeholder=""></textarea>
                            </div>
                            <div class="form-group">
                                <label>Select Category</label>
                                <select class="form-control" ng-model="tribeData.tribeCategory" ng-options="item as item.categoryName for item in catList"><option selected value="">Select Category</option></select>
                                <!-- <input name="category" id="category" type="text" placeholder="Enter Category Name" ng-model="tribeData.tribeCategory" typeahead="category.categoryName for category in catList | filter:$viewValue | limitTo:8" class="form-control"> -->
                            </div>
                            <div class="form-group">
                                <label class="btn btn-default btn-file">
                                    <i class="fa fa-picture-o"></i>
                                    <input type="file" style="display: none;" ng-file-model="tribeData.icon" imgid="tribeIcon"> Upload tribe image
                                </label>
                                <span class="danger" id="tribeIcoErr"></span>
                                <div class="tribeImgDiv">
                                    <img id="tribeIcon" style="height: 60px;width: 60px;">
                                    <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                                </div>
                            </div>
                            <button type="submit" ng-click="tribeCreate(tribeData);" class="btn btn-primary text-center">Create Tribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
