<div class="tribeClanProfilePage clearfix" data-ng-controller="TribeClanListCtrl">
    <div class="col-md-12 col-md-12-15">
        <div class="spin-loading" ng-if="shwLoad">
            <div class='uil-spin-css' style=''>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 tribe-left-nav bodyPad">
            <div class="tribeProfilePageLeft">
                <div class="clanImage">
                    <img class="img-thumbnail" data-ng-src="{{tribeDetails.icon}}" src="img/tribeImgs/notribe.png" alt="">
                    <ul>
                        <!-- <li class="img-thumbnail" ng-if="photosList.length !== 0 || photosList !== null" ng-repeat="pic in photosList | limitTo:4"><img ng-src="{{pic.picture}}" alt=""></li> -->
                    </ul>
                </div>
                <div class="clanLeftBtns">
                    <button ng-if="!checkJoinTribe" ng-click="joinTribe(tribeDetails);">Join This Tribe <i class="fa fa-plus pull-right" aria-hidden="true"></i>
                    <button ng-if="checkJoinTribe" ng-click="unJoinTribe(tribeDetails);">Unjoin This Tribe <i class="fa fa-minus pull-right" aria-hidden="true"></i>
                    </button>
                    <button ng-if="!hideJoinBtn">
                        <ul class="tribeClanCreate">
                            <create-tribe tname="Clan" tribeid="{{tribeId}}" btn="Clan" tribemanid="{{tribeman.tribemanId}}" position="tribeProfilepage"></create-tribe>
                        </ul>
                    </button>
                    <create-tribe-event ng-if="!hideJoinBtn" ename="Tribe"> </create-tribe-event>
                </div>
            </div>
        </div>
        <div class="col-md-6 bodyPad">
            <div class="tribeProfileCenter">
                <div class="tribeProfilePageCenterTop">
                    <ul class="profileMainBreadCremp clanBradcrumb">
                        <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                        <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="#">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                        <li> {{tribeDetails.tribeName}}</li>
                    </ul>
                    <div class="clanMainTop clearfix">
                        <div class="clanMainTopLeft">
                            <!-- <ul class="profileMainBreadCremp">
                                <li> <a href="#/tribe/top">Tribe Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                                <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            </ul> -->
                            <h4>{{tribeDetails.tribeName}}</h4>
                            <em>Public - Created at {{tribeDetails.createdAt | amDateFormat: 'MMMM Do YYYY'}},</em>
                            <em class="tribeProfileMembersCount">Members : {{tribeMembershipCount}}</em>
                            <!--  {{tribeDetails.createdAt}} -->
                        </div>
                        <div class="clanMainTopRight">
                            <div class="clanMainTopRightRound" style="background-color : {{$root.getHexCode(tribeDetails.tribeSentiment)}}">
                                <strong>+<br>{{tribeDetails.tribeSentiment | number:0}}%</strong>
                            </div>
                        </div>
                        <div class="tribeMainDescription">
                            <p>{{ tribeDetails.description | limitTo: 250 }}{{tribeDetails.description.length > 250 ? '...' : ''}}</p>
                        </div>
                    </div>
                    <div class="profileMainBottom clearfix relatedTribes">
                        <strong>Related tribes :</strong>
                        <ul>
                            <li ng-if="relatedTribe.length !== 0 || relatedTribe !== null" ng-repeat="relTribe in relatedTribe"><a href="" ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:relTribe.tribeCategoryId,tribeId:relTribe.tribeId})" href="" title="" ng-click="setTribe(relTribe);">{{relTribe.tribeName}}</a></li>
                            <div class="noResult" ng-if="relatedTribe.length == 0 || relatedTribe == null">No Related tribes</div>
                            <!-- ui-sref="main.base.tribe.main.main.tribes({tribeId:relTribe.tribeId })" -->
                        </ul>
                    </div>
                </div>
                <div class="tribeProfilePageCenterBottem">
                    <div class="profilePageMiddle">
                        <!-- Using multiple ajax calls for routing -->
                        <!-- <ul class="nav nav-tabs profilePageMiddleTabs">
                            <li ui-sref="main.base.tribe.main.main.tribes.clans" ng-class="{ active: (isActive('tirbeClans') || isActive('tirbeClans'))  }">Clans</li>
                            <li ui-sref="main.base.tribe.main.main.tribes.tribemans" ng-class="{ active: isActive('tribeMans') }">Tribemans</li>
                            <li ui-sref="main.base.tribe.main.main.tribes.photos" ng-class="{ active: isActive('tribePhotos') }">Photos</li>
                            <li ui-sref="main.base.tribe.main.main.tribes.events" ng-class="{ active: isActive('tribeEvents') }">Events</li>
                        </ul>
                        <div class="tab-content">
                            <div data-ui-view="tribeProfileMain"></div>
                        </div> -->
                        <ul class="nav nav-tabs profilePageMiddleTabs">
                            <li class="active" data-toggle="tab" data-target="#clans">Clans</li>
                            <li data-toggle="tab" data-target="#tribemans">Tribesmen</li>
                            <li data-toggle="tab" data-target="#photos">Photos</li>
                            <li data-toggle="tab" data-target="#events">Events</li>
                        </ul>
                        <div class="tab-content">
                            <div id="clans" class="tab-pane fade in active">
                                <div ng-include src="'/js/app/tribe/templates/tribe/categories/tribe.clans.view.html'"></div>
                            </div>
                            <div id="tribemans" class="tab-pane fade">
                                <div ng-include src="'/js/app/tribe/templates/tribe/categories/tribe.tribemans.view.html'"></div>
                            </div>
                            <div id="photos" class="tab-pane fade">
                                <div ng-include src="'/js/app/tribe/templates/tribe/categories/tribe.photos.view.html'"></div>
                            </div>
                            <div id="events" class="tab-pane fade">
                                <div ng-include src="'/js/app/tribe/templates/tribe/categories/tribe.events.view.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 bodyPad">
            <div class="clanRightTop">
                <div class="clanRightTopHeader clearfix">
                    <!-- ui-sref="main.base.tribe.main.profile({tribemanId:tribeman.tribemanId})" ng-if="!hideJoinBtn" -->
                    <div class="calnRightPrflImg">
                        <img class="img-circle" data-ng-src="{{creatorOfTribe.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                    <div class="clanRightPrfTitle">
                        <em>Created By</em>
                         <h5 ng-if="creatorOfTribe.tribemanId === tribeman.tribemanId"><a 
                        ui-sref="main.base.tribe.main.profile({tribemanId:creatorOfTribe.tribemanId})" title="">{{creatorOfTribe.accountName}}</a></h5>
                        <h5 ng-if="creatorOfTribe.tribemanId !== tribeman.tribemanId"><a ui-sref="main.base.tribe.main.friendProfile({tribemanId:creatorOfTribe.tribemanId})" title="">{{creatorOfTribe.accountName}}</a></h5> </div>
                </div>
                <div class="col-md-12 tribeContributorList">
                    <!--  <div class="contributor-heder">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Active tribemans</h4>
                    </div> -->
                    <div class="topContributors clearfix">
                        <ul>
                            <li tooltip-html-unsafe="{{tribeman.accountName}}" tooltip-placement="top" ng-if="activeTribeMansList.length !== 0 || activeTribeMansList !== null" ng-repeat="tm in activeTribeMansList" ng-init="tribeman = tm.tribeman">
                                <img data-ng-src="{{tribeman.profilePic}}" src="img/default_profile.jpg" class="img img-responsive img-circle contributor-img" alt="" ui-sref="main.base.tribe.main.friendProfile({tribemanId:tribeman.tribemanId})">
                                <!-- <div class="contributor-det">
                                    <div class="cntrb-desc">
                                        <div class="cntrb-content">
                                            <h4 class="cntrb-title">{{tribeman.accountName}} </h4>
                                            <span class="cntrb-member">Member : History Clean</span>
                                        </div>
                                    </div>
                                </div> -->
                            </li>
                            <div class="noResult" ng-if="activeTribeMansList.length == 0 || activeTribeMansList == null">No Result Found</div>
                        </ul>
                    </div>
                </div>
                <div class="clanRightTribeMensPics">
                    <p>Active Tribesmen <b>{{activeTribeMansList.length}}</b> to <b>3568</b></p>
                    <!-- <div class="clanRightTribeMensPicsIcons">
                        <a class="leftright" href=""> < </a> <a class="leftright" href=""> > </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
