<div class="tribePost tribeCatPage">
    <div class="clanMainTop">
        <ul class="profileMainBreadCremp">
            <li> <a href="#/tribe/top">Tribe Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
            <li> {{currentCategory.categoryName}} </li>
        </ul>
    </div>
    <div ng-if="!shwLoad" class="row topTribeTop crtTCBtn">
        <div class="col-md-6 no_padding"></div>
        <div class="col-md-6 no_padding">
            <button class="crtTrbBtn">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <create-tribe tname="Tribe" btn="Tribe" tribemanid="" position="homePage"></create-tribe>
            </button>
            <button class="crtClnBtn">
                <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                <create-tribe tname="Clan" btn="Clan" tribemanid="" position="homePage"></create-tribe>
            </button>
        </div>
    </div>
    <ul class="catTribeList">
        <li ng-if="result.length !== 0 || result !== null" ng-repeat="t in result | orderBy: 't.tribe.createdAt':true">
            <div ng-init="tribe = t.tribe" class="row">
                <div class="col-md-3 post-img">
                    <img class="img-responsive" data-ng-src="{{tribe.icon}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/icons/tribe.png" alt="">
                </div>
                <div class="col-md-9 post-details">
                    <div class="clearfix">
                        <div class="post-det-header">
                            <h4 class="pots-title"><a ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:tribe.tribeCategoryId,tribeId:tribe.tribeId})" ng-click="setTribe(tribe);">{{tribe.tribeName}}</a></h4>
                            <!-- href="#/tribe/tribeProfile/{{tribe.tribeId}}" -->
                            <span class="post-date">Last Post :{{tribe.createdAt | amDateFormat:'MMMM Do YYYY'}}</span>
                            <!-- {{$root.getMomentDate(tribe.createdAt) | amDurationFormat : 'minute'}} -->
                            <em>Members Count: {{t.membersCount}} </em>
                        </div>
                        <div class="post-det-sentiment tribeSentiment">
                            <button style="background-color : {{$root.getHexCode(tribe.tribeSentiment)}}">{{ tribe.tribeSentiment | number:0 }}%</button>
                        </div>
                    </div>
                    <p class="tribeDescription">{{ tribe.description | limitTo: 100 }}{{tribe.description.length > 100 ? '...' : ''}}</p>
                </div>
                <img ng-show="tribe.tribeMood !== null" class="tribesP post-tribe-mood" data-ng-src="img/exp_icons/{{tribe.tribeMood}}.png" alt="{{tribe.tribeMood}}">
            </div>
        </li>
        <div class="text-center">
            <a ng-if="result.length >= 9" ng-click="loadMore()">load more</a>
        </div>
        <div class="noResult" ng-if="result.length == 0 || result == null">No Result Found</div>
    </ul>
</div>
