<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a></div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">

              <div class="card list">
               <div class="item item-body"><h1>Doctor at Home</h1> <service-request servicename="Doctor at home" serviceIndex = "12" class="viewAll uppercase">Request Service</service-request></div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/doctor-at-home.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Highly qualified professionals are assigned to take care of you and your family when needed.</p>
                  </section>

                </div>

                <div class="card list">

                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService.length">{{DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService.length}}</span> <span ng-show="!DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="DoctorAtHomeSummaryData.lastDoctorAtHomeService.length">{{DoctorAtHomeSummaryData.lastDoctorAtHomeService.length}}</span><span ng-show="!DoctorAtHomeSummaryData.lastDoctorAtHomeService.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                   <span ng-if="DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService[0].preferred_date}}</span> <span ng-if="DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService[0].preferred_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in DoctorAtHomeSummaryData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>Doctor at Home</h1> <service-request servicename="Doctor at home" serviceIndex = "12" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>

                  <ul>
                    <li ng-repeat="currentActiveDoctorAtHomeService in DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService">

                        <h3>{{currentActiveDoctorAtHomeService.consultantsname}}</h3>
                        <span ng-if="currentActiveDoctorAtHomeService.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{currentActiveDoctorAtHomeService.preferred_date}}</span>
                        <span ng-if="currentActiveDoctorAtHomeService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{currentActiveDoctorAtHomeService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                    </li>
                  </ul>
                  </section>
                  <span ng-hide="DoctorAtHomeSummaryData.currentActiveDoctorAtHomeService" class="assertive noData"> You do not have any services</span>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>

                  <ul>
                    <li ng-repeat="lastDoctorAtHomeService in DoctorAtHomeSummaryData.lastDoctorAtHomeService">

                        <h3>{{lastDoctorAtHomeService.consultantsname}}</h3>
                        <span ng-if="lastDoctorAtHomeService.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{lastDoctorAtHomeService.preferred_date}}</span>
                        <span ng-if="lastDoctorAtHomeService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{lastDoctorAtHomeService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                    </li>
                  </ul>
                  </section>
                  <span ng-hide="DoctorAtHomeSummaryData.lastDoctorAtHomeService" class="assertive noData"> You do not have any services</span>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>Doctor at Home</h1> <service-request servicename="Doctor at home" serviceIndex = "12" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="DoctorAtHomeSummaryData.invoices!==null">
                      <li ng-repeat="invoice in DoctorAtHomeSummaryData.invoices | limitTo:2"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                    </section>
                    <div ng-show="DoctorAtHomeSummaryData.invoices==null" class="assertive noData">You do not have any invoices</div>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
             <div class="item item-body"><h1>Doctor at Home</h1> <service-request servicename="Doctor at home" serviceIndex = "12" class="viewAll uppercase">Request Service</service-request></div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/doctor-at-home.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Highly qualified professionals are assigned to take care of you and your family when needed.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
