<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a></div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
              <div class="card list">
              <div class="item item-body"><h1>Dietician</h1>  <service-request servicename="Dietician service" serviceIndex = "11" class="viewAll uppercase">Request Service</service-request></div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/dietician.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Healthybillion members can consult a Dietician over a phone and get a detailed diet plan for everyday use. </p>

                  </section>

                </div>

                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="dietData.currentActiveOrder.length">{{dietData.currentActiveOrder.length}}</span> <span ng-show="!dietData.currentActiveOrder.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="dietData.lastOrderData.length">{{dietData.lastOrderData.length}}</span><span ng-if="!dietData.lastOrderData.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                  <span ng-if="dietData.currentActiveOrder[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{dietData.currentActiveOrder[0].preferred_date}}</span> <span ng-if="dietData.currentActiveOrder[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{dietData.currentActiveOrder[0].preferred_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in dietData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>Dietician</h1>  <service-request servicename="Dietician service" serviceIndex = "11" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>

                  <ul>
                    <li ng-repeat="currentActiveOrder in dietData.currentActiveOrder">
                        <h3>{{currentActiveOrder.consultantsname}}</h3>
                        <span ng-if="currentActiveOrder.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{currentActiveOrder.preferred_date}}</span>
                        <span ng-if="currentActiveOrder.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{currentActiveOrder.preferred_time}}</span>
                        <div class="clearBoth"></div>
                    </li>
                  </ul>

                  </section>
                  <span ng-hide="dietData.currentActiveOrder" class="assertive noData"> You do not have any services</span>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>

                  <ul>
                    <li ng-repeat="lastOrderData in dietData.lastOrderData">

                        <h3>{{lastOrderData.consultantsname}}</h3>
                        <span ng-if="lastOrderData.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{lastOrderData.preferred_date}}</span>
                        <span ng-if="lastOrderData.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{lastOrderData.preferred_time}}</span>
                        <div class="clearBoth"></div>
                    </li>
                  </ul>

                  </section>
                  <span ng-hide="dietData.lastOrderData" class="assertive noData"> You do not have any services</span>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>Dietician</h1>  <service-request servicename="Dietician service" serviceIndex = "11" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="dietData.invoices!==null">
                      <li ng-repeat="invoice in dietData.invoices | limitTo:2"> <section> <span class="statusGreen">{{invoice.total| currency:"&#8377;"}} </span><b>{{invoice.invoice_no}}</b></section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section> </li>
                    </ul>
                    </section>
                    <div ng-show="dietData.invoices==null" class="assertive noData">You do not have any invoices</div>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" >

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body"><h1>Dietician</h1>  <service-request servicename="Dietician service" serviceIndex = "11" class="viewAll uppercase">Request Service</service-request></div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/dietician.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Healthybillion members can consult a Dietician over a phone and get a detailed diet plan for everyday use. </p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
