<!-- <div id="step-langChng"> -->
	<span id="step-langChng" class="langTxt" translate data-ng-init="$root.callInit($root.CallTour)">Language </span>
	<ul class="nav navbar-nav navabar-left vdivide" data-ng-controller="LanguageNavigationCtrl">
	    <li ng-click="selectLanguage(lang)" ng-repeat="lang in languages" class="divider-vertical" ng-class="{active:selectedLanguage.id==lang.id}">
	        <a ui-shref="." translate="{{lang.name}}">{{lang.name}}</a>
	    </li>
	</ul>
<!-- </div> -->

