<ul class="nav navbar-nav navbar-right rtnav">
    <li ng-if="user">
        <a id="step-zzimbang" ui-sref="main.base.taxonomy.main.main" class="zzimbang"><span class="navWrap"><i class="fa fa-tags" aria-hidden="true"></i></span>Zzimbang</a>
    </li>
    <li ng-if="user">
        <a id="step-tribe" ui-sref="main.base.tribe.main.main.tribeslist" class="navWrap" style="padding-top:5px;">
            <span class="navWrap"><img data-ng-src="img/icons/tribe.png" style="border-radius: 12px; padding: 0 0 2px 0;"></span>Tribe</a>
    </li>
    <li ng-if="!user" data-toggle="collapse" data-target="#navbar"><a ng-click="openLoginModal('login')"><i class="fa fa-unlock-alt sgnIco" aria-hidden="true"></i><span translate>Sign In</span></a></li>
    <li ng-if="!user" data-toggle="collapse" data-target="#navbar"><a ng-click="openLoginModal('register')"><i class="fa fa-thumbs-o-up regIco" aria-hidden="true"></i><span translate>Register</span></a></li>
    <li ng-if="user" class="dropdown">
        <a ng-if="missingSocialAccounts.length" tooltip-html-unsafe="{{ 'Missing social accounts' | translate }}" tooltip-placement="bottom" data-ng-class="{'dropdown-toggle':true, 'missing-social-accounts':missingSocialAccounts.length}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="navWrap"><i class="fa fa-user" aria-hidden="true"></i></span>
            <!-- <img src="img/usericon.png"> -->
            <span class="tUser">{{user.name}}</span><span class="caret text-danger"></span>
        </a>
        <a ng-if="!missingSocialAccounts.length" data-ng-class="{'dropdown-toggle':true}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="navWrap"><i class="fa fa-user" aria-hidden="true"></i></span>
            <!-- <img src="img/usericon.png"> -->
            <span class="tUser">{{user.name}}</span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a ui-sref="main.users.base.profile" translate>Profile</a></li>
            <li class="dropdown-submenu" ng-if="missingSocialAccounts.length">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="text-danger" translate>Missing social accounts </span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="main.users.base.profile"> <span class="text-danger small"> {{ missingSocialAccounts.join(", ") }} </span></a>
                    </li>
                </ul>
            </li>
            <li ng-if="tribemanId"><a ui-sref="main.base.tribe.main.profile({tribemanId:tribemanId})">Tribeman Profile</a></li>
            <li><a ng-click="logout('noModalOpen')" translate>Logout</a></li>
        </ul>
    </li>
</ul>
