<nav class="navbar navbar-inverse searchViewWrapper">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="homeSref" data-ng-include="'js/app/navigation/templates/navbar.left.view.html'"></div>
        </div>
        <div data-ng-init="initHere(CallMe)" id="navbar" class="navbar-collapse collapse navbar-fixed-top aftLgnHdr">
            <ul class="userGuide homeSref" ng-if="$state.current.name === 'main.base.content.main.main'">
                <li><a href="" ng-click="$root.CallTour()"><i class="fa fa-map-signs" aria-hidden="true"></i>Guided Tour</a></li>
            </ul>
            <ul class="onOffBtn homeSref">
                <li>
                    <span ng-init="htmlSwitchStatus = true">
                    <div  tooltip-html-unsafe="{{'Turn On/Off Auto Refresh of Search Results' | translate }}" tooltip-placement="bottom" toggle-switch
                        ng-click="toggleAutoRefresh();"
                        ng-model="checkedAutoRefresh"
                        class="switch-primary"
                        html="htmlSwitchStatus"
                        knob-label='<i class="fa fa-refresh"></i>'
                        ng-model="switchStatus">
                    </div>
                </span>
                </li>
                <li class="dropDownWrap">
                    <select ng-model="setTimerController" ng-change="setTimer()" ng-options="selectTimer.value as selectTimer.value for selectTimer in selectTimers" class="timerDropDown"> </select>
                    <span class="drop"></span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </li>
            </ul>
            <div class="clear homeSref"></div>
            <div class="hideFrMob" data-ng-include="'js/app/navigation/templates/navbar.left.view.html'"></div>
            <div data-ng-include="'js/app/navigation/templates/navbar.right.view.html'"></div>
            <ul class="userGuide hideFrMob" ng-if="$state.current.name === 'main.base.content.main.main'">
                <li><a href="" ng-click="$root.CallTour()"><i class="fa fa-map-signs" aria-hidden="true"></i>Guided Tour</a></li>
            </ul>
            <ul class="onOffBtn hideFrMob">
                <li>
                    <span ng-init="htmlSwitchStatus = true">
                    <div  tooltip-html-unsafe="{{'Turn On/Off Auto Refresh of Search Results' | translate }}" tooltip-placement="bottom" toggle-switch
                        ng-click="toggleAutoRefresh();"
                        ng-model="checkedAutoRefresh"
                        class="switch-primary"
                        html="htmlSwitchStatus"
                        knob-label='<i class="fa fa-refresh"></i>'
                        ng-model="switchStatus">
                    </div>
                </span>
                </li>
                <li class="dropDownWrap">
                    <select tooltip-html-unsafe="{{'Auto Refresh Frequency In Seconds' | translate }}" tooltip-placement="bottom" ng-model="setTimerController" ng-change="setTimer()" ng-options="selectTimer.value as selectTimer.value for selectTimer in selectTimers" class="timerDropDown"> </select>
                    <span class="drop"></span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main_header_search hgnhgcn searchViewContentWrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-2 col-xs-12 col-sm-12">
                <div class="logo">
                    <a ui-sref="main.base.content.main.main">
                        <img src="img/lg_zimgologo.png" class="logoImg">
                    </a>
                    <div class="pageDetailLogo" ng-if="pageDetail">
                        <a ui-sref="main.base.content.main.main">
                            <img src="img/pageDetails.png" alt="" />
                        </a>
                        <span translate>Zzimbang</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="search-container">
                    <div class="row">
                        <div class="main-search-box">
                            <div class="input-group tribeSearchDiv">
                                <input type="text" class="form-control" placeholder="Find on Tribe a clan with topic of your Intrested" ng-model="tribeSearch" ng-enter="mainTribeSearch()">
                                <span class="serachTribe"><img src="img/tribeImgs/tribe_search_icon.png" alt=""><em>Tribe</em></span>
                                <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="mainTribeSearch();" translate>ZimGo!</button>
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                            </div>
                            <div class="tribe main-search-sns filter-sns">
                                <ul class="list-inline">
                                    <li data-ng-class="{'selected': isSnsSelected(sn), 'disbleSocial' : (sn.name === 'youtube' || sn.name === 'flickr') && disableSocialPart, 'disableSelected': checkSelection(sn) }" data-ng-click="filterSocial(sn)" data-ng-repeat="sn in socialConnectNetworks">
                                        <i class="fa fa-{{ sn.name === 'youtube' ? sn.name+'-play' : (sn.name === 'blog' ? 'commenting' : sn.name) }} " aria-hidden="true" ng-class="{'selected':isSnsSelected(sn)}"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!-- </div> -->
