<div class="container">
  <div class="row"> <a href="/">
    <div class="logo logoCenter"></div>
    </a>
    <div class="logSignupBox regForm">
      <div>
      	
          <h1 class="head text-center">Complete your profile</h1>
        
      <div class="alert alert-warning alert-dismissable" ng-if="warning">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{warning}} </div>
      <div class="alert alert-danger alert-dismissable" ng-if="errors">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{errors}} </div>
      <form name="profileCompleteForm" role="form" ng-submit="completeProfile(profileCompleteForm)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : profileCompleteForm.email.$invalid && !profileCompleteForm.email.$pristine }">
        
          <input class="form-control" type="email" name="email" ng-model="profileCompleteData.email" placeholder="Enter your email" ng-required="true" readonly>
          <p ng-show="profileCompleteForm.email.$error.required && !profileCompleteForm.email.$pristine" class="help-block">Please enter your email.</p>
          <p ng-show="profileCompleteForm.email.$error.email && !profileCompleteForm.email.$pristine" class="help-block">Please enter valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : profileCompleteForm.phone.$invalid && !profileCompleteForm.phone.$pristine }">
          
          <input class="form-control" name="phone" ng-model="profileCompleteData.phone" type="text" placeholder="Enter your phone" ng-required="true" ng-pattern="/^[1-9]{1}[0-9]{9}$/" only-Digits required minlength="10" maxlength="10">
          <p ng-if="profileCompleteForm.phone.$error.required && !profileCompleteForm.phone.$pristine" class="help-block">Please enter phone.</p>
          <p ng-if="profileCompleteForm.phone.$error.pattern && !profileCompleteForm.phone.$pristine" class="help-block">Please enter valid Mobile.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : profileCompleteForm.first_name.$invalid && !profileCompleteForm.phone.$pristine }">
                <label>First Name</label>
                <input class="form-control" name="first_name" ng-model="profileCompleteData.first_name" type="text" placeholder="Enter First Name" ng-required="true" required>
                <p ng-if="profileCompleteForm.first_name.$error.required && !profileCompleteForm.first_name.$pristine" class="help-block">Please enter first name.</p>
                
            </div>
            <div class="form-group" ng-class="{ 'has-error' : profileCompleteForm.last_name.$invalid && !profileCompleteForm.last_name.$pristine }">
                <label>Last Name</label>
                <input class="form-control" name="last_name" ng-model="profileCompleteData.last_name" type="text" placeholder="Enter Last Name" ng-required="true" required>
                <p ng-if="profileCompleteForm.last_name.$error.required && !profileCompleteForm.last_name.$pristine" class="help-block">Please enter last name.</p>
                
            </div>
             <div class="form-group" ng-class="{ 'has-error' : profileCompleteForm.gender.$invalid && !profileCompleteForm.gender.$pristine }">
         
          <select name="gender" required class="form-control" ng-model="profileCompleteData.gender">
           <option value="">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
          </select>
          <p ng-if="profileCompleteForm.gender.$error.required && !profileCompleteForm.gender.$pristine" class="help-block">Please select gender.</p>
        </div>
        <div class="form-group" class="form-group" ng-class="{ 'has-error' : profileCompleteForm.city.$invalid && !profileCompleteForm.city.$pristine }">
        
        <select class="form-control" name="city" required ng-model="profileCompleteData.city">
            <option value="">City</option>
          <option ng-repeat="zones in zones">{{zones.zonename}}</option>
        </select>
        <p ng-if="profileCompleteForm.city.$error.required && !profileCompleteForm.city.$pristine" class="help-block">Please select city.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : profileCompleteForm.post_code.$invalid && !profileCompleteForm.post_code.$pristine }">
         
          <input type="tel" name="post_code" ng-pattern="/^[1-9]{1}[0-9]{5}$/" required only-digits minlength="6" maxlength="6" ng-model="profileCompleteData.post_code" placeholder="Postcode" class="form-control">
          <p ng-show="profileCompleteForm.post_code.$error.required && !profileCompleteForm.post_code.$pristine" class="help-block">Please enter your postcode.</p>
          <p ng-show="(profileCompleteForm.post_code.$error.minlength || profileCompleteForm.post_code.$error.maxlength) && !profileCompleteForm.post_code.$pristine" class="help-block">Postcode should be 6 character long.</p>
        </div>
        
        <div class="text-center">
            <button ng-disabled="profileCompleteForm.$invalid" type="submit" class="btn btnOrange">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
