<div class="container">
  <div class="row">
  <a href="/"><div class="logo logoCenter"></div></a>
    <div class="logSignupBox regForm">
    	<h1 class="head text-center">sign up</h1>
        <p class="text-center">Not a Member yet? Create your account, it takes less than a minute.</p>
        <div class="alert alert-warning alert-dismissable" ng-if="warning">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{warning}}
        </div>
        <div class="alert alert-danger alert-dismissable" ng-if="errors">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{errors}}
        </div>
        <form role="form" name="registrationForm" ng-submit="registerUser(registrationForm)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.phone.$invalid && !registrationForm.phone.$pristine }">
               
                <input class="form-control" name="phone" ng-model="signUpData.phone" type="tel" placeholder="Phone" ng-required="true" ng-pattern="/^[1-9]{1}[0-9]{9}$/" only-Digits required minlength="10" maxlength="10">
                <p ng-if="registrationForm.phone.$error.required && !registrationForm.phone.$pristine" class="help-block">Please enter phone.</p>
                <p ng-if="registrationForm.phone.$error.pattern && !registrationForm.phone.$pristine" class="help-block">Please enter valid phone.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
                
                <input class="form-control" type="email" name="email" ng-model="signUpData.email" placeholder="Email" ng-required="true">
                <p ng-show="registrationForm.email.$error.required && !registrationForm.email.$pristine" class="help-block">Please enter your email.</p>
                <p ng-show="registrationForm.email.$error.email && !registrationForm.email.$pristine" class="help-block">Please enter valid email.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.first_name.$invalid && !registrationForm.first_name.$pristine }">
               
                <input class="form-control" type="text" name="first_name" ng-model="signUpData.first_name" placeholder="First name" ng-required="true">
                <p ng-show="registrationForm.first_name.$error.required && !registrationForm.first_name.$pristine" class="help-block">Please enter your first name.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.last_name.$invalid && !registrationForm.last_name.$pristine }">
                
                <input class="form-control" type="text" name="last_name" ng-model="signUpData.last_name" placeholder="Last name" ng-required="true">
                <p ng-show="registrationForm.last_name.$error.required && !registrationForm.last_name.$pristine" class="help-block">Please enter your last name.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
                
                <input class="form-control" type="password" name="password" ng-model="signUpData.password" placeholder="Password" ng-required="true" ng-minlength="8" ng-maxlength="12">
                <p ng-show="registrationForm.password.$error.required && !registrationForm.password.$pristine" class="help-block">Please enter your password.</p>
                <p ng-show="(registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength) && !registrationForm.password.$pristine" class="help-block">Password should be 8 to 12 character long.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.confirmed_password.$invalid && !registrationForm.confirmed_password.$pristine }">
               
                <input class="form-control" type="password" name="confirmed_password" ng-model="signUpData.confirmed_password" placeholder="Confirmed password" ng-required="true" ng-pattern="signUpData.password">
                <p ng-show="registrationForm.confirmed_password.$error.required && !registrationForm.confirmed_password.$pristine" class="help-block">Please enter confirmed password.</p>
                <p ng-show="registrationForm.confirmed_password.$error.pattern && !registrationForm.confirmed_password.$pristine" class="help-block">Password and confirm password does not match.</p>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="text-center"  ng-class="{ 'has-error' : registrationForm.accept_term_status.$invalid && !registrationForm.accept_term_status.$pristine }">
                <input name="accept_term_status" type="checkbox" ng-model="signUpData.accept_term_status" required> I accept the <a href="" ng-click="termsConditions();">Terms and Conditions</a>
                <p ng-if="registrationForm.accept_term_status.$invalid && !registrationForm.accept_term_status.$pristine" class="help-block">Please accept terms and conditions.</p>
            </div>
            
            <div class="clear">&nbsp;</div>
            
            <div class="text-center">
            	<button ng-disabled="registrationForm.$invalid" type="submit" class="btn btn-lg btnOrange ">Submit</button>
            	<p class="divider"></p>
            	<a ui-sref="user.physical" class="btnTxt"><span class="fa fa-angle-left"></span> Back to Login</a>
            </div>
            
        </form>
    </div>
</div>
</div>
 <div class="clear">&nbsp;</div>