<div class="postMainTopComment clearfix tribemanFeeds" data-ng-controller="tribemanPostController">
    <div class="postMainTopComment clearfix col-md-12" ng-if="isLoggedin">
        <div class="row">
            <div class="col-md-2 col-xs-2 no_padding">
                <div class="postCommentImg">
                    <img class="img-circle" data-ng-src="{{loggedInTribemanDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                </div>
            </div>
            <div class="col-md-10 col-xs-10 col-md-12-15">
                <form class="postCommentBox" name="createPost" ng-submit="postFeed(feedData);">
                    <div>
                        <input type="text" placeholder="Post Title" ng-model="feedData.title" class="form-control" name="title" required>
                    </div>
                    <div class="postCommentTextarea">
                        <textarea placeholder="Post Description" ng-model="feedData.description" class="form-control" rows="3" required></textarea>
                        <p class="alert-danger" ng-show="moodExpError">{{moodeError}}</p>
                        <div class="commentMoodMain" id="cheetah">
                            <i class="fa fa-smile-o commentMood" ng-hide="moodIcon" aria-hidden="true"></i>
                            <img ng-show="moodIcon" class="img-circle commentMood" ng-src="/img/exp_icons/{{commentMood}}.png" alt="">
                            <ul class="commntMoodExp" id="hidden">
                                <li><img tooltip-html-unsafe="ANGRY" tooltip-placement="top" ng-click="chooseCommetMood('ANGRY')" ng-class="{'clickBr': commentMood == 'ANGRY'}" src="img/exp_icons/ANGRY.png" alt=""></li>
                                <li><img tooltip-html-unsafe="DISGUST" tooltip-placement="top" ng-click="chooseCommetMood('DISGUST')" ng-class="{'clickBr': commentMood == 'DISGUST'}" src="img/exp_icons/DISGUST.png" alt=""></li>
                                <li><img tooltip-html-unsafe="FEAR" tooltip-placement="top" ng-click="chooseCommetMood('FEAR')" ng-class="{'clickBr': commentMood == 'FEAR'}" src="img/exp_icons/FEAR.png" alt=""></li>
                                <li><img tooltip-html-unsafe="HAPPY" tooltip-placement="top" ng-click="chooseCommetMood('HAPPY')" ng-class="{'clickBr ': commentMood == 'HAPPY '}" src="img/exp_icons/HAPPY.png" alt=""></li>
                                <li><img tooltip-html-unsafe="SAD" tooltip-placement="top" ng-click="chooseCommetMood('SAD ')" ng-class="{'clickBr ': commentMood == 'SAD '}" src="img/exp_icons/SAD.png" alt=""></li>
                                <li><img tooltip-html-unsafe="SURPRISED" tooltip-placement="top" ng-click="chooseCommetMood('SURPRISED ')" ng-class="{'clickBr ': commentMood == 'SURPRISED '}" src="img/exp_icons/SURPRISED.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="postCommentImgUpload">
                        <label class="btn btn-default btn-file">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <input type="file" style="display: none;" ng-file-model="feedData.postPicture" imgid="tribemanFeedImg"> Upload media
                        </label>
                        <span class="danger" id="tribeIcoErr"></span>
                        <div class="tribeImgDiv">
                            <img id="tribemanFeedImg" style="height: 60px;width: 60px;">
                            <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="feedData.clanId" ng-options="item.clanId as item.clanName for item in myClanList track by item.clanId" required>
                            <option selected value="">Select Clan</option>
                        </select>
                    </div>
                    <div>
                        <h5>Post Sentiment :</h5>
                        <rzslider rz-slider-model="postSentiment.value" rz-slider-options="postSentiment.options"></rzslider>
                    </div>
                    <button type="submit" class="pull-right">Post Feed</button>
                </form>
            </div>
        </div>
    </div>
    <div class="postPageMainPoster userFeeds">
        <ul>
            <li ng-if="postList.length !== 0 || postList !== null" class="post" ng-repeat="p in postList | orderBy: 'createdAt':true">
                <div ng-init="post = p.post;tribeman = p.tribeman" class="posterProfile clearfix">
                    <div class="col-lg-2 no_padding">
                        <img class="img-circle" data-ng-src="{{tribeman.profilePic}}"on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                    <div class="col-lg-10">
                        <div class="posterProfileRight">
                            <h4>{{tribeman.accountName}}</h4>
                            <em>Posted on {{$root.getMomentDate(post.createdAt)}}</em>
                        </div>
                    </div>
                </div>
                <div class="posterContent">
                    <img ng-if="post.postPicture !== null" class="img-responsive postImgThumb" data-ng-src="{{post.postPicture}}" alt="">
                     <!-- on-error-img-src="img/default_profile.jpg" src="img/icons/tribe.png" -->
                    <h4 ng-click="postDetails(post)">{{post.postName}}</h4>
                    <!-- ui-sref="main.base.clan.main.main.postDetails({postID: post.postId})" -->
                    <p>{{ post.postText | limitTo: 250 }}{{post.postText.length > 250 ? '...' : ''}}</p>
                </div>
                <div class="posterCommentSection clearfix">
                    <div class="row">
                        <div class="postCommentImg pstCmtImg">
                            <img class="img-circle" align="center" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                        </div>
                        <div class="postCommentTextBox">
                            <input class="form-control" ng-model="postCommentText" ng-enter="createPostComment(post.postId,postCommentText)" placeholder="Post a comment here...">
                        </div>
                    </div>
                    <comments-list postid="{{post.postId}}"></comments-list>
                </div>
            </li>
            <div class="noResult" ng-if="postList.length == 0 || postList == null">No Posts Found</div>
        </ul>
    </div>
</div>
