<div class="tribePost tribemanClans" data-ng-controller="tribemanMytribesController">
    <ul>
        <li ng-if="clanListData.length !== 0 || clanListData !== null" ng-repeat="clan in clanListData | orderBy: 'clan.createdAt':true" >
            <div class="row">
                <div class="col-md-3 post-img">
                    <img data-ng-src="{{clan.icon}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/icons/tribe.png" alt="">
                </div>
                <div class="col-md-9 post-details">
                    <div class="clearfix">
                        <div class="post-det-header">
                            <h4 class="pots-title"><a 
                            ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post({ categorieID: clan.clanCategory, tribeId: clan.tribeId,clanId: clan.clanId })" href="" ng-click="setClan(clan);">{{clan.clanName}}</a></h4>
                            <span class="post-date">Public - Posted on {{clan.createdAt | amDateFormat:'MMMM Do YYYY'}}</span>
                        </div>
                        <div class="post-det-sentiment tribeSentiment">
                            <button style="background-color : {{$root.getHexCode(clan.clanSentiment)}}">{{ clan.clanSentiment | number:0 }}%</button>
                        </div>
                    </div>
                    <p class="tribeDescription">{{ clan.description | limitTo: 100 }}{{clan.description.length > 100 ? '...' : ''}}</p>
                </div>
                <img ng-show="clan.clanMood !== null" class="tribesP post-tribe-mood" data-ng-src="img/exp_icons/{{clan.clanMood}}.png" alt="{{clan.clanMood}}">
            </div>
        </li>
        <div class="noResult" ng-if="clanListData.length == 0 || clanListData == null">No Result Found</div>
    </ul>
</div>
