<div class="clanePictureGrid" data-ng-controller="tribemanPictureController">
    <!--     <h4>Pictures</h4>
 -->
    <div class="postMainTopComment clearfix" ng-if="isLoggedin">
        <div class="col-md-2" style="padding:0px;">
            <div class="row">
                <div class="postCommentImg">
                    <img class="img-circle" align="center" data-ng-src="{{loggedInTribemanDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-10" style="padding:0px 0px 0px 10px;">
            <div class="row">
                <div class="col-md-10" style="padding:0px 0px 0px 10px;">
                    <div class="row">
                        <form name="addPictureForm" class="postCommentBox addClanPic" ng-submit="addPicture(pictureData);">
                            <div class="postCommentTextarea">
                                <input type="text" placeholder="Picture Name" ng-model="pictureData.imageTitle" class="form-control" name="pictureName">
                            </div>
                            <div class="form-group">
                                <textarea ng-model="pictureData.description" class="form-control" type="textarea" id="message" placeholder="Picture Description" maxlength="140" rows="3" name="additional_services"></textarea>
                            </div>
                            <div class="postCommentImgUpload">
                                <label class="btn btn-default btn-file">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    <input type="file" style="display: none;" ng-file-model="pictureData.picture" imgid="tribemanPicture" required>
                                </label>
                                <span class="danger" id="tribeIcoErr"></span>
                                <p ng-show="picChooseError">Please select the picture.</p>
                                <div class="tribeImgDiv">
                                    <img id="tribemanPicture" style="height: 60px;width: 60px;">
                                    <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                                </div>
                            </div>
                            <button type="submit" class="pull-right">Add Picture</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li ng-if="tribemanPicutures.length !== 0 || tribemanPicutures !== null" ng-repeat="pic in tribemanPicutures"><span ng-if="isLoggedin" class="picDelBack" ng-click="deleteTribemanPicture(pic.tribemanPictureId)"><i class="fa fa-trash-o picDel" aria-hidden="true"></i></span><img ng-click="pictureDetails(pic.tribemanPictureId);" class="img-responsive" ng-src="{{pic.picture}}" alt=""></li>
        <div class="noResult" ng-if="tribemanPicutures.length == 0 || tribemanPicutures == null">No Pictures</div>
    </ul>
    <!-- <div class="profileRightTribeMensPicsIcons">
        <a class="leftright" href="">
            < </a>
                <a class="leftright" href=""> > </a>
    </div> -->
</div>
