<div class="claneTribemansList" data-ng-controller="tribemanFriendsController">
    <!--     <h4>Friends <span class="pull-right"><i class="fa fa-search" aria-hidden="true"></i></span></h4>
 -->
    <table class="table">
        <tr ng-if="friendsDataList.length !== 0 || friendsDataList !== null" ng-repeat="frnd in friendsDataList">
            <td width="30%">
                <div class="friendListPrf">
                    <img class="img-circle" align="center" data-ng-src="{{frnd.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                </div>
            </td>
            <td width="80%">
                <h5>
                <a ui-sref="main.base.tribe.main.friendProfile({tribemanId:frnd.tribemanId})">{{frnd.accountName}}</a></h5>
                <!-- <span>Member : History clan</span> -->
                <em>Since : {{frnd.createdAt | amDateFormat:'MMMM Do YYYY'}}</em></td>
            <td width="20%">
                <img class="post-tribe-mood" ng-src="/img/exp_icons/{{frnd.tribemanMood}}.png" alt="">
            </td>
            <td width="20%">
                <div class="post-det-sentiment tribeSentiment">
                    <button style="background-color : {{$root.getHexCode(frnd.tribemanSentiment)}}">{{ frnd.tribemanSentiment | number:0 }}%</button>
                </div>
            </td>
            <td width="40%" class="inviteClanIcon">
                <i ng-click="inviteTribe(frnd);" class="fa fa-plus" aria-hidden="true"></i>
            </td>
        </tr>
        <div class="noResult" ng-if="friendsDataList.length == 0 || friendsDataList == null">No Friends Found</div>
    </table>
    <!-- <div class="profileRightTribeMensPicsIcons">
        <a class="leftright" href="">
            < </a>
                <a class="leftright" href=""> > </a>
    </div> -->
</div>
