<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <service-request class="button button-clear navIcon"><span class="ion-ios-plus"></span></service-request>
                <a ng-click="toggleChat()" class="button button-clear navIcon"> <span class="ion-ios-chatboxes"></span> </a>
                <a ng-click="CallNumber()" class="button button-clear navIcon"> <span class="ion-android-call"></span> </a>
                <a ng-if="loggedInUser" ng-hide="notification_icon" ui-sref="dashboard.notification" class="button button-clear navIcon"> <span class="ion-ios-bell"></span></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-if="loggedInUser">
        <ion-content>
            <div class="profile-info center padding item"><span class="avatar">
                <img check-image ng-src="{{imageUrl}}" width="50%"/> </span>
                <h3>{{loggedInUser.member.first_name}} {{loggedInUser.member.last_name}}</h3>
                <p> {{loggedInUser.member.city}}</p>
            </div>
            <div class="section-middle list leftCol">{{guest}}
                <div class="row">
                    <a class="col center" menu-close ui-sref="dashboard.physical"><img class="full-image" src="img/xxxhdpi/dashboard.png">Dashboard </a>
                    <a class="col center" menu-close ng-click="viewMyProfile();"><img class="full-image" src="img/xxxhdpi/ico-my-profile.png">My Profile </a>
                    <a class="col center" menu-close ui-sref="account.settings"><img class="full-image" src="img/xxxhdpi/ico-settings.png">Settings </a>
                </div>
                <div class="clearBoth"></div>
                <div class="row">
                    <a class="col center" menu-close ui-sref="dashboard.membership"><img class="full-image" src="img/xxxhdpi/membership.png">Membership </a>
                    <a class="col center" menu-close ng-click="rateUs();"><img class="full-image" src="img/xxxhdpi/ico-rate.png">Rate Us </a>
                    <a class="col center" menu-close ng-click="shareNative();"><img class="full-image" src="img/xxxhdpi/ico-share.png">Share </a>
                </div>
                <div class="clearBoth"></div>
                <button class="button button-block  btnOrange btnReduced" menu-close ng-click="logoutUser();" type="submit">Logout</button>
            </div>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="left" ng-if="!loggedInUser">
        <ion-content>
            <div class="section-middle list">
                <div class="greyBg"><a href="#" class="logo"></a></div>
                <div class="button-bar paddingTop">
                    <a menu-close class="button btnOrange btnSpace" ui-sref="account.login">Login / Signup</a>
                </div>
                <div class="leftCol marginTop10">
                <div class="row">
                	<a class="col center" menu-close ui-sref="dashboard.physical"><img class="full-image" src="img/xxxhdpi/dashboard.png">Services </a>
                    <a class="col center" menu-close ng-click="shareNative();"><img class="full-image" src="img/xxxhdpi/ico-share.png">Share </a>
                    <a class="col center" menu-close ng-click="rateUs();"><img class="full-image" src="img/xxxhdpi/ico-rate.png">Rate Us </a>

                </div>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
