<div class="popular-cloud-area">
    <div class="twitterfeed">
       <!--  <div class="mostPopular" translate>
            Most popular issues
        </div> -->
        <div class="tab-content">
            <div id="topicsTwo" class="tab-pane fade in active" ng-if="words.length > 0">
                <div ng-repeat="model in words" ng-click="setPopularIssues(model, $index)" ng-class="{ activeWord : model.active }">{{model.text}}</div>
            </div>
            <!-- <div id="topicsOne">
                <div class="popular-cloud"  resize-to="#content-main-ad" resize-minus=".popular-cloud-area .area-btn" ng-style="style"> -->
                    <!-- You should explicitly specify the dimensions of the container element -->
                   <!-- <div class="cloudText" ng-repeat="model in words" ng-style="getStyle(model);">{{model.text}}</div>
                </div>
                <div style="clear: both;"></div>
            </div> -->
        </div>
    </div>
</div>
