<div class="col-md-2 col-sm-1"></div>
<div class="col-md-2 col-sm-2 col-xs-12">
    <div class="logo">
        <!--<img src="img/landing/go-logo.png">-->
        <a ui-sref="main.base.content.main.main">
            <img src="img/lg_zimgologo.png" class="logoImg">
        </a>
        <!-- landing/go-logo.png -->
    </div>
</div>
<div class="col-md-4 col-sm-7 col-xs-12">
    <div class="search-container">
        <div class="row">
            <div class="main-search-box">
                <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="Put your keyword here" ng-model="search.query" ng-enter="doLandingSearch();">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="doLandingSearch();" translate>ZimGo!</button><i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div> -->
                <!-- /input-group -->
                <div class="main-search-sns landing filter-sns clearfix">
                    <span translate>Connect with Social media</span>
                    <ul class="list-inline pull-right">
                        <li data-ng-class="{'selected':isSnsSelected(sn)}" data-ng-click="openLoginModal('login');" data-ng-repeat="sn in socialConnectNetworks">
                            <i class="fa fa-{{ sn.name === 'youtube' ? sn.name+'-play' : (sn.name === 'blog' ? 'commenting' : sn.name) }} " aria-hidden="true" ng-class="{'selected':isSnsSelected(sn)}"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-sm-1"></div>
<div class="col-md-2 col-sm-1"></div>
