<div class="content-results" >
    <!--ng-controller="MediaSearchResultCtrl"-->
    <div deckgrid class="deckgrid clearfix" source="mediaMessages" cardTemplate="/js/app/search/templates/landing/media.card.view.html" ng-if="mediaMessages.length > 0">
    </div>
    <div class="noResult" ng-if="!shwLoad && mediaMessages.length == 0 || mediaMessages == null" translate>No Result Found</div>
</div>
