<div class="mainLandingResMedia" title="{{media.TITLE}}">
    <div class="proPic" tooltip-html-unsafe="{{card.TITLE}}" tooltip-placement="top">
        <div ng-if="card.TYPE=='PHOTO' ">
            <!--<a ng-href="{{ card.IMG_URL }}" target="_blank">-->
                <img fallback-grid-image handle-model="card" handler-method="mother.handleImageLoadError" fallback-src="img/empty_200x500.png" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ mother.getPreparedUrl(card.BIGIMG_URL) }}"
                     ng-click="mother.playVideo(mother.getPreviewUrl(card.BIGIMG_URL), 'media-PHOTO')">
            <!--</a>-->
        </div>
        <div ng-if="card.TYPE=='VIDEO' ">
            <img fallback-image fallback-src="img/empty_200x500.png" style="cursor: pointer;" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" ng-click="mother.playVideo(card, 'media-VIDEO')" data-ng-src="{{ mother.getPreparedUrl(card.BIGIMG_URL) }}">
        </div>
        <div class="propicTrnsbox title">
            <div class="proSocialicon"><img data-ng-src="img/social/plain/small/circle/{{card.SOURCE.toLowerCase()}}_circle.png"></div>
            <span class="imgSpan">{{card.TITLE}}</span>
        </div>
    </div>
</div>
