<div class="content-tabs">
    <div class="content-tab-area" >
        <tabset>
            <tab  ng-if="tab.visible" ng-repeat="tab in tabs" ng-click="onClickTab(tab);$event.stopPropagation();">
                <tab-heading >
                    <span class="{{tab.image}}"></span>
                    <span class="tabTile" translate>{{tab.title}}</span>
                </tab-heading>
                <div class="spin-loading" ng-if="shwLoad">
                    <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
                </div>
                <div class="loadingAnimate" ng-if="shwLoad"><marquee scrollamount="5" width="40">&lt;&lt;&lt;</marquee><span translate>Scraping content sources for your search</span><marquee scrollamount="5" direction="right" width="40">&gt;&gt;&gt;</marquee></div>
                <ng-include id="{{tab.id}}" data-ng-controller="MediaSearchResultCtrl" ng-if="activeTab[tab.id].active" src="'/js/app/search/templates/landing/media.result.view.html'"></ng-include>
            </tab>
        </tabset>
    </div>
</div>
