<div class="content-results contributors-full-menu-res">
    <div class="contributors-full full-content">
        <!-- <div class="full-header">
            <span translate>OPINION LEADERS</span>
        </div> -->
    </div>
    <div class="full-body" infinite-scroll-distance="0" infinite-scroll="loadMore()" infinite-scroll-disabled="pagingData.busy || pagingData.disabled">
        <div deckgrid class="deckgrid clearfix" source="result" cardTemplate="/js/app/search/templates/content/results/contributors/search.result.contributors.card.view.html">
        </div>
    </div>
</div>