<div class="">
    <div class="proPic3">
        <div class="profileInfo clearfix">
            <div class="profileInfoPic"><img data-ng-src="{{card.profile_image_url}}" alt="" /></div>
            <div class="profileInfoText">
                <h3>
                <a ng-href="{{card.profileUrl}}" target="_blank">
                    <div class="username">{{card.userName}}</div>
                </a>
            </h3>
                <span am-time-ago="card.messages.createdAt"></span>
            </div>
        </div>
        <a href="{{card.profileUrl | decodeURIComponent}}" target="_blank">
            <p>{{ card.messages.text | limitTo: 150 }}{{card.messages.text.length > 150 ? '...' : ''}}</p>
        </a>
        <!-- <img src="img/pro-pic3.jpg" alt="" /> -->
        <div class="proPic2Btm">
            <div class="proPic2icon"><img data-ng-src="{{ mother.getSourceImgUrl(card.source).replace('.png', '_circle.png') }}"></div>
            <taxonomy-item-footer item="card" context="'search'" item-type="'contributor'"></taxonomy-item-footer>
        </div>
    </div>
</div>
