<div data-ng-controller="SearchRelatedTopicsCtrl">
    <div id="step-topics" class="relatedTopicDiv relate" ng-if="result.length > 0">
        <slick id="relatedTopicSlider" class="slider" settings="slickConfig">
            <div class="relateShwWrap" ng-repeat="shwItem in result">{{filterBgColer(shwItem.TEXT_ITEM)}}
               <div class="btnbor" tooltip-append-to-body=true  tooltip-html-unsafe="{{'Related topic search' | translate}}" tooltip-placement="top" ng-click="refreshSearchResult(shwItem.TEXT_ITEM)">
                    <div  class="relateItem" ng-class="{'actKeyFiltr' : shwItem.TEXT_ITEM === relFilt}">
                    {{shwItem.TEXT_ITEM}}
                </div>
                <span><i class="fa fa-search"  aria-hidden="true"></i></span>
                </div> 
                <span ng-if="filtered || shwItem.TEXT_ITEM != relFilt" class="btnbor1"  ng-click="relatedFilter(shwItem.TEXT_ITEM)" tooltip-append-to-body=true tooltip-html-unsafe="{{'Related topic filter' | translate}}" tooltip-placement="top"><i  class="fa fa-filter" aria-hidden="true"></i></span>
                <span class="btnbor1" ng-class="{'clearFiter':!filtered}" ng-if="!filtered && shwItem.TEXT_ITEM === relFilt"  tooltip-append-to-body=true tooltip-html-unsafe="{{'Clear Related topic filter' | translate}}" tooltip-placement="top" ng-click="clearTopicFilter()" ><img  src="img/clear_filter.png" alt=""></span>
            </div>
        </slick>
    </div>
</div>
