<ion-view view-title="">

    <ion-content class="">
    <div align="center" class="profile-info center padding item">
        <span class="">
            <img check-image ng-src="{{imageUrl}}" width="50%"/> </span>
        </span>
        <h3>{{profileData.member.first_name}} {{profileData.member.last_name}}</h3>
        <p>{{profileData.member.city}}</p>
    </div>
    <form name="profileForm" ng-submit="updateAccount()" novalidate  ng-app>
        <div class="myProfileForm">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="profileData.email" class="form-control" ng-disabled="profileData.email" placeholder="Email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Membership No</span>
                <input type="text" name = "membership_no" ng-model="profileData.member.membership_no" class="form-control" ng-disabled="profileForm.membership_no">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Membership Type</span>
                <input type="text" name = "membership_type" ng-model="profileData.membership_type.name" class="form-control" ng-disabled="profileForm.membership_type">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name <span class="assertive ">*</span></span>
                <input type="email" name = "first_name" ng-model="profileData.member.first_name" class="form-control" ng-disabled="profileForm.first_name">
                <span class="assertive"  ng-show="errors.address">{{errors.first_name}}</span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name <span class="assertive ">*</span></span>
                <input type="text" name = "last_name" ng-model="profileData.member.last_name" class="form-control" ng-disabled="profileForm.last_name">
                <span class="assertive"  ng-show="errors.last_name">{{errors.last_name}}</span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="tel" name="phone" ng-model="profileData.member.phone" class="form-control" ng-disabled="profileForm.phone">
                <span class="assertive"  ng-show="errors.phone">{{errors.phone}}</span>
            </label>
            <label class="item item-input item-stacked-label">
                <div class="input-label">
                  Gender <span class="assertive">*</span>
                </div>
                <select class="form-control" ng-model="profileData.member.gender">

                  <option>Male</option>
                  <option selected>Female</option>
                  <option>Other</option>

                </select>
                <span class="assertive"  ng-show="errors.gender">{{errors.gender}}</span>
              </label>

            <label class="item item-input item-stacked-label">

                <span class="input-label">Date of Birth <span class="assertive ">*</span></span>

                <input type="date" name="dob" ng-if="!profileData.member.dob || profileData.member.dob=='0000-00-00'" placeholder="yyyy-mm-dd" ng-model="profileData.member.dateOfBirth" class="form-control">

                <input readonly ng-show="profileData.member.dob && profileData.member.dob!='0000-00-00'" type="text" name="dobView" ng-value="profileData.member.dob" class="form-control" ng-disabled="profileForm.dobView">
                <span class="assertive" ng-show="errors.dob">{{errors.dob}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" ng-model="profileData.member.address" class="form-control">
                <span class="assertive"  ng-show="errors.address">{{errors.address}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <div class="input-label">
                  City
                </div>


                <select class="form-control" ng-model="profileData.member.city">
                  <option ng-repeat="zones in zones">{{zones.zonename}}</option>
                </select>
                <span class="assertive"  ng-show="errors.city">{{errors.city}}</span>
            </label>

            <label class="item item-input item-stacked-label">

                <span class="input-label">Post Code <span class="assertive ">*</span></span>
                <input type="tel" only-digits minlength=6 maxlength=6 ng-model="profileData.member.post_code" class="form-control">
                <span class="assertive"  ng-show="errors.post_code">{{errors.post_code}}</span>
            </label>
            <ion-list class="item button-row">
                <button class="button button-block btnBlue" type="submit">Submit</button>
            </ion-list>

        </div>

    </form>

    <p></p>


    </ion-content>
</ion-view>
