<ion-view view-title="">
  <ion-content>
    <div class="cardMargin">
      <div class="subscList">
        <div class="card">
          <div ng-if="membershipDetails.membership_type" class="item item-body cardHeader">
            <h1>{{membershipDetails.membership_type.name}}</h1>
          </div>          
          <div class="cardMid">
          		<div class="brandLogo"></div>
          		
                <div class="memArea">                                    
                      <img check-image ng-src="{{imageUrl}}">
                      <h2>{{membershipDetails.member.first_name}} {{membershipDetails.member.last_name}}</h2>
                      <p>{{membershipDetails.membership_type.name}} </p>               
                </div>
                <div class="clear"></div>
          		<div class="cardBigFont cardPad">{{membershipDetails.member.membership_no}}</div>
                <div ng-if="membershipDetails.membership_end_date" class="txtDate fr">
                	<p>Valid Upto</p>
                    <span>{{membershipDetails.membership_end_date | amDateFormat:"Do MMM YYYY"}}</span>
                </div>
                
                <div ng-if="membershipDetails.membership_start_date" class="txtDate">
                	<p>Member Since</p>
                    <span>{{membershipDetails.membership_start_date | amDateFormat:"Do MMM YYYY"}}</span>
                </div>
                
                <div class="clear"></div>
                
                <div ng-if="membershipDetails.member.dob && membershipDetails.member.dob!=='0000-00-00'" class="txtDate cardPad">
                	<p>DOB</p>
                    <span>{{membershipDetails.member.dob | amDateFormat:"Do MMM YYYY"}}</span>
                </div>
                <p></p>
                <div ng-if="membershipDetails.member.membership_no" class="qrCode">                                 
                      <qrcode text="{{membershipDetails.member.membership_no}}" color-bright="#ff0000"></qrcode>
                </div>
          </div>
        </div>
        
        <button class="button btnOrange button-block" ng-show="upgradeButton" ng-click="upgradeMembership();">Upgrade</button>
      </div>
    </div>
  </ion-content>
</ion-view>
