<ion-view view-title="">
    <ion-content class="">
    <div align="center" class="profile-info center padding item">
        <span class="">
             <img check-image ng-src="{{imageUrl}}" width="50%"/> </span>
        </span>
        <h3>{{viewProfileData.member.first_name}} {{viewProfileData.member.last_name}}</h3>
        <p>{{viewProfileData.member.city}}</p>
        <div>&nbsp;</div>
        <a href="#">
        <span class="ion-ios-compose-outline"></span>
       <span ng-click="editProfile();">Edit profile</span></a>
    </div>
    <section ng-show="successMsg" class="dtlsBox">
        <span class="serviceTxt positive">{{successMsg}}</span>   
    </section>
    <form name="profileForm" novalidate  ng-app>
        <div class="myProfileForm">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <span ng-model="viewProfileData.email" class="form-control">{{viewProfileData.email}}
                </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Membership No</span>
                <span ng-model="viewProfileData.member.membership_no" class="form-control">{{viewProfileData.member.membership_no}}
                </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Membership Type</span>
                <span ng-model="viewProfileData.membership_type.name" class="form-control">{{viewProfileData.membership_type.name}}
                </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <span ng-model="viewProfileData.member.first_name" class="form-control">{{viewProfileData.member.first_name}}
                </span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <span ng-model="viewProfileData.member.last_name" class="form-control">{{viewProfileData.member.last_name}}
                </span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile No</span>
                <span ng-model="viewProfileData.member.phone" class="form-control">{{viewProfileData.member.phone}}
                </span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Gender</span>
                <span ng-model="viewProfileData.member.gender" class="form-control">{{viewProfileData.member.gender}}
                </span>
              </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <span ng-if="viewProfileData.member.dob!='0000-00-00'" ng-model="viewProfileData.member.dob" class="form-control">{{viewProfileData.member.dob}}
                </span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <span ng-model="viewProfileData.member.dob" class="form-control">{{viewProfileData.member.address}}
                </span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">City</span>
                <span ng-model="viewProfileData.member.city" class="form-control">{{viewProfileData.member.city}}
                </span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Post Code</span>
                <span ng-model="viewProfileData.member.post_code" class="form-control">{{viewProfileData.member.post_code}}
                </span>
            </label>
            <ion-list class="item button-row">
                <button class="button button-block btnBlue" ng-click="returnDashBoard();">Back</button>
            </ion-list>

        </div>

    </form>

    <p></p>


    </ion-content>
</ion-view>
