
<ion-view view-title="">

    <ion-content class="cardDashboard">
        <div class="row">

            <div class="col center card">
                <a ng-href="#/dashboard/ambulance">
                	<span class="imgDb"><img class="full-image" src="img/xxxhdpi/24-7-ambulance.png"></span>
                    <span class="serviceTitle">24/7 Ambulance</span>
                </a>

            </div>
            <div class="col center card">
                <a  ng-href="#/dashboard/doctorOnCall">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/24-7-doctor-connect.png"></span>
                 <span class="serviceTitle">24/7 Doctor Connect</span>
                </a>
            </div>
             <div class="col center card">
                <a ng-href="#/dashboard/TravelEmergency">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/travel-emergency.png"></span>
                 <span class="serviceTitle">Travel Emergency</span>
                </a>
            </div>
        </div>
        <div class="row">
        <div class="col center card">
                <a ng-href="#/dashboard/secondOpinion">
               	<span class="imgDb"><img class="full-image" src="img/xxxhdpi/medical-second-opinion.png"></span>
                <span class="serviceTitle">Medical Second Opinion</span>

                </a>
            </div>
          <div class="col center card">
                <a ng-href="#/dashboard/diagnostic">

                 <span class="imgDb"><img class="full-image" src="img/xxxhdpi/diagnostic.png"></span>
                 <span class="serviceTitle">Diagnostic</span>

                </a>
            </div>
            <div class="col center card">
                <a ng-href="#/dashboard/Pharmacy">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/pharmacy.png"></span>
                <span class="serviceTitle">Pharmacy</span>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="col center card">
                <a ng-href="#/dashboard/nurseAtHome">
               <span class="imgDb"><img class="full-image" src="img/xxxhdpi/nurse-at-home.png"></span>
               <span class="serviceTitle">Nurse at home</span>
                </a>
            </div>


             <div class="col center card">
                <a ng-href="#/dashboard/physiotherapy">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/physiotherapy-at-home.png"></span>
                <span class="serviceTitle">Physiotherapy at home</span>
                </a>
            </div>
            <div class="col center card">
                <a ng-href="#/dashboard/doctorAtHome">
                 <span class="imgDb"><img class="full-image" src="img/xxxhdpi/doctor-at-home.png"></span>
                 <span class="serviceTitle">Doctor at home</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col center card">
                <a ng-href="#/dashboard/Dietician">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/dietician-service.png"></span>
                <span class="serviceTitle">Dietician</span>
                </a>
            </div>

            <div class="col center card">
                <a ng-href="#/dashboard/spa">
                	<span class="imgDb"><img class="full-image" src="img/xxxhdpi/spa.png"></span>
                    <span class="serviceTitle">Spa</span>
                </a>
            </div>
            <div class="col center card">
                <a ng-href="#/dashboard/yoga">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/yoga-at-home.png"></span>
                <span class="serviceTitle">Yoga at Home</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col center card">
                <a ng-href="#/dashboard/eyecare">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/eye-care.png"></span>
                <span class="serviceTitle">Eye Care</span>
                </a>
            </div>
            <div class="col center card">
                <a ng-href="#/dashboard/dentalcare">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/dental-care.png"></span>
                <span class="serviceTitle">Dental Care </span>
                </a>
            </div>
            <div class="col center card">
                <a ng-href="#/dashboard/gynaecare">
                <span class="imgDb"><img class="full-image" src="img/xxxhdpi/gynae-care.png"></span>
                <span class="serviceTitle">Gynae Care</span>
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
