<ion-view view-title="">
  <ion-content class="sliderContainer">
    <div class="cardMargin">
    <div class="pageHead"><h1>Notification</h1></div>
      <div class="subscList">
        <div class="card list">

          <section class="dtlsBox notification">
            <h2>{{notificationDetails.message_title}}</h2>
            <p>{{notificationDetails.message}}</p>
             <time class="blue" >{{notificationDetails.sent_at | amCalendar}}</time> 

          </section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
