<ion-view>
  <ion-content class="sliderContainer">
    <ion-list class="notification">
      <div class="pageHead">
        <h1>Notification</h1>
      </div>

      <ion-item ng-if="notificationList.length !== 0"  ng-repeat="notification in notificationList | orderBy:'-'" >
        <div class="subscList">
          <div class="card list">
            <section class="dtlsBox"> <a  href="#/dashboard/notificationDetails/{{notification.id}}" >
              <h2>{{notification.message_title}}</h2>
              <p>{{notification.message | cut:true:100:' ...'}}</p>
              <time class="blue" >{{notification.sent_at | amCalendar}}</time>
              </a>  </section>
          </div>
        </div>
      </ion-item>

      </div>
    </ion-list>

    <div class="card"  ng-if="notificationList.length == 0">
    <div class="assertive noData">
        <span >You don't have any Notifications.</span>
    </div>
    </div>
    
  </ion-content>
</ion-view>
