<div class="container">
  <div class="row">
  <a href="/"><div class="logo logoCenter"></div></a>
    <div class="logSignupBox activateForm">
        
          <h1 class="head text-center">Activate Account</h1>
       
        <div class="panel-body">
          <div class="alert alert-danger" role="alert" ng-show="errors" ng-repeat="error in errors">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ng-repeat="error in errors"></span>
            <span class="sr-only">Error:</span>{{error}}
          </div>
          <form role="form" name="activationForm" novalidate  ng-submit="activateUser()" ng-init="submitted=false" >
            <fieldset>
              <div class="form-group">
                <input class="form-control" name="phone" ng-model='newuser.phone' type="text" readonly ng-minlength="10" ng-maxlength="10" ng-pattern="/^(\d)+$/"  maxlength="10" minlength="10" >
                 <span ng-show="((activationForm.phone.$error.minlength || activationForm.phone.$error.maxlength)) " >Phone number should be 10 digits</span> 
                <span  ng-show="activationForm.phone.$invalid  && submitted">Enter  phone number</span>
                <span class="error" ng-show="activationForm.phone.$error.pattern">Phone Number should be Number!</span>
              </div>
              <div class="form-group">
                <input class="form-control" name="activation_code" placeholder="Activation code" ng-model='newuser.activation_code' ng-pattern="/^(\d)+$/"   maxlength="6" minlength="6"  type="password" autofocus required>
                <span    ng-show="activationForm.activation_code.$error.required  && submitted">Enter  activation_code </span>
                <span class="error" ng-show="activationForm.activation_code.$error.pattern">activation_code  should be Number!</span>
              </div>
              <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" ng-model='newuser.password' type="password" ng-minlength="8" ng-maxlength="12" autofocus required>
                <span ng-show="activationForm.password.$error.required  && submitted">Enter  Password</span>
                 <span ng-show="activationForm.password.$error.maxlength"> Password maximum 12 characters</span>
              </div>
              
              <div class="text-center">
              	<button type="submit" class="btn btn-lg btnOrange" ng-click="submitted=true">Submit</button>
                	<p class="divider"></p>
                <a href="#/login" class="btn btn-link" type="button"><span class="fa fa-angle-left"></span> Back to login</a>
              </div>
              
            </fieldset>
          </form>
        </div>
      </div>
    </div>

</div>