<div class="container">
  <div class="row">
  <a href="/"><div class="logo logoCenter"></div></a>
    <div class="logSignupBox regForm">
    	<h1 class="head text-center">Forgot Password</h1>
    
    
        <div class="panel-body">
          <div class="alert alert-success" role="alert" ng-show="success" ng-repeat="suc in success"> A mail has been sent to your email with activation link.</div>
          <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>{{error}}
          </div>
          <form  role="form" ng-hide="success.msg" name="forgotPasswordForm" ng-submit="forgotPassword(forgotPasswordForm)" 
              novalidate>
              <div  ng-class="{ 'has-error' : forgotPasswordForm.username.$invalid && !forgotPasswordForm.username.$pristine }">
                 
                  <input class="form-control" name="username" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="E-mail" ng-model='user.email' type="text" autofocus required>
                  <p ng-if="forgotPasswordForm.username.$error.required && !forgotPasswordForm.username.$pristine" class="help-block">Please enter email.</p>
                  <p ng-if="forgotPasswordForm.username.$error.pattern && !forgotPasswordForm.username.$pristine" class="help-block">Please enter valid email.</p>
              </div>
              <br />
              <div class="text-center">
                <button type="submit" class="btn btn-lg btnOrange" ng-disabled="forgotPasswordForm.$invalid">Submit</button>
                <p class="divider"></p>
            	<a ui-sref="user.physical" class="btnTxt"><span class="fa fa-angle-left"></span> Back to Login</a>
              </div>
                
          </form>
        </div>
      
      
      
      
    </div>
  </div>
</div>