<div class="container">
  <div class="row">
  <a href="/"><div class="logo logoCenter"></div></a>
    <div class="logSignupBox">
    
      <div class="text-center">
        <div class="panel-heading">
          <h1 class="head text-center">Sign In</h1>
        </div>
          
        <div class="boxhalf">
          <div class="alert alert-success" role="alert" ng-show="success">{{success}}</div>
          <div class="alert alert-danger" role="alert" ng-show="errors">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>{{errors}}
          </div>
          <form role="form" name="loginForm"  ng-submit="userLogin()" novalidate >
            <fieldset>
            <p>Please enter your basic details</p>
              <div class="form-group">
                <input class="form-control" name="username"  placeholder="E-mail/Phone" ng-model='user.login' type="text" autofocus required>
                <div class="has-error">
                  <span ng-if="loginForm.username.$error.required && !loginForm.username.$pristine" class="control-label">Enter email/phone number</span>
                  </div>
              </div>
              <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" ng-model='user.password' type="password" value="" ng-minlength="6" required>
                <div class="has-error">
                 <span ng-if="loginForm.password.$error.required && !loginForm.password.$pristine" class="control-label">Enter  Password</span>
                 <span ng-if="loginForm.password.$error.minlength" class="control-label"> Password minimum 6 characters</span>
                </div>
              </div>
              <button type="submit" class="btn btn-lg btnOrange btn-block" ng-disabled="loginForm.$invalid">Login</button>
            </fieldset>
          </form>
          
          <a ui-sref="user.forgotpassword" class="btn  btn btn-link">Forgot password</a>
        </div>
        
        <div class="boxhalf">
        <p>Login through one of the social service</p>
        	<a fconnect-button class="btn btn-lg btnFB">Facebook</a>
          <a gconnect-button class="btn btn-lg btnG">Google</a>
        </div>
      </div>
    </div>
    <br />
    <div class="text-center">
    <h1 class="head">sign up</h1>
    <p>Not a Member yet? Create your account, it takes less than a minute.</p>
    <a ui-sref="registration.physical" class="btnTxt">Continue to Signup <span class="fa fa-angle-right"></span></a>  
    	<div>&nbsp;</div>  
    </div>
    
    
  </div>
</div>