
<div class="container">
  <div class="row"> <a href="/">
    <div class="logo logoCenter"></div>
    </a>
    <div class="logSignupBox regForm">
        <div class="alert alert-danger">Your payment failed!</div>
        <span>Your order has been failed to process. You can try again or choose another payment method.</span><br>
        <button class="btn btn-lg btn-warning" ui-sref="subscription.payment">Try Again</button>
        <button class="btn btn-lg btn-success" ui-sref="dashboard.physical">Go to Dashboard as a free member</button>
    </div>
</div>
</div>