
<div class="container">
  <div class="row"> <a href="/">
    <div class="logo logoCenter"></div>
    </a>
    <div class="logSignupBox regForm">
      <div class="alert alert-success">Payment Successful!!</div>
      <a href class="btn btnOrange" ng-click="goToDashboard()">Dashboard</a> </div>
  </div>
</div>
