<div class="container">
  <div class="row"> <a href="/">
    <div class="logo logoCenter"></div>
    </a>
    
    <div class="logSignupBox">
      <div class="text-center">
        <div class="panel-heading">
          <h1 class="head text-center">Payment</h1>
        </div>
        <ul class="paymentOption">
          <li><a href ng-click="selectPaymentGateway('payumoney');" class="payu" ng-class=""></a></li>
          <li><a href ng-click="selectPaymentGateway('paytm');" class="paytm" ng-class="">Wallet</a></li>
        </ul>
        
     
    	<div class="paymentOptRt">
            <div class="paymentCard payment-payu" ng-show="paymentType=='payumoney'">
              <form role="form" method="post" name="payuForm" ng-hide="waitLoader" novalidate>
                <span class="hide">
                <input type="text" ng-model="paymentDetail.key" name="key" required />
                <input type="text" ng-model="paymentDetail.hash" name="hash" required />
                <input type="text" ng-model="paymentDetail.txnid" name="txnid" required />
                <input type="text" ng-model="paymentDetail.amount" name="amount" required/>
                <input type="text" ng-model="paymentDetail.firstname" name="firstname" required/>
                <input type="text" ng-model="paymentDetail.email" name="email" value="{{paymentDetail.email}}" required />
                <input type="text" ng-model="paymentDetail.phone" name="phone"
                           value="{{paymentDetail.phone}}" />
                <input type="text" ng-model="paymentDetail.productinfo" name="productinfo" required />
                <input type="text" ng-model="paymentDetail.surl" name="surl" required />
                <input type="text" ng-model="paymentDetail.furl" name="furl" required />
                <input type="text" ng-model="paymentDetail.udf1" name="udf1" required/>
                <input type="text" ng-model="paymentDetail.udf4" name="udf4" required/>
                <input type="text" ng-model="paymentDetail.udf5" name="udf5" value="Membership" required/>
                <input type="text" name="service_provider" value="payu_paisa" size="64" />
                </span>
                <table class="table table-striped table-bordered table-hover dataTable no-footer tblPayment">
                  <tr>
                    <td>Name </td>
                    <td>{{paymentDetail.firstname}} {{paymentDetail.lastname}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{paymentDetail.email}}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{paymentDetail.phone}}</td>
                  </tr>
                  <tr>
                    <td>Membership Plan</td>
                    <td>{{orderInfo.name}}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>{{paymentDetail.amount}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center"><button class="btn btnOrange" ng-click="payment()">Pay using PayU</button></td>
                  </tr>
                  <tr>
                    <p class="text-center"> * Note: You will be redirected to PayU for payment</p>
                  </tr>
                </table>
              </form>
            </div>
            <div class="paymentCard payment-payu" ng-show="paymentType=='paytm'">
              <form novalidate role="form" method="post" name="paytmForm" ng-submit="processPaytm();"  ng-hide="waitLoader">
                <span class="hide">
                <input type="text" ng-model="payTmDetail.CALLBACK_URL" name="CALLBACK_URL" required/>
                <input type="text" ng-model="payTmDetail.MERC_UNQ_REF" name="MERC_UNQ_REF" required/>
                <input type="text" ng-model="payTmDetail.ORDER_ID" name="ORDER_ID" required/>
                <input type="text" ng-model="payTmDetail.CUST_ID" name="CUST_ID" required/>
                <input type="text" ng-model="payTmDetail.INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" required/>
                <input type="text" ng-model="payTmDetail.CHANNEL_ID" name="CHANNEL_ID" required/>
                <input type="text" ng-model="payTmDetail.TXN_AMOUNT" name="TXN_AMOUNT" required/>
                <input type="text" ng-model="payTmDetail.MID" name="MID" required>
                <input type="text" ng-model="payTmDetail.REQUEST_TYPE" name="REQUEST_TYPE" required>
                <input type="text" ng-model="payTmDetail.WEBSITE" name="WEBSITE" required>
                <input type="text" ng-model="payTmDetail.MOBILE_NO" name="MOBILE_NO" required>
                <input type="text" ng-model="payTmDetail.EMAIL" name="EMAIL" required>
                <input type="text" ng-model="payTmDetail.CHECKSUMHASH" name="CHECKSUMHASH" required>
                </span>
                <table class="table table-striped table-bordered table-hover dataTable no-footer tblPayment">
                  <tr>
                    <td>Email</td>
                    <td>{{payTmDetail.EMAIL}}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{payTmDetail.MOBILE_NO}}</td>
                  </tr>
                  <tr>
                    <td>Membership Plan</td>
                    <td>{{orderInfo.name}}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>{{payTmDetail.TXN_AMOUNT}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center"><button class="btn btnOrange" ng-click="payment()">Pay using paytm</button></td>
                  </tr>
                  <tr>
                    <p class="text-center"> * Note: You will be redirected to PayTM for payment</p>
                  </tr>
                </table>
              </form>
            </div>
            <div class="center-block" ng-show="waitLoader">
              <h3>Please wait...</h3>
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <span ng-hide="payuReady">Validating order information.</span> <span ng-show="payuReady">You Will be redirect to Paytm Website.</span> </div>
        </div>  
      
       </div>
    </div>
      
      <div class="clearfix"></div>
    </div>
</div>
