<div class="container paddingTop">
    <div class="acFullWidth txtCenter2">
        <h2>Reset Password</h2>
        <div class="error-messages">
            <ul>
                <li ng-repeat="error in errors">{{ error[0] }}</li>
            </ul>
        </div>
        <div style=" margin: 15px;" class="alert alert-warning"  role="alert" ng-show="successMessage">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{successMessage}}
        </div>

        <form name="signUp" ng-hide="successMessage" ng-submit="resetUserPassword()">
            <dl class="logRegForm">
                <input name="email" type="hidden" placeholder="Email" ng-model="user.reset_code" required disabled>
                <dt class="email"><input name="email" type="email" placeholder="Email" ng-model="user.email" required disabled></dt>
                <dd class="pwd"><input name="password" type="password" placeholder="Password" ng-model="user.password" required ng-minlength="8" ng-maxlength="13"></dd>
                <dd class="pwd"><input name="confirm_password" type="password" placeholder="Confirm Password" ng-model="user.confirm_password" required ng-minlength="8" ng-maxlength="13"></dd>
                <div role="alert">
                    <span class="error" ng-show="signUp.password.$error.minlength || signUp.password.$error.maxlength">
                        Password should be between 8-12 characters
                    </span>
                    <span class="error" ng-show="user.password != user.confirm_password">
                        Password Don't match
                    </span>
                </div>
                <dt><input type="submit" class="btnSubmit" value="Reset Password" ></dt>
            </dl>
        </form>
    </div>
</div>
