<div class="row">
  <div class="col-xs-6">
    <div class="alert alert-danger" role="alert" ng-if="errors.length > 0  ">{{errors}}</div>
    <div style="margin-left: 30%">
    <form class="form-horizontal" ng-submit="signUp()"> <!-- ng-submit="signUp()" -->
    <div class="control-group">
        <label class="control-label" for="inputFirstName">First Name</label>
        <div class="controls">
          <input type="text" ng-model='user.first_name' placeholder="First Name" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputFirstName">Last Name</label>
        <div class="controls">
          <input type="text" ng-model='user.last_name' placeholder="Last Name" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" ng-model='user.email' placeholder="Email" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPhone">Phone</label>
        <div class="controls">
          <input type="text" only-Digits maxlength="10" minlength="10" ng-model='user.phone' placeholder="Phone" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" ng-model='user.password' ng-minlength="8" ng-maxlength="12" placeholder="Password" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Confirmed Password</label>
        <div class="controls">
          <input type="password" ng-minlength="8" ng-maxlength="12" ng-model='user.confirmed_password' placeholder="Confirmed Password" required>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" ng-model='user.accept_term_status'> Accepts terms and conditions
          </label>
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
