<ion-view view-title="">
    <ion-content class="sliderContainer">
        <tab-slide-box tab="0" ng-if="loggedInUser">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Sessions</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Packages</a></div>
            </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                            <div class="card list">
                            		<div class="item item-body"><h1>Spa</h1>  <service-request serviceIndex = "15" servicename= "Spa Service" class="viewAll uppercase">Request Service</service-request></div>
                                    <div class="serviceImg"> <img class="full-image" src="img/banner/banner-spa.jpg"> </div>
                                    <section class="dtlsBox">
                                    <p class="serviceTxt">Bringing the ultimate spa experience to you - At Home. healthyBillions on demand spa service, delivered in the comfort, privacy and convenience of your home, is an enticing blend of tradition and modernity. Carefully selected ingredients, hygienic disposables and best of aroma will convert your home into a sanctuary (Available only in kolkata).</p>

                                    </section>

                                </div>

                                <div class="card list">

                                    <section class="dtlsBox">

                                        <h2>Sessions</h2>
                                        <ul>
                                            <li ng-click="allSlid(1)">
                                                <section>
                                                    <span ng-if="spaData.upcomingSessions.data.length">{{spaData.upcomingSessions.data.length}}</span>
                                                    <span ng-if="!spaData.upcomingSessions.data.length">0</span>Upcoming Sessions</section>
                                            </li>
                                            <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="spaData.lastSessions.data.length" >{{spaData.lastSessions.data.length}}</span><span ng-if="!spaData.lastSessions.data.length">0</span>Previous Sessions</section>
                                            </li>
                                        </ul>
                                           </section>
                                     <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>

                                      <span ng-if="spaData.upcomingSessions.data[0].start_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{spaData.upcomingSessions.data[0].start_date}}</span> <span ng-if="spaData.upcomingSessions.data[0].start_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{spaData.upcomingSessions.data[0].start_time}}</span>

                                    </div>
                                </div>
                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Invoice</h2>
                                        <ul>
                                            <li ng-repeat="invoice in spaData.invoices | limitTo:2">
                                                <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                                        </ul>
                                    </section>
                                    <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                                </div>
                              <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Packages</h2>
                                        <ul>
                                            <li ng-repeat="package in spaData.packages | limitTo:2">
                                               <section ng-click="allSlid(3)">{{package.servicename}}
                                                <span class="statusGreen">{{truncate(package.unit_price)| currency:"&#8377;"}}</span></section>
                                            </li>
                                        </ul>
                                    </section>
                                    <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                                </div>
                            </div>
                        </div>

                    </ion-scroll>
                </ion-slide>
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                <div class="item item-body"><h1>Spa</h1>  <service-request serviceIndex = "15" servicename= "Spa Service" class="viewAll uppercase">Request Service</service-request></div>
                                    <section class="dtlsBox">
                                        <h2>Upcoming Sessions</h2>

                                    <ul>
                                        <li ng-repeat="upcomingSessions in spaData.upcomingSessions.data">

                                                <h3>{{upcomingSessions.consultant}}</h3>
                                                <span ng-if="upcomingSessions.start_date" class="ion-ios-calendar-outline blue"></span>
                                                <span class="fl">{{upcomingSessions.start_date}}</span>
                                                <span ng-if="upcomingSessions.start_time" class="ion-ios-clock-outline blue"></span>
                                                <span class="fl">{{upcomingSessions.start_time}}</span>

                                        </li>
                                    </ul>

                                    </section>
                                    <span ng-hide="spaData.upcomingSessions.data" class="assertive noData"> You do not have any sessions</span>
                                </div>

                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Previous Sessions</h2>

                                    <ul>
                                        <li ng-repeat="lastSessions in spaData.lastSessions.data">

                                                <h3>{{lastSessions.sessionsname}}</h3>
                                                <span ng-if="lastSessions.start_date" class="ion-ios-calendar-outline blue"></span>
                                                <span class="fl">{{lastSessions.start_date}}</span>
                                                <span ng-if="lastSessions.start_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                                                <span class="fl">{{lastSessions.start_time}}</span>

                                        </li>
                                    </ul>
                                    </section>
                                    <span ng-hide="spaData.lastSessions.data" class="assertive noData"> You do not have any sessions</span>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                <div class="item item-body"><h1>Spa</h1>  <service-request serviceIndex = "15" servicename= "Spa Service" class="viewAll uppercase">Request Service</service-request></div>
                                    <section class="dtlsBox">
                                        <h2>Invoice</h2>
                                        <ul>
                                            <li ng-repeat="invoice in spaData.invoices | limitTo:2">
                                                <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section>
                                                <section ng-if="invoice.total_payment_amount">Total Paid Amount
                                                <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}}
                                                </span></section></li>
                                        </ul>
                                        </section>
                                        <span ng-hide="spaData.invoices" class="assertive noData"> You do not have any invoices</span>

                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                <div class="item item-body"><h1>Spa</h1>  <service-request serviceIndex = "15" servicename= "Spa Service" class="viewAll uppercase">Request Service</service-request></div>
                                    <section class="dtlsBox">
                                <h2>Packages</h2>
                                <ul>
                                    <li ng-repeat="package in spaData.packages">
                                        <section>
                                        <span class="statusGreen">{{truncate(package.unit_price)| currency:"&#8377;"}}</span>{{package.servicename}}</section>
                                    </li>
                                </ul>
                                </section>
                                <span ng-hide="spaData.packages[0]" class="assertive noData"> You do not have any packages</span>


                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
   <tab-slide-box tab="0" >

        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide dynamic-height>
                <ion-scroll>
                  <div class="card list">
                  <div class="item item-body"><h1>Spa</h1>  <service-request serviceIndex = "15" servicename= "Spa Service" class="viewAll uppercase">Request Service</service-request></div>
                                    <div class="serviceImg"> <img class="full-image" src="img/banner/banner-spa.jpg"> </div>
                                    <section class="dtlsBox">
                                    <p class="serviceTxt">Bringing the ultimate spa experience to you - At Home. healthyBillions on demand spa service, delivered in the comfort, privacy and convenience of your home, is an enticing blend of tradition and modernity. Carefully selected ingredients, hygienic disposables and best of aroma will convert your home into a sanctuary (Available only in kolkata).</p>
                                   <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p></section>
                                    </section>
                                </div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
