<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth4">Service Status</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Nurse At Home</h1>
                    <service-request servicename="Nurse at home" serviceIndex = "13" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/nurse.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Highly qualified professionals are assigned to take care of you and your family when needed.</p>
                  </section>

                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="nurseData.CurrentActiveAppointments.length">{{nurseData.CurrentActiveAppointments.length}}</span> <span ng-show="!nurseData.CurrentActiveAppointments.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="nurseData.LastNursesAtHome.length">{{nurseData.LastNursesAtHome.length}}</span><span ng-if="!nurseData.LastNursesAtHome.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                  <span ng-if="nurseData.CurrentActiveAppointments[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{nurseData.CurrentActiveAppointments[0].preferred_date}}</span> <span ng-if="nurseData.CurrentActiveAppointments[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{nurseData.CurrentActiveAppointments[0].preferred_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in nurseData.NursesAtHomeInvoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Nurse At Home</h1>
                    <service-request servicename="Nurse at home" serviceIndex = "13" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="CurrentActiveAppointments in nurseData.CurrentActiveAppointments">
                        <h3>{{CurrentActiveAppointments.consultantsname}}</h3>
                        <span ng-if="CurrentActiveAppointments.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{CurrentActiveAppointments.preferred_date}}</span> <span ng-if="CurrentActiveAppointments.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{CurrentActiveAppointments.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="nurseData.CurrentActiveAppointments" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2 class="noPadding">Previous Services</h2>
                    <ul>
                      <li ng-repeat="LastNursesAtHome in nurseData.LastNursesAtHome">
                        <h3>{{LastNursesAtHome.consultantsname}}</h3>
                        <span ng-if="LastNursesAtHome.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{LastNursesAtHome.preferred_date}}</span> <span ng-if="LastNursesAtHome.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{LastNursesAtHome.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="nurseData.LastNursesAtHome" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Nurse At Home</h1>
                    <service-request servicename="Nurse at home" serviceIndex = "13" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="nurseData.NursesAtHomeInvoices!==null">
                      <li ng-repeat="invoice in nurseData.NursesAtHomeInvoices"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                    </section>
                    <div ng-show="nurseData.NursesAtHomeInvoices==null" class="assertive noData">You do not have any Invoices</div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Nurse At Home</h1>
                    <service-request servicename="Nurse at home" serviceIndex = "13" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <div ng-if="nurseData.NursesServiceStatusWise" ng-show="nurseData.NursesServiceStatusWise">
                      <ul>
                        <li href="#"ng-repeat="package in nurseData.NursesServiceStatusWise.service_status">
                          <h2>{{package.member}}</h2>
                          <section ng-if="package.service_taken"> Total Services Taken <span class="badge statusGreen">{{package.service_taken}}</span> </section> <section ng-if="package.service_taken==null"> Total Services Taken <span class="badge statusGreen">0</span> </section> <section ng-if="package.services_remaining_free"> Free Services Remaining <span class="badge statusGreen">{{package.services_remaining_free}}</span> </section> <section ng-if="package.services_remaining_free==null"> Free Services Remaining <span class="badge statusGreen">0</span> </section> </li>
                      </ul>
                      <div ng-repeat="packages in nurseData.NursesServiceStatusWise.service_list">
                        <ul>
                          <li>
                            <section>{{packages.servicename}} price <span class="badge statusGreen"> {{truncate(packages.unit_price)| currency:"&#8377;"}} </span></section>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div ng-hide="nurseData.NursesServiceStatusWise" class="assertive noData">You do not have any service</div>
                  </section>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body">
                    <h1>Nurse At Home</h1>
                    <service-request servicename="Nurse at home" serviceIndex = "13" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/nurse.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Highly qualified professionals are assigned to take care of you and your family when needed.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
            <div class="slide-box box list"> </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
