<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/" title="Healthy Billions">
        <div class="logo logoHead"></div>
    </a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
    <li ><a href="" class="fa fa-tasks"  ui-sref="dashboard.physical" title="Dashboard"></a></li>
        <li class="dropdown">Hi, {{userName.member.first_name}}</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="javascript:void(0)" ui-sref="account.physical"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>

                <li class="dropdown">
                   
                <li><a href="javascript:void(0)" ng-click="settings()"><i class="fa fa-gear fa-fw"></i> Settings</a>

                </li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-user fa-bell"></i>
                <!--Commenting for now. WIll be implemented after adding read/unread count-->
                <!-- <span ng-show = "notificationData.length>0" class="badge">{{notificationData.length}}</span> -->
            </a>
            <div class="dropdown-menu">
            <p class="head text-center">Notifications</p>
            <ul class="notificationList">
                <li ng-repeat="notification in notificationData| limitTo: 10">
                    <a href="#/notification/{{notification.id}}">
                       	  <h3>{{notification.message_title}}</h3>
                          <p>{{notification.message}}</p>
                          <time>{{notification.created_at | amCalendar}}</time>
                          </a>
                </li>
            </ul>
            <p class="head text-center"><a href="javascript:void(0)" ng-click="showMoreNotifications(2);" class="text-center showMore">Show More</a></p>
            </div>
        </li>
    </ul>
</nav>