<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center">
                <img class="img-circle" check-image ng-src="{{imageUrl}}" width="50%"/> 
            </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Member Details
            </div>
            <div class="panel-body">
                <h4> {{userData.member.first_name}} {{userData.member.last_name}}</h4>
                <h6 ng-show="userData.email"> Email : {{userData.email}}</h6>
                <h6 ng-show="userData.member.phone">Phone : {{userData.member.phone}}</h6>
                <h6 ng-show="userData.membership_type.name">Membership Type : {{userData.membership_type.name}}</h6>
                <h6 ng-show="userData.member.membership_no">Membership ID: {{userData.member.membership_no}}</h6>
            </div>
        </div>
    </div>
</div>

