*{margin: 0;padding: 0}
li{list-style-type: none;}
body{
    padding: 20px;
}
.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.business-header {
    height: 400px;
    background: url('../src/asserts/img/booking.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.prd-img{width: 100%; max-width: 280px; height: 340px; padding: 20px 30px; } 
.prd-img img{width: 100%; height: 100%; }
.thumbnail .caption{height:168px;}
.clients img{width: 75%}
.pin-serch{margin: 13px 0px;}
.search-query{border-radius:10px;outline: none;width:140px;}
.right_cart{}
.right_cart h3{margin-top: 0}

.right_cart_ul{padding: 0; overflow-y: scroll; max-height: 450px; width: 110%;}
.right_cart_ul li{display:block;width: 270px;}
.right_cart_ul_box1{padding:10px 0px;}
.pro_img_left, .pro_title_right{display:inline-block;}

.pro_img_left{height:50px; width:50px; border:1px solid red; padding:3px; margin-right:5px; vertical-align:top;}
.pro_img_left a{display:block;}
.pro_img_left a img{width:100%; height:100%;}

.pro_title_right{margin-left:5px;}
.pro_title_right h4{display:block; height:30px; margin:0px; padding-bottom:10px; font-size:18px;}
.pro_title_right p{font-size:14px;}


.right_cart_ul_box2{background:#ccc; padding:5px 0px;}
.right_cart_ul_box2 div{display:inline-block;}
.right_cart_price{width:100%; max-width:70px;}
.right_cart_price strong{font-size:14px;}

.right_cart_quantity{width:100%; max-width:70px; margin-right:20px;}
.right_cart_quantity input{border:1px solid green; border-radius:0px;}

.right_cart_subtotal{width:100%; max-width:70px;}
.right_cart_subtotal span{font-size:14px;}
.authenticateBtn{outline: none;}


.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }




















@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
    
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
    
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }

    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
    
}