#custom-loading-bar-spinner.pace-activity {
  display: block;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  width: 280px;
  height: 280px;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#custom-loading-bar-spinner.pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

#custom-loading-bar-spinner.pace-activity::before,
#custom-loading-bar-spinner.pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 14px;
    left: 58%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

#custom-loading-bar-spinner.pace-activity::before {
    margin-left: -15px;
    margin-bottom: 25px;
    width: 30px;
    height: 30px;
    border-right-color: #00CBE9;
    border-left-color: #00CBE9;
    border-top-color: #FCC60A;
    border-bottom-color: #FCC60A;
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

#custom-loading-bar-spinner.pace-activity::after {
    bottom: 35px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: #00CBE9;
    border-bottom-color: #00CBE9;
    border-right-color: #FCC60A;
    border-left-color: #FCC60A;
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media(max-width:1024px) {
  #custom-loading-bar-spinner.pace-activity {
      top: 0;
      right: 0;
      width: 250px!important;
      height: 250px!important;
  }
  #custom-loading-bar-spinner.pace-activity::before {
      margin-left: -25px!important;
      width: 46px!important;
      height: 46px!important;
      bottom: 2px!important;
      left: 65%!important;
  } 
  #custom-loading-bar-spinner.pace-activity::after {
      bottom: 33px!important;
      margin-left: -1px!important;
      width: 34px!important;
      height: 35px!important;
  }
}