ul{list-style-type: none;margin: 0;padding: 0}
.no_padding{padding:0px;}
.padding_right{padding-right: 10px;}
.padding_left{padding-left: 10px;}
.has-success .form-control{border-color:#ccc;}
.padding_right_none{padding-right: 0px;}
.padding_left_none{padding-left: 0px;}

textarea:focus, input:focus, button:focus, a:focus{outline: none !important; border-color:#cdcdcd; -webkit-box-shadow: none; box-shadow: none; }
.form-control:focus{border-color:#cdcdcd; outline: 0; -webkit-box-shadow:nonenone ; box-shadow:none ; }

.tribe.main-search-sns.filter-sns ul{padding-left:85px !important;}
.col-md-12-15{padding-left:10px !important;padding-right:10px !important;}
.bodyPad {padding-left:7.5px !important;padding-right:7.5px !important;}

.tribeContainer{background-color: #eff5f5}
.createNew{margin: 15px;background-color: #00cbe9;}
.createNew h4{margin:15px;color: #fff;cursor: pointer;}
.createNew h4>i{float:right;right: 0px;color: #fff;cursor: pointer;}
.tribeCategories .header{background-color: #6e7f87;}
.tribeCategories .header h4{color: #fff;padding: 15px 15px;font-size: 15px;margin: 0px;}
.tribeCategories .header h4 > i{color: #fff; margin-right: 5px;}
.tribeCategories{background-color: #fff;margin-top: 15px;}
.tribeCategoriesList{/* height: 450px; overflow: auto; */}
.tribeCategoriesList > ul{/* padding: 0 10px */}
.tribeCategoriesList > ul >li{padding: 5px 10px;border-bottom: 1px solid #d8e5e6;cursor: pointer;}
.tribeCategoriesList > ul >li h5{font-weight: bold;color: #2a84bf;margin-bottom: 0px;font-size: 14px;word-wrap:break-word;}
.tribeCategoriesList > ul >li h5:hover{ color: #23527c;}
.tribeCategoriesList > ul >li span{display: block;}
.tribeCategoriesList > ul >li span em{color: #a4afb3;font-style: normal;font-size: 13px;}
/* .tribeCategoriesList > ul >li span:hover{color: blue;text-decoration: underline;} 
.tribeCategoriesList > ul >li em:hover{color: blue;text-decoration: underline;} 
.tribeCategoriesList > ul >li p:hover{color: blue;text-decoration: underline;} */
.tribeCatPage .topTribeTop{margin-top: 0px;}
.tribeCatPage .clanMainTop{margin-bottom:0px !important;}
.topTribeTop{background: #fff;/* margin-top:15px; */padding: 2px 4px;border: 1px solid #dae5e7;
    border-top: none;}
.popTrb{margin-top: 15px  !important;background: #edf5f3 !important;}
.popTrb h4{font-size: 20px; /* margin-top: 12px; */ margin-left: 10px; color: #4d5457; font-weight: normal;}
.crtTrbBtn,.crtClnBtn{float: right; /* margin-top: 10px; */ border: 0px; background: #00cfe6; border-radius: 24px; color: #fff;font-size: 13px; padding: 4px 10px;margin-left:5px;}
.crtClnBtn{background: #fac60a !important;}
li .categorieTitle{color: #8b99a1;font-size:12px;cursor: pointer;}
.categorieTitle > i{padding:0 5px 0 5px;font-size:13px;}
li .categorieVal{color: #5bba55;font-size:13px;cursor: pointer;}
li .catClan{display: inline-block;margin: 0;color: gray;cursor: pointer;}
.tribe-main{margin: 2px;padding:0;}
.tribePost ul.traibeFirst{/* margin-top:15px; */padding-left: 0;/* height: 570px;overflow: auto ;*/background: #fff;}
.traibeFirst  .noResult{line-height: 570px}
.tribePost ul {/* overflow: auto; */background: #fff;}
.catTribeList{/* height: 475px; */min-height: 1150px;border: 1px solid #dae5e7;border-top: none;}
.tribePost ul li {background-color: #fff;border-bottom:1px solid #ccc;/* padding:3px 0 17px 0; */font-size: 9px;position: relative;}
.post-img img{height: 100px;width: 100px;margin: 10px 0;}
.post-details{padding-left: 0px;}
.post-details .pots-title{font-size: 16px;color: #4a95c9;margin-bottom: 6px;cursor: pointer;padding:0px;}
.post-details .post-date{font-size: 11px;color: #8b99a0;}
.post-details .post-date strong{display: block;}
.post-details em{display: block; font-size: 11px; font-style: normal; color: #8b99a0;}

.tribeslist .popTrb{margin-top: 0px;/* padding:0px 10px; */}
.crtTCBtn{padding: 10px 10px;}
.tribeCatPage .clanMainTop{padding: 10px 15px;background: #edf5f3;}
.tribeCatPage .clanMainTop .profileMainBreadCremp{background: #edf5f3;}
.tribeCatPage .clanMainTop .profileMainBreadCremp li{background: #edf5f3;}
.tribeSentiment{float: right;margin-top: -49px;}
.tribesP{position: absolute;}
.post-tribe-mood{height: 17px;width: 17px; left: 13px; top: 20px;background: #fcc60a; border-radius: 50%;} 
.post-details .tribeSentiment{margin-top: 0px}
.tribeSentiment button{width: 35px; height: 19px;border: 0; padding: 0px 6px; border-radius: 10px; color: #FFF; font-weight: bold; outline: none;cursor: auto;}
.post-details .tribeDescription{font-size: 14px;margin-top: 5px;}
.post-det-header {width: 90%; float: left;}
.post-det-sentiment {width: 10%;float: left; margin-top: 10px !important;}
.tribe-right-nav {width: 24%;}
.tribeContributorList .contributor-heder{background-color: #6e7f87;margin-top: 15px;}
.tribeContributorList .contributor-heder h4{color: #fff;padding: 15px 15px;font-size: 15px;}
.tribeContributorList .contributor-heder h4 > i{color: #fff;}
.topContributors {background: #fff; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0px; margin: 10px 0px;}
.topContributors ul > li:after{display: block;clear:both; content: '';}
.topContributors ul > li{/* margin-bottom: 10px; */ padding: 10px 10px;}
.topContributors ul > li:nth-child(odd){background: #f5faf9;}
.topContributors ul > li:nth-child(even){background: #fff}
.topContributors .contributor-img{/* width:20%; */ float:left;}
.topContributors .contributor-det {/* width: 76%; */ float: left;padding: 0 0 0 5px;margin-top: -10px;}
.topContributors .cntrb-title{font-size: 14px;color: #2882c1;margin: 8px 0px 3px 0px;}
.topContributors .cntrb-member{font-size: 9px;color: #8b99a0;margin-top: 0px;}
.topContributors .cntrb-content {/* width:80%;  float: left*/}
/* .topContributors .cntrb-tribe-mood{width: 18px; float: left; margin-top: 10px;} */
.topContributors ul{background: #fff;margin: 0px 0px;}
.topContributors .cntrb-tribe-sentiment{font-size: 10px; float: left; margin-top:0px;}
.topContributors .cntrb-desc {width: 100%; float: left;}
.cntrbtrSent.post-det-sentiment.tribeSentiment{margin-top: 0px !important;/* margin-left: 5px; */}
.cntrbtrSent.post-det-sentiment.tribeSentiment button{width: 30px; font-size: 9px; height: 15px;
    padding: 2px 2px 1px 5px;}

.cntribtImg{width: 53px;height: 53px;position: relative;}
.cntribtImg .cntrb-tribe-mood{width: 17px; height: 17px; position: absolute; right: 0px; bottom: 3px; border: 1px solid #fff; background: #fac60a;}
.cntrb-clan{font-size: 11px;color: #6e7f88;display: block;margin-bottom: 2px;}
/*Clan Page*/
.tribeClanPage{background-color: #eff3f4;border: 1px solid #d9e4e6; padding-bottom:50px;padding-top: 15px}
.clanProfileLeftPart{border: 1px solid #d8e5e6;}

.clanImage{height: 182px; width: 182px;position:relative;margin: 0 auto;text-align: center;}
.clanImage img{border: 0px;border-radius: 0px; padding:0px;}
.clanImage ul{position: absolute; bottom:0px;left: 0; right: 0;}
.clanImage ul li{display: inline-block; width:40.3px; border-top:5px solid rgba(0, 0, 0, 0.3);height: 50px; vertical-align: top;}
.clanImage ul li:hover{border-top:5px solid #fdc70b;}
.clanImage ul li img{border: 0px;border-radius: 0px; padding:0px;width: 100%;}

.clanDetils{padding: 8px 15px;}
.clanLeftBtns {padding-top:8px;}
.clanLeftBtns button{margin-bottom:8px; width: 100%;padding: 13px 15px;border:0px;background-color: #00cbe9;text-align: left;color: #fff;font-size: 15px;}
.clanLeftBtns button i{color: #fff;font-weight: normal;font-size: 19px;}

.clanLeftNav {}
.clanLeftNav ul{border:1px solid #dae5e7;}
.clanLeftNav ul li{border-bottom: 1px solid #eff5f5;padding: 13px 15px;color: #6e7f86;background-color: #fff;cursor: pointer;}
.clanLeftNav ul li a{width: 100%;}
.clanLeftNav ul li:hover{background-color: #00cbe9;color: #fff;}
.clanLeftNav ul li i{color: #e0ebed;font-size: 20px;}
.clanLeftNav ul li i:hover{color: #fff;}
#myTab .active{background-color: #fcc60a; color: #fff;}

.clanMain{padding: 0px;}
.clanMainTop{border:1px solid #dae5e7;padding:1px 5px;background: #fff;}

.profileMainBreadCremp{margin-bottom: 15px;}
.profileMainBreadCremp li{color: #6d7f89;display: inline-block;font-size: 12px;	/* cursor: pointer; */}
.profileMainBreadCremp li a{color: #6d7f89}
.profileMainBreadCremp li a:hover{text-decoration: underline;color: #00cbe9;}
.profileMainBreadCremp li i{color: #59def1;padding:0px 4px;}
.clanMainDetails {border-bottom: 1px solid #dae5e7;}

.clanMainDetails h4{color: #2682c1;margin: 0px;}
.clanMainDetails .sentimentScore{font-size:10px;}
.clanMainDetails em{display:block;color: #6e7f87;font-size: 13px;font-style: normal;}
.clanMainDetails span{display: block;color: #6e7f87;letter-spacing: 1px;font-size: 14px;font-weight: normal;padding: 10px 0px;}

.clanMainBottom {}
.clanMainBottom strong{float: left;margin:20px 5px 0 0;}
.clanMainBottom ul {float: left;}
.clanMainBottom ul li {display: inline-block;margin:17px 1px 0 1px;border:1px solid #dea5e7;border-radius:50px;font-size: 13px;padding: 1px 8px; height: 24px; line-height:19px;}
.clanMainBottom ul li a{font-size: 10px; text-align:center;color: #707e87}
.clanMainBottom ul li i{color: #fff}
.clanMainBottom ul li:last-child{background-color: #00cbe9;border:none;}
.clanMainBottom ul li:last-child a{color: #fff;}

.clanMainSecond {border:1px solid #dae5e7;background: #fff;margin-top:8px;}
.clanMainSecond table{background:#fff;}
.clanMainSecond table tr {border:0px;cursor: pointer;}
.clanMainSecond table tr:nth-child(even) {background-color: #f5fbfb;}
.clanMainSecond table tr:nth-child(odd) {background-color: #fff;}
.clanMainSecond table tr td {border:0px;}

.clanRight{}
.clanRightTop{}
.clanRightTopHeader{padding:6px; background: #fff;}
.calnRightPrflImg{float: left; height: 55px; width: 55px; margin-right:10px;}
.calnRightPrflImg img{width: 100%}
.clanRightPrfTitle{float:left; width:103px; margin-top:15px;}
.activeTribeMans .clanRightPrfTitle{margin-top:15px;}

.clanRightPrfTitle em{display:block; color: #6e7f87; font-size:10px;}
.clanRightPrfTitle h5{margin:0px; padding:2px 0px 10px 0px; color:gray; font-size:12px;font-weight: bold;/* cursor: pointer; */}

.clanRightTribeMens {padding:10px 10px; border-bottom:1px solid #ccc; background:#fff;max-height: 120px;overflow: auto;}
.clanRightTribeMens li{display:inline-block; margin:2px; height:49px; width:49px;}
.clanRightTribeMens li img{border-radius:50%; width:100%;}

.clanRightTribeMensPics{padding:9px 0px; background:#fff;}
.clanRightTribeMensPics p{font-size:12px; text-align:center;}
.clanRightTribeMensPics p b{}
.clanRightTribeMensPicsIcons{width:50px; margin:0 auto;}
.leftright{border:1px solid #c1ccce; border-radius: 50%; height:20px; width:20px; text-align:center; line-height:18px; font-size:14px; display:inline-block;}
.clanRightAds{margin-top: 15px;}
.tribePostePage{background-color: #eff3f4;border: 1px solid #d9e4e6; padding-bottom:20px;padding-top: 15px;margin-bottom: 30px}
.postPageMain{}
.profileRightAds{margin: 0 auto;text-align: center;}
.profileRightAds img{margin-top: 8px;border: none;padding: 0px;border-radius: 0; }
.postPageMain .profileMainBreadCremp{margin: 10px 0px 10px 11px;}
.postMainTopComment{background-color: #f8faf9;padding: 15px;border-bottom: 1px solid #fff;}
.postCommentImg{width: 52px;height: 52px;float: left;/* margin-top: 7px; */}
.postCommentImg img{width: 100%;}



.postPageMain .clanMainTop{padding: 0px;}
.postCommentBox{float: left;width: 100%; max-width: 244px; /* margin-left: 10px; */ }
.postCommentTextarea{border:1px solid #d8e6e7;position: relative;}
.postCommentTextarea .commentMood{top: 40px;}
.selectedMood{background: orange}
.postCommentTextarea textarea{resize: none; border:none; background: #fff; padding:5px;}
.postCommentImgUpload{border-bottom:1px solid #d8e6e7; border-right:1px solid #d8e6e7; border-left:1px solid #d8e6e7;}
.postCommentImgUpload label{width:100%; text-align:left; border-radius: 0px; }
.postCommentImgUpload label i{margin-right:8px;}
.postCommentImgUpload label:hover{background-color: #fff; border-bottom:1px solid #d8e6e7; border-right:1px solid #d8e6e7; border-left:1px solid #d8e6e7;}
.postCommentBox button{margin-top: 5px;color: #fff;background-color: #00cbe9;border:1px solid #00cbe9;border-radius: 24px;padding: 5px 10px;}

.addClanPic{margin:0px; max-width: 100%;}
.addClanPic .postCommentTextarea input{position:relative;}
.addClanPic .postCommentImgUpload label{ position: absolute; width: auto; top: 9px; right: 5px; padding: 0px; border:none; background: transparent;}
.addClanPic .postCommentImgUpload label i{font-size:20px;}

.postPageMain .posterCommentSection .postCommentImg.pstCmtImg{width: 40px;height: 40px;}
.tribemanFeeds .posterCommentSection .postCommentImg.pstCmtImg{width: 45px;height: 45px;}

.postPageMainPoster{background: #fff; padding:10px 10px 30px 10px;  margin-top: 10px ;border: 1px solid #dae5e7;max-height: 700px; overflow: auto;}
.PostDetailController .postPageMainPoster{margin: 0px;}
.postPageMainPoster .post {border-bottom: 2px solid #ccc;position: relative;}
.tribeContributorList .postActiveMembers{margin-top: 0px;}
.posterProfile{clear:both;margin: 10px 0px;}
.posterProfile img{width: 50px;height: 50px;margin-right: 12px;}
.posterProfile h4{margin:0px; /* padding:11px 0px 3px 0px; */ color:#2682c1; font-size:16px;font-weight: bold}
.posterProfileRight{}
.posterProfile em{display:block; color: #6e7f87; font-size:12px;font-style: normal;}

.posterContent {clear: both; display: block; margin: 30px 0px}
.posterContent h4{margin:0px; padding:0 0px 8px 0px; color:#2682c1; font-size:14px;font-weight: bold;cursor: pointer;display: inline-block;}
.posterContent p{font-size: 12px;line-height: 15px;color: #241802}
.postImgThumb{width: 120px; float: left; margin: 0px 10px 15px 0px}

.postDI img{width: 100%}
.posterShare {margin-bottom: 10px;margin-top: 15px}
.posterShare ul {display: inline-block;}
.posterShare ul li {display: inline-block; height:25px; width:25px; margin-right:4px;}
.posterShare ul li:nth-of-type(1) {background: url(../img/icons/landing_likeicon_g.png) no-repeat 0 0 #fff;}
.posterShare ul li:nth-of-type(2) {background: url(../img/icons/afterlogin_shareicon_g.png) no-repeat 0 0 #fff;}
.posterShare ul li:nth-of-type(3) {background: url(../img/icons/afterlogin_arrowicon_g.png) no-repeat 0 0 #fff;}

.posterRelated {border-bottom: 1px solid #dae4e6;padding-bottom: 12px;margin-bottom: 8px;}
.posterRelated ul {}
.posterRelated ul li{display: inline-block; margin: 12px 0px 0 1px; border: 1px solid #dea5e7; border-radius: 50px; font-size: 13px; padding: 1px 8px; height: 20px; line-height: 15px;}

.posterRelated ul li a{font-size: 15px; text-align: center; color: #707e87;}
.posterRelated ul li a em.postRelatedClr{display: inline-block;background-color: green;height: 9px;width: 9px;border-radius: 50%;}

.posterCommentSection{clear: both;margin: 10px 0px;}

.posterCommentSection ul li{margin:8px 0px;} 
.postCommentTextBox{width: 100%; float: left; margin-left: 10px; max-width: 264px;}
.postCommentTextBox textarea{resize: none;}
.postCommentTextBox input{border-radius:0px;}
.postCommentTextBox strong{ color: #2882c0; font-size: 15px; display: block;margin-bottom: -4px;  /* padding: 10px 0px 2px 0px; */} 
.postCommentTextBox strong font{color:#6c7e88;font-size: 11px;font-weight: normal;}
.postCommentTextBox span{color:#2882c0;font-size: 12px; margin-right:4px;cursor: pointer;}
.postCommentTextBox em{color:#6c7e88;font-size: 12px; font-style:normal;}


.replyCommentImg{height: 30px; width: 30px; float: left;}
.replyCommentTextBox strong{font-size: 13px;margin-top: -3px;}
.noResult create-tribe-event{display: block; margin-top: 5px;}

 .noResult create-tribe-event button{background: #00cbe9; border: 1px solid #00cbe9; padding: 2px 20px;color: #fff;} .noResult button create-tribe{background: #00cbe9; padding: 2px 2px 2px 2px; border: 1px solid #00cbe9;}

.nrct create-tribe{background: #00cbe9; padding: 0px 0px 0px 0px; border: 1px solid #00cbe9; display: block;}
.noResult create-tribe li{border: 0px !important;}
.noResult create-tribe a{padding-left: 0px;cursor: pointer;/* text-decoration: underline; */}

.createTribePopup{}
.createTribePopup ul{padding: 15px;}
.createTribePopup ul li{padding: 15px;border-bottom: 1px solid #ccc;text-align: center;}
.createTribePopup ul li a{color: #6e7f87;}
.createTribePopup ul li a:hover{color: #fff;}

.createNew h4 > .popover{top: 65px !important; left: 0px !important; width: 100% !important; height: 119px !important; right: 0; display: block !important; margin: 0 auto; max-width: 182px;} .popover.bottom>.arrow{right:10%;} 
.createNew h4 > .popover .createTribePopup ul li{border:0px !important; padding:10px 15px;}
.createNew h4 > .popover .createTribePopup ul li:hover{background: #f5be0a;}

.tribeCreate-modal-window .modal-dialog {width: 100%;max-width: 500px;/* margin: 0 auto; */margin-top: 32px; }


/*create clan/tribe Modal Page*/
.tribeCreate .modal-header i{position: absolute; top: -9px; right: 7px; font-size: 18px;cursor: pointer;}
.tab_form{position:relative;width:100%;margin:0 auto; background:red;}
.tab_form_title{text-align:center; background:#01cae8; padding-top:30px; position:relative; padding-top:60px;}
.ctreateTitle{position: absolute; top: 15px; left: 0; right: 0; text-align: center; padding:0px; margin:0px;}

.tab_form_title h4{color:#fff; font-size:28px; font-weight:normal; padding-bottom:30px;}
.ctreateTitle.fromTrbPg{font-size:20px;}
.ctreateTitle.fromTrbPg strong{color: #000;}
.tab_form_ul{width:100%; max-width:248px; margin:0 auto; border-bottom:0px !important; text-align:center; display:block;}

.tab_form_ul li{display:block; width:100%; max-width:123px;  border-right:1px solid #15a6bb; margin:0px; cursor:pointer;font-size:16px; font-weight:bold; color:#fff; margin:0 auto; background:#00b4cd; border-radius:0px; border-bottom:0px; padding:10px 8px; float:none;}

.tab_form_ul li:hover{background:#fcc60a; border-radius:0px; color:#fff; border:none;}

.tab_form_ul li:last-child{}
.tab_form_ul li.active{background:#fcc60a !important; color:#fff !important; cursor:pointer;}
.tab_form_ul li.active:hover{color:#fff !important; background:#fcc60a !important;}
.nav-tabs { border-bottom:0px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{background:#00b4cd;}





.tribeCreate .tab-content{border-bottom: 0 none !important; margin: 0 auto; max-width: 100%; width: 100%; padding:30px 10px; background:#ccc;} 
.tribeCreate .tab-content .tab-pane{text-align:left; margin: 0 auto; max-width: 370px; width: 100%; }
.tribeCreate .tab-content .tab-pane form{}
.tribeCreate .tab-content .tab-pane form .form-group{}
.tribeCreate .tab-content .tab-pane form .form-group label{color:#6d8087; font-size:14px;}
.tribeCreate .tab-content .tab-pane form .form-group .form-control{border:1px solid #dae5e7;}
.tribeCreate .closeBtn{}
.clanPhotos{background-color: #fff;/* padding: 10px; */}
.clanePictureGrid{padding: 10px;}
.clanePictureGrid h4{border-bottom: 1px solid #dae5e7;font-size: 18px;padding:0 0 12px 0;margin:0 0 14px 0;color: #2682c1;}
.clanePictureGrid{}
.clanePictureGrid ul {text-align: center;}
.clanePictureGrid ul li {display: inline-block;margin: 3px;height: 109px;width: 109px;position: relative;}
.clanePictureGrid ul li img{width: 100%;cursor: pointer;}


.clanEvents{background-color: #fff;/* padding: 10px; */}
.claneEventsList{padding: 10px;}
.claneEventsList h4{border-bottom: 1px solid #dae5e7;font-size: 18px;padding:0 0 12px 0;margin:0 0 14px 0;color: #2682c1;}
.claneEventsList ul{max-height:300px; overflow: auto}
.claneEventsList ul li{padding-bottom: 15px; border-bottom: 1px solid #dea5e7; margin-bottom: 15px;}
.claneEventsList ul li:after{display:block; clear:both; content: '';}
.claneEventsList input{border-radius: 10px;width: 100%;border:2px solid #00cbe9;outline: none;padding-right:23px;font-size: 14px;}
.claneEventsList  .searchBox {position: relative;}
.claneEventsList  .searchBox i{position: absolute;top: 3px;right: 6px;font-size: 14px;}

.clanEventImg {float: left;width:100%;max-width:80px; height:80px; margin-right: 15px;}
.clanEventImg img{width:100%; height:100%;}

.clanEventDetails {float: left;width:100%;max-width:253px;}
.clanEventDetails h5{margin:0px; padding:0px; line-height:11px; font-size: 15px;color: #2683c0; }
.clanEventDetails span{font-size:9px; display:block; padding-bottom:7px;color: #6e7f87;}
.clanEventDetails span strong{color: #3e4b51;}
.clanEventDetails p{font-size:13px;}

.clanTribeMans{background-color: #fff;/* padding: 10px; */}
.claneTribemansList h4{border-bottom: 1px solid #dae5e7;font-size: 18px;padding:0 0 12px 0;margin:0 0 14px 0;color: #2682c1;}
.claneTribemansList{padding: 10px;max-height: 450px; overflow: auto;}
.claneTribemansList .tribeTribemanList{max-height: 300px;overflow: auto;}

.claneTribemansList table{margin: 0px;}
.claneTribemansList table tr{padding: 10px 0; display: block;}
.claneTribemansList table tr td{vertical-align:middle;color: #6e8188; font-size:11px;border:0;}
.claneTribemansList table tr td h5{margin:0px; padding:0px; line-height:11px; font-size: 13px;color: #2683c0;}
.claneTribemansList table tr td span{display: block; color: #6c7f86; margin: 0px; padding: 5px 0 3px 0;}
.claneTribemansList table tr td em{display: block;color:#6c7f86;font-size: 10px; font-style:normal;}
.claneTribemansList table tr td .tribeSentiment{font-size: 10px; float: none; margin: 0px !important; padding: 0px;}
.claneTribemansList table tr td img.post-tribe-mood{width: 18px;height: 18px;}
.claneTribemansList table tr td i{color: #becfd6;font-size: 20px;font-weight: 400;}

.claneTribemansList table tr:nth-child(even) {background-color: #f5fbfb;}
.claneTribemansList table tr:nth-child(odd) {background-color: #fff;}
::-webkit-scrollbar {display: none; }
::-moz-scrollbar {display: none; }
::scrollbar {display: none; }

.claneTribemansList h4{border-bottom: 1px solid #dae5e7; font-size: 18px; padding: 0 0 12px 0; margin: 0 0 14px 0; color: #2682c1;}
.tribePicDetais .modal-header{background-color: #00cbe9;padding: 30px 40px;}
.tribePicDetais h3{color: #fff;font-size: 18px;margin: 0px;}
.tribePicDetais .modal-header h3 i{top: 10px !important;}
.pictureDetailsMain{background-color: #fff;padding: 20px 30px;}
.pictureDetailBigimg{position:relative; padding:25px 0px;}
.pictureDetailBigimg img{width:100%;}
.pictureDetailBigimg .pictureDetailBigimgIcon{position: absolute; width: auto; bottom:0px; left: 40px;}
.pictureDetailText{position: relative;padding-bottom: 18px;}
.pictureDetailText h4{color: #2683c0;font-size: 16px;}
.pictureDetailText p{font-size: 12px;}
.pictureDetailImgs {}
.pictureDetailImgs ul {}
.pictureDetailImgs ul li{width: 85px;height: 85px;display: inline-block;margin: 0;border-top: 5px solid #fff;}
.pictureDetailImgs ul li:hover{border-top: 5px solid #fcc60a;}
.pictureDetailImgs ul li.active{border-top: 5px solid #fcc60a;}
/* .pictureDetailImgs ul li::after{border-bottom: 5px solid red; border-left: 5px solid red; border-right: 5px solid red; height:0px; width:0px; position: absolute; content:'';}
 */
.pictureDetailImgs ul li img{width: 100%;height: 100%;}
.pictureDetailText .posterShare{position: absolute; top: -20px; right: 0; }

/*Profile Page*/
.tribeProfilePage{background: #edf5f3;margin-bottom: 20px;padding-bottom: 15px;position: relative;}
.profilePageLeft{margin-top: 15px;}
.profilePageLeft h4{color: #2882c1; padding: 20px 0px 15px 0px; font-size: 16px; text-align: center;} 

.trbPrfl{padding-top: 25px;}
.profileImg{background-color: #fff;margin: 0px auto;height: 150px; width: 150px;text-align: center;position: relative;}
.profileImg img{border: 10px solid #eff4f5;border-radius: 50%;width: 100%;/* margin-bottom: 15px; */}
.profileImg button{color: #fff; background: #fac20a; width: 35px; border-radius: 100%; height: 35px; position: absolute; bottom: -20px; right: 45px; border: 3px solid #fff; padding: 3px 1px 3px 3px;cursor: pointer;} 
.profileDetails{}
.profilePageLeftTop{background-color: #fff;border: 1px solid #d9e5e7;}
.profileStatus {background-color: #edf5f3;padding: 10px; box-sizing: border-box;/* border:1px solid #d9e5e7; */}
.profileStatus span>i{width: 10px;height: 10px;border-radius:50%;background-color: #2de045;display: inline-block;margin-right: 5px;}
.profileStatus span{font-size: 13px;}

.profileSecondStatus {/* border:1px solid #e9f0f0; */border-top: none; /* padding:4px 7px 7px 7px; */}
.profileSecondStatus ul {border-bottom: 1px solid #d5e3e6;}
.profileSecondStatus ul li {padding:10px 15px;}
.profileSecondStatus ul li span{font-size: 13px;color: #6e7d85; margin:0px;}
.profileSecondStatus ul li span i{font-size: 14px;margin-right: 5px;}
.profileSentimentVal{padding:10px;}
.profileSentimentVal span{font-size: 13px; margin:0px;}
.profileSentimentVal span em{font-style: normal; color: #6e7d85;font-size: 9px; text-align: center; display: block; }
.profileSentimentVal span img{height: 16px; width: 16px; margin-right: 5px;}
.profileSentimentVal span em.post-det-sentiment{margin-top: 1px !important; margin-right:3px;}
.prflSentimet{float: right;}

.profileActivites,.profileIgonre {padding: 10px;border:1px solid #e9f0f0;border-top: none;}
.profileActivites button,.profileIgonre button{text-align: center;background-color: #00cfe6;color: #fff;padding:10px 20px;display: block;border-radius: 50px;border: none;    margin: 5px auto; width: 100%; max-width: 145px;outline: none; }
.profileIgonre button{width: auto;max-width: auto;}
.profilePageLeftBottom{margin-top: 10px;}
.profilePageLeftBottom ul {padding: 7px;background: #fff;}
.profilePageLeftBottom ul li{padding: 3px 0px;}
.profilePageLeftBottom ul li em{font-size:11px; }

.profilePageMiddle{border:1px solid #e9f0f0;margin-top: 15px}
.profilePageMiddle .tab-content{min-height: 250px;}
.profilePageMiddleTabs{border-bottom:2px solid #e9f0f0;}
.profilePageMiddleTabs li{border-right:1px solid #e9f0f0; padding:9px 10px;background: #fff;width: 20%; text-align: center; font-size: 13px;}
.profilePageMiddleTabs li:last-child{border-right:0px; }
.profilePageRight{}
.profilePageMiddleTabs li.active{background-color: #fcc60a; color: #fff;}
.profilePageMiddleTabs li:hover{background-color: #fcc60a; color: #fff;}

.profilePageRight{margin-top: 15px;}
.profilePageRightTop {background-color: #fff;border: 1px solid #bfc7c9;}
.profilePageRightTop h4{background-color: #363c45;margin-top: 15px;color: #fff;padding: 15px 15px;font-size: 15px;margin:0px;}
.profilePageRightTop ul{/* padding:0 8px; *//* border-bottom: 1px solid #e9f0f0 */}
.profilePageRightTop ul li{/* padding: 5px 0; */padding: 14px 9px;border-bottom: 1px solid #d8e5e6;}
/* .profilePageRightTop ul li strong{display:inline-block; margin:0px;width: 100%; max-width: 91px;word-wrap: break-word;color: #2c8ed6;}
 *//* .profilePageRightTop ul li strong:hover{color: #000;} */

.profilePageRightTop ul li span{display:inline-block; margin:0px;}
.profilePageRightTop ul li span img{height:30px; width:30px; border-radius:50%;}
.profilePageRightTop ul li span strong{font-size:12px; padding:0px 0px 0px 4px; }
.profilePageRightTop ul li span em{display:inline-block; height:8px; width:8px; background:green; border-radius:50%; margin-top:12px;}
.profilePageRightTop p{font-size: 12px;text-align: center; padding: 10px 5px}

.profilePageRightBottom{margin-top:15px;}
.profilePageRightBottom h4{background-color: #363c45;margin-top: 15px;color: #fff;padding: 15px 15px;font-size: 15px;margin:0px;}

/*create Event Modal Page*/
.tribeMessage-modal-window .modal-dialog{width: 100%;max-width: 538px;margin: 60px auto;}
.crea_a_eve{width:100%; max-width:537px; margin:0 auto; background:#fff;position: relative;}
.crea_a_eve.inviteTribe{max-width:100%}
.crea_a_eve i.fa-times {padding: 0;cursor: pointer; color: #fff;position: absolute;top:9px;right: 10px;}
.clan_title{color:#fff; font-size:20px; text-align:center; display:block; background:#01cae8; padding:20px 20px; box-sizing:border-box; margin:0px;}
.crea_a_eve_top{padding:15px 6px; background:#f5f7f6;}
/* .crea_top_left img{padding:0px 15px 0px 0px}
 */.crea_top_left strong{padding:8px 0px 0px 0px; display:block; color:#2982be; font-size:17px;}

.createEventSentiment{width:100%; max-width:160px; float:right;}
.createEventSentiment .prflSentimet{float:left;}
.createEventSentiment .tribeSentiment{}
.createEventSentiment span em{display:inline-block; margin:0px 6px;}

.form-area{width:100%; max-width:400px; margin:0 auto; padding:20px; box-sizing:border-box;}
.form-area form{}
.form-area form .form-group{}
.form-area form .form-group label{}
.form-area form .form-group input{border: 1px solid #ccc;}
.form-area form .form-group textarea{border: 1px solid #ccc;resize: none;}
.eventDate{position: relative;}
.eventDate input{position: relative;}
.eventDate span{position: absolute;margin: 0;bottom: 6px; right: 8px;}
.eventDate span i{color: #abb9c2;}
.form-area form button{border-radius: 50px;background: #00cfe6;border:none;}

.form-area .postCommentTextarea textarea{border-radius: 0px;border-bottom: 0 !important;}
.tribePost .clanMainTop{margin-top: 13px;/* margin-bottom: 5px; */}
.tribePost .clanMainTop ul.profileMainBreadCremp {margin-bottom:0;}
.tribePost ul.profileMainBreadCremp li {font-size: 13px;border: 0;margin-bottom: 0px;}
.catActive {background-color: #fcc60a; color: #fff;}
.catTrieActive {background-color: #fcc60a; color: #fff;}
.catAtribe{text-decoration: none !important;}

.tribeImgDiv{display: none;}
.pf-pic-ul .tribeImgDiv{display: block;position: relative;}
.defualtUpImg{position: absolute; bottom: 35px; right: 35px; background: #01cae8; border-radius: 100%; padding: 15px;cursor: pointer;}
.tribeContainer,.tribeClanPage{position:relative;padding-bottom: 20px;}
.tribeContainer .spin-loading,.tribeClanPage .spin-loading{position:absolute; height:100%; width:96%; background:#c6d4d5; z-index:9; opacity:0.5;}
.tribeContainer .spin-loading .uil-spin-css,.tribeClanPage .spin-loading .uil-spin-css{position:absolute; left:25%; top:25%;
-ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.crea_a_eve .modal-header{padding: 0px;}

.tribeClanProfilePage{background:#eff5f5; padding:15px 0 30px 0px;}
.tribeProfilePageCenterTop{background:#fff;}
.tribeProfilePageCenterTop .clanMainTop{border:0px;}

.tribeClanProfilePage .spin-loading{position: absolute; height: 100%; background: rgb(239, 245, 245); width: 98%; z-index: 99;opacity: 0.6;}
.tribeClanProfilePage .uil-spin-css{position: absolute; z-index: 99; left: 50%; top: 50%;  -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}

.clanMainTopLeft{float:left;}
.clanMainTopLeft ul{margin:0px;}
.clanMainTopLeft h4{font-size: 18px; margin: 10px 0 0px 0; color: #2682c1;} 
.clanMainTopLeft em{display: inline-block; color: #6e7f87; font-size: 12px; font-style: normal;}
.tribeProfileMembersCount{display: inline-block;}
.clanMainTopLeft span{}
.clanMainTopLeft p{margin:6px 0px 0px 0px; font-size: 12px; line-height: 15px; color: #241802;}
.tribeProfileCenter{}
.tribeMainDescription{clear:both; float:none; margin-top:5px; display:block	;font-family: 'Lato', sans-serif;
}
.tribeMainDescription p{margin:6px 0px 0px 0px; font-size: 12px; line-height: 15px; color: #241802;word-wrap: break-word;}
.clanMainTopRight{float: right}
.clanMainTopRight .clanMainTopRightRound{height:60px; width:60px; border:2px solid #e9f0f0; padding:5px; border-radius:50%; /* background:#fcc60a ;*/ color:#fff;}
.clanMainTopRight .clanMainTopRightRound strong{display:block; text-align:center}
.clanMainTopRight .clanMainTopRightRound span{display:block; text-align:center;}

.profileMainBottom {border-top: 2px solid #e9f0f0; border-bottom: 2px solid #e9f0f0;padding-bottom: 8px; padding-top: 8px;padding-left: 8px; margin-top: 10px;} 
.profileMainBottom strong{float: left;margin:2px 3px 2px 3px;}
.profileMainBottom ul {float: left;}
.profileMainBottom ul li {display: inline-block;margin:2px 4px;border:1px solid #dea5e7;border-radius:50px;font-size: 13px;padding: 1px 8px; height: 24px; line-height:19px;background: #dea5e7;}
.profileMainBottom ul li a{font-size: 10px; text-align:center;color: #fff}
.profileMainBottom ul li i{color: #fff}

.tribeProfilePageCenterBottem{background:#fff;}
.tribeProfilePageCenterBottem .profilePageMiddle .profilePageMiddleTabs{border-bottom:2px solid #e9f0f0;}
.tribeProfilePageCenterBottem .profilePageMiddle .profilePageMiddleTabs li{padding:9px 23px;}
.tribeProfilePageCenterBottem .profilePageMiddle .profilePageMiddleTabs li:last-child{padding:9px 25px;}
.tribeProfilePageCenterBottem .tab-pane h4{padding: 10px 0;}
.tribeProfilePageCenterBottem .profilePageMiddle .tribeclans ul{max-height: 300px; overflow: auto;}
.tribeProfilePageCenterBottem .profilePageMiddle .tribeclans ul li{border-bottom: 1px solid #e9f0f0; margin: 5px 0px; padding: 5px 0px; }
.tribeProfilePageCenterBottem .profilePageMiddle .tribeclans ul li .post-img img{width:66px; height:auto; margin:0px;}
.tribeProfilePageCenterBottem .profilePageMiddle .tribeclans ul li .post-details .post-det-header h4{margin-top:0px;}
.tribeProfilePageCenterBottem .profilePageMiddle .tribeclans ul li .post-details .tribeSentiment button{font-size:10px;}
.tribeProfileClanPage h4{border-bottom: 1px solid #dae5e7; font-size: 18px; padding: 0 0 12px 0; margin: 0 0 14px 0; color: #2682c1;margin: 0px;}

.tribeSearchDiv{position: relative;}
.tribeSearchDiv input{padding: 0px 0px 0px 84px;font-size: 14px;background: #fff;border: 1px solid #00cce7;}
.serachTribe {display: block; background: #00cce7; border-radius: 50px; padding: 4px 5px 5px 5px; position: absolute; z-index: 99; top: 3px; left: 4px;} 
.serachTribe em{font-style: normal;color: #fff;font-size: 13px;padding: 0 5px;}

.postCommentTextBox{position: relative;padding-top: 3px;}
.commentMoodMain{}
.commentMood{display: block; font-size: 28px; position: absolute; top:4px; right: 7px; color: #ccc; cursor: pointer; height: 29px; width: 30px; vertical-align: middle; text-align: right;}
 .commentMood:hover{color:#000;}
.commntMoodExp{display: none;transition: 0.5s;}
#hidden {display:none; color: orange; padding: 8px 13px; }
#hidden:hover{display:block;}
#cheetah:hover > #hidden {display:block; position: absolute; background: #fff;border: 1px solid #ccc; border-radius:50px; top: -50px; right: 0px;transition: 0.5s; }
#cheetah:hover > #hidden li{display:inline-block;}
#hidden li img{height:30px; width:30px; margin:3px; cursor:pointer;}
#hidden li:hover img{-webkit-transform: scale3d(1.4, 1.4, 1); transform: scale3d(1.4, 1.4, 1);background: orange; border-radius: 100%;transition: 0.5s; }
.clickBr{-webkit-transform: scale3d(1.4, 1.4, 1); transform: scale3d(1.4, 1.4, 1);background: orange; border-radius: 100%;transition: 0.5s;}

.star-rating { margin: 0; padding: 0; display: inline-block; } .star-rating .star { padding: 1px; color: #ddd; font-size: 20px; text-shadow: .05em .05em #aaa; list-style-type: none; display: inline-block; cursor: pointer; } .star-rating .star.filled { color: #fd0; } .star-rating.readonly .star.filled { color: #666; } .rateStar:hover{color: #00cbe9}
.postRate ul li{border:0;}

.spanInline{display:inline-block;cursor: pointer;color: #ccc}
.spanInline:hover{color: #000;}
.postDetailsEdit{position: absolute;top: 0;right: 15px;}
.postDetailList li{position: relative;}
.editDelete li:hover{color: #fff;background: #0CF337}

.postCommentModal{padding-bottom:0px; padding-top:0px;}
.postCommentModal .createEventSentiment{width:100%; max-width:100%; float:none; padding:10px 0px;}
.postCommentModal .createEventSentiment .pull-right em img{height:25px; width:25px;}

.postCommentModalCommentSection{}
.postCommentModalCommentSection ul li{display:block;}
.postCommentModalCommentSection ul li .postCommentTextBox{max-width:294px;}
.postCommentModalCommentSection ul li .postCommentTextBox textarea{width:100%; height:79px;}
.postCommentModalIcon i{top:47px;}
.postCommentModalIcon ul{}
.postCommentModalIcon ul li{display:inline-block;}
#cheetah .commentModalMoodExp{position: absolute; top: 73px !important; padding: 2px;}
.form-area button{margin-top:10px;}
.post_comment_model .fa.fa-times,.postUpdateModal .fa.fa-times{cursor: pointer;}
.postCommentTextBox .feeling{width: 20px;height: 20px;background: #fcc60a; }


.postUpdateModal .tribeImgDiv.postDynImg{display: block;}
.picDel{position: absolute; z-index: 99; top: -32px; right: 5px;}
.picDelBack{width: 0; height: 0; border-top: 38px solid #fcfcfc; border-left: 38px solid transparent; position: absolute; cursor: pointer;right: 0; top: -3px;}
.picDelBack i{color:#ebebeb}
.picDelBack:hover{ border-top: 38px solid #ebebeb;}
.picDelBack:hover i{color:#000;}

.postCommentTextarea  #cheetah:hover > #hidden{top:5px;padding-right: 5px; }
.postCommentTextarea #hidden{padding: 0px}
.commentLike i{font-size: 18px;cursor: pointer;color: #7a88cc;}
.unlike i{color: #4e4ec7;} 

.tribeClanCreate li a{color: #fff; padding-left: 25px; font-size: 16px;}
.relatedTribes .noResult{padding: 3px 0 0px 30px;}

.activeTribeMans .tribeContributorList .contributor-heder{margin: 0;}
.activeTribeMans .tribeContributorList .contributor-heder h4{margin: 0;}
.tribe-right-nav .contributor-heder h4{margin: 0;}
.tribe-right-nav .topContributors{padding: 0px;margin: 0px;min-height: 1200px;}
.claneTribemansList .noResult{background: #fff; border-top: 1px solid #ccc;}
.clanePictureGrid ul{background: #fff}
.clanePictureGrid ul li img{border:1px solid #fff; }

.tribemanFeeds .postMainTopComment .postCommentBox{max-width: 100%;}

.clanRightTop .topContributors ul{/* overflow: auto; height: 200px; margin-bottom: 20px; */overflow: auto; height: 118px;text-align: center;}
.clanRightTop .topContributors ul li{margin: 5px; display: inline-block; height: 50px; width: 50px;cursor: pointer;}
.clanRightTop .topContributors ul li:hover{border: 2px solid #fcc60a}

.clanRightTop .topContributors ul li img{width: 100%;float: none;}
.postPageMain .postMainTopComment .postCommentBox{max-width: 100%;}
.profilePageLeftBottom .categorieTitle:hover{text-decoration: underline;}
.profilePageLeftBottom .categorieVal:hover{text-decoration: underline;}


.tribeProfilePageCenterBottem .profilePageMiddleTabs li{width: 25%;}
/* .tribeProfilePage .spin-loading{position: fixed;z-index: 9999;top: 50%;left: 50%;transform: translate(-50%, -50%);} */

.tribeProfilePage .spin-loading{position: absolute; height: 100%; background: rgb(239, 245, 245); width: 98%; z-index: 99;opacity: 0.6;}
.tribeProfilePage .uil-spin-css{position: absolute; z-index: 99; left: 50%; top: 50%;  -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}

.tribemanFeeds .postMainTopComment{border:0;} 
.tribemanBreadcamp{background: #fff; padding: 9px 0px 0px 0px; border-bottom: 1px solid #fcfcfc;}

.sendMsgPrfl{width: 47px;height: 47px;}
.sendMsgPrfl img{width: 100%;padding: 0px;}

.profileImg i{cursor: pointer;/* margin: 5px 5px; */}
.sendMsg .postCommentTextarea img.commentMood{bottom: 0px !important; position: absolute; right: 0px;top: 0px !important;}

.friendListPrf{height: 53px;width: 47px;}
.friendListPrf img{width: 100%;}

.tribeclans .tribeDescription{font-size: 11px;}
.tribeclans .pots-title{padding: 0px;margin-top: 0px;}
.tribeclans .tribeSentiment{margin-top: -38px;}
.tribeclans .tribeSentiment button{padding: 1px 4px;font-size:11px}

.tribeEventList ul li{padding: 10px 0px;}
.tribeEventList .clanEventDetails p{font-size: 11px}

.tribeProfilePage .claneTribemansList table tr td h5, .fiendProfilePage .claneTribemansList table tr td h5{cursor: pointer;}

.updatePrflPicImg{width: 54px;height: 54px;}
.updatePrflPicImg img{width: 100%}


.profileMainBreadCremp.clanBradcrumb{margin:0px;padding: 15px; background: #fff; border: 1px solid #dae5e7;border-top: none;}	

.inviteTribe .inviteTribePrPf{width: 64px; height: 64px;}
.inviteTribe .inviteTribeProfileName strong{line-height: 60px;}
.inviteTribe .clan_title{padding: 35px 20px}
.inviteTribe .profileSentimentVal{padding-top: 27px;}
.inviteTribe .modal-header{position: relative;}
.inviteTribe .modal-header i.fa-times{padding: 0; right: 10px; top: 10px;}


.container.slider img{width:100%;background: #fff;}
.profilePageRightBottom .clanImage{width:100%; height:100%; }
 .profilePageRightBottom .clanImage ul li{border-top:5px solid transparent}

.profilePageRightBottom .arrow {cursor: pointer; display: block; height: 64px; margin-top: -35px; outline: medium none; position: absolute; top: 50%; width: 64px; z-index: 5; }
.profilePageRightBottom .arrow.prev {background-image: url("../images/prev.png"); left: 20px; opacity: 0.2; transition: all 0.2s linear 0s; } 

.profilePageRightBottom .arrow.next {background-image: url("../images/next.png"); opacity: 0.2; right: 20px; transition: all 0.2s linear 0s; }
.profilePageRightBottom .arrow.prev:hover{opacity:1; }
.profilePageRightBottom .arrow.next:hover{opacity:1; }

.profilePageRightBottom .nav {display: block;left: 0; margin: 0 auto; padding: 0; position: absolute; right: 0; text-align: center; width: 100%; z-index: 5; bottom: 0;} 
.profilePageRightBottom .nav li {cursor: pointer; display: inline-block; height:43px; position: relative; width: 38px; }
.profilePageRightBottom .nav li.active {border-top:5px solid rgba(0, 0, 0, 0.3)} 
.profilePageRightBottom .nav li img {width: 100%; }
.profilePageRightBottom .slider {height:171px; margin:0px auto; position: relative; width:100%; }
.profilePageRightBottom .slide {position: absolute; top: 0; left: 0;height: 171px; }

.inviteTribeFriendShow {padding: 3px;}
.inviteTribeFriendShow .inviteFrndDetails{width: 40px; height: 40px;}
.inviteTribeFriendShow .inviteTribe  h4{line-height: 40px;}


.crtTrbClnBtn{text-align: center; display: block; margin: 0 auto; border-radius: 25px; border: 0; padding: 7px 20px; color: #fff; background-color: #4491ca;}

.sendMsg {max-width: 100%;}
.sendMsg .clan_title{font-size: 24px; line-height: normal; text-align: left; font-weight: 600;font-family: 'Lato', sans-serif;padding: 20px 40px;}
.sendMsg  .form-area{max-width: 100%;padding: 20px 40px;}
.sendMsg .form-area form .form-group textarea{height:96px;}
.sendMsg .crea_a_eve_top{padding: 15px 26px;}
.sendMsg .createEventSentiment{max-width: 180px;}

.userFeeds .posterProfile img{width: 100%;}
.tribemanFeeds .postMainTopComment{padding: 10px;}
.tribemanFeeds.postMainTopComment{padding: 0px;}


.tribePicDetais i.fa-times {padding: 0;cursor: pointer; color: #fff;position: absolute;top:9px;right: 10px;}

.frndRequestPendingList{padding: 0px;}
.frndRequestPendingList li{padding: 5px 5px;border-bottom: 1px solid #ccc;}

.frndRequestPendingList .acceptRejectBtns,.profileInvitations .acceptRejectBtns{display: inline;float: right;}
.frndRequestPendingList a strong{/* font-weight: 400; */font-size: 14px;}
.frndRequestPendingList a:hover{text-decoration: underline;}

.frndRequestPendingList .reqImg{width: 40px; height: 40px; display: inline; float: left;}

.frndRequestPendingList img{margin-top: 0px}
.frndRequestPendingList .acceptRejectBtns button,.profileInvitations .acceptRejectBtns button{border-radius: 100%; border: none; color: #878787; text-align: center; /* height: 20px; width: 20px; */ margin: 0 3px;}
.frndRequestPendingList .acceptRejectBtns button i,.profileInvitations .acceptRejectBtns button i{font-size: 11px; font-weight: normal;vertical-align: middle;}

.frndRequestPendingList .acceptRejectBtns .acceptBtn,.profileInvitations .acceptRejectBtns .acceptBtn{background: #fff; border: 1px solid #878787;}
.frndRequestPendingList .acceptRejectBtns .rejectBtn,.profileInvitations .acceptRejectBtns .rejectBtn{background: #fff;color: #878787;border: 1px solid #878787;}

/* .frndRequestPendingList .acceptRejectBtns .acceptBtn:hover{background: #00cbe9;color: #fff;}
.frndRequestPendingList .acceptRejectBtns .rejectBtn:hover{background: #f00;color: #fff;} */

.readMoreDiv{/* border-bottom: 1px solid #bfc7c9; */background: #edf5f2;padding: 7px 0px;/* border-top: none; */}
.readMoreDiv .readHead{padding-left: 7px;}
.readMoreDiv .readHead span{font-size: 11px;margin: 0px;}
.readMoreDiv .readMore {padding-right: 7px;}
.readMoreDiv .readMore a{font-size: 12px;}



.profilePageMessages{background-color: #fff;margin-top: 15px;border: 1px solid #bfc7c9;}
.profilePageMessages h4{background-color: #363c45;margin-top: 15px;color: #fff;padding: 15px 15px;font-size: 15px;margin:0px;}
.profilePageMessages h4 i{margin-right: 5px;}
.profileInvitations{background-color: #fff;margin-top: 15px;border: 1px solid #bfc7c9;}
.profileInvitations h4{background-color: #363c45;margin-top: 15px;color: #fff;padding: 15px 15px;font-size: 15px;margin:0px;}

.profileMessageList{}
.profileMessageList li{padding: 5px 5px;}
.profileMessageList li .reqImg{width: 40px;height: 40px;}
.messageBody{padding-left: 7px;}
.profileMessageList li .messageText{font-size: 10px;}

.profileInvitationsList{}
.profileInvitationsList li{padding: 10px 10px;}
.inviteBody{padding-left: 10px;}
.inviteBody .inviteClanName{font-size: 12px;font-weight: bold;display: block;margin-top: 0px;}
.inviteBody .inviteDetails{padding-bottom: 5px;}
.profileInvitationsList li .reqImg{/* margin-top: 10px; */width: 40px;height: 40px;}
.profileInvitationsList li .reqImg img{}

.tribemanClans.tribePost{max-height: 750px;overflow: auto;}


.picture-slider-window .modal-dialog{width: 100%;max-width: 700px;height: 400px;}

.flexslider .slides img{height:100%; width:250px !important; margin:0 auto;}
.mainImg .flexslider ul.slides{height:330px;}
.thumbnel.flexslider-container ul.slides li img{width:100% !important;}
.thumbnel.flexslider-container #carousel ul.slides{/* width:100% !important; */}
.flex-direction-nav a{height:60px;}

#carousel img {display: block; opacity: .5; cursor: pointer; }
#carousel .flex-active-slide img {opacity: 1; cursor: default; }
.gallerySlidr .model-header h4{padding: 17px 28px;color: #fff;font-size: 24px;background-color: #00cae8;margin: 0px;font-weight: normal;}
.gallerySlidr i.fa-times {padding: 0;cursor: pointer; color: #fff;position: absolute;top:9px;right: 10px;}
.picture-gallery-bottam{padding: 7px;border: 1px solid #ccc;}
.picture-gallery-bottam span{font-size:12px; }
.picture-gallery-bottam a{font-size:12px;}


.inviteClanIcon{cursor: pointer;}
.PostDetailController{position: relative;}
.postDetailCloseIcon i.fa-times {padding: 0;cursor: pointer; color: #000;position: absolute;top:9px;right: 10px;}

.postDetailPic{height: 280px;width: 100%;}
.postDetailPic img{height: 100%;}

.post-details-window .modal-dialog{width: 100%;max-width: 475px;}
.PostDetailController{padding: 20px;}
.PostDetailController .postCommentTextBox{max-width: 340px;margin-top: 3px;}
.PostDetailController .postPageMainPoster{border: none;}
.postDetailTitle{}
.postDetailTitle h4{cursor: auto;}

.reqD{display: inline;/* padding-left: 10px ;*/word-wrap: break-word;}

.bookMarkList i{padding: 10px;cursor: pointer;}
.messagesList i{padding: 10px;cursor: pointer;}
.invitationList i{padding: 10px;cursor: pointer;}



.bookMarkListBody{}
.bookMarkListBody ul{padding: 10px;}
.bookMarkListBody ul li{padding: 5px 10px; color: #6d81be; cursor: pointer; background: #ccc; border: 1px solid #f0f0f0;}

.invitationsListBody{padding: 10px 0px;}
.invitationsListBody ul{padding: 0px 10px;max-height: 350px;overflow: auto;}
.invitationsListBody ul li{padding: 10px 0px;border-bottom: 1px solid #dedede;}
.invitationsListBody ul li strong{color: #67a2c9;font-size: 16px;}
.invitationsListBody ul li span{display: block;color: #6d7e85;font-size: 13px;}

.invAccBtns{}
.invAccBtns button{border: 0px; border-radius: 100%; color: #fff;}
.invAccBtns button i.fa-times{position: static;padding: 10px;}
.invAccBtns button.acceptBtn{background: #6ccf4e; }
.invAccBtns button.rejectBtn{background: #de5754; }


.msgListM{}
.msgListM .modal-header{}
.msgListM .modal-header h5{font-size: 27px;}

.messageListBody{}
.messageListBody ul{padding: 0px 10px;max-height: 350px;overflow: auto;}
.messageListBody ul li{padding: 10px 0px;}
.messageListBody ul li strong{color: #67a2c9;font-size: 16px;}
.messageListBody ul li p{display: block;color: #6d7e85;font-size: 13px;}
.msgMnBdy{border-bottom: 1px solid #dedede;}


.inviteClan{}
.inviteClan span{color: #6b808a;}


.inviteTribeManImg{width: 70px;height:70px;margin: 0 auto;}
.inviteTribeManImg img{width: 100%;height:100%;}

.profilePicUl .profileSentimentVal{max-width:170px;}

.replyDiv{}
.replyDiv .replyPfImg{width: 25px;height: 25px;}
.replyDiv input{height: 25px; display: inline-block; width: 80%; margin-left: 5px;border-radius: 0px;}




.sentMsg .postCommentTextarea .commentMood{bottom:0px; top:auto;}
.sendMsg #cheetah img.commentMood{   bottom: 5px !important; right: 5px !important; top: auto !important;} 
.sentMsg .commentMoodMain .commntMoodExp{position: absolute; top: auto; bottom: 27px; height: 40px;
    right: 4px; border: 2px solid red; border-radius: 25px;}
.sentMsg .commentMoodMain .commentMood .commntMoodExp{display:none;}
.sentMsg .commentMoodMain .commentMood .commntMoodExp li{display:inline-block;}

.sentMsg .postCommentTextarea .commentMood:hover .commntMoodExp{border:2px solid red;}

.sentMsg #cheetah:hover > #hidden{bottom:27px; top:auto;}











 /*--Responsive--*/
@media screen and (min-width: 992px) and (max-width:1200px ){
	.tribePost .post-img img{height: auto; width: 100%;} 
}
@media screen and (max-width: 991px) {
	.tribePost .post-img img{height: auto; width: 27%; margin: 0 auto; display: block;}
}

@media screen and (max-width: 767px) {
	.tribe-right-nav {width: 100%;}
	.post-img{text-align: center;}
}