<div class="crea_a_eve post_comment_model">
    <div class="pull-right">
        <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
    </div>
    <h5 class="clan_title">Update Comment</h5>
    <div class="crea_a_eve_top clearfix postCommentModal">
        <div class="col-md-12">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class="pull-left"><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(comment.postCommentSentiment)}}">{{ comment.postCommentSentiment | number:0 }}%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{commentMood}}.png" alt=""></em>
            <span>{{commentMood}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-area clearfix">
        <div class="posterCommentSection clearfix postCommentModalCommentSection">
            <ul>
                <li class="clearfix">
                    <div class="postCommentImg">
                        <img class="img-circle" src="/img/tribeImgs/tribeImg1.jpg" alt="">
                    </div>
                    <div class="postCommentTextBox">
                        <textarea class="form-control" ng-model="comment.comment" placeholder="Post a comment here...">
                        </textarea>
                        <div class="commentMoodMain postCommentModalIcon" id="cheetah">
                            <i class="fa fa-smile-o commentMood" aria-hidden="true"></i>
                            <ul class="commntMoodExp commentModalMoodExp" id="hidden">
                                <li><img tooltip-html-unsafe="ANGRY" tooltip-placement="top" ng-click="chooseCommetMood('ANGRY')" ng-class="{'clickBr': commentMood == 'ANGRY'}" src="img/exp_icons/ANGRY.png" alt=""></li>
                                <li><img tooltip-html-unsafe="DISGUST" tooltip-placement="top" ng-click="chooseCommetMood('DISGUST')" ng-class="{'clickBr': commentMood == 'DISGUST'}" src="img/exp_icons/DISGUST.png" alt=""></li>
                                <li><img tooltip-html-unsafe="FEAR" tooltip-placement="top" ng-click="chooseCommetMood('FEAR')" ng-class="{'clickBr': commentMood == 'FEAR'}" src="img/exp_icons/FEAR.png" alt=""></li>
                                <li><img tooltip-html-unsafe="HAPPY" tooltip-placement="top" ng-click="chooseCommetMood('HAPPY')" ng-class="{'clickBr ': commentMood == 'HAPPY '}" src="img/exp_icons/HAPPY.png" alt=""></li>
                                <li><img tooltip-html-unsafe="SAD" tooltip-placement="top" ng-click="chooseCommetMood('SAD ')" ng-class="{'clickBr ': commentMood == 'SAD '}" src="img/exp_icons/SAD.png" alt=""></li>
                                <li><img tooltip-html-unsafe="SURPRISED" tooltip-placement="top" ng-click="chooseCommetMood('SURPRISED ')" ng-class="{'clickBr ': commentMood == 'SURPRISED '}" src="img/exp_icons/SURPRISED.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary pull-right" ng-click="editPostComment()">Update Comment</button>
    </div>
</div>
