<div class="col-md-12 postUpdateModal">
    <div class="pull-right">
        <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
    </div>
    <h5 class="clan_title">Update Post</h5>
    <div class="postMainTopComment clearfix">
        <div class="postCommentImg">
            <img class="img-circle" src="/img/tribeImgs/tribeImg1.jpg" alt="">
        </div>
        <form class="postCommentBox" ng-submit="updatePost(post);">
            <div class="postCommentTextarea">
                <input type="text" placeholder="Post Title" ng-model="post.postName" class="form-control" name="title">
            </div>
            <div class="postCommentTextarea">
                <textarea placeholder="Post Description" ng-model="post.postText" class="form-control" rows="3"></textarea>
            </div>
            <div class="postCommentImgUpload">
                <label class="btn btn-default btn-file">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <input type="file" style="display: none;" ng-click="changeImg()" ng-file-model="post.postPicture"> Upload Image
                </label>
                <span class="danger" id="tribeIcoErr"></span>
                <div ng-show="showPostImg" class="tribeImgDiv postDynImg">
                    <img src="{{post.postPicture}}" style="height: 60px;width: 60px;" alt="">
                    <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                </div>
                <div ng-show="!showPostImg" class="tribeImgDiv">
                    <img id="tribeIcon" style="height: 60px;width: 60px;">
                    <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                </div>
            </div>
            <button type="submit" class="pull-right">Update Post</button>
        </form>
    </div>
</div>
