<style type="text/css">
.mainImg {
    position: relative;
    margin: 0px 0px 60px 0px;
}

.thumbnel {
    position: absolute;
    bottom: 60px;
    z-index: 9999;
    width: 100%;
}

.thumbnel .flexslider {
    margin: 0px;
}

.thumbnel .flexslider .flex-viewport .slides li {
    height: 80px !important;
    width: 80px !important;
}

.thumbnel .flexslider .flex-viewport .slides li img {
    width: 100%;
    height: 100%;
}

.thumbnel .flexslider {
    padding: 10px 40px;
}

.flex-control-nav {
    display: none;
}

.slider-for__item {
    display: inline-block;
    /*  width: 300px; */
    height: 150px;
    margin: 0 10px;
    background-color: lightblue;
    text-align: center;
    color: white;
    font-size: 2em;
}

.slick-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.slider-nav {
    /* max-width: 600px; */
    width: 580px;
    overflow: hidden;
    background-color: tomato;
}
.slider-nav div img{width:100%;}
.item-nav {
    width: 100px;
    height: 100px;
}

.slick-slide {
    margin-left: 0;
    margin-right: 20px;
}

.slider-for .slider-for__item{height: 300px;width: 300px;margin: 0 auto;}
.slider-for .slider-for__item .img_width{height: 300px;width: 300px !important;margin: 0 auto;}
.slider-for .slider-for__item img{width: 100%; text-align:center;}
</style>
<div class="gallerySlidr">
    <div class="model-header">
        <i class="fa fa-times" ng-click="close()"></i>
        <h4>Pictures</h4>
    </div>
    <div class="modal-content">
        <div id="container">
            <div class="col-md-12">
                <flex-slider class="mainImg" slider-id="slider" flex-slide="image in tribemanPicutures track by $index" animation="fade" animation-loop="false" sync="#carousel" slideshow="false" control-nav="thumnails" init-delay="100">
                    <li>
                        <img ng-src="{{image.picture}}">
                    </li>
                </flex-slider>
                <flex-slider class="thumbnel"  slider-id="carousel" flex-slide="image in tribemanPicutures track by $index" animation="slide" animation-loop="false" min-items="6" item-width="210" item-margin="7" as-nav-for="#slider" slideshow="false" control-nav="true">
                    <li>
                        <img ng-src="{{image.picture}}">
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</div>