<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">All Notifications</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default notificationList" >
        <div class="panel-heading" ng-repeat="notificationDetailData in notificationData">
        <a href="#/notification/{{notificationDetailData.id}}">
        <h3>{{notificationDetailData.message_title}}</h3>
            <div ng-show="notificationDetailData!==null">
            <p>{{notificationDetailData.message}}</p>
            <time>{{notificationDetailData.created_at | amCalendar}}</time>
         </div>
     </a>
      	<div ng-show="notificationDetailData==null" class="alert alert-danger">Not found </div>
     </div>
     <div ng-show="notificationData!==null" class="panel-heading" ng-click="loadMoreNotification()"><a href="javascript:void(0)" class="showMore">Show More</a></div>
     </div>
    </div>
</div>