<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Notification</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" >
        <div class="panel-heading" ><b>
            {{notificationDetailData.message_title}}
            </b>
        </div>
        <div class="panel-body" >
            <div ng-show="notificationDetailData!==null">
            <p>{{notificationDetailData.message}}</p>
            <time>{{notificationDetailData.created_at | amCalendar}}</time>
         </div>
      	<div ng-show="notificationDetailData==null" class="alert alert-danger">Not found </div>
     </div>
     </div>
    </div>
</div>