<ion-view view-title="Buy Pharmacy Services">
  <ion-content class="sliderContainer">
  
  <div class="card list">
      <section class="dtlsBox formArea">  
   		 <form ng-submit="savePharmacyTicket(phTktData)">
        <div class="myProfileForm">

            <label class="item item-input item-select">
                <div class="input-label">
                  Member
                </div>
                 <select class="form-control"  ng-model="phTktData.contact_id"><option value="">Select Member</option>
                <option ng-repeat="member in pharmacyTktData.memberList" value="{{member.contactid}}">{{member.contactname}}</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                  Zone
                </div>
                <select ng-model="phTktData.zone">
                  <option value="">Select Zone</option>
                  <option value="Kolkata">Kolkata</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Mumbai">Mumbai</option>
                </select>
              </label>

            <label class="item item-input item-select">
                <div class="input-label">
                  Consultant
                </div>
                 <select class="form-control"  ng-model="phTktData.consultantsid"><option value="">Select Consultant</option>
                <option ng-repeat="cons in pharmacyTktData.pharmacyList" value="{{cons.consultantsid}}">{{cons.consultantsname}}</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                  Partner
                </div>
                 <select class="form-control"  ng-model="phTktData.partnersid"><option value="">Select Partner</option>
                <option ng-repeat="partner in pharmacyTktData.pharmacyList" value="{{partner.consultantsid}}">{{partner.consultantsname}}</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                  Category
                </div>
                 <select class="form-control"  ng-model="phTktData.servicecategory"><option value="">Select Category</option>
                <option ng-repeat="category in pharmacyTktData.serviceCategory" value="{{category.servicecategoriesid}}">{{category.servicecategoriesname}}</option>
                </select>
            </label>

            <div class="list">

              <label class="item item-input item-select">
                <div class="input-label">
                  Priority
                </div>
                <select ng-model="phTktData.priority">
                  <option value="">Select Priority</option>
                  <option>Low</option>
                  <option selected>Meduim</option>
                  <option>High</option>
                </select>
              </label>

            </div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Preferred Date</span>
                <input type="text" placeholder="yyyy-mm-dd" ng-model="phTktData.preferred_date" class="form-control">
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">Preferred Time</span>
                <input type="text" placeholder="HH:mm:ss" ng-model="phTktData.preferred_time" class="form-control">
            </label>

            <h4 class="positive"  ng-show="successMsg">{{successMsg}}</h4>
            <ion-list class="button-row">
                <button class="button button-full btnBlue" type="submit">Submit</button>
            </ion-list>

        </div>

    </form>
      </section>
   </div> 
  </ion-content>
</ion-view>