<ion-view view-title="">
    <ion-content class="sliderContainer">
        <tab-slide-box tab="0" ng-if="loggedInUser">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a>
                  <a href="javascript:;" class="tab-link tabWidth3">Partners</a> </div>
            </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">

                            <div class="card list">
                            <div class="item item-body"><h1>Pharmacy</h1> <service-request servicename="Pharmacy" serviceIndex = "5" class="viewAll uppercase">Request Service</service-request></div>
                                    <div class="serviceImg"> <img class="full-image" src="img/banner/pharmacy.jpg"> </div>
                                    <section class="dtlsBox">
                                    <p class="serviceTxt">Our professionally managed channel will ensure easy access to the most trusted partners at a discounted price.</p>
                                    </section>


                                </div>

                                <div class="card list">

                                    <section class="dtlsBox">


                                      <h2>Services</h2>
                                        <ul>
                                            <li ng-click="allSlid(1)">
                                                <section>
                                                    <span ng-show="pharmacyData.currentActiveOrder.length">{{pharmacyData.currentActiveOrder.length}}</span>
                                                    <span ng-show="!pharmacyData.currentActiveOrder.length">0</span>Upcoming Services</section>
                                            </li>
                                            <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="pharmacyData.lastOrderData.length">{{pharmacyData.lastOrderData.length}}</span><span ng-if="!pharmacyData.lastOrderData.length">0</span>Previous Services</section>
                                            </li>
                                        </ul>
                                    </section>

                                    <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                                      <span ng-if="pharmacyData.currentActiveOrder[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{pharmacyData.currentActiveOrder[0].preferred_date}}</span> <span ng-if="pharmacyData.currentActiveOrder[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{pharmacyData.currentActiveOrder[0].preferred_time}}</span>

                                      </div>
                                </div>
                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Invoice</h2>
                                        <ul>
                                            <li ng-repeat="invoice in pharmacyData.invoices | limitTo:2">
                                                <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                                        </ul>
                                    </section>
                                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                                </div>
                                <div class="card list">
                                <section class="dtlsBox">
                                  <h2>Partners</h2>
                                  <ul>
                                    <li ng-repeat="pharmacy in pharmacyData.pharmacyList.partners | limitTo:2">
                                    <section ng-click="allSlid(3)">{{pharmacy.partnersname}}</section>

                                    </li>
                                  </ul>
                                </section>
                                <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                            </div>

                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>

                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                <div class="item item-body"><h1>Pharmacy</h1> <service-request servicename="Pharmacy" serviceIndex = "5" class="viewAll uppercase">Request Service</service-request></div>
                                    <section class="dtlsBox">
                                        <h2>Upcoming Services</h2>

                                    <ul>
                                        <li ng-repeat="currentActiveOrder in pharmacyData.currentActiveOrder">

                                                <h3>{{currentActiveOrder.consultantsname}}</h3>
                                                <span ng-if="currentActiveOrder.preferred_date" class="ion-ios-calendar-outline blue"></span>
                                                <span class="fl">{{currentActiveOrder.preferred_date}}</span>
                                                <span ng-if="currentActiveOrder.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                                                <span class="fl">{{currentActiveOrder.preferred_time}}</span>
                                           		<div class="clearBoth"></div>
                                        </li>
                                    </ul>
                                    </section>
                                    <span ng-hide="pharmacyData.currentActiveOrder" class="assertive noData"> You do not have any services</span>
                                </div>

                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Previous Services</h2>

                                    <ul>
                                        <li ng-repeat="lastOrderData in pharmacyData.lastOrderData">

                                                <h3>{{lastOrderData.consultantsname}}</h3>
                                                <span ng-if="lastOrderData.preferred_date" class="ion-ios-calendar-outline blue"></span>
                                                <span class="fl">{{lastOrderData.preferred_date}}</span>
                                                <span ng-if="lastOrderData.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                                                <span class="fl">{{lastOrderData.preferred_time}}</span>
												<div class="clearBoth"></div>

                                        </li>
                                    </ul>
                                     </section>
                                    <span ng-hide="pharmacyData.lastOrderData" class="assertive noData"> You do not have any services</span>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                <div class="item item-body"><h1>Pharmacy</h1> <service-request servicename="Pharmacy" serviceIndex = "5" class="viewAll uppercase">Request Service</service-request></div>
                                    <section class="dtlsBox">
                                        <h2>Invoice</h2>
                                        <ul ng-show="pharmacyData.invoices!==null">
                                            <li ng-repeat="invoice in pharmacyData.invoices | limitTo:2">
                                                <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section>
                                                <section ng-if="invoice.total_payment_amount">Total Paid Amount
                                                <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}}
                                                </span></section></li>
                                        </ul>

                                    </section><div ng-show="pharmacyData.invoices==null" class="assertive noData">You do not have any invoices</div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
                  <ion-slide dynamic-height>
                    <ion-scroll>
                      <div class="cardMargin">
                        <div class="subscList">
                          <div class="card list">
                          <div class="item item-body"><h1>Pharmacy</h1> <service-request servicename="Pharmacy Service" serviceIndex = "5" class="viewAll uppercase">Request Service</service-request></div>
                            <section class="dtlsBox">
                              <h2>Partners</h2>
                              <ul ng-show="pharmacyData.pharmacyList">
                                <li ng-repeat="pharmacy in pharmacyData.pharmacyList.partners">
                                  <section>
                                    <h3>{{pharmacy.partnersname}}</h3>
                                    <p ng-if="pharmacy.partnersphone"><em class="ion-ios-telephone"></em>{{pharmacy.partnersphone}}</p>
                                    <p ng-if="pharmacy.partners_address"><em class="ion-ios-location"></em>{{pharmacy.partners_address}}</p>
                                  </section>
                                  <div class="clearBoth"></div>
                                </li>
                              </ul>
                              </section>
                              <div ng-show="pharmacyData.pharmacyList==null" class="assertive noData">You do not have any partners</div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </ion-scroll>
                  </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
   <tab-slide-box tab="0" >
        <div class="tsb-icons" >
            <div class="tsb-ic-wrp">
                <a href="javascript:;" class="tab-link tabWidth3" >About</a>
                <a href="javascript:;" class="tab-link tabWidth3" >Partners</a>
            </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide dynamic-height>
                <ion-scroll>
                  <div class="card list">
                    <div class="item item-body"><h1>Pharmacy</h1> <service-request servicename="Pharmacy" serviceIndex = "5" class="viewAll uppercase">Request Service</service-request></div>
                                    <div class="serviceImg"> <img class="full-image" src="img/banner/pharmacy.jpg"> </div>
                                    <section class="dtlsBox">
                                      <p class="serviceTxt">Our professionally managed channel will ensure easy access to the most trusted partners at a discounted price.</p>
                                     <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
                                    </section>
                                </div>
                  <div class="slide-box box list">
                    <a class="item button-full btnBlue btnPartner" ng-click="partnerList()">Partners</a>
                  </div>
                </ion-scroll>
            </ion-slide>
          <ion-slide dynamic-height>
          <ion-scroll>
            <div class="slide-box box" ng-if="partners.partners.length>0">
              <div class="card list">
              <div class="item item-body"><h1>Pharmacy</h1> <service-request servicename="Pharmacy" serviceIndex = "5" class="viewAll uppercase">Request Service</service-request></div>
                <section class="dtlsBox"><h3>Partners</h3>
                </section>
                <section class="item" ng-repeat="partner in partners.partners">
                  <h3>{{partner.partnersname}}</h3>
                  <p ng-if="partner.partnersphone"><em class="ion-ios-telephone"></em>{{partner.partnersphone}}</p>
                  <p ng-show="partner.partners_address"><em class="ion-ios-location"></em>{{partner.partners_address}}</p>
                  <div class="clearBoth"></div>
                </section>
               </div>
            </div>
            <div class="slide-box box" ng-show="partners.length==0">
              <div class="card list">
                <div class="item item-body">
                  <h1>Pharmacy</h1>
                </div>
                <section class="dtlsBox"><h3>Partners</h3></section>
                  <div class="assertive noData">Partners are not avaliable.</div>
              </div>
            </div>
          </ion-scroll>
          </ion-slide>
        </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
