<ion-view view-title="View Order">

    <ion-content class="">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Member</span>
        <span class="form-control">{{phamOrderData.member}}
        </span>
    </label>
    <label class="item item-input item-stacked-label"ng-show="phamOrderData.consultantsname">
        <span class="input-label">Partner</span>
        <span class="form-control">{{phamOrderData.consultantsname}}
        </span>
    </label>
    <label class="item item-input item-stacked-label" ng-show="phamOrderData.medication_details">
        <span class="input-label">Medication</span>
        <span class="form-control">{{phamOrderData.medication_details}}
        </span>
    </label>
    <label class="item item-input item-stacked-label" ng-show="phamOrderData.ticket_feedback!=0">Rating: 
        <span star-Rating class="star-rating" rating-value="phamOrderData.ticket_feedback" data-max="10" on-rating-selected="getRating(rating)">   
        </span>
    </label>
    <label ng-show="phamOrderData.text_feedback" class="item item-input item-stacked-label">
        <span class="input-label">Feedback</span>
        <span class="form-control">{{phamOrderData.text_feedback}}
    </label>

    <form name="feedbackForm" ng-hide="phamOrderData.text_feedback || phamOrderData.ticket_feedback!=0" ng-submit="getPhamFeedback(feedbackData,phamOrderData.ticketid)">

        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Rate
            </div>
            <select ng-model="feedbackData.feedback" required>
            <option selected value="">Rate</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select>
          </label>

        </div>
        
        <label class="item item-input">
            <input type="text" name="login" required  ng-model="feedbackData.comment" placeholder="Enter Feedback">
        </label><br>
        <input class="button button-calm" type="submit" value="Add Feedback">

    </form>

    </ion-content>
</ion-view>