<div class="registration">
    <div class="logo-area">
        <div class="logo">
            <img width="80px" src="img/logo_go.gif">
        </div>
    </div>
    <div class="input-area">
        <div class="form-area">
            <div class="input-items">
                <div class="row">
                    <h3 class="title" translate>Forget Password</h3>
                    <form name="forgetPassForm" novalidate="novalidate" ng-submit="forgetPass()">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="username" class="control-label" translate>Username (email)</label>
                                    <div class="input-group"> <span class="input-group-addon">@</span>
                                        <input type="text" placeholder="Username..." class="form-control" id="username" name="username" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-ok">
                                    <button class="btn btn-lg btn-primary" type="submit">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
