<div class="login">
    <button class="modal-close-btn" ng-click="closeModal();" ng-disabled="subTab !== 'registerDetails'"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="modal-body">
        <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs lRmODAl" ng-show="loginFrmShw">
                <li>
                    <img src="img/lg_zimgologo.png" width="77%">
                </li>
                <li class="fr" ng-class="{'active' : activeTab === 'register'}"><a href="#createanaccount" data-toggle="tab"><i class="fa fa-user-plus" aria-hidden="true"></i><span class="reglogo"></span><span translate>Sign Up</span></a></li>
                <li class="fr" ng-class="{ 'active' : activeTab === 'login' }"><a href="#login" data-toggle="tab" ng-class="{ disabled: subTab === 'registerSocial' }"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="loginlogo"></span><span translate>Login</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="login" ng-class="{'active' : activeTab === 'login'}">
                    <form name="loginForm" ng-show="loginFrmShw" ng-model="loginForm" class="form-horizontal" role="form" ng-submit="login()" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-model="loginModel.username" placeholder="Username" required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" ng-model="loginModel.password" placeholder="Password" required/>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default loginBtn">
                                    <img src="img/sign-icon.png" />
                                    <span translate>Login</span>
                                </button>
                                <div class="trouble">
                                    <a href="javascript:void(0);" ng-click="showForgetSec()" translate>Having trouble to login?</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="javascript:void(0);" ng-click="showForgetSec()" translate>Having trouble to login?</a>
                                </div>
                            </div>
                        </div> -->
                    </form>
                    <div class="form-group forgetPass" ng-show="showForget">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="title" translate>Forgot your password?</h3>
                                <p><span translate>If you do not have an account</span>, <a href="#createanaccount" data-toggle="tab" onclick="jQuery('.lRmODAl li').removeClass('active');jQuery('.lRmODAl li').eq(1).addClass('active');" translate>click here</a> <span translate>to set up a new account (it’s free). Type your login ID in 
                                    the field below to receive your validation code by e-mail</span></p>
                                <form name="forgetPassForm" ng-submit="forgetPass()">
                                    <div class="row">
                                        <div class="col-md-9 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="email" ng-model="recoveryEmail" placeholder="Email" class="form-control" id="username" name="username" required />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 col-sm12">
                                            <div class="btn-ok">
                                                <button class="btn btn-lg btn-primary frgBtn" type="submit" ng-click="passwordRecoveryRequest()" ng-disabled="forgetPassForm.$invalid || forgetPassForm.$pristine || forgetPassProcesing" translate>Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="createanaccount" ng-class="{'active' : activeTab === 'register'}">
                    <div class="registration">
                        <div class="registrationPath">
                            <span ng-class="{'activeSub' : subTab === 'registerDetails'}">1</span>
                            <span ng-class="{'activeSubHd' : subTab === 'registerDetails'}" translate>Account setup</span>
                            <span class="greaterSymbol"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                            <span ng-class="{'activeSub' : subTab === 'registerSocial'}">2</span>
                            <span ng-class="{'activeSubHd' : subTab === 'registerSocial'}" translate>Social network access setup</span>
                        </div>
                        <div class="tab-pane active" id="registration" ng-show="subTab ==='registerDetails'">
                            <h1 translate>Registration</h1>
                            <form class="form-horizontal" role="form" name="registrationForm" novalidate="novalidate" ng-submit="register()">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <input type="text" ng-model="registerModel.username" placeholder="E-Mail..." class="form-control" id="username" name="username" ng-model-options="{updateOn: 'blur'}" verify-user-exists required autocomplete="off" />
                                            <a data-ng-click="validateUsername()" class="verifyBtn" translate>Validate</a>
                                            <span id="emailExist" translate>Email is available</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="help-block pull-left">
                                            <p id="characterLeft" class="help-block" translate>Password should contain minimum 6 characters of combination of small and capital letters, number without white spaces.</p>
                                        </div>
                                        <input type="password" ng-keyup="passMatch();" ng-model="registerModel.password" placeholder="Password..." class="form-control" id="password" name="password" ng-minlength="6" validate-password-characters required />
                                        <p  ng-if="passMismatch" style="color: #a94442">Please ensure the passwords match</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input ng-keyup="conformPassMatch();" type="password" ng-model="registerModel.verifypassword"  placeholder="Confirm Password..." class="form-control verify" id="verifypassword" name="verifypassword" ng-minlength="6" required confirm-password="registerModel.password" />
                                    </div>
                                </div>
                             
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" ng-model="registerModel.name" placeholder="Name..." class="form-control name" id="name" name="name" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="dob" class="control-label" translate>Date of birth</label>
                                        <input rsmdatedropdowns ng-model="registerModel.dob" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="name" class="control-label" translate>Gender </label>
                                        <label class="male">
                                            <input type="radio" ng-model="registerModel.gender" value="male" id="male" checked="checked">
                                            <label for="male"><span></span></label>
                                            <span translate>Male</span>
                                        </label>
                                        <label class="female">
                                            <input type="radio" ng-model="registerModel.gender" value="female" id="female">
                                            <label for="female"><span></span></label>
                                            <span translate>Female</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-default" ng-disabled="registrationForm.$invalid || registrationForm.$pristine || regProcesing"><i class="fa fa-hand-o-right" aria-hidden="true"></i><span ng-show="!regProcesing" translate>Proceed</span><span ng-show="regProcesing" translate>Processing..</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="registrationSocial" ng-show="subTab === 'registerSocial'">
                            <h3 translate>You need to add at least an account to have access in Zimgo</h3>
                            <form class="form-horizontal" role="form" name="registrationSocialForm" novalidate="novalidate">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button ng-click="connectToTw();" translate><i class="fa fa-twitter" aria-hidden="true"></i>Connect with Twitter</button>
                                        <button ng-click="connectToFb();" translate><i class="fa fa-facebook" aria-hidden="true"></i>Connect with Facebook</button>
                                    </div>
                                </div>
                                <div class="form-group logoutDiv">
                                    <div class="col-sm-12">
                                        <button ng-click="closeModal()" translate>Logout</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
