<div class="registration">
    <div class="tab-pane active" id="registration">
        <form class="form-horizontal" role="form" name="registrationForm" novalidate="novalidate" ng-submit="register()">
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="username" class="control-label" translate>Username (email)</label>
                    <div class="input-group"> <span class="input-group-addon">@</span>
                        <input type="text" ng-model="registerModel.username" placeholder="Username..." class="form-control" id="username" name="username" ng-model-options="{updateOn: 'blur'}" verify-user-exists required />
                        <span class="input-group-btn">
                        <button type="button" data-ng-click="validateUsername()" class="btn btn-primary">Validate</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="password" class="control-label" translate>Password</label>
                    <input type="password" ng-model="registerModel.password" placeholder="Password..." class="form-control" id="password" name="password" ng-minlength="6" validate-password-characters required />
                    <div class="help-block pull-left">
                        <p id="characterLeft" class="help-block"><span class="passStrngthLogo"></span><span translate>Password should contain minimum 6 characters of combination of small and capital letters, number and special signs without white spaces.</span></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="verifypassword" class="control-label" translate>Verify Password</label>
                    <input type="password" ng-model="registerModel.verifypassword" placeholder="Password..." class="form-control" id="verifypassword" name="verifypassword" ng-minlength="6" required confirm-password="registerModel.password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="name" class="control-label" translate>Name</label>
                    <input type="text" ng-model="registerModel.name" placeholder="Name..." class="form-control" id="name" name="name" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="dob" class="control-label" translate>Date of birth</label>
                    <input rsmdatedropdowns ng-model="registerModel.dob"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label for="name" class="control-label" translate>Gender </label>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" translate>
                            <input type="radio" ng-model="registerModel.gender" checked="checked" value="male"> <span translate>Male</span>
                        </label>
                        <label class="btn btn-default" translate>
                            <input type="radio" ng-model="registerModel.gender" value="female"> <span translate>Female</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default"><span class="regLogoFrm"></span><span translate>Register</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
