<ion-modal-view cache-view="false" >
    <ion-header-bar>
        <h1 class="title txtWhite">Request Service</h1>
        <div class="buttons">
            <button class="button button-clear ion-ios-close-outline" ng-click="closeRequestModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
      <form name="form.requestForm" id="requestForm" ng-submit="submitQuery()" ng-init="submitted=false">
		<div class="myProfileForm">
            <label ng-if="!loggedInUser" class="item item-input  item-stacked-label">
            	<span class="input-label">Mobile</span>
                <input type="tel" required minlength="10" maxlength="10" ng-pattern="/^[1-9]{1}[0-9]{9}$/" autocorrect="off" autocapitalize="none" name="phone" ng-model="requestData.phone" placeholder="Mobile" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">

            </label>
            <div ng-if="submitted" ng-show="requestForm.phone.$error.required || requestForm.phone.$error.pattern" class="item-assertive">Mobile number is required</div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Service</span><span class="assertive ">*</span>
                    <select required ng-model="requestData.service" name="service" ng-options="option.name for option in serviceList track by option.slug"> <option style="display:none" value="">select a service</option></select>
                </label>
                <div ng-if="submitted && !requestData.service.id" class="item-assertive">Please select a service</div>
                <label class="item item-input item-stacked-label">
                	<span class="input-label">Your message here</span>
                  <textarea ng-model="requestData.description" placeholder="" rows="4"></textarea>
                </label>

                <label  class="item item-input item-stacked-label">
                    <button class="button button-block btnBlue" ng-click="submitted=true" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
