<div class="photo media-item">
    <div class="media-item-wrapper">
        <div class="category-wrapper">
            <div class="text-muted category" data-ng-style="{'color':card.categoryColor}">{{ card.category }}</div>
        </div>
        <div class="item-header">
            <div class="item-header-wrapper">
                <div class="image-wrapper">
                    <img data-ng-src="img/social/plain/small/circle/{{card.content.source.toLowerCase()}}_circle.png" width="35" height="35">
                </div>
            </div>
        </div>
        <div class="item-body">
            <div class="photo-wrapper" ng-if="card.content.type=='PHOTO' ">
                <a ng-href="{{ card.content.imgUrl }}" target="_blank">
                    <img fallback-image fallback-src="img/empty_500x500.png" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ mother.getPreparedUrl(card.content.bigImgUrl) }}">
                </a>
            </div>
            <div class="photo-wrapper" ng-if="card.content.type=='VIDEO' ">
                <img fallback-image fallback-src="img/empty_500x500.png" style="cursor: pointer;" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" ng-click="mother.playVideo(card.content.videoUrl)" data-ng-src="{{ mother.getPreparedUrl(card.content.bigImgUrl) }}">
            </div>
        </div>
        <div class="item-footer">
            <div class="item-footer-wrapper pull-right">
                <!--<div data-ng-include="'/js/app/common/templates/item.footer.view.html'"></div>-->
                <taxonomy-item-footer item="card" context="'taxonomy'" item-type="'media-'+card.content.type"></taxonomy-item-footer>
            </div>
        </div>
    </div>
</div>
