<div class="spamAdd">
    <button class="modal-close-btn" ng-click="closeModal();"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="tab-pane active" id="spamAddForm">
        <form class="form-horizontal" role="form" name="spamForm" novalidate="novalidate" ng-submit="addSpam()">
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label for="authorId" class="control-label" translate>authorId</label>
                    <div class="input-group">
                        <input type="text" ng-model="spamModel.authorId" placeholder="authorId" class="form-control" id="authorId" name="authorId"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label for="spamText" class="control-label" translate>Text</label>
                    <div class="input-group">
                        <input type="text" ng-model="spamModel.text" placeholder="Text" class="form-control" id="spamText" name="text"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label for="searchKeyword" class="control-label" translate>Search Keyword</label>
                    <div class="input-group">
                        <input type="text" ng-model="spamModel.searchKeyword" placeholder="Search Keyword" class="form-control" id="searchKeyword" name="searchKeyword"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label for="itemId" class="control-label" translate>itemId</label>
                    <div class="input-group">
                        <input type="text" ng-model="spamModel.itemId" placeholder="Item Id" class="form-control" id="itemId" name="itemId"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label for="source" class="control-label" translate>source</label>
                    <div class="input-group">
                        <input type="text" ng-model="spamModel.source" placeholder="Source" class="form-control" id="source" name="source"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label for="streamId" class="control-label" translate>Stream Id</label>
                    <div class="input-group">
                        <input type="text" ng-model="spamModel.streamId" placeholder="Stream Id" class="form-control" id="streamId" name="streamId"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-default"><span translate>Add</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
