<div>
	<button class="modal-close-btn" ng-click="closeModal();"><i class="fa fa-times" aria-hidden="true"></i></button>
	<h2 class="authorModalHd">All Messages</h2>
	<div class="authorModal">
		<div class="msgText" ng-repeat="msg in allMsg">
			<div>{{msg.text}}</div>
		</div>
	</div>
</div>