<!DOCTYPE HTML>
<html lang="en" {{{htmlApp}}}>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zimgo web ui</title>
    <link rel="shortcut icon" type="image/png" href="img/lg_zimgologo.png"/>
    <link media="all" rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
    <link href="/bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" media="all" rel="stylesheet" />
    <link href="/css/app.css" media="all" rel="stylesheet" />
    {{#each css}}
        <link href="{{this}}" media="all" rel="stylesheet" />
    {{/each}}
    
    
    <script type="text/javascript" src="/js/ios-orientationchange-fix.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>

    {{#each js}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>

    </script>
</head>

<body lang="en" {{{bodyController}}} data-ng-class="mainClass()">
    {{{body}}}
</body>

</html>
