<!DOCTYPE HTML>
<html lang="en" {{{view.main.htmlApp}}}>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zimgo web ui</title>
    <link rel="shortcut icon" type="image/png" href="img/lg_zimgologo.png"/>
    <link media="all" rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css" />
    
    {{#each view.main.dependencies.lib.css}}
        <link href="{{this}}" media="all" rel="stylesheet" />
    {{/each}}
    
     {{#each view.main.dependencies.dev.css}}
        <link href="{{this}}" media="all" rel="stylesheet" />
    {{/each}}
    
    <script>
        
        var GOWEB_CONF = {

            {{#each view.main.globals}}
                {{@key}} : {{{this}}},
            {{/each}}  

        };

        GOWEB_CONF.apiKeyConfig = {

            {{#each view.main.apiKeyConfig}}
                '{{@key}}' : {{{this}}},
            {{/each}}
        }

        GOWEB_CONF.analyticsId = "{{{view.main.analyticsId}}}";
    </script> 
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','GA');
    </script>   

    {{#each view.main.dependencies.lib.js}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    
     {{#each view.main.dependencies.dev.js}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    
</head>

<body lang="en" {{{view.main.bodyController}}} data-ng-class="mainClass()">    
    {{{body}}}
</body>

</html>
