<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Centers</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Gynae Care</h1>
                    <service-request servicename="Gynae Care" serviceIndex = "8" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/gynae.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">healthyBillions' partners ensure quality service at a preferred pricing for our members.</p>
                  </section>

                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-if="gynaeData.currentActiveGynaeCareService.length">{{gynaeData.currentActiveGynaeCareService.length}}</span> <span ng-if="!gynaeData.currentActiveGynaeCareService.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span ng-if="gynaeData.lastGynaeCareService.length">{{gynaeData.lastGynaeCareService.length}}</span><span ng-if="!gynaeData.lastGynaeCareService.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                    <span ng-if="gynaeData.currentActiveGynaeCareService[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{gynaeData.currentActiveGynaeCareService[0].preferred_date}}</span> <span ng-if="gynaeData.currentActiveGynaeCareService[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{gynaeData.currentActiveGynaeCareService[0].preferred_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in gynaeData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul>
                      <li ng-repeat="gynaeCare in gynaeData.GynaeCareInfo.partners | limitTo:2">
                      <section ng-click="allSlid(3)">{{gynaeCare.partnersname}}</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Gynae Care</h1>
                    <service-request servicename="Gynae Care" serviceIndex = "8" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="currentActiveGynaeCareService in gynaeData.currentActiveGynaeCareService">
                        <h3>{{currentActiveGynaeCareService.consultantsname}}</h3>
                        <span ng-if="currentActiveGynaeCareService.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{currentActiveGynaeCareService.preferred_date}}</span> <span ng-if="currentActiveGynaeCareService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{currentActiveGynaeCareService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="gynaeData.currentActiveGynaeCareService" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastGynaeCareService in gynaeData.lastGynaeCareService">
                        <h3>{{lastGynaeCareService.consultantsname}}</h3>
                        <span ng-if="lastGynaeCareService.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{lastGynaeCareService.preferred_date}}</span> <span ng-if="lastGynaeCareService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{lastGynaeCareService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="gynaeData.lastGynaeCareService" class="assertive noData"> You do not have any services</span>
                  </section>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Gynae Care</h1>
                    <service-request servicename="Gynae Care" serviceIndex = "8" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="gynaeData.invoices!==null">
                      <li ng-repeat="invoice in gynaeData.invoices"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                  </section>
                  <div ng-show="gynaeData.invoices==null" class="assertive noData">You do not have any invoices</div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Gynae Care</h1>
                    <service-request servicename="Gynae Care" serviceIndex = "8" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul ng-show="gynaeData.GynaeCareInfo.partners">
                      <li ng-repeat="gynaeCare in gynaeData.GynaeCareInfo.partners">
                        <section class="paddingBot">
                          <h3>{{gynaeCare.partnersname}}</h3>
                          <p ng-if="gynaeCare.partnersphone"><em class="ion-ios-telephone"></em>{{gynaeCare.partnersphone}}</p>
                          <p ng-if="gynaeCare.partners_address"><em class="ion-ios-location"></em>{{gynaeCare.partners_address}}</p>
                        </section>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <div ng-show="gynaeData.GynaeCareInfo.partners==null" class="assertive noData">You  do not have any centers</div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">
      <div class="tsb-icons" >
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">About</a> <a href="javascript:;" class="tab-link tabWidth3">Centers</a> </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body">
                    <h1>Gynae Care</h1>
                    <service-request servicename="Gynae Care" serviceIndex = "8" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/gynae.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">healthyBillions' partners ensure quality service at a preferred pricing for our members.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
            <div class="slide-box box list"> <a class="item button-full btnBlue btnPartner" ng-click="partnerList()">Centers</a> </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="slide-box box" ng-if="partners.partners.length>0">
              <div class="card list">
              <div class="item item-body">
                    <h1>Gynae Care</h1>
                    <service-request servicename="Gynae Care" serviceIndex = "8" class="viewAll uppercase">Request Service</service-request>
                  </div>
                <section class="dtlsBox"><h3>Centers</h3></section>
              	<section class="item" ng-repeat="partner in partners.partners">
                <h2>{{partner.partnersname}}</h2>

                <p ng-if="partner.partnersphone"><em class="ion-ios-telephone"></em>{{partner.partnersphone}}</p>
                <p ng-if="partner.partners_address"><em class="ion-ios-location"></em>{{partner.partners_address}}</p>
                <div class="clearBoth"></div>
                </section> </div>
            </div>
            <div class="slide-box box" ng-show="partners.length==0">
              <div class="card list">
                <div class="item item-body">
                  <h1>Gynae Care</h1>
                </div>
                <section class="dtlsBox"><h3>Centers</h3></section>
                  <div class="assertive noData">Centers are not avaliable.</div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
