<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth3">Results</a> <a href="javascript:;" class="tab-link tabWidth3">Centers</a> </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">

              <div class="card list">
              <div class="item item-body"><h1>Diagnostic</h1> <service-request servicename="Diagnostic" serviceIndex = "4" class="viewAll uppercase">Request Service</service-request></div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/diagnostic.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Our professionally designed diagnostic channel will ensure easy access to the most trusted service providers at a discounted price for members.</p>
                    <a class="button button-full btnBlue" href="#" onclick="window.open('https://diagnostic.healthybillions.com/', '_system', 'location=yes'); return false;"> Visit Diagnostic Website</a>



                  </section>

                </div>


                <div class="card list">
                 <section class="dtlsBox">
                  <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="precamaCurrentOrders.length !==null">{{precamaCurrentOrders.length}}</span> <span ng-show="precamaCurrentOrders.length == null">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-show="precamaLastOrders.length !==null">{{precamaLastOrders.length}}</span><span ng-show="precamaLastOrders.length == null">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>

                    <span ng-if="precamaCurrentOrders[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{precamaCurrentOrders[0].preferred_date}}</span> <span ng-if="precamaCurrentOrders[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{precamaCurrentOrders[0].preferred_time}}</span>

                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul>
                      <li ng-repeat="partner in precamaPartner | limitTo:2" class="paddingBot">
                        <section ng-click="allSlid(3)">
                          <h3>{{partner.name}}</h3>
                        <p>{{partner.address}}</p>
                        <p>{{partner.phone}}</p>
                        </section>
                      </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Results</h2>
                    <ul ng-show="precamaData">
                      <li ng-repeat="res in precamaData | limitTo:2">
                        <section class="paddingBot">
                          <h3>{{res.test.name}}</h3>
                          <p>{{res.visit.organization.name}}</p>
                          <p>Visit Date : {{res.visit.created_at | amDateFormat:"Do MMM hh:mm:A"}}</p>
                          <p> Result Date : {{res.created_at +" "+res.preferred_time | amDateFormat:"Do MMM hh:mm:A"}}</p>
                          <p ng-if="res.value"> Value : {{res.value}} {{res.uom.name}}</p>
                          <p>{{res.final_price|currency:"&#8377;"}}</p>
                        </section>
                      </li>
                    </ul>
                    <p ng-if="res.min_normal"> Range : {{res.min_normal}} - {{res.max_normal}}</p>
                  </section>
                  <div ng-show="!precamaData" class="assertive noData">You do not have any Results</div>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> </div>
                </div>

              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>Diagnostic</h1> <service-request servicename="Diagnostic" serviceIndex = "4" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                  <ul>
                    <li ng-repeat="currentOrders in precamaCurrentOrders">

                        <h4>Diagnostic Service {{currentOrders.orderid}}</h4>
                        <span ng-if="currentOrders.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{currentOrders.preferred_date}}</span>
                        <span ng-if="currentOrders.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{currentOrders.preferred_time}}</span>
                        <span>Price </span><span class="statusGreen"> {{currentOrders.total|currency:"&#8377;"}}</span>
                    </li>
                  </ul>
                  </section>

                  <span ng-hide="precamaCurrentOrders.length>0" class="assertive noData"> You do not have any services</span>

                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
					<ul>
                    <li ng-repeat="lastOrder in precamaLastOrders">

                        <h3>Diagnostic Service {{lastOrder.orderid}}</h3>
                        <span ng-if="lastOrder.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{lastOrder.preferred_date}}</span>
                        <span ng-if="lastOrder.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{lastOrder.preferred_time}}</span>
                        <span>Price </span><span class="statusGreen"> {{lastOrder.total|currency:"&#8377;"}}</span>
                    </li>
                  </ul>
				 </section>
                  <span ng-hide="precamaLastOrders.length>0" class="assertive noData"> You do not have any services</span>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>Diagnostic</h1> <service-request servicename="Diagnostic" serviceIndex = "4" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Results</h2>
                    <ul ng-show="precamaData">
                      <li ng-repeat="res in precamaData">
                        <section class="paddingBot">
                          <h3>{{res.test.name}}</h3>
                          <p>{{res.visit.organization.name}}</p>
                          <p>Visit Date : {{res.visit.created_at | amDateFormat:"Do MMM hh:mm:A"}}</p>
                          <p> Result Date : {{res.created_at +" "+res.preferred_time | amDateFormat:"Do MMM hh:mm:A"}}</p>
                          <p ng-if="res.value"> Value : {{res.value}} {{res.uom.name}}</p>
                          <p>{{res.final_price|currency:"&#8377;"}}</p>
                          <p ng-if="res.min_normal"> Range : {{res.min_normal}} - {{res.max_normal}}</p>
                        </section>
                      </li>
                    </ul>
                    </section>
                    <div ng-hide="precamaData.length>0" class="assertive noData">You do not have any diagnostic results </div>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>Diagnostic</h1> <service-request servicename="Diagnostic" serviceIndex = "4" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul ng-show="precamaPartner">
                      <li ng-repeat="partner in precamaPartner">
                        <section class="paddingBot">
                          <h3>{{partner.name}}</h3>

                          <p ng-if="partner.phone"><em class="ion-ios-telephone"></em>{{partner.phone}}</p>
                          <p ng-if="partner.address"><em class="ion-ios-location"></em>{{partner.address}}</p>
                        </section>
                      </li>
                    </ul>
                    </section>
                    <div ng-show="precamaPartner==null" class="assertive noData">Do not have any centers for diagnostic </div>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" >
      <div class="tsb-icons" >
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">About</a>
  <a href="javascript:;" class="tab-link tabWidth3">Centers</a></div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body"><h1>Diagnostic</h1> <service-request servicename="Diagnostic Service" serviceIndex = "4" class="viewAll uppercase">Request Service</service-request></div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/diagnostic.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Our professionally designed diagnostic channel will ensure easy access to the most trusted service providers at a discounted price for members.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
            <div class="slide-box box list"> <a class="item button-full btnBlue btnPartner" ng-click="partnerList()">Centers</a> </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>Diagnostic</h1> <service-request servicename="Diagnostic" serviceIndex = "4" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul ng-show="precamaPartner">
                      <li ng-repeat="partner in precamaPartner">
                        <section class="paddingBot">
                          <h3>{{partner.name}}</h3>

                          <p ng-if="partner.phone"><em class="ion-ios-telephone"></em>{{partner.phone}}</p>
                          <p ng-if="partner.address"><em class="ion-ios-location"></em>{{partner.address}}</p>
                        </section>
                      </li>
                    </ul>
                  </section>
                  <div ng-show="precamaPartner==null" class="assertive noData">Do not have any centers for diagnostic </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
