<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a class="tab-link tabWidth3">Services</a> <a class="tab-link tabWidth2">Invoice</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>24/7 Ambulance</h1> <service-request servicename="24/7 Ambulance" serviceIndex = "3" class="viewAll uppercase">Request Service</service-request>  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/ambulance.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Getting access to an ambulnace in case of an emergency is just a phone call away with healthyBillions' membership. </p>
                  </section>

               </div>

                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="ambulance_data.currentActiveAmbulanceService.length">{{ambulance_data.currentActiveAmbulanceService.length}}</span> <span ng-show="!ambulance_data.currentActiveAmbulanceService.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="ambulance_data.lastAmbulanceService.length">{{ambulance_data.lastAmbulanceService.length}}</span><span ng-show="!ambulance_data.lastAmbulanceService.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>

                  <span ng-if="ambulance_data.currentActiveAmbulanceService[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{ambulance_data.currentActiveAmbulanceService[0].preferred_date}}</span> <span ng-if="ambulance_data.currentActiveAmbulanceService[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{ambulance_data.currentActiveAmbulanceService[0].preferred_time}}</span>

                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in ambulance_data.invoices | limitTo:2" > <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>24/7 Ambulance</h1> <service-request servicename="24/7 Ambulance" serviceIndex = "3" class="viewAll uppercase">Request Service</service-request>  </div>
                  <section class="dtlsBox">

                    <h2>Upcoming Services</h2>
                    <ul ng-show="ambulance_data.currentActiveAmbulanceService">
                      <li ng-repeat="currentActiveAmbulanceService in ambulance_data.currentActiveAmbulanceService">
                        <h3>{{currentActiveAmbulanceService.consultantsname}}</h3>
                        <span ng-if="currentActiveAmbulanceService.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{currentActiveAmbulanceService.preferred_date}}</span> <span ng-if="currentActiveAmbulanceService.preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{currentActiveAmbulanceService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="ambulance_data.currentActiveAmbulanceService" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastAmbulanceService in ambulance_data.lastAmbulanceService">
                        <h3>{{lastAmbulanceService.consultantsname}}</h3>
                        <span ng-if="lastAmbulanceService.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{lastAmbulanceService.preferred_date}}</span> <span ng-if="lastAmbulanceService.preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{lastAmbulanceService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="ambulance_data.lastAmbulanceService" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>24/7 Ambulance</h1> <service-request servicename="24/7 Ambulance" serviceIndex = "3" class="viewAll uppercase">Request Service</service-request>  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="ambulance_data.invoices!==null">
                      <li ng-repeat="invoice in ambulance_data.invoices"> <section> <span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}} </section>
                      <section ng-if="invoice.total_payment_amount">Total Paid Amount<span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}}</span></section> </li>
                    </ul>
                  </section>
                  <div ng-show="ambulance_data.invoices==null" class="assertive noData">You do not have any invoices</div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" >

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="dd">
              <div class="card list">
               <div class="item item-body"><h1>24/7 Ambulance</h1> <service-request servicename="24/7 Ambulance" serviceIndex = "3" class="viewAll uppercase">Request Service</service-request>  </div>
                <div class="serviceImg"> <img class="full-image" src="img/banner/ambulance.jpg"> </div>
                <section class="dtlsBox">
                  <p class="serviceTxt">Getting access to an ambulnace in case of an emergency is just a phone call away with healthyBillions' membership. </p>
                 <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
                </section>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
