<!-- <nav class="navbar navbar-default topnav">
	<ul class="nav navbar-nav">
    	<li><a href="#" translate>Politics</a></li>
        <li><a href="#" translate>Fashion</a></li>
        <li><a href="#" translate>Lifestyle</a></li>
        <li><a href="#" translate>Electronic Gadgets</a></li>
        <li><a href="#" translate>Food</a></li>
    </ul>
</nav> -->
<div id="content-main-ad" images-loaded="imgLoadedEvents">
    <div class="content-image">
        <img src="img/landing/people_sunset.png">
    </div>
    <!-- <div class="content-add">
        <img src="img/landing/korean_ad.jpg">
    </div> -->
</div>
