<div class="col-md-12 maintenanceDes">
	<div class="logo">
        <img src="img/lg_zimgologo.png" class="logoImg">
	</div>
	<span>UNDER MAINTENANCE</span>
	<div class="">The site is under planned maintenance, please bear with us, we shall be back soon.</div>
    <div class="mainImgWrap"><img class="mainImg" src="img/maintenance.jpg"></div>
</div>
