<section class="addCatPop">
    <div class="modalWrap">
        <div class="modalRight">
            <h4 translate>Edit/Delete Category</h4>
            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="2" min-scrollbar-length="20">
            <ul>
                <li data-ng-repeat="item in result | filter: { name: tfilter }">
                    <div class="editDeleteCat">
                        <span class="colorDotWrap">
                            <div class="colorDot" ng-style="{ 'background-color' : item.color}"></div>
                            <span class="colorDotItem">{{ item.name }}</span>
                        </span>
                        <i class="fa fa-pencil" aria-hidden="true" ng-click="updateItem(item)" tooltip-html-unsafe="{{ 'Update the item' | translate }}" tooltip-placement="bottom"></i>
                        <span class="divider"></span>      
                        <i class="fa fa-times" aria-hidden="true" ng-click="removeItem(item)" tooltip-html-unsafe="{{ 'Remove the item' | translate }}" tooltip-placement="bottom"></i>      
                    </div>
                </li>
            </ul>
            </perfect-scrollbar>
        </div>
        <div class="modalLeft">
            <h4><span translate>{{(currentTaxonomy && currentTaxonomy.name) ? "Edit your Category" : "Add your Category"}}</span>
            <button ng-if="isUpdate" class="btn pull-right addCatFilPop" ng-click="createNew()"><span class="addCatFilPopLogo"><i style="padding-top: 6px;" class="fa fa-plus" aria-hidden="true"></i></span><span translate>Add New</span></button></h4>
            <div class="taxonomy-item-left">
                <div class="modal-mainDiv" ng-style="{'background-color':currentTaxonomy.color}"></div>
                <div class="taxonomy-item modal-wrapDiv">
                    <div class=""></div>
                    <div class="taxonomy-item-wrapper">
                        <div class="">
                            <form name="categoryForm" novalidate="novalidate" ng-submit="!isEmpty() && ok()">
                                <div class="input-items">
                                    <div class="form-group taxonomyNm">
                                        <input type="text" ng-model="currentTaxonomy.name" placeholder="Name..." class="form-control" id="name" name="name" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div ng-if="showColorPicker" class="input-group colorBox">
                                        <ng-color-picker background-color-selector=".modal-body" model-object="currentTaxonomy" model-property="color"></ng-color-picker>
                                        <span class="help-block has-error error-msg" ng-show="!categoryForm.$pristine && isEmpty()">Please select a colour code for the category to be created</span>
                                        <span class="help-block has-error error-msg" ng-show="isDuplicate">This item is already present</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button  ng-disabled="(!currentTaxonomy.name || isEmpty())" class="btn btn-primary okbttn" type="submit" translate>Ok</button>
                                    
                                    <button class="btn btn-default closebttn" ng-click="close()" translate>Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>
