<ion-view view-title="Subscription Plans">
<ion-nav-buttons side="left">
    <a ui-sref="dashboard.membership" class="button icon-left ion-android-arrow-back button-clear"></a>
</ion-nav-buttons>
  <ion-content class="sliderContainer" style="overflow:hidden;">
    <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
              <a href="javascript:;" class="tab-link tabWidth4" ng-repeat="packagedata in membershipType">{{packagedata.name}}</a>
          </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index); updatePrice($index);" active-slide="1">
        <ion-slide dynamic-height ng-repeat="packagedata in membershipType">
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                  <section class="item item-avatar" ng-repeat="servicedetails in packagedata.membership_type_service_categores">
                    <img class="full-image" src="img/xxxhdpi/{{servicedetails.service_category.slug}}.png">
                    <h3>{{servicedetails.service_category.servicecategoriesname}}</h3>
                    <p ng-if="servicedetails.free==1">Included </p>
                    <p ng-if="servicedetails.discount!=0">Discount : {{servicedetails.discount}}%</p>
                  </section>
                </div>
                <div class="subsEmptyBox">&nbsp;</div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
    <div>{{planPrice}}</div>
    <div class="selectPlan">
      <div class="price" ng-show="planPrice == 0">Free</div>
      <div class="price" ng-show="planPrice != 0">{{planPrice | currency:"&#8377;"}}</div>
      <a class="btnSelectPlan" ng-click="selectMemberShip()">{{selectData}} &nbsp;&nbsp;&nbsp;<span class="ion-ios-arrow-right"></span></a>
    </div>
  </ion-content>
</ion-view>
