<ion-view view-title="Payment">
    <ion-header-bar>
        <div class="bar bar-header bar-stable">
            <h1 class="title">Payment</h1>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="cardMargin">
            <div class="subscList">
                <div class="card list">
                    <section class="dtlsBox">
                        <div ng-if="paymentSuccess">
                            <h2 class="green"><span class="ion-ios-checkmark"></span> Upgradation Successful</h2>
                            <p class="paymentTxt">Congratulations. Your membership has been successfully upgraded. Thank you for being a part of HealthyBillions.</p>
                            <button ui-sref="dashboard.physical" class="button button-full btnBlue">Go To Dashboard</button>
                        </div>
                        <div ng-if="paymentFailure">
                            <h2 class="red"><span class="ion-ios-close"></span> Upgradation Failed</h2>
                            <p class="paymentTxt">We are sorry!! Please try again or click on Cancel to go to the Login screen.</p>
                            <div class="button-bar">
                                <button ui-sref="dashboard.membership" class="button btnSpace btnOrange">Try Again</button>
                                <button ui-sref="dashboard.physical" class="button btnSpace btnBlue">Cancel</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
