<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Centers</a> </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Dental Care</h1>
                    <service-request servicename="Dental Care" serviceIndex = "7" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/dental.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">healthyBillions' partners ensure quality service at a preferred pricing for our members.</p>
                  </section>

                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"><section> <span ng-if="dentalData.currentActiveDentalCareService.length">{{dentalData.currentActiveDentalCareService.length}}</span> <span ng-if="!dentalData.currentActiveDentalCareService.length">0</span>Upcoming Services</section></li>
                      <li ng-click="allSlid(1)"><section><span ng-if="dentalData.lastDentalCareService.length">{{dentalData.lastDentalCareService.length}}</span><span ng-if="!dentalData.lastDentalCareService.length">0</span>Previous Services</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                    <span ng-if="dentalData.currentActiveDentalCareService[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{dentalData.currentActiveDentalCareService[0].preferred_date}}</span> <span ng-if="dentalData.currentActiveDentalCareService[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{dentalData.currentActiveDentalCareService[0].preferred_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in dentalData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul>
                      <li ng-repeat="ambulance_info in dentalData.DentalCareInfo.partners | limitTo:2"> <span class="statysGrey" ng-click="allSlid(3)">{{ambulance_info.partnersname}}</span> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Dental Care</h1>
                    <service-request servicename="Dental Care" serviceIndex = "7" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2 class="noPadding">Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="currentActiveDental in dentalData.currentActiveDentalCareService">
                        <h3>{{currentActiveDental.consultantsname}}</h3>
                        <span ng-if="currentActiveDental.preferred_date"  class="ion-ios-calendar-outline blue"></span> <span class="fl">{{currentActiveDental.preferred_date}}</span> <span ng-if="currentActiveDental.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{currentActiveDental.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="dentalData.currentActiveDentalCareService" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastActiveDental in dentalData.lastDentalCareService">
                        <h3>{{lastActiveDental.consultantsname}}</h3>
                        <span ng-if="lastActiveDental.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{lastActiveDental.preferred_date}}</span> <span ng-if="lastActiveDental.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{lastActiveDental.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="dentalData.lastDentalCareService" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Dental Care</h1>
                    <service-request servicename="Dental Care" serviceIndex = "7" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="dentalData.invoices!==null">
                      <li ng-repeat="invoice in dentalData.invoices | limitTo:2"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                    </section>
                    <div ng-show="dentalData.invoices==null" class="assertive noData">You do not have any invoices</div>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Dental Care</h1>
                    <service-request servicename="Dental Care" serviceIndex = "7" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul ng-show="dentalData.DentalCareInfo">
                      <li ng-repeat="dental_info in dentalData.DentalCareInfo.partners">
                        <section class="paddingBot">
                          <h3>{{dental_info.partnersname}}</h3>

                           <p ng-if="dental_info.partnersphone"><em class="ion-ios-telephone"></em>{{dental_info.partnersphone}}</p>
                           <p ng-if="dental_info.partners_address"><em class="ion-ios-location"></em>{{dental_info.partners_address}}</p>
                        </section>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                    </section>
                    <div ng-show="dentalData.DentalCareInfo==null" class="assertive noData">You do not have any centers</div>
                  </section>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" >
      <div class="tsb-icons" >
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3" >About</a> <a href="javascript:;" class="tab-link tabWidth3" >Centers</a> </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body">
                    <h1>Dental Care</h1>
                    <service-request servicename="Dental Care" serviceIndex = "7" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/dental.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">healthyBillions' partners ensure quality service at a preferred pricing for our members.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
            <div class="slide-box box list"> <a class="item button-full btnBlue btnPartner" ng-click="partnerList()">Centers</a> </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="slide-box box" ng-if="partners.partners.length>0">
              <div class="card list">
              <div class="item item-body">
                    <h1>Dental Care</h1>
                    <service-request servicename="Dental Care" serviceIndex = "7" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <section class="dtlsBox"><h3>Centers</h3></section>
              <section class="item" ng-repeat="partner in partners.partners">
                <h2>{{partner.partnersname}}</h2>
                <p ng-if="partner.partnersphone"><em class="ion-ios-telephone"></em>{{partner.partnersphone}}</p>
                <p ng-if="partner.partners_address"><em class="ion-ios-location"></em>{{partner.partners_address}}</p>
               <div class="clearBoth"></div>
                </section> </div>
            </div>
            <div class="slide-box box" ng-show="partners.length==0">
              <div class="card list">
                <div class="item item-body">
                  <h1>Dental Care</h1>
                </div>
                <section class="dtlsBox"><h3>Centers</h3></section>
                  <div class="assertive noData">Centers are not avaliable.</div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
