/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.btn-danger{background-color: #429AC9;border:none;}
.btn-danger:hover{background-color: #429AC9;border:none;}
#extr-page .container{margin-top:40px;}
#extr-page-header-space .btn{background-color: #429AC9;border:none;}
.smart-form footer .btn{background-color: #429AC9;}
#logo-img-section{border-right:2px solid black;padding-left:0;}
#logo-img-section img{margin: 55px 0;}

#main-ul ul li p{color:#49AFE5;}
#main-ul ul li{color: #49AFE5;
    list-style-type: disc;}

#main-ul h2{font-size: 18px;text-align: center;font-weight: 700;}
#main-ul{margin-bottom: 30px;}

#extr-page .hero{    background-position: 0 80%;}

@media  (max-width:1199px) {
  #logo-img-section img{margin:0 auto;}
  #logo-img-section{border:none;padding:0;}
  #main-ul ul li{list-style-type: none;}
  #main-ul ul{padding:0;}
  #main-ul ul li p{text-align:center;}
  .display-image{display: none;}
  #extr-page .hero{height: 100%;}
  #main-ul{padding:0;}
}



