<div class="">
    <div class="proPic">
        <div ng-if="card.type=='PHOTO' ">
            <a ng-href="{{ card.imgUrl }}" target="_blank">
                <img fallback-image fallback-src="img/empty_500x500.png" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ mother.getPreparedUrl(card.bigImgUrl) }}">
            </a>
        </div>
        <div ng-if="card.type=='VIDEO' ">
            <img fallback-image fallback-src="img/empty_500x500.png" style="cursor: pointer;" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" ng-click="mother.playVideo(card.videoUrl)" data-ng-src="{{ mother.getPreparedUrl(card.bigImgUrl) }}">
        </div>
        <div class="propicTrnsbox">
            <div class="proSocialicon"><img data-ng-src="img/social/plain/small/circle/{{card.source.toLowerCase()}}_circle.png"></div>
            <taxonomy-item-footer item="card" context="'search'" item-type="'media-'+card.type"></taxonomy-item-footer>
        </div>
    </div>
</div>
