<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a></div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                	<div class="item item-body">
                    <h1>Travel Emergency</h1>
                    <service-request servicename="Travel Emergency" serviceIndex = "0" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/travel-emergency.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Healthybillions provides emergency services such as evacuation, foreign hospital admission assistance, care of minor and repatriation when there is a travel emergency. </p>
                  </section>
                  
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-show="travelData.currentActiveTravelEmergencyService.length ">{{travelData.currentActiveTravelEmergencyService.length}}</span> <span ng-show="!travelData.currentActiveTravelEmergencyService.length ">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-show="travelData.lastTravelEmergencyService.length">{{travelData.lastTravelEmergencyService.length}}</span><span ng-show="!travelData.lastTravelEmergencyService.length">0</span>Previous Services</a></section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section> 
                    <span ng-if="travelData.currentActiveTravelEmergencyService[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{travelData.currentActiveTravelEmergencyService[0].preferred_date}}</span> <span ng-if="travelData.currentActiveTravelEmergencyService[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{travelData.currentActiveTravelEmergencyService[0].preferred_time}}</span>

                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in travelData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Travel Emergency</h1>
                    <service-request servicename="Travel Emergency" serviceIndex = "0" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="currentActiveTravelEmergencyService in travelData.currentActiveTravelEmergencyService">
                        <h3>{{currentActiveTravelEmergencyService.consultantsname}}</h3>

                        <span ng-if="currentActiveTravelEmergencyService.preferred_date" class="ion-ios-calendar-outline blue"></span>
                        <span class="fl">{{currentActiveTravelEmergencyService.preferred_date}}</span>
                        <span ng-if="currentActiveTravelEmergencyService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span>
                        <span class="fl">{{currentActiveTravelEmergencyService.preferred_time}}</span>


                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="travelData.currentActiveTravelEmergencyService" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastTravelEmergencyService in travelData.lastTravelEmergencyService">
                        
                        <h3>{{lastTravelEmergencyService.consultantsname}}</h3>
                        <span ng-if="lastTravelEmergencyService.preferred_date" class="ion-ios-calendar-outline blue"></span> 
                        <span class="fl">{{lastTravelEmergencyService.preferred_date}}</span> 
                        <span ng-if="lastTravelEmergencyService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> 
                        <span class="fl">{{lastTravelEmergencyService.preferred_time}}</span>
                        
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                    </section>
                    <span ng-hide="travelData.lastTravelEmergencyService" class="assertive noData"> You do not have any services</span> 
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Travel Emergency</h1>
                    <service-request servicename="Travel Emergency" serviceIndex = "0" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="travelData.invoices">
                      <li ng-repeat="invoice in travelData.invoices"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                    </section>
                    <div ng-show="travelData.invoices==null" class="assertive noData">You do not have any invoices</div>
                  
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" >
      
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body">
                    <h1>Travel Emergency</h1>
                    <service-request servicename="Travel Emergency" serviceIndex = "0" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/travel-emergency.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Healthybillions provides emergency services such as evacuation, foreign hospital admission assistance, care of minor and repatriation when there is a travel emergency. </p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
