<ion-view view-title="Complete Your Profile" cache-view="false">
  <ion-content>
    <div class="content padding"><h3>Please complete your profile</h3></div>
    <form name="profileCompleteForm" role="form" ng-submit="completeProfile(profileCompleteForm)" novalidate ng-init="submitted=false">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="assertive">*</span><span class="input-label">Email</span>
          <input readonly type="email" name="email" required ng-model="profileCompleteData.email"
                 placeholder="abc@example.com" >
        </label>
        <div ng-if="submitted" ng-show="profileCompleteForm.email.$error.required" class="item-assertive">Please enter email</div>  
        <label class="item item-input item-stacked-label">
          <span class="assertive">*</span><span class="input-label">Mobile no</span>
          <input type="tel" name="phone" ng-pattern="/^[1-9]{1}[0-9]{9}$/" only-Digits maxlength="10" minlength="10" required ng-model="profileCompleteData.phone" placeholder="Mobile" >
        </label>
        <div ng-if="submitted" ng-show="profileCompleteForm.phone.$error.required || profileCompleteForm.phone.$error.pattern" class="item-assertive">Please enter mobile number</div>  
        <label class="item item-input item-stacked-label">
          <span class="assertive">*</span><span class="input-label">Gender</span>
          <select name="gender" required class="form-control" ng-model="profileCompleteData.gender" >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
          </select>
        </label>
        <div ng-if="submitted" ng-show="profileCompleteForm.gender.$error.required" class="item-assertive">Please select gender</div> 
        <label class="item item-input item-stacked-label">
          <div class="input-label">
            <span class="assertive">*</span>City
          </div>
          <select class="form-control" name="city" required ng-model="profileCompleteData.city">
            <option ng-repeat="zones in zones">{{zones.zonename}}</option>
          </select>
        </label>
        <div ng-if="submitted" ng-show="profileCompleteForm.city.$error.required" class="item-assertive">Please select city</div> 
        <label class="item item-input item-stacked-label">

          <span class="assertive">*</span><span class="input-label">Post Code</span>
          <input type="tel" name="post_code" ng-pattern="/^[1-9]{1}[0-9]{5}$/" required only-digits minlength=6 maxlength=6 ng-model="profileCompleteData.post_code" class="form-control">
        </label>
        <div ng-if="submitted" ng-show="profileCompleteForm.post_code.$error.required || profileCompleteForm.post_code.$error.pattern" class="item-assertive">Please enter post code</div>
        <label class="item button-row">
          <button class="button button-positive button-block" type="submit" ng-click="submitted=true">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
