<ion-view view-title="Sign Up" cache-view="false">
    <ion-content>
     <div class="greyBg"><a class="logo"></a></div>
    <h1>Please enter details</h1>
        <form name="loginFrom" id="registrationForm" ng-submit="registerUser(loginFrom)" ng-init="submitted=false" novalidate ng-app>
            <div class="list wrapBox subsFix">
                <label class="item item-input input"><span class="ion-iphone"></span>
                    <input type="tel" only-Digits maxlength="10" minlength="10" name="phone" required ng-model="signUpData.phone" placeholder="Mobile" ng-pattern="/^[1-9]{1}[0-9]{9}$/">
                </label>
                <div ng-if="submitted" ng-show="loginFrom.phone.$error.pattern || loginFrom.phone.$error.required" class="item-assertive">Invalid Phone Number</div>
                <label class="item asertive" ng-show="errors.phone">{{errors.phone}}</label>
                <label ng-show="loginForm.login.$dirty && loginForm.login.$invalid"></label>
                <label class="item item-input input"><span class="ion-ios-email-outline"></span>
                    <input type="email" name="email" required ng-model="signUpData.email" placeholder="Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                </label>
                <div ng-if="submitted" ng-show="loginFrom.email.$error.pattern || loginFrom.email.$error.required" class="item-assertive">Invalid Email</div>
                <label class="item asertive" ng-show="errors.email">{{errors.email}}</label>
                <label class="item item-input input"><span class="ion-ios-person-outline"></span>
                    <input type="text" name="first_name" required ng-pattern="/^[a-zA-Z ]*$/" ng-model="signUpData.first_name" placeholder="First Name">
                </label>
                <label class="item asertive" ng-show="errors.first_name">{{errors.first_name}}</label>
                <div ng-if="submitted" ng-show="loginFrom.first_name.$error.pattern || loginFrom.first_name.$error.required" class="item-assertive">Invalid First Name</div>
                <label class="item item-input input"><span class="ion-ios-person-outline"></span>
                    <input type="text" name="last_name" required ng-pattern="/^[a-zA-Z ]*$/" ng-model="signUpData.last_name" placeholder="Last Name">
                </label>
              <div ng-if="submitted" ng-show="loginFrom.last_name.$error.pattern || loginFrom.last_name.$error.required" class="item-assertive">Invalid Last Name</div>
              <label class="item asertive" ng-show="errors.last_name">{{errors.last_name}}</label>
                <label class="item item-input input"><span class="ion-ios-locked-outline"></span>
                    <input type="password" name="password" required ng-pattern="/^.{8,12}$/" ng-model="signUpData.password" minlength="8" maxlength="12" placeholder="Password">
                </label>
                <label class="item asertive" ng-show="errors.password">{{errors.password}}</label>
                <div ng-if="submitted" ng-show="loginFrom.password.$error.pattern || loginFrom.password.$error.required" class="item-assertive">Password should be 8-12 characters</div>

                <label class="item item-input input"><span class="ion-ios-locked-outline"></span>
                    <input type="password" name="confirmed_password" required ng-pattern="signUpData.password" ng-model="signUpData.confirmed_password" minlength="8" maxlength="12" placeholder="Confirm Password">
                </label>
                <label class="item asertive" required ng-show="errors.confirmed_password">{{errors.confirmed_password}}</label>
                <div ng-if="submitted" ng-show="loginFrom.confirmed_password.$error.pattern || loginFrom.confirmed_password.$error.required" class="item-assertive">Password and Confirm password does not match</div>
              <ul class="list acceptTerms">
                  <li>
                    <label class="checkbox fl">
                        <input required name="accept_term_status" type="checkbox" ng-model="signUpData.accept_term_status">
                    </label>
                  <span class="fl paddingTop">I accept the <a href="" ui-sref="account.terms">Terms and Conditions</a></span>


                  </li>
                </ul>
              <div class="clearBoth borderBot"></div>
                <div class="item asertive" ng-show="errors.accept_term_status" >{{errors.accept_term_status}}</div>
                <div ng-if="submitted && !errors.accept_term_status" ng-show="loginFrom.accept_term_status.$error.required" class="item-assertive">Please accept terms and conditions</div>
                
                <ion-list class="button-barMod" >
                    <center><button class="button orange fontBig regBtn" ng-click="submitted=true" type="submit">Register</button></center>
                </ion-list>
            </div>
        </form>
    </ion-content>
</ion-view>


