<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ambulance Service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 Service
            </div>
            <div class="panel-body">
                <table ng-show="ambulanceData.lastAmbulanceService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastambulance in ambulanceData.lastAmbulanceService">
                            <td>{{lastambulance.consultantsname}}</td>
                            <td>{{lastambulance.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastambulance.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastambulance.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="ambulanceData.lastAmbulanceService==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current active ambulance Service
            </div>
            <div class="panel-body">
                <table ng-show="ambulanceData.currentActiveAmbulanceService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeAmbulenceService in ambulanceData.currentActiveAmbulanceService">
                            <td>{{activeAmbulenceService.consultantsname}}</td>
                            <td>{{activeAmbulenceService.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeAmbulenceService.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeAmbulenceService.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="ambulanceData.currentActiveAmbulanceService==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 invoices
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="ambulanceData.invoices" ng-show="ambulanceData.invoices!==null"></div>
                <div class="alert alert-danger" ng-show="ambulanceData.invoices==null">Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <b>List of Partner ambulance services</b>
            </div>
            <div class="panel-body">
                <table ng-show="ambulanceData.ambulanceInfo.partners!==undefined"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                         <th>State</th>
                    </tr>
                    <tr ng-repeat="partner in ambulanceData.ambulanceInfo.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>                        
                        <td>{{partner.zone}}</td>
                        <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="ambulanceData.ambulanceInfo.partners==undefined">Partner list not avaliable!</div>
            </div>
        </div>
    </div>
</div>


            