<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dental care service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Last 5 DentalCare Service
            </div>
            <div class="panel-body">
                <table ng-show="dentalCareData.lastDentalCareService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastdental in dentalCareData.lastDentalCareService">
                            <td>{{lastdental.consultantsname}}</td>
                            <td>{{lastdental.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastdental.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastdental.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="dentalCareData.lastDentalCareService==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Current Active Dental Service
            </div>
            <div class="panel-body">
                <table ng-show="dentalCareData.currentActiveDentalCareService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeDentalService in dentalCareData.currentActiveDentalCareService">
                            <td>{{activeDentalService.consultantsname}}</td>
                            <td>{{activeDentalService.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeDentalService.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeDentalService.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="dentalCareData.currentActiveDentalCareService==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Last 5 invoices
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="dentalCareData.invoices" ng-show="dentalCareData.invoices!==null"></div>
                <div class="alert alert-danger" ng-show="dentalCareData.invoices==null">Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                List of Partner Dental services
            </div>
            <div class="panel-body">
                 <table ng-show="dentalCareData.DentalCareInfo.partners!==null"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                    <tr ng-repeat="partner in dentalCareData.DentalCareInfo.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="dentalCareData.DentalCareInfo.partners==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>