<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dietician Service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 Order
            </div>
            <div class="panel-body">
                <table ng-show="dieticianData.lastOrderData!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="last_dietician in dieticianData.lastOrderData">
                            <td>{{last_dietician.consultantsname}}</td>
                            <td>{{last_dietician.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{last_dietician.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{last_dietician.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="dieticianData.lastOrderData==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current active orders
            </div>
            <div class="panel-body">
                <table ng-show="dieticianData.currentActiveOrder!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeDietician in dieticianData.currentActiveOrder">
                            <td>{{activeDietician.consultantsname}}</td>
                            <td>{{activeDietician.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeDietician.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeDietician.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="dieticianData.currentActiveOrder==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 invoices
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="dieticianData.invoices" ng-show="dieticianData.invoices!==null"></div>
                <div class="alert alert-danger" ng-show="dieticianData.invoices==null">Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <b>List of Dietician's</b>
            </div>
            <div class="panel-body">
                <table ng-show="dieticianData.DieticianList!==undefined"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in dieticianData.DieticianList">
                        <td>{{partner.consultantsname | uppercase}}</td>
                        <td>{{partner.consultant_mobile_number}}</td>
                        <td>{{partner.address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.consultant_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="dieticianData.DieticianList==undefined">Partner list not avaliable!</div>
            </div>
        </div>
    </div>
</div>