<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Doctor At Home Service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Last 5 Doctor At Home Service</b>
            </div>
            <div class="panel-body">
            	<table ng-show="doctorAtHome.lastDoctorAtHomeService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastDAH in doctorAtHome.lastDoctorAtHomeService">
                            <td>{{lastDAH.consultantsname}}</td>
                            <td>{{lastDAH.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastDAH.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastDAH.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="doctorAtHome.lastDoctorAtHomeService==null" class="alert alert-danger">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
               <b>Current Active Doctor At Home Service</b> 
            </div>
            <div class="panel-body">
            	 <table ng-show="doctorAtHome.currentActiveDoctorAtHomeService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeDAH in doctorAtHome.currentActiveDoctorAtHomeService">
                            <td>{{activeDAH.consultantsname}}</td>
                            <td>{{activeDAH.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeDAH.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeDAH.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div ng-show="doctorAtHome.currentActiveDoctorAtHomeService==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Last 5 invoices</b> 
            </div>
            <div class="panel-body">
            	<div ng-show="doctorAtHome.invoices!==null" invoice-list ng-model="doctorAtHome.invoices" ></div>
                <div ng-show="doctorAtHome.invoices==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Remaining free doctor at home</b> 
            </div>
            <div class="panel-body">
                <table ng-show="doctorAtHome.usages.service_status!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Member</th>
                            <th>Total services taken </th>
                            <th>Free services remaining</th>
                            <th>Price for another call on doctor </th>
                        </tr>
                        <tr ng-repeat="servicelist in doctorAtHome.usages.service_status">
                            <td>{{servicelist.member}}</td>
                            <td>{{servicelist.service_taken}}</td> 
                            <td><p ng-show="servicelist.services_remaining_free==0">{{servicelist.services_remaining_free}}</p><p ng-show="servicelist.services_remaining_free!=0">0</p></td>                          
                            <td>
                                <p ng-show="servicelist.services_remaining_free==0">Free</p>
                                <p ng-show="servicelist.services_remaining_free!=0">
                                    <select class="input-sm" ng-options="option.servicename for option in doctorAtHome.usages.service_list" ng-model="selectnextcallprice">
                                        <option value="">select services</option>
                                    </select>{{selectnextcallprice.unit_price | currency:"&#8377; "}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="doctorAtHome.usages.service_status==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                List of partners
            </div>
            <div class="panel-body">
                <table ng-show="doctorAtHome.listOfDoctorAtHomeServices.partners!==undefined"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                    <tr ng-repeat="partner in doctorAtHome.listOfDoctorAtHomeServices.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="doctorAtHome.listOfDoctorAtHomeServices.partners==undefined">Partner list not avaliable!</div>
            </div>
        </div>
    </div>
</div>