<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Doctor on call service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                Last 5 calls
            </div>
            <div class="panel-body">
                <table ng-show="doctorOnCallData.lastCallData!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Doctor</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Medication details</th>
                            <th>Feedback</th>
                        </tr>
                        <tr ng-repeat="lastCallDe in doctorOnCallData.lastCallData">
                            <td>{{lastCallDe.consultantsname | uppercase}}</td>
                            <td>{{lastCallDe.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastCallDe.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastCallDe.preferred_time }}
                            </td>
                            <td>{{lastCallDe.medication_details}}</td>
                            <td>
                                <div ng-show="{{lastCallDe.ticket_feedback}}!==0">
                                    <h5>{{lastCallDe.text_feedback}}</h5>
                                    <p star-Rating class="star-rating" rating-value="lastCallDe.ticket_feedback" data-max="10"></p>
                                </div>
                                <div ng-show="{{lastCallDe.ticket_feedback}}==0">
                                    <button ng-show="add_feedback" class="btn btn-info" ng-click="showFeedbackForm()">Please add feedback</button>
                                    <form ng-show="add_feedback_form" ng-submit="getFeedback(feedbackData,lastCallDe.ticketid)">
                                        <select class="input-sm" ng-model="feedbackData.feedback" required>
                                            <option value="">rate</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <input class="input-sm" type="text" ng-model="feedbackData.comment" required>
                                        <input type="submit" class="input-sm" value="Add Feedback">
                                        <p>{{error}}</p><a href="Javascript:void(0)" ng-click="returnBack()" >Back</a>
                                    </form>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="doctorOnCallData.lastCallData==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Upcoming appointments
            </div>
            <div class="panel-body">
                <table ng-show="doctorOnCallData.currentActiveAppointment!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Doctor</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="currentActiveApp in doctorOnCallData.currentActiveAppointment">
                            <td>{{currentActiveApp.consultantsname | uppercase}}</td>
                            <td>{{currentActiveApp.member}}</td>
                            <td><i class="fa fa-calendar">{{currentActiveApp.preferred_date| date:"mediumDate"}}</td>
                            <td><i class="fa fa-clock-o">{{currentActiveApp.preferred_time}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="doctorOnCallData.currentActiveAppointment==null">No upcoming appointments!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Illness list
            </div>
            <div class="panel-body">
                <ul ng-show="doctorOnCallData.illnessList!==null">
                    <li  ng-repeat="ill in doctorOnCallData.illnessList">{{ill.illnesslistname}}</li>
                </ul>
                <div ng-show="doctorOnCallData.illnessList==null" class="alert alert-danger">No Illness list!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Doctor on call service invoices
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="doctorOnCallData.invoices" ng-show="doctorOnCallData.invoices!==null"></div>
                <div class="alert alert-danger" ng-show="doctorOnCallData.invoices==null">Not available!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Remaining of services
            </div>
            <div class="panel-body">
                <table ng-show="doctorOnCallData.serviceStatus.service_status!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Member</th>
                            <th>Total services taken </th>
                            <th>Free services remaining</th>
                            <th>Price for another call on doctor </th>
                        </tr>
                        <tr ng-repeat="servicelist in doctorOnCallData.serviceStatus.service_status">
                            <td>{{servicelist.member}}</td>
                            <td>{{servicelist.service_taken}}</td>
                            <td ><p ng-if="servicelist.services_remaining_free == null">0</p>
                                <p ng-if="servicelist.services_remaining_free !== null">{{servicelist.services_remaining_free == null}}</p>
                            </td>
                            <td>
                                <p ng-show="servicelist.services_remaining_free!==0">Free</p>
                                <p ng-show="servicelist.services_remaining_free==0">
                                    <select class="input-sm" ng-options="option.servicename for option in doctorOnCallData.serviceStatus.service_list" ng-model="selectnextcallprice">
                                        <option value="">select services</option>
                                    </select>{{selectnextcallprice.unit_price | currency:"&#8377; "}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="doctorOnCallData.serviceStatus==null">Not available!</div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Doctor details
            </div>
            <div class="panel-body">

                <table ng-show="doctorOnCallData.doctorInfo.partners!==null"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in doctorOnCallData.doctorInfo.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="doctorOnCallData.doctorInfo.partners==null">Doctor details not avaliable!</div>
            </div>
        </div>
    </div>
</div>
</div>