<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Eye care service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Last 5 services
            </div>
            <div class="panel-body">                
                    <table ng-show="eyeCareData.lastEyeCareService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastEyeCare in eyeCareData.lastEyeCareService">
                            <td>{{lastEyeCare.consultantsname}}</td>
                            <td>{{lastEyeCare.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastEyeCare.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastEyeCare.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="eyeCareData.lastEyeCareService==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Current ActiveService
            </div>
            <div class="panel-body">
                <table ng-show="eyeCareData.currentActiveEyeCareService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeEyeCareService in eyeCareData.currentActiveEyeCareService">
                            <td>{{activeEyeCareService.consultantsname}}</td>
                            <td>{{activeEyeCareService.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeEyeCareService.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeEyeCareService.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="eyeCareData.currentActiveEyeCareService==null" class="alert alert-danger" >Not Found!</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                Last 5 invoices.
            </div>
            <div class="panel-body">
                <div ng-show="eyeCareData.invoices!==null" invoice-list ng-model="eyeCareData.invoices" ></div>
                <div ng-show="eyeCareData.invoices==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                List of partner Eye care
            </div>
            <div class="panel-body">
                <table ng-show="eyeCareData.EyeCareInfo.partners!==null"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in eyeCareData.EyeCareInfo.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div ng-show="eyeCareData.EyeCareInfo.partners==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>