<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Gynae care service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Last 5 Gynae Care Service
            </div>
            <div class="panel-body">
                <table ng-show="gynaeCareData.lastGynaeCareService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastgynae in gynaeCareData.lastGynaeCareService">
                            <td>{{lastgynae.consultantsname}}</td>
                            <td>{{lastgynae.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastgynae.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastgynae.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="gynaeCareData.lastGynaeCareService==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Current Active Gynae Service
            </div>
            <div class="panel-body">
                <table ng-show="gynaeCareData.currentActiveGynaeCareService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeGynae in gynaeCareData.currentActiveGynaeCareService">
                            <td>{{activeGynae.consultantsname}}</td>
                            <td>{{activeGynae.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeGynae.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeGynae.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="gynaeCareData.currentActiveGynaeCareService==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Last 5 invoices
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="gynaeCareData.invoices" ng-show="gynaeCareData.invoices!==null"></div>
                <div class="alert alert-danger" ng-show="gynaeCareData.invoices==null">Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                List of Partner Gynae services
            </div>
            <div class="panel-body">
                <table ng-show="gynaeCareData.GynaeCareInfo.partners!==undefined"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in gynaeCareData.GynaeCareInfo.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.consultant_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="gynaeCareData.GynaeCareInfo.partners==null">Not Found!</div>
            </div>

        </div>
    </div>
</div>