<div class="row">
    <div class="col-lg-12">
        <b><h1 class="page-header">Medical Second Opinion Service</h1></b>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Last 5 Medical Second Opinion Service</b>
            </div>
            <div class="panel-body">
            	<table ng-show="MedicalSecondOpinionData.lastFiveMedicalSecondOpinion!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastMSO in MedicalSecondOpinionData.lastFiveMedicalSecondOpinion">
                            <td>{{lastMSO.consultantsname}}</td>
                            <td>{{lastMSO.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastMSO.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastMSO.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="MedicalSecondOpinionData.lastFiveMedicalSecondOpinion==null" class="alert alert-danger">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
               <b>Current Active Medical Second Opinion Service</b> 
            </div>
            <div class="panel-body">
            	 <table ng-show="MedicalSecondOpinionData.currentActiveSecondOpinion!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeMSO in MedicalSecondOpinionData.currentActiveSecondOpinion">
                            <td>{{activeMSO.consultantsname}}</td>
                            <td>{{activeMSO.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeMSO.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeMSO.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div ng-show="MedicalSecondOpinionData.currentActiveSecondOpinion==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Last 5 invoices</b> 
            </div>
            <div class="panel-body">
            	<div ng-show="MedicalSecondOpinionData.invoices!==null" invoice-list ng-model="MedicalSecondOpinionData.invoices" ></div>
                <div ng-show="MedicalSecondOpinionData.invoices==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Remaining free second opinion</b> 
            </div>
            <div class="panel-body">
                <table ng-show="MedicalSecondOpinionData.balance.service_status!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Member</th>
                            <th>Total services taken </th>
                            <th>Free services remaining</th>
                            <th>Price for another call on doctor </th>
                        </tr>
                        <tr ng-repeat="servicelist in MedicalSecondOpinionData.balance.service_status">
                            <td>{{servicelist.member}}</td>
                            <td>{{servicelist.service_taken}}</td>
                            <td><p ng-show="servicelist.services_remaining_free==0">{{servicelist.services_remaining_free}}</p><p ng-show="servicelist.services_remaining_free!=0">0</p></td>           
                            <td>
                                <p ng-show="servicelist.services_remaining_free==0">Free</p>
                                <p ng-show="servicelist.services_remaining_free!==0">
                                    <select class="input-sm" ng-options="option.servicename for option in MedicalSecondOpinionData.balance.service_list" ng-model="selectnextcallprice">
                                        <option value="">select services</option>
                                    </select>{{selectnextcallprice.unit_price |  currency:" &#8377;"}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="MedicalSecondOpinionData.balance.service_status==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <b>List of Partner Medical Second Opinion services</b>
            </div>
            <div class="panel-body">
                    <table ng-show="MedicalSecondOpinionData.listOfPartners.partners!==undefined"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in MedicalSecondOpinionData.listOfPartners.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="MedicalSecondOpinionData.listOfPartners.partners==undefined">Partner list not avaliable!</div>
            </div>
        </div>
    </div>
</div>