<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Nurse at home Service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Last 5 Nurse at home Service</b>
            </div>
            <div class="panel-body">
            	<table ng-show="nurseAtHome.LastNursesAtHome!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastNAH in nurseAtHome.LastNursesAtHome">
                            <td>{{lastNAH.consultantsname}}</td>
                            <td>{{lastNAH.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastNAH.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastNAH.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="nurseAtHome.LastNursesAtHome==null" class="alert alert-danger">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
               <b>Current Active Nurse at home Service</b> 
            </div>
            <div class="panel-body">
            	 <table ng-show="nurseAtHome.CurrentActiveAppointments!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeNAH in nurseAtHome.CurrentActiveAppointments">
                            <td>{{activeNAH.consultantsname}}</td>
                            <td>{{activeNAH.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeNAH.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeNAH.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div ng-show="nurseAtHome.CurrentActiveAppointments==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Last 5 invoices</b> 
            </div>
            <div class="panel-body">
            	<div ng-show="nurseAtHome.NursesAtHomeInvoices!==null" invoice-list ng-model="nurseAtHome.NursesAtHomeInvoices" ></div>
                <div ng-show="nurseAtHome.NursesAtHomeInvoices==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Remaining free nurse at home</b>
            </div>
            <div class="panel-body">
                <table ng-show="nurseAtHome.NursesServiceStatusWise.service_status!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Member</th>
                            <th>Total services taken </th>       
                            <th>Free services remaining</th>                     
                            <th>Price for another call on doctor </th>
                        </tr>
                        <tr ng-repeat="servicelist in nurseAtHome.NursesServiceStatusWise.service_status">
                            <td>{{servicelist.member}}</td>
                            <td>{{servicelist.service_taken}}</td> 
                            <td><p ng-show="servicelist.services_remaining_free==0">{{servicelist.services_remaining_free}}</p><p ng-show="servicelist.services_remaining_free!=0">0</p></td>                            
                            <td>
                                <p ng-show="servicelist.services_remaining_free!==null">Free</p>
                                <p ng-show="servicelist.services_remaining_free==null">
                                    <select class="input-sm" ng-options="option.servicename for option in nurseAtHome.NursesServiceStatusWise.service_list" ng-model="selectnextcallprice">
                                        <option value="">select services</option>
                                    </select>{{selectnextcallprice.unit_price | currency:"&#8377; "}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="nurseAtHome.NursesServiceStatusWise.service_status==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
               <b>List of Partner Nurse at home services</b> 
            </div>
            <div class="panel-body">
                <table ng-show="nurseAtHome.NursesList.partners!==null"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in nurseAtHome.NursesList.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div ng-show="nurseAtHome.NursesList.partners==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>