<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pharmacy</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Last 5 orders</b>
            </div>
            <div class="panel-body">
                <table ng-show="pharmacyData.lastOrderData!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Medication details</th>
                            <th>Feedback</th>
                        </tr>
                        <tr ng-repeat="lastOrdr in pharmacyData.lastOrderData">
                            <td>{{lastOrdr.consultantsname}}</td>
                            <td>{{lastOrdr.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastOrdr.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastOrdr.preferred_time }}
                            </td>
                            <td>{{lastOrdr.medication_details}}</td>
                            <td>
                                <div ng-show="{{lastOrdr.ticket_feedback}}!==0">
                                    <h5>{{lastOrdr.text_feedback}}</h5>
                                    <p star-Rating class="star-rating" rating-value="lastOrdr.ticket_feedback" data-max="10"></p>
                                </div>
                                <div ng-show="{{lastOrdr.ticket_feedback}}==0">
                                    <button ng-show="add_feedback" class="btn btn-info" ng-click="showFeedbackForm(lastOrdr.ticketid)">Please add feedback</button>
                                    <form ng-if="lastOrdr.ticketid == testId" ng-submit="getFeedback(feedbackData,lastOrdr.ticketid)">
                                        <select class="input-sm" ng-model="feedbackData.feedback" required>
                                            <option value="">rate</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <input class="input-sm" type="text" ng-model="feedbackData.comment" required>
                                        <input type="submit" class="input-sm" value="Add Feedback">
                                        <p>{{error}}</p><a href="Javascript:void(0)" ng-click="returnBack()">Back</a>
                                    </form>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="pharmacyData.lastOrderData==null" class="alert alert-danger">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Current active pharmacy order</b>
            </div>
            <div class="panel-body">
                <table ng-show="pharmacyData.currentActiveOrder!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="currentActiveOrdr in pharmacyData.currentActiveOrder">
                            <td>{{currentActiveOrdr.consultantsname}}</td>
                            <td>{{currentActiveOrdr.member}}</td>
                            <td><i class="fa fa-calendar"> {{currentActiveOrdr.preferred_date| date:"mediumDate"}}</td>
                            <td><i class="fa fa-clock-o"> {{currentActiveOrdr.preferred_time}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="pharmacyData.currentActiveOrder==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>Pharmacy service invoices</b>
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="pharmacyData.invoices" ng-show="pharmacyData.invoices!==null"></div>
                <div class="alert alert-danger" ng-show="pharmacyData.invoices==null">Not available!</div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
               <b>Create New Pharmacy Order</b> 
            </div>
            <div class="panel-body">
              <div class="alert alert-success" role="alert" ng-show="ticketSuccess">{{ticketSuccess}}</div>
                <form role="form" name="newTicketForm"  ng-submit="createTicket(ticket)">
                    <div class="row">
                    <div class="col-lg-12">
                            <div class="col">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Member</label>
                                        <select class="form-control"   ng-model="ticket.contact_id"  required>
                                            <option value="">Select Member</option>
                                            <option ng-repeat="member in pharmacyData.memberList" value="{{member.contactid}}">{{member.contactname}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Zone</label>
                                        <select class="form-control"   ng-model="ticket.zone"  required>
                                            <option value="">Select Zone</option>
                                            <option value="kolkata">Kolkata</option>
                                            <option value="mumbai">Mumbai</option>
                                            <option value="banglore">Banglore</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Pharmacy</label>
                                        <select class="form-control"  ng-model="ticket.partnersid" required>
                                            <option value="">Select Pharmacy</option>
                                            <option ng-repeat="partner in pharmacyData.pharmacyList" value="{{partner.consultantsid}}">{{partner.consultantsname}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-sm-6">
                                    <div class="form-group" >
                                        <label>Preferred Date</label>
                                        <div class="form-inline">
                                             <input combodate data-format="YYYY-MM-DD" data-template="D MMM YYYY" type="text" ng-model="ticket.preferred_date" placeholder="Date of birth" required data-custom-class="form-control" data-max-year="2025" selectedMember.dobBool/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Preferred Time</label>
                                        <input class="form-control" hbdatetimepicker format="HH:MM" datepicker="false"    placeholder="Preferred Time"  type="text" ng-model="ticket.preferred_time" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Create Ticket">
                                    </div>
                                </div>
                            </div>
                     </div>
                    </div>
                </form>
                  
            </div>
            

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
               <b>List of Partner pharmacy services</b> 
            </div>
            <div class="panel-body">
                <table ng-show="pharmacyData.pharmacyList!==null"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                    <tr ng-repeat="partner in pharmacyData.pharmacyList">
                        <td>{{partner.consultantsname | uppercase}}</td>
                        <td>{{partner.consultant_mobile_number}}</td>
                        <td>{{partner.address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.consultant_state}}</td>
                    </tr>
                    </tbody>
             </table>
                    
                <div ng-show="pharmacyData.pharmacyList==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>

