<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Physiotherapy service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 sessions
            </div>
            <div class="panel-body">
                <div session-List ng-model="lastSessions" ng-show="lastSessions"></div>
                <div class="alert alert-danger" ng-show="lastSessions==undefined">Not Found!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Trainer
            </div>
            <div class="panel-body">
                <div ng-show="trainerInfo">
                    <b> {{trainerInfo.consultantsname | uppercase}}</b>
                    <h5> Address            :{{trainerInfo.address}} </h5>
                    <h5> Consultant City    :{{trainerInfo.consultant_city}} {{trainerInfo.consultant_state}}</h5>
                    <h5>Mobile Number       :{{trainerInfo.consultant_mobile_number}} </h5>
                    <h5>Trainer Email       :{{trainerInfo.email}} </h5>
                </div>
                <div class="alert alert-danger" ng-show='trainerInfo==null'>Trainer is not avaliable!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Coming sessions
            </div>
            <div class="panel-body">
                <div session-List ng-model="upcomingSessions" ng-show='upcomingSessions'></div>
                <div class="alert alert-danger" ng-show='upcomingSessions==undefined'>No coming sessions!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Physiotherapy invoices
            </div>
            <div class="panel-body">
                <div invoice-list ng-model="invoices" ng-show='invoices'></div>
                <div class="alert alert-danger" ng-show='invoices==undefined'>Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Package details
            </div>
            <div class="panel-body">
                <div package-list ng-model='packages' ng-show="packages"></div>
                <div class="alert alert-danger" ng-show='packages==undefined'>No packages avaliable!</div>
            </div>
        </div>
    </div>
</div>