<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Diagnostic</h1> <a class="btn btn-primary" ng-href="https://diagnostic.healthybillions.com/" target="blank" class="precamaBtn" style="float: right;margin-bottom: 5px;">Diagnostic</a>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Active Orders
            </div>
            <div class="panel-body">
                <table ng-show="currentActiveOrders.length!==0" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Product Name</th>
                            <th>Org Name</th>
                            <th>Preferred Time</th>
                            <th>Address</th>
                        </tr>
                        <tr ng-repeat="order in currentActiveOrders">
                            <td>{{order.product_name}}</td>
                            <td>{{order.org_name}}</td>
                            <td><i class="fa fa-calendar"></i> {{order.preferred_time | amDateFormat:'MMM DD, YYYY'}}
                            </td>
                            <td>{{order.org_details}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="currentActiveOrders.length==0">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 Orders
            </div>
            <div class="panel-body">
                <table ng-show="LastOrdersData.length!==0" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Product Name</th>
                            <th>Org Name</th>
                            <th>Preferred Date</th>
                            <th>Address</th>
                        </tr>
                        <tr ng-repeat="order in LastOrdersData | orderBy: '-preferred_time' | limitTo: 5">
                            <td>{{order.product_name}}</td>
                            <td>{{order.org_name}}</td>
                            <td><i class="fa fa-calendar"></i> {{order.preferred_time|amDateFormat:'MMM DD, YYYY' }}
                            </td>
                            <td>{{order.org_details}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" ng-show="LastOrdersData.length==0">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Result List
            </div>
            <div class="panel-body">
                <table ng-show="ResultList.total!==0" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tr>
                        <th>Test</th>
                        <th>Result</th>
                        <th>Unit</th>
                        <th>Range</th>
                        <th>Visited Date</th>
                        <th>Result Date</th>
                        <th class="no-print">Soft copy</th>
                    </tr>


                    <tr ng-repeat="result in ResultList">
                        <td><strong>{{result.test.name}}</strong></td>
                        <td><strong>{{result.value}}</strong>
                            <p>{{result.notes}}</p>
                        </td>
                        <td>{{result.uom.name}}</td>
                        <td class="text-left"> Min: {{result.min_normal}} - Max: {{result.max_normal}}</td>
                        <td><i class="fa fa-calendar"> {{result.visit.created_at | amDateFormat:'MMM DD, YYYY'}}</td>
                            <td><i class="fa fa-calendar"> {{result.created_at | amDateFormat:'MMM DD, YYYY' }}</td>
                            <td class="no-print"><a ng-if="result.photo" target="_blank"
                                 href="{{imagePath}}/result/{{result.photo}}"><span
                        class="glyphicon glyphicon-picture"></span> Open</a></td>
            </tr>

            </tbody>
                </table>
                <div class="alert alert-danger" ng-show="ResultList.total==0">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Precama partners list
            </div>
            <div class="panel-body">

            <table ng-show="PrecamaPartnersData.total!==0"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Get Direction</th>
                        
                    </tr>
                    <tr ng-repeat="partner in PrecamaPartnersData">
                        <td>{{partner.name | uppercase}}</td>
                        <td>{{partner.phone}}</td>
                        <td>{{partner.address}}</td>
                        <td>{{partner.city.name}}</td>
                         <td>{{partner.state.name}}</td>
                         <td><a href="http://www.google.com/maps/place/{{partner.lat}},{{partner.lng}}" target="_blank"><i class="fa fa-map-marker fa-2x"></a></td>
                    </tr>
                    </tbody>
             </table>
                <div class="alert alert-danger" ng-show="PrecamaPartnersData.tota==0">Not Found!</div>
            </div>
        </div>
    </div>
</div>