    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">SPA Service</h1>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <h5>Spa Expert :  <b> {{spaData.result.expertInfo.consultantsname | uppercase}}</b> </h5>
                    </div>
                    <div class="panel-body">
                        <div ng-show="spaData.result.expertInfo">
                        <h5> Address            :{{spaData.result.expertInfo.address}} </h5>
                        <h5> Consultant City    :{{spaData.result.expertInfo.zone}} </h5>
                        <h5>Mobile Number       :{{spaData.result.expertInfo.consultant_mobile_number}} </h5>
                        <h5>Trainer Email       :{{spaData.result.expertInfo.email}} </h5>
                        </div>
                        
                        <div ng-show="spaData.result.expertInfo==null" class="alert alert-danger" >You Don't have Current Trainer </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Last 5 sessions
                </div>
                <div class="panel-body">
                    <div ng-show="spaData.result.lastSessions.data" session-List ng-model="spaData.result.lastSessions.data"></div>
                    <div ng-show="spaData.result.lastSessions.data==undefined" class="alert alert-danger" >You don't have any last session's </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Coming sessions
                </div>
                <div class="panel-body">
                    <div  ng-show="spaData.result.upcomingSessions.data" session-List ng-model="spaData.result.upcomingSessions.data">
                    </div>
                    <div ng-show="spaData.result.upcomingSessions.data==null" class="alert alert-danger" >You Don't have any Upcoming session's </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Spa invoices
                </div>
                <div class="panel-body" >
                 <div ng-show="spaData.result.invoices==undefined"  class="alert alert-danger">You Don't have any Invoice </div>
                    <div ng-show="spaData.result.invoices" >
                        <div invoice-List ng-model="spaData.result.invoices"></div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Spa package details
                </div>
                <div class="panel-body" >
                    <table ng-show="spaData.result.packages" class="table table-striped table-bordered table-hover dataTable no-footer">
                        <tbody>
                            <tr class="gradeA odd">
                                <td>Package Name</td>
                                <td>Total Price</td>
                                <td>Numbers of sessions</td>
                            </tr>
                            <tr class="gradeA even" ng-repeat="package in spaData.result.packages">
                                <td>{{package.servicename}}</td>
                                <td>{{package.unit_price | currency:"&#8377; "}}</td>
                                <td>{{package.sessions}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="spaData.result.packages==undefined">
                        <div class="alert alert-danger">You Don't have any Packages </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
