<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Travel Emergency Service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Last 5 Travel Emergency Service</b>
            </div>
            <div class="panel-body">
            	<table ng-show="travelEmergencyData.lastTravelEmergencyService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="lastTravelEmergenc in travelEmergencyData.lastTravelEmergencyService">
                            <td>{{lastTravelEmergenc.consultantsname}}</td>
                            <td>{{lastTravelEmergenc.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{lastTravelEmergenc.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{lastTravelEmergenc.preferred_time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="travelEmergencyData.lastTravelEmergencyService==null" class="alert alert-danger">Not Found!</div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
               <b>Current Active Travel Emergency  Service</b> 
            </div>
            <div class="panel-body">
            	 <table ng-show="travelEmergencyData.currentActiveTravelEmergencyService!==null" class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                        <tr>
                            <th>Consultant</th>
                            <th>Member</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="activeTravelEmergenc in travelEmergencyData.currentActiveTravelEmergencyService">
                            <td>{{activeTravelEmergenc.consultantsname}}</td>
                            <td>{{activeTravelEmergenc.member}}</td>
                            <td><i class="fa fa-calendar"></i> {{activeTravelEmergenc.preferred_date| date:"mediumDate"}}
                            </td>
                            <td><i class="fa fa-clock-o"></i> {{activeTravelEmergenc.preferred_time }}
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div ng-show="travelEmergencyData.currentActiveTravelEmergencyService==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               <b>Last 5 invoices</b> 
            </div>
            <div class="panel-body">
            	<div ng-show="travelEmergencyData.invoices!==null" invoice-list ng-model="travelEmergencyData.invoices" ></div>
                <div ng-show="travelEmergencyData.invoices==null" class="alert alert-danger" >Not available!</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
               <b>List of Partner Travel Emergency services</b> 
            </div>
            <div class="panel-body">
                <table ng-show="travelEmergencyData.listOfTravelEmergencyServices.partners!==null"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        
                    </tr>
                    <tr ng-repeat="partner in travelEmergencyData.listOfTravelEmergencyServices.partners">
                        <td>{{partner.partnersname | uppercase}}</td>
                        <td>{{partner.partnersphone}}</td>
                        <td>{{partner.partners_address}}</td>
                        <td>{{partner.zone}}</td>
                         <td>{{partner.partners_state}}</td>
                    </tr>
                    </tbody>
             </table>
                <div ng-show="travelEmergencyData.listOfTravelEmergencyServices.partners==null" class="alert alert-danger" >Not Found!</div>
            </div>

        </div>
    </div>
</div>