<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Yoga Service</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                    My Performance Data
                </div>
               <div class="panel-body">
            <div ng-show="yogaData.result.performance!==null">
                <div ng-show="selectMemberPerformance">
                    <div class="panel-heading">
                    <select class="input-sm" ng-options="option.member for option in yogaData.result.performance" ng-model="selectMemberPerformance" ng-change="performanceGraph(selectMemberPerformance)">
                    </select>
                    </div>
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-legend="true"
                      chart-labels="labels" chart-series="series">
                    </canvas> 
                </div>
            </div>
            <div ng-show="yogaData.result.performance==null" class="alert alert-danger">You Don't have Performance </div>
            </div> 
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default" >
        <div class="panel-heading" >
            Current Trainer Details
        </div>
        <div class="panel-body" >
            <div ng-show="yogaData.result.trainerInfo!==null">
                <h5>Trainer Name : <b> {{yogaData.result.trainerInfo.consultantsname | uppercase}}</b> </h5>
                <h5> Address            :{{yogaData.result.trainerInfo.address}} </h5>
                <h5> Consultant City    :{{yogaData.result.trainerInfo.consultant_city}} </h5>
                <h5>Mobile Number       :{{yogaData.result.trainerInfo.consultant_mobile_number}} </h5>
                <h5>Trainer Email       :{{yogaData.result.trainerInfo.email}} </h5>
         </div>
      <div ng-show="yogaData.result.trainerInfo==null" class="alert alert-danger">Not found </div>
     </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 5 sessions
            </div>
            <div  class="panel-body">
                <div ng-show="yogaData.result.lastSessions!==null" session-List ng-model="yogaData.result.lastSessions"></div>
                <div ng-show="yogaData.result.lastSessions==null" class="alert alert-danger">No data !! </div>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Coming sessions
            </div>
            <div class="panel-body">
            <div ng-show="yogaData.result.upcomingSessions!==null">
                <div  session-List ng-model="yogaData.result.upcomingSessions"></div>
            </div>
                
                <div ng-show="yogaData.result.upcomingSessions==null" class="alert alert-danger">You Don't have UpComing Sessions </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yoga invoices
            </div>
            <div class="panel-body" >
                <div ng-show="yogaData.result.invoices" invoice-List ng-model="yogaData.result.invoices"></div>
                <div ng-show="yogaData.result.invoices==null" class="alert alert-danger">You Don't have Invoices </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yoga package details
            </div>
           
            <div  class="panel-body">
                 <div ng-show="yogaData.result.packages==null" class="alert alert-danger">You Don't have any Package</div>
                <div ng-show="yogaData.result.packages" package-List ng-model="yogaData.result.packages"></div>
            </div>
        </div>
    </div>
</div>
</div>