<div class="content-results">
    <div class="trending-phrasses-full full-content">
        <!-- <div class="full-header">
            <span translate>TRENDING PHRASES</span>
        </div> -->
        <div class="full-body" infinite-scroll-distance="10" infinite-scroll="loadMore()" infinite-scroll-disabled="pagingData.busy || pagingData.disabled">
            <div deckgrid class="deckgrid clearfix" source="result" cardTemplate="/js/app/search/templates/content/results/phrases/search.result.trendingphrases.card.view.html">
            </div>
        </div>
    </div>
</div>
