<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="main-content-area">
                <div class="row" data-ui-view="main">
                </div>

            </div>
        </div>
    </div>
</div>
