<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Centers</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Eye Care</h1>
                    <service-request servicename="Eye Care" serviceIndex = "6" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/eye.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">healthyBillions' partners ensure quality service at a preferred pricing for our members.</p>
                  </section>

                  </span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-if="eyeData.currentActiveEyeCareService.length">{{eyeData.currentActiveEyeCareService.length}}</span> <span ng-if="!eyeData.currentActiveEyeCareService.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span  ng-if="eyeData.lastEyeCareService.length">{{eyeData.lastEyeCareService.length}}</span><span ng-if="!eyeData.lastEyeCareService.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                  <span ng-if="eyeData.currentActiveEyeCareService[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{eyeData.currentActiveEyeCareService[0].preferred_date}}</span> <span ng-if="eyeData.currentActiveEyeCareService[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{eyeData.currentActiveEyeCareService[0].preferred_time}}</span>
                  </div>
                  </span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in eyeData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul>
                      <li ng-repeat="eyeCare in eyeData.EyeCareInfo.partners | limitTo:2"><section ng-click="allSlid(3)"> {{eyeCare.partnersname}} </section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Eye Care</h1>
                    <service-request servicename="Eye Care" serviceIndex = "6" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="currentActiveEyeCareService in eyeData.currentActiveEyeCareService">
                        <h3>{{currentActiveEyeCareService.consultantsname}}</h3>
                        <span ng-if="currentActiveEyeCareService.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{currentActiveEyeCareService.preferred_date}}</span> <span ng-if="currentActiveEyeCareService.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{currentActiveEyeCareService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="eyeData.currentActiveEyeCareService" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastEyeCareService in eyeData.lastEyeCareService">
                        <h3>{{lastEyeCareService.consultantsname}}</h3>
                        <span ng-if="lastEyeCareService.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{lastEyeCareService.preferred_date}}</span> <span ng-if="lastEyeCareService.preferred_time"  class="ion-ios-clock-outline blue paddingleft15"></span> <span class="fl">{{lastEyeCareService.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="eyeData.lastEyeCareService" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Eye Care</h1>
                    <service-request servicename="Eye Care" serviceIndex = "6" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="eyeData.invoices!==null">
                      <li ng-repeat="invoice in eyeData.invoices"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                  </section>
                  <div ng-show="eyeData.invoices==null" class="assertive noData">You do not have any invoices</div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body">
                    <h1>Eye Care</h1>
                    <service-request servicename="Eye Care" serviceIndex = "6" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Centers</h2>
                    <ul ng-show="eyeData.EyeCareInfo.partners">
                      <li ng-repeat="eyeCare in eyeData.EyeCareInfo.partners">
                        <section class="paddingBot">
                          <h3>{{eyeCare.partnersname}}</h3>
                          <p ng-if="eyeCare.partnersphone"><em class="ion-ios-telephone"></em>{{eyeCare.partnersphone}}</p>
                          <p ng-if="eyeCare.partners_address"><em class="ion-ios-location"></em>{{eyeCare.partners_address}}</p>
                        </section>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                    </section>
                    <div ng-show="eyeData.EyeCareInfo.partners==null" class="assertive noData">You do not have any centers </div>
                  </section>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">
      <div class="tsb-icons" >
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3" >About</a> <a href="javascript:;" class="tab-link tabWidth3" >Centers</a> </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
            <div class="item item-body">
                    <h1>Eye Care</h1>
                    <service-request servicename="Eye Care" serviceIndex = "6" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/eye.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">healthyBillions' partners ensure quality service at a preferred pricing for our members.</p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
            <div class="slide-box box list"> <a class="item button-full btnBlue btnPartner" ng-click="partnerList()">Centers</a> </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="slide-box box" ng-if="partners.partners.length>0">
              <div class="card list">
              <div class="item item-body">
                    <h1>Eye Care</h1>
                    <service-request servicename="Eye Care" serviceIndex = "6" class="viewAll uppercase">Request Service</service-request>
                  </div>
                <section class="dtlsBox"><h3>Centers</h3></section>
              	<section class="item" href="#" ng-repeat="partner in partners.partners">
                <h3>{{partner.partnersname}}</h3>
                <p ng-if="partner.partnersphone"><em class="ion-ios-telephone"></em>{{partner.partnersphone}}</p>
                <p ng-if="partner.partners_address"><em class="ion-ios-location"></em>{{partner.partners_address}}</p>
                <div class="clearBoth"></div>
                </section>
              </div>
            </div>
            <div class="slide-box box" ng-show="partners.length==0">
              <div class="card list">
                <div class="item item-body">
                  <h1>Eye Care</h1>
                </div>
                <section class="dtlsBox"><h3>Centers</h3></section>
                <div class="assertive noData">Centers are not avaliable.</div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
