<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth3">Illness</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a><a href="javascript:;" class="tab-link tabWidth5">Appointment Status</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">

              <div class="card list">
              <div class="item item-body"><h1>24/7 Doctor Connect</h1> <service-request servicename="24/7 Doctor Connect" serviceIndex = "2" class="viewAll uppercase">Request Service</service-request></div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/doctor-connect.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">Members get guaranteed access to a doctor 24/7, 365 days, simply by dialing healthyBillions' number <em class="tollFree"><span>8<span class="red">-100-</span>888-888</span></em></p>



                  </section>

                </div>



                <div class="card list">
                  <section class="dtlsBox">

                    <h2>Services</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-if="docData.currentActiveAppointment.length">{{docData.currentActiveAppointment.length}}</span> <span ng-if="!docData.currentActiveAppointment.length">0</span>Upcoming Services</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="docData.lastCallData.length">{{docData.lastCallData.length | number}}</span><span ng-if="!docData.lastCallData.length">0</span>Previous Services</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                    <span ng-if="docData.currentActiveAppointment[0].preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{docData.currentActiveAppointment[0].preferred_date}}</span> <span ng-if="docData.currentActiveAppointment[0].preferred_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{docData.currentActiveAppointment[0].preferred_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in docData.invoices | limitTo:2"> <section ng-click="allSlid(3)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                <div class="item item-body"><h1>24/7 Doctor Connect</h1> <service-request servicename="24/7 Doctor Connect" serviceIndex = "2" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Upcoming Services</h2>
                    <ul>
                      <li ng-repeat="currentActiveAppointment in docData.currentActiveAppointment">
                        <h3>{{currentActiveAppointment.consultantsname}}</h3>
                        <span ng-if="currentActiveAppointment.preferred_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{currentActiveAppointment.preferred_date}}</span> <span class="ion-ios-clock-outline blue paddingleft15"></span> <span ng-if="currentActiveAppointment.preferred_time" class="fl">{{currentActiveAppointment.preferred_time}}</span>
                        <div class="clearBoth"></div>
                      </li>
                    </ul>
                  </section>
                  <span ng-hide="docData.currentActiveAppointment" class="assertive noData"> You do not have any services</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Services</h2>
                    <ul>
                      <li ng-repeat="lastCallData in docData.lastCallData"> <a href="#/dashboard/viewAppointment/{{lastCallData.ticketid}}">
                        <h3>{{lastCallData.consultantsname}}</h3>
                        <em class="ion-ios-arrow-right arrowPos"></em> <em ng-if="lastCallData.preferred_date" class="ion-ios-calendar-outline blue"></em> <em class="fl">{{lastCallData.preferred_date}}</em> <em ng-if="lastCallData.preferred_time" class="ion-ios-clock-outline blue paddingleft15"></em> <em class="fl">{{lastCallData.preferred_time}}</em>
                        <div class="clearBoth"></div>
                        </a> </li>
                    </ul>
                  </section>
                  <span ng-hide="docData.lastCallData" class="assertive noData"> You do not have any services</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>24/7 Doctor Connect</h1> <service-request servicename="24/7 Doctor Connect" serviceIndex = "2" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <ul ng-show="docData.illnessList">
                      <li ng-repeat="illness in docData.illnessList">
                        <div class="paddingBot">
                          <h3>Illness : #{{illness.illnesslistid}}</h3>
                          <p>{{illness.illnesslistname}}</p>
                          <span class="txtPos1">{{illness.illnesslistno}}</span> </div>
                      </li>
                    </ul>
                    <div ng-show="!docData.illnessList" class="assertive noData">You do not have any Illness</div>
                  </section>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>24/7 Doctor Connect</h1> <service-request servicename="24/7 Doctor Connect" serviceIndex = "2" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul ng-show="docData.invoices">
                      <li ng-repeat="invoice in docData.invoices | limitTo:2"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section> </li>
                    </ul>
                    </section>
                    <div ng-show="!docData.invoices" class="assertive noData">You do not have any invoices</div>

                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body"><h1>24/7 Doctor Connect</h1> <service-request servicename="24/7 Doctor Connect" serviceIndex = "2" class="viewAll uppercase">Request Service</service-request></div>
                  <section class="dtlsBox">
                    <div ng-if="docData.serviceStatus" ng-show="docData.serviceStatus">
                      <ul>
                        <li href="#"ng-repeat="package in docData.serviceStatus.service_status">
                          <h2>{{package.member}}</h2>
                          <section ng-if="package.service_taken"> Total Services Taken <span class="statusGreen">{{package.service_taken}}</span> </section> <section ng-if="package.service_taken==null"> Total Services Taken <span class="statusGreen">0</span> </section> <section ng-if="package.services_remaining_free"> Free Services Remaining <span class="statusGreen">{{package.services_remaining_free}}</span> </section> <section ng-if="package.services_remaining_free==null"> Free Services Remaining <span class="statusGreen">0</span> </a> </li>
                      </ul>
                      <div ng-repeat="packages in docData.serviceStatus.service_list">
                        <ul>
                          <li><section>{{packages.servicename}} price <span class="badge statusGreen"> {{truncate(packages.unit_price)| currency:"&#8377;"}} </span></section> </li>
                        </ul>
                      </div>
                    </div>
                    <div ng-hide="docData.serviceStatus" class="assertive noData">You do not have any service</div>
                  </section>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
             <div class="item item-body"><h1>24/7 Doctor Connect</h1> <service-request servicename="24/7 Doctor Connect" serviceIndex = "2" class="viewAll uppercase">Request Service</service-request></div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/doctor-connect.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">Members get guaranteed access to a doctor 24/7, 365 days, simply by dialing healthyBillions' number</p>
                <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
