<ion-view view-title="">

    <ion-content class="">
    <div align="center" class="profile-info center padding item">
        <span class="">
             <img ng-src="img/profile-icon.png" src="img/profile-icon.png" width="50%" />
        </span>
        <h3>{{profileData.member.first_name}} {{profileData.member.last_name}}</h3>
        {{profileData.member.city}}
    </div>
    <form name="profileForm" ng-submit="updateAccount(profileForm)" novalidate ng-app>
        <div class="myProfileForm">

            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="profileData.email" class="form-control" ng-disabled="profileData.email" placeholder="Email">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Membership No</span>
                <input type="number" ng-model="profileData.member.membership_no" class="form-control" ng-disabled="profileData.member.membership_no">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Membership Type</span>
                <input type="text" ng-model="profileData.member.membership_type" class="form-control" ng-disabled="profileData.member.membership_type">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="email" ng-model="profileData.member.first_name" class="form-control" ng-disabled="profileData.member.first_name">
                <span class="assertive noData"  ng-show="errors.address">{{errors.first_name}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="email" ng-model="profileData.member.last_name" class="form-control" ng-disabled="profileData.member.last_name">
                <span class="assertive noData"  ng-show="errors.last_name">{{errors.last_name}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile No</span>
                <input type="email" ng-model="profileData.member.phone" class="form-control" ng-disabled="profileData.member.phone">
                <span class="assertive noData"  ng-show="errors.phone">{{errors.phone}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <div class="input-label">
                  Gender
                </div>
                <select class="form-control" ng-model="profileData.member.gender">

                  <option>Male</option>
                  <option selected>Female</option>
                  <option>Other</option>

                </select>
                <span class="assertive noData"  ng-show="errors.gender">{{errors.gender}}</span>
              </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <input type="text" name="dob" placeholder="yyyy-mm-dd" ng-model="profileData.member.dob" class="form-control">
                <span class="assertive noData"  ng-show="errors.dob">{{errors.dob}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" ng-model="profileData.member.address" class="form-control">
                <span class="assertive noData"  ng-show="errors.address">{{errors.address}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <div class="input-label">
                  City
                </div>
                <select class="form-control" ng-model="profileData.member.city">

                  <option>Kolkata</option>
                  <option selected>Mumbai</option>
                  <option>Noida</option>

                </select>
                <span class="assertive noData"  ng-show="errors.city">{{errors.city}}</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Post Code</span>
                <input type="text" ng-model="profileData.member.post_code" class="form-control">
                <span class="assertive noData"  ng-show="errors.post_code">{{errors.post_code}}</span>
            </label>

            <h4 class="positive"  ng-show="successMsg">{{successMsg}}</h4>
            <ion-list class="item button-row">
                <button class="button button-block button-positive" type="submit">Submit</button>
            </ion-list>

        </div>

    </form>

    <p></p>


    </ion-content>
</ion-view>