<ion-view view-title="">

    <ion-content>
    
    <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                  <section >
                  
    <label class="item item-input item-stacked-label">
        <span class="input-label">Member</span>
        <span class="form-control">{{docCallData.member}}
        </span>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Doctor</span>
        <span class="form-control">{{docCallData.consultantsname}}
        </span>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Medication</span>
        <span class="form-control">{{docCallData.medication_details}}
        </span>
    </label>
    <label class="item item-input item-stacked-label" ng-show="{{docCallData.ticket_feedback}}!=0">Rating: 
        <span star-Rating class="star-rating" rating-value="docCallData.ticket_feedback" data-max="10" on-rating-selected="getRating(rating)">   
        </span>
    </label>
    <label ng-show="docCallData.text_feedback" class="item item-input item-stacked-label">
        <span class="input-label">Feedback</span>
        <span class="form-control">{{docCallData.text_feedback}}
    </label>

    <form name="feedbackForm" ng-init="submitted=false" ng-hide="docCallData.text_feedback || docCallData.ticket_feedback!=0" ng-submit="getDocFeedback(feedbackData,docCallData.ticketid)">

        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Rate
            </div>
            <select name="rating" ng-model="feedbackData.feedback" required>
            <option selected value="">Rate</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select>
          </label>

        </div>
        <div ng-if="submitted" ng-show="feedbackForm.rating.$error.required" class="item-assertive">Rating is required</div>
        <label class="item item-input">
            <input type="text" name="login" required  ng-model="feedbackData.comment" placeholder="Enter Feedback">
        </label><br>
        <input class="button button-block btnBlue" ng-click="submitted=true" type="submit" value="Add Feedback">

    </form>
    
    </section>
    </div>
    </div>
    </div>

    </ion-content>
</ion-view>