<div class="container">
    <div class="row">
        <a href="/">
            <div class="logo logoCenter"></div>
        </a>
        
        <div class="card">
            <h2>Payment</h2>
            
            <div class="clear"></div>
            <ul class="paymentOption">
                <li><a href ng-click="selectPaymentGateway('payumoney');" class="payu" ng-class="">&nbsp;</a></li>
                <li><a href ng-click="selectPaymentGateway('paytm');" class="paytm" ng-class="">&nbsp;</a></li>
            </ul>
            <div class="paymentCard payment-payu paymentOptRt" ng-show="paymentType=='payumoney'">
                <form role="form" method="post" name="payuForm">
                        <span class="hide">
                        <input type="text" ng-model="payUPosted.key" name="key" required />
                        <input type="text" ng-model="payUPosted.hash" name="hash" required />
                        <input type="text" ng-model="payUPosted.txnid" name="txnid" required />
                        <input type="text" ng-model="payUPosted.amount" name="amount" required/>
                        <input type="text" ng-model="payUPosted.firstname" name="firstname" required/>
                        <input type="text" ng-model="payUPosted.email" name="email" value="{{payUPosted.email}}" required />
                        <input type="text" ng-model="payUPosted.phone" name="phone" value="{{payUPosted.phone}}" />
                        <input type="text" ng-model="payUPosted.productinfo" name="productinfo" required />
                        <input type="text" ng-model="payUPosted.surl" name="surl" required />
                        <input type="text" ng-model="payUPosted.furl" name="furl" required />
                        <input type="text" name="service_provider" value="payu_paisa" size="64" />
                        <input type="text" ng-model="payUPosted.udf1" name="udf1" required/>
                        <input type="text" ng-model="payUPosted.udf4" name="udf4" required/>
                        <input type="text" ng-model="payUPosted.udf5" name="udf5" required/>
                        </span>
            <p>Product Info: <strong>{{productInfo.name}}</strong></p>
    		
            <p>Pay using credit card <img src="images/cards.png"> using <strong>PayUMoney</strong></p>    
    		
            <p><strong>Total: Rs. {{payUPosted.amount | number:2}}</strong></p>
    
    
    
            <div class="btnAreaOrder">
                <input type="submit" value="Pay by PayU" class="btnBookNow" ng-click="payment()">
            </div>
        </form>
            </div>
            <div class="paymentCard payment-payu paymentOptRt" ng-show="paymentType=='paytm'">
               <form role="form" method="post" name="paytmForm">
                <span class="hide">
                <input type="text" ng-model="paytmPosted.CALLBACK_URL" name="CALLBACK_URL" required/>
                <input type="text" ng-model="paytmPosted.MERC_UNQ_REF" name="MERC_UNQ_REF" required/>
                <input type="text" ng-model="paytmPosted.ORDER_ID" name="ORDER_ID" required/>
                <input type="text" ng-model="paytmPosted.CUST_ID" name="CUST_ID" required/>
                <input type="text" ng-model="paytmPosted.INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" required/>
                <input type="text" ng-model="paytmPosted.CHANNEL_ID" name="CHANNEL_ID" required/>
                <input type="text" ng-model="paytmPosted.TXN_AMOUNT" name="TXN_AMOUNT" required/>
                <input type="text" ng-model="paytmPosted.MID" name="MID" required>
                <input type="text" ng-model="paytmPosted.REQUEST_TYPE" name="REQUEST_TYPE" required>
                <input type="text" ng-model="paytmPosted.WEBSITE" name="WEBSITE" required>
                <input type="text" ng-model="paytmPosted.MOBILE_NO" name="MOBILE_NO" required>
                <input type="text" ng-model="paytmPosted.EMAIL" name="EMAIL" required>
                <input type="text" ng-model="paytmPosted.CHECKSUMHASH" name="CHECKSUMHASH" required>
                </span>        
            <p>Product Info: <strong>{{productInfo.name}}</strong></p>
    		
            <p>Pay using credit card <img src="images/cards.png"> using <strong>Paytm</strong></p>
           
            <p><strong>Total: Rs. {{paytmPosted.TXN_AMOUNT | number:2}}</strong></p>
    
    
    
            <div class="btnAreaOrder">
                <input type="submit" value="Pay by Paytm" class="btnBookNow" ng-click="processPaytm()">
            </div>
        </form>
    </div>
    
    	<div class="clear"></div>
		</div>

	</div>