<div class="pull-right1 recent-searches" data-ng-controller="RecentSearchesCtrl">
    <!--<button class="btn btn-primary btn-sm">Popular</button>
            recentSearches-->
    <!--    <span dropdown on-toggle="toggled(open)">
   <a href id="location-dropdown" dropdown-toggle>Locations</a>
     <ul class="dropdown-menu" aria-labelledby="location-dropdown">
         <li data-ng-repeat="location in result.states" ng-click="selectLocation(location)">
             <a href>{{ location.state }}  - <strong>{{ location.percent }}%</strong></a>             
         </li>
       </ul>
      </span>
    <div ng-if="selectedLocation.state">]
        <span>Selected: </span>{{ selectedLocation.state }} - <strong>{{ selectedLocation.percent }}%</strong>
    </div>-->
    <div class="btn-group popularBtnDiv_" dropdown dropdown-append-to-body on-toggle="toggled(open)">
        <button type="button" id="recent-searches-btn" dropdown-toggle class="btn btn-primary btn-sm popularBtn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span translate>Popular</span></button>
        <ul class="dropdown-menu recent-searches-dropdown" aria-labelledby="recent-searches-btn">
            <li data-ng-repeat="search in result" ng-click="selectStream(search)">
                <a href>
                    <span class="pplrrsltcntr">{{$index + 1}}</span>
                    <strong>{{search.keyword}}</strong> - {{search.language}}:
                     <span class="time text-muted small" am-time-ago="search.createDate"></span>
                 </a>
            </li>
        </ul>
    </div>
    <div ng-if="selectedStream" style="display: none;">
        <span translate>Selected:  <strong>{{selectedStream.keyword}}</strong> - {{selectedStream.language}}:                  
                     <span class="time text-muted small" am-time-ago="selectedStream.createDate"></span>
        </span>
    </div>
</div>
