NOT USED
<section>
    <div class="modal-header">
        <h3 class="modal-title" translate>Video preview</h3>
    </div>
    <div class="modal-body">
        <iframe width="100%" height="600px" ng-src="{{url}}">
        </iframe>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()" translate>Close</button>
    </div>
</section>