<section>
    <div class="main">
        <div class="slider_div">
            <ul class="bxslider">
                <li><img src="../imgs/slider/11.jpg" title="Funky roots" /></li>
                <li><img src="../imgs/slider/22.jpg" title="The long and winding road" /></li>
                <li><img src="../imgs/slider/33.jpg" title="Happy trees" /></li>
                <li><img src="../imgs/slider/44.jpg" title="Happy trees" /></li>
            </ul>
        </div>
    </div>
    <div>
        <p>
            Chennai (Listeni/ˈtʃɛnnaɪ/; formerly known as Madras Listeni/məˈdrɑːs/ or /-ˈdræs/[8]) is the capital of the Indian state of Tamil Nadu. Located on the Coromandel Coast off the Bay of Bengal, it is one of the biggest cultural, economic and educational centres in South India. According to the 2011 Indian census, it is the fourth-largest city and fourth-most populous urban agglomeration in India. The city together with the adjoining regions constitute the Chennai Metropolitan Area, which is the 36th-largest urban area by population in the world.[9] Chennai is one of the Indian cities most visited by foreign tourists, and is the 47th most visited city in the world.[10] The Quality of Living Survey rated Chennai as the safest city in India.[11] Chennai attracts 45 percent of health tourists visiting India, and 30 to 40 percent of domestic health tourists.[12] As such, it is termed "India's health capital". As a growing metropolitan city in a developing country, Chennai confronts substantial pollution and other logistical and socio-economic problems. Chennai has the third-largest expatriate population in India at 35,000 in 2009, 82,790 in 2011 and estimated at over 100,000 by 2016.[14][15] Tourism guide publisher Lonely Planet named Chennai as one of the top ten cities in the world to visit in 2015.[16] Chennai is ranked as a beta-level city in the Global Cities Index [17] and was ranked the best city in India by India Today in the 2014 annual Indian city survey.[18][19] In 2015 Chennai was named the "hottest" city (worth visiting, and worth living in for long term) by the BBC, citing the mixture of both modern and traditional values.[20] National Geographic ranked Chennai's food as second best in the world; it was the only Indian city to feature in the list.[21] Chennai was also named the ninth-best cosmopolitan city in the world by Lonely Planet.[22] In January 2015 the Chennai Metropolitan Area was ranked as the third-largest economy in India, with the third-highest GDP per capita.[23] Chennai has been selected as one of the 100 Indian cities to be developed as a smart city under PM Narendra Modi's flagship Smart Cities Mission.[24]
        </p>
    </div>
</section>
