<nav>
    <ul class="menu">
        <li class="active"><a ui-sref="main.home">HOME</a></li>
        <li><a ui-sref="main.about">ABOUT</a></li>
        <li><a ui-sref="main.services">SERVICES</a></li>
        <li><a ui-sref="main.blog">BLOG</a></li>
        <li><a ui-sref="main.contact">CONTACT</a></li>
    </ul>
</nav>
