<section>
    <div class="services">
        <ul>
            <li><img src="../imgs/services/atm.jpg" alt="atm">
                <h3>ATM</h3></li>
            <li><img src="../imgs/services/bank.jpg" alt="bank">
                <h3>Banks</h3></li>
            <li><img src="../imgs/services/education.jpg" alt="education">
                <h3>Education</h3></li>
            <li><img src="../imgs/services/food.jpg" alt="food">
                <h3>Food</h3></li>
            <li><img src="../imgs/services/history.jpg" alt="history">
                <h3>History</h3></li>
            <li><img src="../imgs/services/hospital.jpg" alt="hospital">
                <h3>Hospital</h3></li>
            <li><img src="../imgs/services/it_parks.jpg" alt="it_parks">
                <h3>IT Parks</h3></li>
            <li><img src="../imgs/services/malls.jpg" alt="malls">
                <h3>Malls</h3></li>
            <li><img src="../imgs/services/movies.jpg" alt="movies">
                <h3>Movies</h3></li>
            <li><img src="../imgs/services/news.jpg" alt="new">
                <h3>NEWS</h3></li>
            <li><img src="../imgs/services/pb.jpg" alt="pb">
                <h3>Petrol Bunks</h3></li>
            <li><img src="../imgs/services/tourist.jpg" alt="tourist">
                <h3>Tourist</h3></li>
        </ul>
    </div>
    </div>
</section>
