<ion-view view-title="Activate Account" cache-view="false">
    <ion-content>
        <div class="content padding">Enter the code you received on your registered mobile number.</div>
        <form name="acForm" id="acForm" role="form" ng-submit="activateAccount(acForm)" ng-init="submitted=false" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="tel" name="phone" required ng-model="activationData.phone" placeholder="Mobile">
                </label>
                <label class="item assertive" ng-show="errors.phone">{{errors.phone}}</label>
                <label class="item item-input">
                    <input type="tel" name="activation_code" required  placeholder="Enter activation code"
                           ng-model="activationData.activation_code">
                </label>
                <label class="item assertive" ng-show="errors.activation_code">{{errors.activation_code}}</label>

                <label class="item item-input">
                    <input type="password" name="password" required  placeholder="Set your password"
                           ng-model="activationData.password" ng-pattern="/^.{8,12}$/">
                </label>
                <div ng-if="submitted" ng-show="acForm.password.$error.pattern || acForm.password.$error.required" class="item-assertive">Password should be 8-12 characters</div>

                <label class="item button-row">
                    <button class="button button-positive button-block" ng-click="submitted=true" type="submit">Activate</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
