<ion-view view-title="Password Reset" cache-view="false">
<ion-header-bar>
<h1 class="title">Password Reset</h1>
</ion-header-bar>
<ion-content has-header="true" padding="false">
	<div class="greyBg"><a class="logo"></a></div>
    <h1>Reset Password</h1>
    
<form name="passwordForm" role="form" ng-submit="sendResetCode(passwordFormData)" novalidate>
		<div class="list wrap">
		  <label class="item item-input input"> <span class="ion-ios-email-outline"></span>
            <input type="email" name="email" required ng-model="passwordFormData.email" placeholder="Email ID" required>
          </label>
        <label class="item asertive" ng-if="passwordForm.email.$invalid && !passwordForm.email.$pristine || passwordForm.email.$error.email">Valid email ID is required</label>
        <label class="button-row">
            <label class="assertive noData" ng-show="errors">{{errors}}</label> 
            <button class="button button-calm button-block btnOrange" ng-disabled="passwordForm.$invalid" type="submit">Send Code</button>
        </label>
		</div>
</form>
</ion-content>
</ion-view>
