<ion-view view-title="Login" hide-back-button="true" cache-view="false">
    <ion-content>
        <div class="greyBg"><a class="logo"></a></div>
        <h1>Login</h1>
        <div class="button-bar wrap">
            <a fconnect-button id="flogin" class="button loginFb"><span class="ion-social-facebook"></span>Sign in</a>
            <a gconnect-button id="glogin" class="button loginGoogle"><span class="ion-social-google"></span>Sign in</a>
        </div>
        <form name="loginFrom" method="post" id="loginForm" novalidate ng-init="submitted=false" ng-submit="loginUser(loginFrom)">
            <section class="loginBox loginSpaceFix">
                <label class="item item-input inputLogin">
                    <span class="ion-ios-email-outline"></span>
                    <span class="ion-iphone iconFix"></span>
                    <input type="text" autocorrect="off" autocapitalize="none" name="login" required ng-model="loginData.login" placeholder="Email or Mobile">
                </label>
                <span ng-show="loginForm.login.$dirty && loginForm.login.$invalid"></span>
                <label class="item item-input inputLogin"> <span class="ion-ios-locked-outline"></span>
                    <input type="password" name="password" required ng-model="loginData.password" placeholder="Password">
                </label>
            </section>
            <div class="footer">
                <div class="button-bar">
                    <button class="button blue fontBig" >Login</button>
                    <a nav-direction="back" ui-sref="registration.signup" class="button orange fontBig">Signup</a>
                </div>
                <div class="wrap">
                    <a menu-close class="skip paadding20" ui-sref="dashboard.physical">SKIP ></a>
                    <span> <a ui-sref="account.forgotPassword" class="paadding20">Forgot Password ?</a> </span>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
