<ion-view view-title="Password Reset">
<ion-header-bar>
<h1 class="title">Password Reset</h1>
</ion-header-bar>
<ion-content has-header="true" padding="true">
 <div style=" margin: 15px;" class="alert alert-warning"  role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    An Email has been sent to your email with activation link.
</div>
<form action="#/login">
    <input type="submit" class="button button-block button-positive" value="Back To Login">
</form>


</ion-content>
</ion-view>
