<ion-view view-title="" cache-view="false"> 
<ion-nav-buttons side="left">
    <a ui-sref="dashboard.physical" class="button icon-left ion-android-arrow-back button-clear"></a>
</ion-nav-buttons>


<ion-content has-header="true" padding="false">
	<div class="card">
        <div class="item item-body">
            <h1>Settings</h1>
        </div>
        <section class="dtlsBox">
            <h2>Change Password</h2> 
            <form name="passwordChangeForm" ng-submit="sendChangePassword(passwordChangeForm)" novalidate>
                <div class="fixSettingPadding">
                    <label ng-if="loggedInUser.auth_source=='web'" class="item item-input input"><span class="ion-ios-locked-outline"></span>
                        <input ng-if="loggedInUser.auth_source=='web'" type="password" name="old_password" ng-model="changePasswordData.old_password" placeholder="Current Password" required>
                        </label>
                        <label class="item asertive" ng-if="passwordChangeForm.old_password.$invalid && !passwordChangeForm.old_password.$pristine">This field is required</label>
                    <label class="item item-input input"><span class="ion-ios-locked-outline"></span>
                    <input type="password" name="password" ng-model="changePasswordData.password" placeholder="New Password" minlength="8" maxlength="12" required>
                    </label>
                    <label class="item asertive" ng-if="(passwordChangeForm.password.$invalid && !passwordChangeForm.password.$pristine) || passwordChangeForm.password.$error.minlength || passwordChangeForm.password.$error.maxlength">New Password should be 8-12 character long</label>

                    <label class="item item-input input"><span class="ion-ios-locked-outline"></span>
                    <input type="password" name="password_confirmation" ng-model="changePasswordData.password_confirmation" placeholder="Confirm Password" ng-pattern="changePasswordData.password" required>
                    </label>
                	<label class="item asertive" ng-if="errors.password_confirmation">{{errors.password_confirmation}}</label>
                    <label class="item asertive" ng-if="passwordChangeForm.password_confirmation.$error.pattern">Password and confirm password does not match</label>  
                    <div align="center">
                    <label><input class="button button-block btnBlue" type="submit" value="Change Password" ng-disabled="passwordChangeForm.$invalid"></label>
                    </div> 
                </div>
            </form>
        </section>
    </div>
<div class="card" ng-hide="notification_icon">
<section class="dtlsBox fixSettingBorder" >
    <h2>Notifications</h2> 
    <ion-toggle  ng-model="pushNotification" ng-change="pushNotificationChange(pushNotification)" toggle-class="toggle-calm">Allow notifications</ion-toggle> 
</section>    
</div>       
</ion-content>

</ion-view>
