<ion-view view-title="Terms and Conditions">
  <ion-content>
   <div class="card list">
                                    <section class="dtlsBox">
  
    <div class="staticCont">
      <b>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY BEFORE PURCHASING PRODUCTS, OR AVAILING SERVICES USING THIS SITE:</b>
      <p>These legal conditions govern the use of Products, Services and access to the Web Site ( *.healthybillions.com )</p>
      <p>By the use of this website “You” agree to the below stated terms and conditions set out in this agreement. However, the terms of service set out herein will be subject to change and all such changes shall be published from time to time by ( *.healthybillions.com ) and all users are requested to review the amended terms periodically. This agreement shall be construed as a legally binding agreement between the users and Precama Healthcare Private Limited (Hereinafter referred to as “HealthyBillions”) ( *.healthybillions.com ) is a web portal fully developed and owned by Precama Healthcare Private Limited.</p>
      <p>This Terms and Conditions document shall be construed as an agreement in “electronic form” as defined under Section 2(1) (r ) of the Information Technology Act, 2000 and shall not require any physical or digital signature to be valid.  Further, for the purposes of this Agreement as well as terms of use, HealthyBillions shall be an “intermediary” as defined under Section 2(1)(w) of the Information Technology Act, 2000 and for the purposes of these terms shall be regulated by the Information Technology (intermediary guidelines) Rules, 2011.</p>
      <p>It is herby agreed that all the services provided through the Website shall be rendered to you subject to the terms, conditions and covenants contained herein below (“Terms of Use”) and these Terms of Use shall apply to you as a casual visitor as well as a registered user.</p>
      <p>Further, you also agree and acknowledge that when you use any HealthyBillions services (eg. Insert nature of services eg. /MedicalDoctor/ clinic search), the rules, guidelines as well as terms and conditions applicable as per the Privacy Policy (available at -----) shall also be applicable, Further, you agree that you understand the information handling policies contained therein.</p>
      <p>Notwithstanding anything contained herein, HealthyBillions reserves the right to change the site as well as these terms and conditions at any time at the discretion of HealthyBillions and you shall be under an obligation to regularly refer to the terms page to understand the altered terms.</p>
      <ul class="termList">
        <li>
          <b>GENERAL:</b>
          <ul>
            <li>HealthyBillions is only an aggregator and is neither a medical practitioner nor does it provide any advice whatsoever. By accessing the Website and information therein you agree that the website shall solely serve the purpose of immediate reference and should be avoided in situations of medical emergencies. HealthyBillions shall not be liable for the quality and nature of advice given by the doctors listed on the Website.</li>
            <li>The information obtained by users from the Website and its employees, contractors, partners, sponsors, advertisers or otherwise on the site is for informational purposes only.</li>
            <li>The information furnished on the Website shall not be construed as a substitute for nor shall it replace professional medical advice, diagnosis and treatment. HealthyBillions urges subscribers as well as casual users to not disregard or avoid and shall avoid causing delay in obtaining critical medical advise from a professional healthcare advisor. You shall refrain from using the Website for emergency medical needs. All actions taken by you based on the information available on the Website shall solely be at your own risk and liability. None of the information provided on the Website or services available through the Website shall be construed as medical practice or medical care.</li>
          </ul>
        </li>
        <li>
          <b>DEFINITIONS:</b>
          <p>All capitalized terms in this Agreement shall have the meanings attributed to them below and shall not be ascribed any other meaning unless the context so warrants:-</p>
          <ul>
            <li><strong>“Applicable Law”</strong> shall mean the Acts, Rules, guidelines and ordinances currently
              in force within the territory of India including without limitation the Information
              Technology Act, 2000, Indian Penal Code, 1860, Indian Evidence Act, 1872 and the
              Indian Contract Act, 1972, Prevention of Money Laundering Act, 2002, Foreign
              Exchange Management Act, 1999, Indian Telegraph Act, 1885 /TRAI guidelines and
              Income Tax Act, 1961;</li>
            <li><strong>“Contents” or “Content”</strong> shall mean any and all information, data, text, software,
              music, sound, photographs, graphics, video, messages, materials, news, notices,
              articles, forms, documents, medical professionals/clinics/hospital brochures,
              manuals, and shall include all information capable of being viewed / downloaded on
              or through the web portal. Contents shall also include electronic mails, messages or
              other information which a user furnishes to be displayed on ( *.healthybillions.com );</li>
            <li><strong>“Features”</strong> shall mean and include all interactive, chat services, value added services
              and other features which may be introduced by HealthyBillions on any future date after	
              the launch of the web portal;</li>
            <li><strong>“License”</strong> shall mean the limited, non-exclusive license to access and make personal

              non-commercial use of the website for information and expression of purchase

              interest and placing individual buy orders as regards the products displayed by

              medical professionals/clinics/hospital or any service providers listed in the website;</li>
            <li>“<strong>You”</strong> shall mean  the entity/ individual, that has entered into this Agreement with HealthyBillions;</li>
            <li><strong>“Our”</strong> as used in the Terms below shall mean Precama Healthcare Private Limited;</li>
            <li><strong>“Services”</strong> shall mean the services available under this Agreement as offered on our web portal ( *.healthybillions.com );</li>
            <li><strong>“Service Providers” </strong>shall mean medical professionals, clinics, hospitals, diagnostic centres offering services which are listed in the website</li>
            <li><strong>“Orders”</strong> shall mean  all valid purchase instructions submitted by “You” in accordance with the terms of use without impersonation, false identity or identity theft via the HealthyBillions web portal ( *.healthybillions.com );</li>
            <li><strong>“Website”</strong> shall mean the site bearing address ( *.healthybillions.com ) and shall include all websites linked to that URL where such linked URL pages are lawfully posted and operated by HealthyBillions or its legally authorized agents.</li>
          </ul>
        </li>
        <li>
          <b>NATURE OF SERVICE AND EXCLUSION OF LIABILITY:</b>
          <ul>
            <li>The Website is only in the nature of a medical professionals aggregator and does not

              intend to recommend or endorse any specific tests, physicians, procedures, opinions or

              other information that may on the Website from time to time. All reliance and the extent of

              dependence placed by you on the information shall be solely at your own risk.</li>
            <li>The nature of services rendered by HealthyBillions through the website shall not be

              construed as professional medical services. HealthyBillions also clarifies that it does not grant

              any certifications, guarantees or warranties as regards any of the services displayed on the

              Website and shall not be liable as regards the warranties actually attaching to the services</li>
            <li>In furtherance to matters stated in Clause 3.1 & 3.2 above, “You” agree that “You”

              shall exercise independent judgment and due diligence before taking any decisions pursuant

              to viewing the Contents of the Website.</li>
            <li>The Contents provided on or through this Website are solely for information

              purposes and in no way does the Website intend to act as a substitute for specific advice

              from any medical professionals and are not intended to provide ““You” with any

              certifications, warranties or guarantees with respect to any specific tests, physicians,

              procedures, opinions or other information. By use of this Website “”You” agree and

              understand this restricted and limited use and that, ““You” will in all circumstances be

              solely responsible for determining “Your specific requirements and consequences arising

              there from.</li>
            <li>By using the services on the Website “You” also grant your consent to permit

              HealthyBillions to use the personal information uploaded by “You” such as mobile phone

              number, residential address etc. to communicate with you or to provide this information to

              the interested medical professionals to contact you</li>
          </ul>
        </li>
        <li>
          <b>LICENSE AND SITE ACCESS:</b>
          <p>Permitted Uses:</p>
          <ul>
            <li>Website can be used independently by any adult above 18 years of age. If “You” are

              under 18, “You” may use ( *.healthybillions.com ) only with involvement of a parent or guardian.

              HealthyBillions reserves the right to refuse service, terminate accounts, remove or edit

              content, or cancel orders at its sole discretion.</li>
            <li>License is granted in the form of a login id and password to access and use our Services.

              HealthyBillions grants “You” a limited license to access and make personal use of this site

              and not to download (other than page caching) or modify it, or any portion of it, except

              with express written consent of HealthyBillions.</li>
            <li>“You” are hereby acknowledging that by utilizing the  Services and the Website, “You”

              will not acquire any rights  in or to the Services or the Website or the materials contained

              within the Services or the Website other than a limited right to utilize the Services and

              the Website in accordance with the terms and conditions of this Agreement. In the event

              “You” choose to download content from the Website, “You” must do so in accordance

              with, and subject to, the terms and conditions contained herein below. Furthermore, all

              intellectual property rights related to the Services or the Website, including all copyright,

              trademark, trade secret and/or patent rights, will remain the exclusive property of

              HealthyBillions.</li>
            <li>“You” may not frame or utilize techniques to enclose any trademark, logo, or other

              proprietary information (including images, text, or form) of HealthyBillions without express

              written consent. Any unauthorized use terminates the permission or license granted to

              “You” by HealthyBillions. “You” may not use any HealthyBillions logo or other proprietary

              graphic or trademark as part of the link without express written permission from

              HealthyBillions.</li>
            <li>You shall at all times while accessing casually or as a subscriber act in accordance with

              law including without limitation in accordance with the Information Technology Act,

              2000 and the rules made thereunder.</li>
            <li>The information or material provided by you or posted by you on the Website shall not

              be misleading or misrepresentative of facts in any way whatsoever. You shall not be

              permitted to post or transmit content if it will in any way be patently offensive to the

              online community including without limitation sexually explicit content or content that is

              defamatory in nature or promotes obscenity, racism, hatred or physical harm.</li>
            <li>You shall not do or cause to be done anything that will lead to the transmission of junk

              mails, chain letters or unsolicited mass mailing or spamming or leads to the promotion

              of illegal activities or conduct that is abusive, threatening or obscene and libelous.</li>
            <li>You shall use the Website only for the purpose of searching and availing medical services

              or for such other permitted bona fide uses. You shall not under any circumstances gain

              or attempt to gain unauthorized access or exceed the scope of authorized access as

              contemplated herein above as well as stated in applicable Codes of Conduct or End User

              access and other Agreements subject to which the Website operates. You shall also

              refrain from interfering with another user’s usage of the Website.</li>
            <li>User shall also refrain from actually posting or causing to be posted on the Website a

              link to another website or URL that is in the opinion of HealthyBillions is inappropriate for the

              Website or contains material that would be prohibited by law or violates the spirit of

              these Terms of Use.</li>
            <li>You shall at all times and during each use of the Website use the same in a manner

              consistent with applicable law and regulations. Illegal and/or unauthorized uses of the

              Site, including without limitation, collecting usernames and/or email addresses of

              registered members by electronic or other means for the purpose of sending unsolicited

              email and unauthorized framing of or linking to the Site, are not permitted. This includes

              the unauthorized interception of the data stream coming from or going into the Site, as

              well as attempting to gain unauthorized access to the Site or exceeding your authorized

              access.</li>
            <li>You may not engage in advertising to, or solicitation of, other users through the Site to

              buy or sell any products or services, including, but not limited to services related to the

              Site. You may not transmit any chain letters or unsolicited commercial or junk email to

              other users via the Site. It is also a violation of these Terms of Use to use any

              information obtained from the Site in order to harass, abuse, or harm another person, or

              in order to contact, advertise to, solicit, or sell to another person outside of the Site

              without their prior explicit consent.</li>
            <li>You understand as well as acknowledge that the Website has the right at all times to

              disclose any information (including the identity of the persons providing information or

              materials on the Site) as necessary to satisfy any law, regulation or valid governmental

              request. This may include, without limitation, disclosure of the information in

              connection with investigation of alleged illegal activity or solicitation of illegal activity or

              in response to a lawful court order or subpoena. In addition, we can (and you hereby

              expressly authorize us to) disclose any information about you to law enforcement or

              other government officials, as we, in our sole discretion, believe necessary or appropriate

              in connection with the investigation and/or resolution of possible crimes, especially

              those that may involve personal injury.</li>
            <li>HealthyBillions reserves the right, but has no obligation, to monitor the materials posted in the

              public areas of the Site including the Patient recommendations. HealthyBillions shall have the

              right to remove or edit any Content that in its sole discretion violates, or is alleged to

              violate, any applicable law or either the spirit or letter of these Terms of Use.

              Notwithstanding the foregoing right, you remain solely responsible for the Content of

              the materials you post in the public areas of the Site and in your private messages. Please

              be advised that Content posted in public areas of the Site does not necessarily reflect the

              views of HealthyBillions. In no event shall HealthyBillions assume or have any responsibility or

              liability for any Content posted or for any claims, damages or losses resulting from use

              of Content and/or appearance of Content on the Site. You hereby represent and warrant

              that you have all necessary rights in and to all Content you provide and all information it

              contains and that such Content shall not infringe any proprietary or other rights of third

              parties or contain any libelous, tortuous, or otherwise unlawful information.</li>
            <li>Further, you (user) shall be solely responsible for any notes, messages, e-mails, postings,

              photos, profiles, opinions, ideas, images or other materials or information posted or

              transmitted to the Website (including on the mobile application platform). However, all

              such material as well as content posted by you shall become the exclusive property of

              HealthyBillions and HealthyBillions shall be entitled subject to applicable privacy norms be entitled to

              use the content or any of its elements for any type of use without any limitation in time.

              The purposes for which the material posted by users can be used by HealthyBillions shall

              extend to without limitation for use in advertising, promotion campaigns in all mediums

              both print as well as digital. The material as well as content posted by you shall also be

              deployed by HealthyBillions in derivative works in which material provided by you shall be

              included. However, you shall not be entitled to any compensation or royalty for the use

              of the mateirls/content posted by you on the Website and all intellectual property shall

              vest in HealthyBillions</li>
          </ul>
        </li>
        <li>
          <b>CONFIDENTIALITY:</b>
          <ul>
            <li>If “You” use this site, “You” are responsible for maintaining the confidentiality of your

              account and password, and “You” agree to accept responsibility for all activities that occur

              under your account or password. As far as practicable and reasonable, HealthyBillions shall deal

              with all personal information in a reasonable and diligent manner in accordance with the

              Information Technology Act, 2000. However, by registering and availing the Services, You

              as well as medical professionals hereby permit necessary third party disclosures as far as it is

              necessary to enable HealthyBillions to render the Services.</li>
          </ul>
        </li>
        <li>
          <b>REPRESENTATIONS REGARDING SERVICES:</b>
          <ul>
            <li>HealthyBillions represents that it makes reasonable efforts to validate the qualifications as

              well as credentials of the clinics, hospitals and medical practitioners listed on the Website in

              its attempt to become a credible as well as high quality aggregator of information pertaining

              to available medical services in the relevant locality.</li>
            <li>HealthyBillions represents and warrants that it shall endeavor to be as accurate as

              possible as regards all Content displayed on the Website. However, HealthyBillions does not

              warrant that service descriptions or other content of this site is accurate, complete, reliable,

              current, or error-free. If the product provided by the clinics, hospitals, medical practitioners

              or any Service providers listed on the Website, itself is not match the description on the

              Website, your available remedy shall be solely against the service providers listed in the

              website as the case maybe.</li>
            <li>Although HealthyBillions shall make all reasonable efforts to maintain the accuracy as

              well as availability of the Services on the Website, HealthyBillions does not make any legally

              binding representation that the operation of Services through our web Site will be

              uninterrupted or error-free, and we shall not be liable for the consequences of any

              interruptions or errors.</li>
            <li>Our Services and the Website contain references and/or URL links to companies,

              products and web sites which are owned and operated by Publishers or the "External

              Sources". “You” acknowledge that HealthyBillions is not responsible for the availability of any

              External Sources. “You” should contact the companies for those External Sources if “You”

              have any concerns regarding such Products, Services and Web Site located on such External

              Sources.</li>
            <li>Clinics, hospitals, medical practitioners or any Service providers listed on the

              Website offers services through our website. HealthyBillions shall not be responsible for

              examining or evaluating, and HealthyBillions does not warrant the offerings of, any of these

              businesses or individuals or the content of their Web sites. Further, HealthyBillions shall not

              assume any responsibility or liability for the actions, product, and content of all these and

              any other third parties. “You” should carefully review their privacy statements and other

              conditions of use.</li>
            <li>HealthyBillions does not in any way endorse or promote or market any of the medical

              professionals listed herein and in no way shall HealthyBillions be liable to you or your relatives or

              any other third party for any decisions made or actions taken based on reliance placed on

              the information on the Website.</li>
            <li>Further, notwithstanding the listings done on the Website, HealthyBillions does not

              guarantee the continuous availability of the listed healthcare provider at any particular point

              in time.</li>
          </ul>
        </li>
        <li>
          <b>TERMS REGARDING PRICING:</b>
          <ul>
            <li>Even though the aggregation as well as search service provided by HealthyBillions is free of charge, the selected healthcare provider will charge the usual consultation fees for the medical advice provided. In this regard, HealthyBillions shall have no power or authority to dictate the fees charged by the medical professionals listed on the Website and all such matters shall be responsibility of the patient.</li>
            <li>The price for services displayed on the website shall be the price as fixed by the

              Clinics, hospitals, and medical practitioners.</li>
            <li>Notwithstanding anything contained in the Terms and Conditions herein, HealthyBillions shall not be liable for misrepresentations as regards specifications and prices by the Clinics, hospitals, and medical practitioners and in all such circumstances the users using the search and order service on the Website shall pursue all their remedies against the registered service providers alone and shall not implead HealthyBillions in such disputes

              against the service providers.</li>
          </ul>
        </li>
        <li>
          <b>TERMS REGARDING REVIEWS, COMMENTS, COMMUNICATIONS AND

            MISCELLANEOUS CONTENT:</b>
        </li>
        <ul>
          <li>“You” are permitted to post reviews, comments, photos, and other content; send e-cards and other communications; and submit suggestions, ideas, comments, questions, or

            other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." In this regard, HealthyBillions reserves the right (but not the obligation) to remove or edit such content and initiate criminal prosecution under Applicable Law for posting unacceptable

            content.</li>
          <li>“You” may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content.</li>
          <li>If “You” do post content or submit material, and unless we indicate otherwise, “You” grant HealthyBillions a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. HealthyBillions has the right but not the obligation to monitor and edit or remove any activity or content. HealthyBillions takes no responsibility and assumes no liability for any content posted by “You” or any third party.</li>
          <li>“You” further agree that “You” shall not use the Website to intentionally harm any other user in any manner either directly or indirectly. “You” shall also refrain from manipulating the Website in order to intentionally disguise your identity or disguise the origin of any content transmitted through the website.</li>
          <li>“You” shall also not do any act so as to cause disruptions to the normal flow of information and Content on the Website or disrupt or disturb the ability of other users to use the Website and Services by way of acts including but not limited to stalking and other forms of harassment.</li>
          <li>“You” shall not interfere with the Website or servers or networks connected to the Website or breach any of the requirements, procedures and policies of the networks connected to the Website.</li>
          <li>“You” shall also not be permitted to post or transmit any information that is derogatory as regards the brand, services or content relating to ( *.healthybillions.com ).</li>
          <li>HealthyBillions shall reserve the sole right and discretion to discontinue the member login in the event “You” violate any of the terms of this Agreement including but not limited to breach of intellectual property obligations or Code of Conduct relating to permissible information that can be uploaded or transmitted via the Website.</li>
        </ul>
        <li>
          <b>TERMS REGULATING BUYING AND SELLING ON THE WEBSITE:</b>
          <ul>
            <li>( *.healthybillions.com ) shall not permit testing of the Services by placing false Order requests and the said act shall be a crime under Applicable law and “You” shall be liable to punishment for              impersonation, fraud and identity theft. It is however clarified that “You” shall continue to be liable for the fictitious transaction since HealthyBillions shall reserve the right to determine your real identity through the unique address transmitted by your browser, IP address etc.</li>
          </ul>
        </li>
        <li>
          <b>INTELLECTUAL PROPERTY:</b>
          <p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the sole and exclusive property of HealthyBillions or its content suppliers and protected by Indian laws and international copyright laws. The compilation of all content on this site is the exclusive property of HealthyBillions and protected by Indian laws and international copyright laws. All software used on this site is the property of HealthyBillions or its software suppliers and protected by Indian laws and international copyright laws.</p>
          <p>This Site is controlled and operated by Precama Healthcare Private Limited. All material on this Site, including images, content, illustrations are protected by copyrights, trademarks, and other intellectual property rights that are owned and controlled by us or by other parties that have licensed their material to us. Material on the Site owned, operated, licensed or controlled by us is solely for your personal, non-commercial use. You must not copy, reproduce, republish, upload, post, transmit or distribute such material in any way, including by email or other electronic means and whether directly or indirectly and you must not assist any other person to do so. Without the prior written consent of the owner, modification of the materials, use of the materials on any other web Site or networked computer environment or use of the materials for any purpose other than personal, non-commercial use is a violation of the copyrights, trademarks and other proprietary rights, and is prohibited. Any use for which you receive any remuneration, whether in money or otherwise, is a commercial use for the purposes of this clause.</p>
        </li>
        <li>
          <b>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</b>
          <p>To the full extent permissible by applicable law, HealthyBillions disclaim all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose. HealthyBillions does not warrant that this site; information, content, materials, products (including software) or services included on or otherwise made available to “You” through this site; their servers; or electronic communications sent from HealthyBillions are free of viruses or other harmful components. HealthyBillions will not be liable for any damages of any kind arising from the use of this site or from any information, content, materials, products (including software) or services included on or otherwise made available to “You” through this site, including, but not limited to direct, indirect, incidental, punitive, and consequential damages, unless otherwise specified in writing.</p>
          <p>This Site, all the materials and products (including but not limited to software) and services, included on or otherwise made available to you through this Site and/or the call
            centre are provided by HealthyBillions "as is" and "as available" basis without any representation or warranties, express or implied except otherwise specified in writing. Without prejudice to the
            forgoing paragraph, HealthyBillions does not warrant that:</p>
          <ul>
            <li>This Website and/or the call centre will be constantly available, or available at all; or</li>
            <li>The information on this website and/or fetched from the call centre is complete, true, accurate or non-misleading.</li>
          </ul>
          <p>HealthyBillions shall not be liable to the subscriber patients or casual users as the case maybe  for cancelled, delayed, or otherwise unfulfilled appointments or any injuries resulting as a consequence. The principle of caveat emptor shall apply and you agree that you shall at all times while using the HealthyBillions Website additionally also conduct your own investigation
            prior to finally choosing a healthcare provider including the verification of the listed credentials.</p>
        </li>
        <li>
          <b>ADDITIONAL TERMS:</b>
          <p>Certain Services on the Site may have additional terms (such as policies, guidelines, and rules) that will further govern your use of that particular Service and supplement these Terms of Use. If you choose to register for or access any such Services, you will be presented with any relevant additional terms and conditions at that time. By using those Services, you agree to comply with such additional guidelines and rules.</p>
        </li>
        <li>
          <b>INDEMNITY:</b>
          <p>“You” (Applicable to buyers and registered members) agree to indemnify and hold
            HealthyBillions and its subsidiaries, affiliates, officers, agents, and employees, harmless from any
            claim or demand, including reasonable attorneys' fees, made by any third party due to or
            arising out of the Contents “You” submit, e-mail,  “You” make available through the Site,
            your use of the Site, your connection to the Site, your violation of this Agreement, or your
            violation of any rights of another user of this Site.</p>
        </li>
        <li>
          <b>TERM AND TERMINATION:</b>
          <p>HealthyBillions reserves the right to block your access to the Products, Services and Web Site if
            “You” are using it in excess of this provision or otherwise unreasonably upon investigation
            by HealthyBillions. The Products, Services and Web Site available are delivered in accordance
            with the terms of a License Agreement. HealthyBillions may modify any of the terms and
            conditions contained in this Agreement, at any time and in HealthyBillions’s sole discretion, by
            posting a change notice or a new agreement/ supplemental agreement on HealthyBillions’s
            Website. We may also choose to use commercially reasonable efforts to notify all users
            under this Agreement via any email addresses “You” provide to HealthyBillions. If any
            modification is unacceptable to “You”, your only recourse is to terminate this agreement.
            Your continued utilization of the service following any change will constitute your binding
            acceptance of the change. HealthyBillions also reserves the right, at its sole discretion, to
            restrict, suspend or terminate your access to all or any part of Products, Services and/or
            Web Site at any time for any reason without prior notice or liability.</p>
        </li>
        <li>
          <b>SEVERABILITY:</b>
          <p>These Terms and Conditions shall be deemed severable. In the event any provision of the
            Terms and conditions is determined to be unenforceable or invalid, such provision shall be
            enforced to the fullest extent permitted by applicable law and such determination shall not
            affect the validity and enforceability of any other remaining provisions.</p>
        </li>
        <li>
          <b>DISPUTE RESOLUTION:</b>
          <p>This Agreement shall be construed in accordance with the laws of India. By visiting
            ( *.healthybillions.com ), “You” agree that the Indian laws, without regard to principles of conflict of
            laws, will govern these Conditions of Use and any dispute of any sort that might arise
            between “You” and HealthyBillions. Any dispute relating in any way to your visit to
            ( *.healthybillions.com ) or to products or services sold or distributed directly by HealthyBillions or
            through HealthyBillions.com shall be referred for arbitration and arbitration place shall be in
            Bangalore, India, and “You” consent to exclusive jurisdiction. However, dispute as
            contemplated in these terms and conditions shall not cover service related disputes that
            “You” may have with the Service Providers relating to deficiency or negligence in the
            services availed.</p>
        </li>
        <li>
          <b>RELATIONSHIP:</b>
          <p>This Agreement or your use of this Site does not constitute any joint venture, partnership,
            employment or agency relationship between “You” and HealthyBillions.</p>
          <p>By the use of the services contemplated herein under these Terms, it is clarified that no
            contractual or professional relationship is created between the user/patient and the provider
            of health care services. The Website shall only be in the nature of an invitation to offer and
            not an offer for rendering professional medical services</p>
        </li>
        <li>
          <b>CONSENT FOR COMMUNICATION:</b>
          <p>By usage of the Website ( *.healthybillions.com ) “You” also consent to being contacted by the Clinics,
            hospitals, and medical practitioners and other related parties (who are authorized to access
            data uploaded on the Website) and their agents via SMS, e-mail, landline telephone and other
            electronic messaging means. In this regard, it is clarified that this consent shall be valid and
            HealthyBillions as well as other authorized persons accessing data shall not be held liable even if
            the said contact number uploaded on ( *.healthybillions.com ) is registered with the DO NOT CALL
            REGISTRY.</p>
        </li>
      </ul>
    </div>
    
    </section>
    </div>
    
  </ion-content>
</ion-view>


