<div class="contributors" data-ng-controller="SearchMainContentResultContributorsCtrl">
    <!-- <div class="col-md-4" data-ng-repeat="item in result"> -->
    <div deckgrid class="deckgrid" source="result" ng-if="result && result.length > 0">
        <div class="proPic3">
            <div class="profileInfo clearfix">
                <div class="profileInfoPic"><img data-ng-src="{{card.MESSAGE_JSON.profile_image_url}}" alt="" on-error-img-src="img/default_profile.jpg"/></div>
                <div class="profileInfoText">
                    <h3>
                    <a ng-href="{{card.MESSAGE_JSON.profileUrl}}" target="_blank">
                        <div class="username">{{card.MESSAGE_JSON.userName}}</div>
                    </a>
                </h3>
                    <span>{{$root.getMomentDate(card.MESSAGE_JSON.createdAt)}}</span>
                </div>
                <div class="profileSentiment" ng-show="card.SCORE !== undefined && card.SCORE >= 0 && card.SCORE <=100">
                    <sentiment-opinion ng-model="card"></sentiment-opinion>
                </div>
            </div>
            <a href="{{card.MESSAGE_JSON.profileUrl | decodeURIComponent}}" target="_blank">
                <p>{{ card.MESSAGE_JSON.text | limitTo: 150 }}{{card.MESSAGE_JSON.text.length > 150 ? '...' : ''}}</p>
            </a>
            <!-- <img src="img/pro-pic3.jpg" alt="" /> -->
            <div class="proPic2Btm">
                <div class="proPic2icon"><!--<img data-ng-src="{{ getSourceImgUrl(card.SOURCE).replace('.png', '_circle.png') }}"></div>-->
                    <img ng-src="img/social/plain/small/circle/{{ card.MESSAGE_JSON.source.toLowerCase() }}_circle.png"></div>
                <taxonomy-item-footer  context="'search'" item="card" item-type="'contributor'"></taxonomy-item-footer>
            </div>
        </div>
    </div>
    <!-- <div class="limitDiv" ng-if="result!== null && result.length > 0  && !pagingData.isCompleted" ng-click="updateLimit()"><span translate>Load more results</span></div> -->
    <div class="noResult" ng-if="result.length == 0 || result == null" translate>No Result Found</div>
</div>
