<div class="sentiment-area" data-ng-controller="SearchMainContentResultSentimentCtrl">
    <div class="title col-md-2 col-xs-12">
        <span translate>Sentiment</span>
    </div>
    <div id="step-sentiment"  class="slider col-md-8 col-xs-12">
        <div class="middle col-md-12 col-xs-12">
            <progressbar value="result"></progressbar>
            <div class="sentimentScore">
                <div class="col-md-2 col-xs-6 scoreSpanWrap">
                    <span class="scoreSpan">
                        <span class="sentiWrap pullLeft"><i class="fa fa-plus" aria-hidden="true"></i></span> <span class="pScore">{{ result | number:0 }}%</span>
                    </span>
                </div>
                <div class="col-md-2 col-xs-6 scoreSpanWrap pull-right">
                    <span>
                        <span class="sentiWrap pullRight"><i class="fa fa-minus" aria-hidden="true"></i></span> <span class="pScore">{{ 100-(result | number:0) }}%</span>
                    </span>
                </div>
                <!-- ng-class="{ 'col-md-6' :  neutralShow, 'col-md-8' : !neutralShow, 'sentiWrapMain' : (selectedTab === 'trending_phrase') }" -->
                <div class="col-xs-12" ng-class="[ (selectedTab === 'trending_phrase') &&neutralShow  ? 'col-md-6' : 'col-md-8', (selectedTab === 'trending_phrase') ? 'sentiWrapMain' : '']">
                    <div class="col-md-4 col-xs-12 sentiWrapDiv">
                        <a class="btn icon-btn" href="#" ng-click="filterSentiment('positive')" ng-class="{'disabled disabledPos' : checkedPositive === true}" ng-if="selectedTab === 'trending_phrase'"><span class="glyphicon btn-glyphicon img-circle text-positive">
                        <!-- <i class="fa fa-smile-o" aria-hidden="true"></i> -->
                        </span><span>Positive</span></a>
                    </div>
                    <div class="col-md-4 col-xs-12 sentiWrapDiv">
                        <a class="btn icon-btn" ng-class="{'disabled disabledNeu' : checkedNeutral === true}" href="#" ng-click="filterSentiment('neutral')" ng-if="selectedTab === 'trending_phrase'"><span class="glyphicon btn-glyphicon img-circle text-warning">
                        <!-- <i class="fa fa-meh-o" aria-hidden="true"></i> -->
                        </span><span>Neutral</span></a>
                    </div>
                    <div class="col-md-4 col-xs-12 sentiWrapDiv" align="right">
                       <a class="btn icon-btn" href="#" ng-class="{'disabled disabledNeg' : checkedNegative === true}" ng-click="filterSentiment('negative')" ng-if="selectedTab === 'trending_phrase'"><span class="glyphicon btn-glyphicon img-circle text-danger">
                       <!-- <i class="fa fa-frown-o" aria-hidden="true"></i> -->
                       </span><span>Negative</span></a>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12" ng-if="selectedTab === 'trending_phrase' && neutralShow">
                    <button type="button" class="btn clearSentiment" ng-if="selectedTab === 'trending_phrase' && neutralShow" ng-click="filterSentiment(undefined)"><i class="fa fa-times" aria-hidden="true"></i><span translate>Clear</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column col-md-2 col-xs-12">
        <!--<a ui-sref="main.base.content.main.main">
            <span class="loc">-->
        <!-- New location page -->
        <!--Location
            </span>
        </a>-->
        <div class="right-area">
            <div class="content-popular-searches" data-ng-include="'js/app/search/templates/recent.searches.view.html'">
            </div>
            <div class="content-popular-searches" data-ng-include src="'js/app/search/templates/content/results/main/search.result.main.locations.view.html'">
            </div>
        </div>
    </div>
</div>
