<div class="locationsBtn" data-ng-controller="SearchMainContentResultLocationsCtrl">
    <!--    <div class="col-md-2">
        <span class="loc" translate>Location</span>
    </div>
    <span uib-dropdown on-toggle="toggled(open)">
       <a href id="location-dropdown" uib-dropdown-toggle translate>Locations</a>
       <ul uib-dropdown-menu class="dropdown-menu location-dropdown" aria-labelledby="location-dropdown">
         <li data-ng-repeat="location in result" ng-click="selectLocation(location)">
             <a href>{{ location.STATE_NAME }}  - <strong>{{ location.PERCENTAGE }}%</strong></a>             
         </li>
       </ul>
    </span>
    <div ng-if="selectedLocation.state">
        <a data-ng-click="clearSelection()" class="btn btn-xs" tooltip-html-unsafe="{{'Cancel selection' | translate }}" tooltip-placement="bottom">
            <i class="fa fa-times"></i>
        </a>
        <span translate>Selected: </span>{{ selectedLocation.STATE_NAME }} - <strong>{{ selectedLocation.PERCENTAGE }}%</strong>
    </div>-->

    <div class="btn-group" dropdown dropdown-append-to-body on-toggle="toggled(open)">
        <button type="button" id="location-dropdown" dropdown-toggle class="btn btn-primary btn-sm locBtn">
        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; 
        <span translate>Location</span>
        </button>
        <ul class="dropdown-menu recent-searches-dropdown locations-drpdwn" aria-labelledby="location-dropdown">
            <li class="dropdown-loc" data-ng-repeat="location in result" ng-click="selectLocation(location)">
               <!-- <a href><div class="col-md-4">{{ location.STATE_NAME }}</div><div class="col-md-4">-</div> <div class="col-md-4"><strong>{{ location.PERCENTAGE }}%</strong></div></a>-->
                 
                 <a href> <span class="pplrrsltcntr">{{$index + 1}}</span> <strong class="state">{{ location.STATE_NAME }}</strong>
                 <span class="percent"> &nbsp; &nbsp; {{ location.PERCENTAGE }}%</span></a>
            </li>
            <li class="dropdown-noloc" ng-if="result.length === 0">
                No Location Found
            </li>
        </ul>
    </div>
    <div ng-if="selectedLocation.STATE">
        <a data-ng-click="clearSelection()" class="btn btn-xs" tooltip-html-unsafe="{{'Cancel selection' | translate }}" tooltip-placement="left">
            <i class="fa fa-times"></i>
            <span class="state">{{ selectedLocation.STATE_NAME }}</span> - <span class="percent">{{ selectedLocation.PERCENTAGE }}%</span>
        </a>
        <!--<div translate>Selected: </div>-->
        <!--<span class="state">{{ selectedLocation.STATE_NAME }}</span> <span class="pull-right percent">{{ selectedLocation.PERCENTAGE }}%</span>-->
    </div>

</div>
