<div class="row phrases" data-ng-controller="SearchMainContentResultTrendingphrasesCtrl">
    <!-- <div class="col-md-4" data-ng-repeat="phrase in result"> -->
    <div deckgrid class="deckgrid" source="result" ng-if="result && result.length > 0">
        <div class="proPic3">
            <spam-mark item="card" search="mother.search"></spam-mark>
            <div class="profileInfo clearfix">
                <div class="profileInfoPic">
                    <!-- <object data="img/default_profile.jpg" type="image/png"> -->
                        <img data-ng-src="{{card.PROFILE_IMAGE_URL}}" alt="" on-error-img-src="img/default_profile.jpg"/>
                    <!-- </object> -->
                <!-- <img data-ng-src="{{card.PROFILE_IMAGE_URL}}" alt="" /> -->
                </div>
                <div class="profileInfoText">
                    <h3>
                    <a ng-href="{{card.PROFILE_URL}}" target="_blank">
                        <div class="username">{{card.USER_NAME}}</div>
                    </a>
                </h3>
                    <span>{{$root.getMomentDate(card.CREATED_AT)}}</span>
                </div>
                <div ng-show="card.MOOD" class="sentimentood">
                    <img data-ng-src="img/exp_icons/{{card.MOOD}}.png" tooltip-html-unsafe="{{card.MOOD | translate}}" tooltip-placement="bottom" alt=""/>
                </div>
                <div class="profileSentiment" ng-show="(card.SENTIMENT_SCORE !== undefined) && (card.SENTIMENT_SCORE >= 0) && (card.SENTIMENT_SCORE <=100)">
                    <sentiment-opinion tooltip-html-unsafe="{{'Sentiment Update' | translate}}" tooltip-placement="bottom"  ng-model="card"></sentiment-opinion>
                </div>
            </div>
            <a href="{{card.MESSAGE_LINK_URL | decodeURIComponent}}" target="_blank">
                <p>{{ card.TEXT | limitTo: 150 }}{{card.TEXT.length > 150 ? '...' : ''}}</p>
            </a>
            <div class="text-images media-item">
                <media-list list-model="card.MEDIA_JSON"></media-list>
            </div>
            <!-- <img src="img/pro-pic3.jpg" alt="" /> -->
            <div class="proPic2Btm"><!-- this image should be styled - uncommend line below to see -->
                <div class="proPic2icon"><img ng-src="img/social/plain/small/circle/{{ card.SOURCE.toLowerCase() }}_circle.png"></div>
                <taxonomy-item-footer item="card" context="'search'" item-type="'trendingphrases'"></taxonomy-item-footer>
            </div>
        </div>
    </div>
   <!--  <div class="limitDiv" ng-if="result!== null && result.length > 0 && !pagingData.isCompleted" ng-click="updateLimit()"><span translate>Load more results</span></div> -->
    <div class="noResult" ng-if="result.length == 0 || result == null" translate>No Result Found</div>
</div>
