<div class="photovideo" data-ng-controller="SearchMainContentResultMediaCtrl">
    <!-- <div class="col-md-4" data-ng-repeat="media in result" title="{{media.title}}"> -->
    <div deckgrid class="deckgrid" source="result" ng-if="result && result.length > 0">
        <div class="proPic zoomPic" tooltip-html-unsafe="{{card.TITLE}}" tooltip-placement="top" tooltip-trigger="{{{ true: 'mouseenter', false: 'never'}[card.TITLE.length > 25]}}">
            <div class="proPicDiv" ng-show="card.TYPE=='PHOTO' ">
                <a ng-href="{{ card.IMG_URL }}" target="_blank">
                    <img fallback-image fallback-src="img/empty_500x500.png" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" data-ng-src="{{ mother.getPreparedUrl(card.BIGIMG_URL) }}">
                </a>
            </div>
            <div class="proPicDiv" ng-show="card.TYPE=='VIDEO'">
                <img fallback-image fallback-src="img/empty_500x500.png" style="cursor: pointer;" class="animation-fade" data-image-loaded data-loadedclass="animation-faded" ng-click="mother.playVideo(card)" data-ng-src="{{ mother.getPreparedUrl(card.BIGIMG_URL)  }}">
            </div>
            
            <div class="propicTrnsbox">
                <div class="proSocialicon"><a ng-href="{{ card.IMG_URL }}" target="_blank"><img data-ng-src="img/social/plain/small/circle/{{card.SOURCE.toLowerCase()}}_circle.png" ng-click="mother.playVideo(card)"></a></div>
                <span class="imgSpan">{{card.TITLE}}</span>
                <taxonomy-item-footer item="card" context="'search'" item-type="'media-'+card.TYPE"></taxonomy-item-footer>
            </div>
        </div>
    </div>
   <!--  <div class="limitDiv" ng-if="result!== null && result.length > 0  && !pagingData.isCompleted" ng-click="updateLimit()"><span translate>Load more results</span></div> -->
    <div class="noResult" ng-if="result.length == 0 || result == null" translate>No Result Found</div>
</div>
