<section class="srch-result-prvw">
    <div class="modal-header">
    	<div class="pull-right">
    		<i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
		</div>
    </div>
    <div class="modal-body">
        <div class="col-sm-6 col-md-2">
           <img class="modal-profile-thumb" data-ng-src="{{modalItem.PROFILE_IMAGE_URL}}" alt="" />
        </div>
        <div class="col-sm-6 col-md-10">
            <div class="profileInfoText col-sm-12 col-md-12">
                <h3>
                    <a ng-href="{{modalItem.PROFILE_URL}}" target="_blank">
                        <div class="username">{{modalItem.USER_NAME}}</div>
                    </a>
                </h3>
                <span am-time-ago="modalItem.CREATED_AT"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <a href="{{modalItem.MESSAGE_LINK_URL | decodeURIComponent}}" target="_blank">
                    <p>{{ modalItem.TEXT | limitTo: 150 }}{{modalItem.TEXT.length > 150 ? '...' : ''}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-if="!modalViewContext || modalViewContext!=='landing'">
        <modal-item-footer item="modalItem" context="'search'" item-type="modalItemType"></modal-item-footer>
    </div>
</section>