<ul>
    <li class="taggedByList">{{taggedBy}}</li>
    <li>
        <ul class="list-inline resFtr">
            <li>
                 <taxonomy-item item="item" item-type="itemType" context="context"></taxonomy-item>
            </li>
            <li>
                <share-item item="item" item-type="itemType" context="context"></share-item>
            </li>
            <li>
                <preview-item item="item" item-type="itemType" context="context"></preview-item>
            </li>
        </ul>
    </li>
</ul>
