<div class="spamPopover" style="">
	<div class="btn-group  pull-right" role="group">
        <a class="btn btn-xs">
            <div class="fa-timesWrap">
                <i class="fa fa-times" data-ng-click="toggleSpamPopover()"></i>
            </div>
        </a>
    </div>
	<div class="spamText" translate >Please be sure as you mark this as spam, once marked as spam it will not be shown in future search results.</div>
	<div class="spamBtnWrap">
		<span>
			<button ng-click="markAsSpam();" translate >Confirm</button>
			<button ng-click="toggleSpamPopover();" translate >Cancel</button>
		</span>
	</div>
</div>