<!--
<ul class="list-inline" data-ng-controller="ItemFooterCtrl">
    <li>
        <a href="" ng-click="tagItem(this)">
            <img ng-src="img/icons/likes-gray.png" width="18" height="18">
        </a>
    </li>
    <li>
        <a href="" ng-click="commentItem(this)">
            <img ng-src="img/icons/comment-gray.png" width="18" height="18">
        </a>
    </li>
    <li>
        <a href="" ng-click="shareItem(this)">
            <img ng-src="img/icons/share-gray.png" width="18" height="18">
        </a>
    </li>
    <li>
        <a href="" ng-click="openItem(this)">
            <img ng-src="img/icons/arrow-gray.png" width="18" height="18">
        </a>
    </li>
</ul>
-->
