<section class="srch-result-prvw">
    <div class="modal-header">
    	<div class="pull-right">
    		<i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
		</div>
    </div>
    <div class="modal-body">
        <h4>{{modalItem.TITLE}}</h4>
        <img width="100%" height="285px" ng-src="{{url}}">
    </div>
    <div class="modal-footer" ng-if="!modalViewContext || modalViewContext!=='landing'">
        <modal-item-footer item="modalItem" context="'taxonomy'" item-type="modalItemType"></modal-item-footer>
    </div>
</section>