<div class="search-share-main">
    <div class="btn-div">
        <span>Share it with</span>
        <div class="btn-group  pull-right" role="group">
            <a>
                <div class="fa-timesWrap">
                    <i class="fa fa-times" data-ng-click="closeSharePopover()" class="btn btn-xs" tooltip-html-unsafe="{{'Cancel selection' | translate }}" tooltip-placement="bottom"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="search-share-repeat" ng-repeat = "type in shares">
        <div class="search-share-itemFb" ng-click="shareItem(type);" ng-if="type === 'Facebook'">
                <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="search-share-itemTw" ng-if="type === 'Twitter'">
            <a ng-href="{{twitterShareURL()}}">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>