<section class="srch-result-prvw">
    <div class="modal-header">
        <div class="pull-right">
            <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="sentiment-profile fl">
            <span class="fl profileInfoPic mdlPf"> <img data-ng-src="{{sentimentData.PROFILE_IMAGE_URL}}" alt="" on-error-img-src="img/default_profile.jpg"/ alt="" /></span>
            <span class="fl profileInfoText">
                <h3><a target="_blank"><div class="username">{{sentimentData.USER_NAME}}</div></a></h3>
                <span>{{$root.getMomentDate(sentimentData.CREATED_AT)}}</span>
            </span>
            <span class="fr badge" style ="background-color : {{$root.getHexCode(sentimentData.SENTIMENT_SCORE)}}">
            {{sentimentData.SENTIMENT_SCORE}}%
            </span>
            <span class="fr sentimentVal">Sentiment Value</span>
        </div>
        <div class="clear"></div>
        <a href="{{sentimentData.MESSAGE_LINK_URL | decodeURIComponent}}" target="_blank">
                <p>{{ sentimentData.TEXT | limitTo: 150 }}{{sentimentData.TEXT.length > 150 ? '...' : ''}}</p>
            </a>
        <div class="rangeBar fl">
            <span class="title">Zimbrain</span>
            <div>
                <rzslider  rz-slider-model="priceSlider.value" rz-slider-options="priceSlider.options" ></rzslider>
            </div>
        </div>
    <!--     <div class="related-items fl">
            <span class="title">Related Items</span>
            <span>
            <ul>
            <li class="ng-scope">
            <span style="background-color: rgb(81, 564, 11);"></span>
            <span>Olympic</span>
            </li>
            <li class="ng-scope">
                <span style="background-color: rgb(77, 255, 73);"></span>
                <span>Iraq</span>
            </li>
            <li class="ng-scope">
                <span style="background-color: rgb(32, 955, 45);"></span>
                <span>Turky Attack</span>
            </li>
            <li class="ng-scope">
                <span style="background-color: rgb(0, 183, 55);"></span>
                <span>Fashion</span>
            </li>
            <li class="ng-scope">
                <span style="background-color: rgb(81, 177, 88);"></span>
                <span>Enrique</span>
            </li>
            </ul>
            </span>
        </div> -->
        <div class="opinion-expressions fl">
            <ul>
                <li class="ng-scope">
                    <input class="moodBtn" type="radio" ng-model="mood" value="ANGRY" id="angry">
                    <label for="angry"><img tooltip-html-unsafe="Angry" tooltip-placement="bottom" class="fa-3x" ng-class="{'clickBr': mood == 'ANGRY'}"   src="img/exp_icons/ANGRY.png" alt=""></i>
                    </label></br><i ng-show="mood == 'ANGRY'" class="fa fa-check fa-2x"  aria-hidden="true"></i>
                </li>
                <li class="ng-scope">
                    <input class="moodBtn" type="radio" ng-model="mood" value="DISGUST" id="disgust">
                    <label for="disgust"><img tooltip-html-unsafe="Disgust" tooltip-placement="bottom" class="fa-3x"  ng-class="{'clickBr': mood == 'DISGUST'}" src="img/exp_icons/DISGUST.png" alt="">
                    </i>
                    </label></br><i ng-show="mood == 'DISGUST'" class="fa fa-check fa-2x"  aria-hidden="true"></i>
                </li>
                <li class="ng-scope">
                    <input class="moodBtn" type="radio" ng-model="mood" value="FEAR" id="fear">
                    <label for="fear"><img tooltip-html-unsafe="Fear" tooltip-placement="bottom" class="fa-3x" ng-class="{'clickBr': mood == 'FEAR'}"  src="img/exp_icons/FEAR.png" alt="">
                    </label></br><i ng-show="mood == 'FEAR'" class="fa fa-check fa-2x"  aria-hidden="true"></i>
                </li>
                <li class="ng-scope">
                    <input class="moodBtn" type="radio" ng-model="mood" value="HAPPY" id="happy">
                    <label for="happy"><img tooltip-html-unsafe="Happy" tooltip-placement="bottom" class="fa-3x" ng-class="{'clickBr': mood == 'HAPPY'}"  src="img/exp_icons/HAPPY.png" alt="">
                    </label></br><i ng-show="mood == 'HAPPY'" class="fa fa-check fa-2x"  aria-hidden="true"></i>
                </li>
                <li class="ng-scope">
                    <input class="moodBtn" type="radio" ng-model="mood" value="SAD" id="sad">
                    <label for="sad"><img tooltip-html-unsafe="Sad" tooltip-placement="bottom" class="fa-3x" ng-class="{'clickBr': mood == 'SAD'}"  src="img/exp_icons/SAD.png" alt="">
                    </label></br><i ng-show="mood == 'SAD'" class="fa fa-check fa-2x"  aria-hidden="true"></i>
                </li>
                <li class="ng-scope">
                    <input class="moodBtn" type="radio" ng-model="mood" value="SURPRISED" id="surprised">
                    <label for="surprised"><img tooltip-html-unsafe="Surprised" tooltip-placement="bottom" class="fa-3x" ng-class="{'clickBr': mood == 'SURPRISED'}" src="img/exp_icons/SURPRISED.png" alt="">
                    </label></br><i ng-show="mood == 'SURPRISED'" class="fa fa-check fa-2x"  aria-hidden="true"></i>
                </li>
            </ul>
        </div>
        <div class="sbmtSentOpn">
            <div class="addCatPop">
                <div class="modal-footer">
                    <button class="btn btn-primary ok-btn ng-scope" ng-click="sentimentModelSbmt();"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <button class="btn btn-danger close-btn ng-scope" ng-click="close();"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
</section>
