<section class="srch-result-prvw">
    <div class="modal-header">
        <div class="pull-right">
            <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
        </div>
        <h4>Choose Clan</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <select class="form-control" ng-model="clanId" ng-options="item as item.clanName for item in myClanList">
                <option selected value="">Select Clan</option>
            </select>
        </div>
        <div class="form-group">
            <button class="shareclan pull-right" ng-click="shareToClan(clanId);">Share to Clan</button>
        </div>
    </div>
</section>
