<div class="taxonomy-tag-main">
    <div class="taxonomy-tag-area">
        <div class="commands up">
            <div class="center-button" ng-if="taxonomies.length > 0">
                <a class="btn btn-sm" data-ng-click="moveY(50)" tooltip-html-unsafe="{{'Move up' | translate }}" tooltip-placement="bottom">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </a>
            </div>
            <div class="btn-group  pull-right" role="group">
                <a class="btn btn-xs" ng-if="taxonomies.length > 0">
                    <div class="fa-checkWrap">
                        <i class="fa fa-check" aria-hidden="true" tooltip-html-unsafe="{{'Save selection' | translate }}" tooltip-placement="bottom" data-ng-click="saveTaggedItems()"></i>
                    </div>
                </a>
                <a class="btn btn-xs">
                    <div class="fa-timesWrap">
                        <i class="fa fa-times" data-ng-click="closePopover()" tooltip-html-unsafe="{{'Cancel selection' | translate }}" tooltip-placement="bottom"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="taxonomy-tag-items">
            <div class="taxonomy-items-wrapper" ng-style="scroller">
                <section class="taxonomy-tag-item-Nw-wrapper">
                    <div class="taxonomy-tag-item-Nw" style="background-color: {{selectedColorColumn}}">
                        <input type="text" placeholder="Add New Category" tooltip-html-unsafe="{{ 'Add New Category' | translate }}" tooltip-placement="bottom" ng-model="nwTaxonomy.name"/>
                    </div>
                    <div class="taxonomy-tag-item-NwColor">
                        <ngjs-color-picker selected="selectedColorColumn"></ngjs-color-picker>
                    </div>
                    <ul class="taxonomy-tag-item-NwBtn">
                        <li ng-click="addNewCategory(selectedColorColumn);">Ok</li>
                        <li ng-click="removeNewCategory();">Cancel</li>
                    </ul>
                </section>
                <div class="taxonomy-tag-item" data-ng-repeat="item in taxonomies">
                    <div class="taxonomy-tag-item-content" ng-click="selectTaxonomy(item)" tooltip-html-unsafe="{{item.name}}" tooltip-placement="top">
                        <div class="popLogoColor" ng-style="{'background-color':item.color}"></div>
                        <div class="logo popLogo">
                            <span>{{ item.name }}</span>
                        </div>
                        <div class="pull-left taxonomy-tag-item-checkbox">
                            <div class="checkbox">
                                <input id="checkbox1" class="styled" type="checkbox" checklist-model="selectedTaxonomies" checklist-value="item">
                                <label for="checkbox1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="commands down" ng-if="taxonomies.length > 0">
            <div class="center-button">
                <a class="btn btn-sm" data-ng-click="moveY(-50)" tooltip-html-unsafe="{{'Move down' | translate }}" tooltip-placement="top">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</div>
