<section class="srch-result-prvw">
    <div class="modal-header">
        <div class="pull-right">
            <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
        </div>
    </div>
    <div class="modal-body">
        <h4>{{modalItem.TITLE}}</h4>
        <iframe width="100%" height="285px" ng-src="{{url}}" allowfullscreen="allowfullscreen">
        </iframe>
    </div>
    <div ng-if="modalViewContext && modalViewContext !== 'landing' && modalViewContext !== 'ONLY-VIDEO'" class="modal-footer">
        <modal-item-footer item="modalItem" context="'taxonomy'" item-type="modalItemType"></modal-item-footer>
    </div>
</section>