<div class="result-content col-md-12 resultTab" ng-class="{'noHt': !$root.shwLoad,'addHt' : $root.shwLoad}" >
    <div class="spin-loading" ng-if="$root.shwLoad">
        <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
    </div>
    <div class="loadingAnimate" ng-if="$root.shwLoad"><marquee scrollamount="5" width="40">&lt;&lt;&lt;</marquee><span translate>Scraping content sources for your search</span><marquee scrollamount="5" direction="right" width="40">&gt;&gt;&gt;</marquee></div>
    <ul id="myTab" class="nav nav-tabs">
        <li class="spam_list" ng-class="{'active' : selectedTab === 'spam_list'}">
            <a href="javascript:void(0)" ng-click="toggleTab('spam_list', $event)">
                <span translate>SPAM LIST</span>
            </a>
        </li>
        <li id="step-leaders" class="author_list" ng-class="{'active' : selectedTab === 'author_list'}">
            <a href="javascript:void(0)" ng-click="toggleTab('author_list', $event)">
                <span translate>AUTHOR LIST</span>
            </a>
        </li>
    </ul>
    <div id="spamTabContent" class="tab-content">
       <div class="result-col col-space tab-pane" ng-include src="'js/app/spam/templates/content/main/spam.result.main.trendingphrases.view.html'" ng-if="selectedTab === 'spam_list'"></div>
       <div class="result-col col-space tab-pane" ng-include src="'js/app/spam/templates/content/main/spam.result.main.authorList.view.html'" ng-if="selectedTab === 'author_list'"></div>
    </div>
</div>
