<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Profile</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-7">
        <div class="alert alert-success fa fa-check" ng-show="success">
            {{success}}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Update Profile
            </div>
            <div class="panel-body">
                <form role="form" ng-submit="updateUser()" name="updateUserForm" novalidate ng-init="submitted=false">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name *</label>
                                <input class="form-control" name="firstName" ng-disabled="userData.member.first_name" ng-model="userData.member.first_name" ng-pattern="/^[A-Z]/i" type="text">
                            </div>
                            <div class="form-group">
                                <label>Last Name *</label>
                                <input class="form-control" ng-disabled="userData.member.last_name" ng-model="userData.member.last_name" type="text">
                            </div>
                            <div class="form-group">
                                <label>Email* </label>
                                <input class="form-control" ng-disabled="userData.email" ng-model="userData.email" type="text">
                            </div>
                            <div class="form-group">
                                <label>Phone No. *</label>
                                <input class="form-control" ng-disabled="userData.phone" ng-model="userData.member.phone" type="text" require>
                            </div>
                            <div class="form-group">
                                <label>Date of birth *</label>
                                <input id="dob" ng-if="userData.dobBool==0" class="form-control" type="text" ng-model="userData.member.dob" required max-date="-1970/01/02" min-date="1940/01/02" readonly />
                                <div ng-if="userData.dobBool==1" class="form-inline">
                                    <input combodate data-format="YYYY-MM-DD" data-template="D MMM YYYY" type="text" ng-model="userData.member.dob" placeholder="Date of birth" required data-custom-class="form-control" data-min-year="1950" />
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" ng-model="userData.member.gender" require>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" ng-model="userData.member.address" type="text" require>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select id="user_time_zone" ng-model="userData.member.city" class="form-control">
                                <option value="kolkata">Kolkata</option>
                                <option value="mumbai">Mumbai</option>
                                <option value="banglore">Banglore</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <label>Postal Code *</label>
                                <input class="form-control" name="postCode" ng-minlength="6" ng-maxlength="6" maxlength="6" minlength="6" ng-pattern="/^(\d)+$/" ng-model="userData.member.post_code" type="text">
                                <span class="help-block" ng-show="errors.post_code">{{errors.post_code}}</span>
                                <span ng-show="((updateUserForm.postCode.$error.minlength || updateUserForm.postCode.$error.maxlength) && updateUserForm.postCode.$dirty) ">Post Code should be 6 digits</span>
                                <p ng-show="updateUserForm.postCode.$error.pattern">Post Code should be digits.</p>
                            </div>
                            <div class="form-group">
                                <label></label>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" ng-click="submitted=true" value="Submit">
                                </div>

                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                Members
            </div>
            <div class="panel-body">
                <p class="text-success" ng-repeat="member in members">{{member.first_name}} {{member.last_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Userful link
                    </div>
                    <div class="panel-body">
                        <a href="#/account/setting" class="btn btn-link fa fa-gear">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>