<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Change Password</h1>
    </div>
</div> 
<div class="alert alert-success fa fa-check" ng-show="success">
    {{success}}
</div>
<div class="alert alert-danger fa fa-remove" ng-if="errors">
    <p ng-repeat="(key, error) in errors">{{error}}</p>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Change Password
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form"  name="changePasswordForm" ng-submit="changepassword(user)" ng-init="submitted=false">
                            <div class="form-group" ng-class="{'has-error': errors.old_password}">
                                <label>Old Password</label>
                                <input class="form-control" name="oldPassword" ng-model="user.old_password" type="password" placeholder="Old Password" ng-minlength="8" ng-maxlength="12" required>
                                 <span ng-show="changePasswordForm.oldPassword.$error.minlength || changePasswordForm.oldPassword.$error.maxlength"> Password should be between 8-12 characters</span> <span  ng-show="changePasswordForm.oldPassword.$error.required  && submitted">Enter Old Password</span>
                              
                            </div>
                            <div class="form-group" ng-class="{'has-error': errors.password}">
                                <label>New Password</label>
                                <input class="form-control" ng-model="user.password" type="password" placeholder="New Password" ng-minlength="8" name="newPassword" ng-maxlength="12" required>
                                <label class="control-label" for="inputError" ng-show="errors.password">{{errors.password}}</label>
                                <span ng-show="changePasswordForm.newPassword.$error.minlength || changePasswordForm.newPassword.$error.maxlength"> Password should be between 8-12 characters</span> <span  ng-show="changePasswordForm.newPassword.$error.required  && submitted">Enter New Password</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error': errors.password_confirmation}">
                                <label>Confirm Password</label>
                                <input class="form-control" ng-disabled="changePasswordForm.newPassword.$error.required" ng-minlength="8" ng-maxlength="12" ng-model="user.password_confirmation" name="newConfirmPassword" type="password" placeholder="Confirm Password" required>
                                  <span  ng-show="changePasswordForm.newConfirmPassword.$error.required  && submitted">Enter New Password</span>
                                  <span  ng-show="user.password !== user.password_confirmation && !changePasswordForm.newConfirmPassword.$pristine && changePasswordForm.newConfirmPassword.$viewValue!=''" >
                                         Password Don't match
                                 </span>
                                <label class="control-label" for="inputError" ng-show="errors.password_confirmation">{{errors.password_confirmation}}</label>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>