<div class="row dashboard">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>

<div class="col-lg-3 col-md-6"> <a ng-href="#">
  <div class="col-xs-3"><div class="ico-doc-con"></div></div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>24/7 Medical Concierge</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/doctorOnCall">
  <div class="col-xs-3"> <div class="ico-doc-con"></div></div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>24x7 Doctor Connect</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/travelEmergency">
  <div class="col-xs-3"> <div class="ico-travel"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div class="respTravelEm">Travel Emergency</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/ambulance">
  <div class="col-xs-3"> <div class="ico-ambulance"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div> 24x7 Ambulance</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/medicalSecondOpinion">
  <div class="col-xs-3"> <div class="ico-mso"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Medical second opinion</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/precama">
  <div class="col-xs-3"> <div class="ico-diagnostic"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Diagnostic</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/Pharmacy">
  <div class="col-xs-3"> <div class="ico-pharmacy"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Pharmacy</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/physiotherapy">
  <div class="col-xs-3"> <div class="ico-physio"></div>  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Physiotherapist at Home</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/doctorAtHome">
  <div class="col-xs-3"> <div class="ico-doctor"></div>  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Doctor at home</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/nurseAtHome">
  <div class="col-xs-3"> <div class="ico-nurse"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Nurse at home</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#">
  <div class="col-xs-3"> <div class="ico-opd"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>OPD</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#">
  <div class="col-xs-3"> <div class="ico-ipd"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>IPD</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/yoga">
  <div class="col-xs-3"> <div class="ico-yoga"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Yoga</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#">
  <div class="col-xs-3"> <div class="ico-fitness"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Fitness</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/dietician">
  <div class="col-xs-3"> <div class="ico-dietcian"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Dietician</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>


<div class="col-lg-3 col-md-6"> <a ng-href="#">
  <div class="col-xs-3"> <div class="ico-full-body"></div> </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Full Body Checkup</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/eyeCare">
  <div class="col-xs-3"> <div class="ico-eye"></div>  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Eye Care</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/dentalCare">
  <div class="col-xs-3"> <div class="ico-dental"></div> </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Dental Care</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
<div class="col-lg-3 col-md-6"> <a ng-href="#/gynaeCare">
  <div class="col-xs-3"> <div class="ico-gynea"></div>  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9 text-right">
          <div>Gynae Care</div>
        </div>
      </div>
    </div>
  </div>
  </a> </div>
  
  </div>
<div class="clear"></div>
