<div class="phrases spamAuthorList" data-ng-controller="SpamMainContentResultAuthorsCtrl">
    <div class="col-md-4 col-xs-12 col-sm12 deckgrid spamDeckgrid" ng-repeat="card in result" ng-if="result && result.length > 0">
        <div class="proPic3">
            <div class="authName">Author: {{card.authorName}}</div>
            <div class="ursDes">
                 <div><span>source:</span> {{card.source}}</div>
                 <div><span>count:</span> {{card.count}}</div>
            </div>
            <spam-auth-footer author-id="{{card.authorId}}" update-parent="updateList(author)"></spam-auth-footer>
        </div>
    </div>
    <div class="noResult" ng-if="(result.length == 0 || result == null)" translate>No author found</div>
    <div class="spamLoadMore" ng-if="result !== null && result.length > 0"><button ng-click="run();">Load More Results</button></div>
</div>