<div class="phrases" data-ng-controller="SpamMainContentResultTrendingphrasesCtrl">
    <div deckgrid class="deckgrid spamDeckgrid" source="result" ng-if="result && result.length > 0">
        <div class="proPic3">
            <div class="profileInfo clearfix">
                <div class="profileInfoText">
            <h3 ng-show="card.authorName">
                          Author: <div class="username authNm">{{card.authorName}}</div>
                    </h3>
                    Created By: <div class="username">{{card.createdBy}}</div>
                    <span am-time-ago="card.createdAt"></span>
                </div>
            </div>
            <p>{{ card.text | limitTo: 150 }}{{card.text.length > 150 ? '...' : ''}}</p>
            <div class="proPic2Btm">
                <div class="proPic2icon"><img ng-src="img/social/plain/small/circle/{{ card.source.toLowerCase() }}_circle.png"></div>
                <button ng-click="mother.delSpam(card.authorId);" tooltip-html-unsafe="{{ 'Permanently deletes all items by the author of this content' | translate }}" tooltip-placement="top">Delete</button>
            </div>
        </div>
    </div>
    <div class="noResult" ng-if="(result.length == 0 || result == null)" translate>No spam found</div>
    <div class="spamLoadMore" ng-click="run();" ng-if="result !== null && result.length > 0"><button>Load More Results</button></div>
</div>