<div id="page-login" class="row">
    <div class="col-xs-12">
       <div class="box">
            <div class="box-content">
                <form accept-charset="UTF-8" role="form" ng-submit="updatePassword()">
                    <div class="text-center">
                        <h3 class="page-header" translate>Password change</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label" translate>Old Password</label>
                        <input type="text" ng-model="changePasswordModel.oldPassword" placeholder="Old password" class="form-control" name="oldPassword" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" translate>New Password</label>
                        <input type="password" ng-model="changePasswordModel.newPassword" placeholder="New Password" class="form-control" name="newPassword" required>
                    </div>
                    <div class="text-center">
                        <!--<a href="../index.html" class="btn btn-primary">Sign in</a>-->
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Update password" translate>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
