<div class="search-share-main">
    <div class="btn-div">
        <div class="btn-group  pull-right" role="group">
            <a>
                <div class="fa-timesWrap">
                    <i class="fa fa-times" data-ng-click="toggleSocialPopover()" class="btn btn-xs" tooltip-html-unsafe="{{'Cancel selection' | translate }}" tooltip-placement="bottom"></i>
                </div>
            </a>
        </div>
    </div>
    <ul class="profileSocialList">
        <li data-ng-if="socialAccounts.TW" data-ng-click="disconnectAccount('TW')"><i class="fa fa-twitter" aria-hidden="true"></i><span translate>Disconnect</span></li>

        <li data-ng-if="socialAccounts.FB" data-ng-click="disconnectAccount('FB')"><i class="fa fa-facebook" aria-hidden="true"></i><span translate>Disconnect</span></li>
    </ul>
</div>