<section class="goProfile clearfix">
    <div class="col-md-4 col-sm-12 col-xs-12 nopaddinglft" data-ui-view="leftuser"></div>
    <div class="col-md-8 col-sm-12 col-xs-12" data-ui-view="content"></div>
    <div data-ui-view="rightuser"></div>
</section>
