<div class="col-md-12 col-sm-12 col-xs-12 nopaddingrt" ng-if="activeContent === 'sns'">
        <div class="goProfileRt">
            <nav class="goProfileNav">
                <ul>
                    <li class="activeSns"><a href="">SNS 1 </a></li>
                    <!-- <li><a href="#">SNS 2</a></li>
                    <li><a href="#">SNS 3</a></li>
                    <li><a href="#">SNS 4</a></li> -->
                </ul>
            </nav>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href class="socialinfo" ng-class="{'disconnected' : !socialAccounts.TW, 'addSoHt' : (!socialAccounts.TW || !socialAccounts.FB)}">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <div data-ng-if="!socialAccounts.TW">
                          <button type="button" data-ng-click="connectAccount('TW')" class="btn btn-default soclBtnProfc" translate>Connect</button>
                        </div>
                        <div data-ng-if="socialAccounts.TW">
                          <button type="button"  class="btn btn-default soclBtnProfcConncected" translate>Connected</button>
                        </div>
                        <!-- <div ng-if="socialAccounts.TW" class="soclBtnProWrap">
                            <button type="button" class="btn btn-default soclBtnPro"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div> -->
                        <div ng-if="socialAccounts.TW" class="soclBtnProWrap" >
                            <button type="button" class="btn btn-default soclBtnPro" tooltip-html-unsafe="{{'Disconnect Twitter' | translate }}" tooltip-placement="bottom" data-ng-click="disconnectAccount('TW')"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href class="socialinfo" ng-class="{'disconnected' : !socialAccounts.FB,'addSoHt' : (!socialAccounts.TW || !socialAccounts.FB)}">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <div data-ng-if="!socialAccounts.FB">
                          <button type="button"  data-ng-click="connectAccount('FB')" class="btn btn-default soclBtnProfc"  translate>Connect</button>
                        </div>
                        <div data-ng-if="socialAccounts.FB">
                          <button type="button" class="btn btn-default soclBtnProfcConncected" translate>Connected</button>
                        </div>
                        <!-- <div ng-if="socialAccounts.FB" class="soclBtnProWrap">
                            <button type="button" class="btn btn-default soclBtnPro"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div> -->
                        <div ng-if="socialAccounts.FB" class="soclBtnProWrap" >
                            <button type="button" tooltip-html-unsafe="{{'Disconnect Facebook' | translate }}" tooltip-placement="bottom" data-ng-click="disconnectAccount('FB')"  class="btn btn-default soclBtnPro"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-md-4">
                    <a href class="socialinfo notactive">
                        <img src="/img/profileSocial_icon3.png" alt="" />
                        <button type="button" class="btn btn-default soclBtnProfi" translate>Inactive</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href class="socialinfo notactive">
                        <img src="/img/profileSocial_icon4.png" alt="" />
                        <button type="button" class="btn btn-default soclBtnProfi" translate>Inactive</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="socialinfo notactive">
                        <img src="/img/profileSocial_icon5.png" alt="" />
                        <button type="button" class="btn btn-default soclBtnProfi" translate>Inactive</button>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 nopaddingrt goProfilePassWrap" ng-if="activeContent === 'changePassword'">
        <div class="contentHd"><span class="passHead">Update Password<i class="fa fa-times pull-right" aria-hidden="true" ng-click="closeForm(changePasswordForm);"></i></span></div>
        <form name="changePasswordForm" ng-submit="changePass(changePasswordForm)">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" ng-model="changePasswordModel.oldPassword" placeholder="Current Password..." class="form-control" name="oldPassword" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" ng-model="changePasswordModel.newPassword" placeholder="New Password..." class="form-control" name="newPassword" ng-minlength="6" validate-password-characters required/>
                        <div class="help-block pull-left">
                            <p class="help-block" translate>Password should contain minimum 6 characters of combination of small and capital letters, number without white spaces.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" ng-model="changePasswordModel.newPasswordConfirm" placeholder="Confirm Password..." name="newPasswordConfirm" class="form-control verify" ng-minlength="6" required confirm-password="changePasswordModel.newPassword" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-default" ng-disabled="changePasswordForm.$invalid || changePasswordForm.$pristine || formProcessing"><span ng-show="!formProcessing" translate>Update Password</span><span ng-show="formProcessing" translate>Processing..</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>