<div class="user-head">
    <div>
        <div class="logo">
            <a ui-sref="main.base.content.main.main">
                <img width="200px" src="img/lg_zimgologo.png">
                <div class="pageDetailLogo">
                	<a ui-sref="main.base.content.main.main">
                        <img src="img/pageDetails.png" alt="" />
                    </a>
                	<span translate>Profile</span>
            	</div>
            </a>
        </div>
    </div>
</div>
