<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Zimgo</a> -->
      <div class="homeSref" data-ng-include="'js/app/navigation/templates/navbar.left.view.html'"></div>
    </div>
    <div class="collapse navbar-collapse navbar-fixed-top" id="navbar">
        <div class="homeSref" data-ng-include="'js/app/navigation/templates/navbar.left.view.html'" />
        <div data-ng-include="'js/app/navigation/templates/navbar.right.view.html'" />
    </div>
  </div>
</nav>