<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="goProfileLft">
        <div class="goProfileLfthd">
            <div class="uploadpic">
                <img src="/img/proPic.jpg" alt="">
                <div class="adduploadpic" ng-if="socialAccounts.TW || socialAccounts.FB">
                <i class="fa fa-angle-down" aria-hidden="true" ng-click="toggleSocialPopover();" tooltip-html-unsafe="{{'Disconnect social account' | translate }}" tooltip-placement="bottom"></i>
                    <span class="footer-span" popover-template="'/js/app/users/templates/user.social.popover.html'" popover-toggle="issocialCOnnectPopoverOpen" popover-placement="bottom"></span>
                </div>
            </div>
            
        </div>
        <div class="goProfileLftbtm">
            <h3>{{ user.accountUserName }}</h3> 
            <p translate>Adding your Facebook and Twitter credentials enables Zimgo to search and present you with relevant contents from these sources.</p>
            <div class="chngPass">
                <button ng-click="openPasswordForm();" translate ng-disabled="activeContent === 'changePassword'">Change Password</button>
            </div>
        </div>
    </div>
</div>
