<div class="row tribeClanPage">
    <div class="col-md-12 col-md-12-15">
        <div class="col-md-3 bodyPad">
            <div class="clanProfileLeftPart">
                <div class="clanImage">
                     <img class="img-thumbnail" data-ng-src="{{currentClanDetails.icon}}" src="img/tribeImgs/noclan.png" alt="">
                    <!-- <ul>
                        <li class="img-thumbnail" ng-if="photosList.length !== 0 || photosList !== null" ng-repeat="pic in photosList | limitTo:4"><img ng-src="{{pic.picture}}" alt=""></li>
                    </ul> -->
                </div>
                <div class="clanLeftBtns">
                    <button ng-if="!isSubscribed" ng-click="joinClan()">Join This Clan <i class="fa fa-plus pull-right" aria-hidden="true"></i> <!-- ng-if="hideJoinBtn" -->
                    </button>
                    <button ng-if="isSubscribed" ng-click="unJoinClan();">Unjoin This Clan <i class="fa fa-minus pull-right" aria-hidden="true"></i>
                    <button ng-if="isBookmark" ng-click="bookmarkClan();">Bookmark Clan <i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i>
                    </button>
                    <create-tribe-event ng-if="!hideJoinBtn" ename="Clan"></create-tribe-event>
                </div>
                <div class="clanLeftNav">
                    <ul id="myTab">
                        <li ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post" ng-class="{ active: (isActive('post') || isActive('/clan/postDetails/{{postID}}'))  }">Posts<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                        </li>
                        <li ui-sref="main.base.tribe.main.main.categorie.tribes.clan.tribemans" ng-class="{ active: isActive('tribemans') }">Tribesmen<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                        </li>
                        <li ui-sref="main.base.tribe.main.main.categorie.tribes.clan.photos" ng-class="{ active: isActive('photos') }">Photos<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                        </li>
                        <li ui-sref="main.base.tribe.main.main.categorie.tribes.clan.events" ng-class="{ active: isActive('events') }">Events<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 clanMain bodyPad clearfix">
            <div class="tribeMainContent">
                <div class="spin-loading" ng-if="shwLoad">
                    <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="loadingAnimate" ng-if="shwLoad"><marquee scrollamount="5" width="40">&lt;&lt;&lt;</marquee><span translate>Fetching list</span><marquee scrollamount="5" direction="right" width="40">&gt;&gt;&gt;</marquee></div> -->
                <!-- <ul class="profileMainBreadCremp clanBradcrumb">
                    <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="#">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                    <li> <a ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId})" href="#">{{currentTribe.tribeName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                    <li ng-if="$state.current.name = 'main.base.tribe.main.main.categorie.tribes.clan.post'"><a>{{currentClanDetails.clanName}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                    <li ng-if="$state.current.name != 'main.base.tribe.main.main.categorie.tribes.clan.post'"><a ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId,clanId:currentClan.clanId})" href="#">{{currentClanDetails.clanName}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                </ul> -->
                <div data-ui-view="clanMain"></div>
            </div>
        </div>
        <div class="col-md-3 clanRight bodyPad">
            <div class="clanRightTop">
                <div class="clanRightTopHeader clearfix">
                <!-- ui-sref="main.base.tribe.main.profile({tribemanId:tribemanId})" ng-if="!hideJoinBtn" -->
                    <div class="calnRightPrflImg">
                        <img class="img-circle" data-ng-src="{{currentClanCreatorDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                    <div class="clanRightPrfTitle">
                        <em>Created By</em>
                        <h5 ng-if="currentClanCreatorDetails.tribemanId === tribemanId"><a 
                        ui-sref="main.base.tribe.main.profile({tribemanId:currentClanCreatorDetails.tribemanId})" title="">{{currentClanCreatorDetails.accountName}}</a></h5>
                        <h5 ng-if="currentClanCreatorDetails.tribemanId !== tribemanId"><a 
                        ui-sref="main.base.tribe.main.friendProfile({tribemanId:currentClanCreatorDetails.tribemanId})" title="">{{currentClanCreatorDetails.accountName}}</a></h5>
                    </div>
                </div>
                <div class="col-md-12 tribeContributorList">
                   <!--  <div class="contributor-heder">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Active tribemans</h4>
                    </div> -->
                    <div class="topContributors clearfix">
                        <ul>
                            <li ng-if="activeTribeMansList.length !== 0 || activeTribeMansList !== null" ng-repeat="tm in activeTribeMansList" ng-init="tribeman = tm.tribeman">
                                <img tooltip-html-unsafe="{{tribeman.accountName}}" tooltip-placement="top" data-ng-src="{{tribeman.profilePic}}" src="img/default_profile.jpg" class="img img-responsive img-circle contributor-img" alt="" ui-sref="main.base.tribe.main.friendProfile({tribemanId:tribeman.tribemanId})">
                                <!-- <div class="contributor-det">
                                    <div class="cntrb-desc">
                                        <div class="cntrb-content">
                                            <h4 class="cntrb-title">{{tribeman.accountName}} </h4>
                                            <span class="cntrb-member">Member : History Clean</span>
                                        </div>
                                    </div>
                                </div> -->
                            </li>
                            <div class="noResult" ng-if="activeTribeMansList.length == 0 || activeTribeMansList == null">No Result Found</div>
                        </ul>
                    </div>
                </div>
                <div class="clanRightTribeMensPics">
                    <p>Active Tribesmen <b>{{activeTribeMansList.length}}</b> to <b>3568</b></p>
                    <!-- <div class="clanRightTribeMensPicsIcons">
                        <a class="leftright" href="">
                            < </a>
                                <a class="leftright" href=""> > </a>
                    </div> -->
                </div>
            </div>
            <!-- <div class="clanRightAds">
                <img class="img-thumbnail" src="/img/tribeImgs/Prfladd.jpg" alt="">
            </div> -->
        </div>
    </div>
</div>
