<div class="crea_a_eve inviteTribe">
    <div class="modal-header">
        <i class="fa fa-times" ng-click="close()"></i>
        <h5 class="clan_title">Bookmarked Clans List</h5>
    </div>
    <div class="crea_a_eve_top clearfix">
        <div class="col-md-6">
            <div class="crea_top_left">
                <div class="col-md-3 no_padding">
                    <div class="inviteTribePrPf">
                        <img class="img-circle img-responsive" align="left" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="inviteTribeProfileName">
                        <strong>{{tribeman.tribemanName}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class=""><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{tribeman.tribemanMood}}.png" alt=""></em>
            <span>{{tribeman.tribemanMood}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-area bookMarkListBody">
        <ul>
            <li ng-repeat="b in bookmarkList"><a href="" ng-click="goToClan(b);">{{b.clan.clanName}}</a> 
            <!-- <i class="fa fa-times-circle pull-right" ng-click="removeClanBookmark(b.clan);" aria-hidden="true"></i> -->
            </li>
        </ul>
    </div>
</div>
