<div class="crea_a_eve">
    <!-- <div class="modal-header"> -->
    <div class="pull-right">
        <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
    </div>
    <h5 class="clan_title">Create {{clickName}} Event</h5>
    <!-- </div> -->
    <!-- <div class="crea_a_eve_top clearfix">
        <div class="col-md-6">
            <div class="crea_top_left">
                <img align="left" src="/img/tribeImgs/imgpsh_fullsize.png" />
                <strong>Mushamed</strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class="pull-left"><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : rgb( 63, 191, 0 )">75%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" src="/img/smiley/happy.png" alt=""></em>
            <span>Happy</span>
                </span>
            </div>
        </div>
    </div> -->
    <div class="form-area">
        <form ng-submit="eventCreate(event);">
            <div class="form-group">
                <label>Event Name :</label>
                <input type="text" class="form-control" ng-model="event.eventName" id="eventName" name="eventName" placeholder="Event Name" required>
            </div>
            <div class="form-group">
                <label>Event Venue :</label>
                <input type="text" class="form-control" ng-model="event.venue" id="venue" name="venue" placeholder="Event Venue" required>
            </div>
            <div class="form-group eventDate">
                <label>Event Date :</label>
                <input placeholder="Event Date" class="form-control" ng-model="event.eventDate" id="eventDate" name="eventDate" type="text">
                <span> <i class="fa fa-calendar"> </i> </span>
            </div>
            <div class="form-group">
                <label>External Site Reference :</label>
                <input type="text" placeholder="External Site Reference" class="form-control" ng-model="event.externalLink" id="externalLink" name="externalLink" placeholder="External Link" required>
            </div>
            <div class="form-group">
                <label>Event Description :</label>
                <textarea class="form-control" ng-model="event.eventDescription" type="textarea" id="eventDescription" placeholder="Event Description" maxlength="140" rows="3" name="eventDescription"></textarea>
            </div>
            <button type="submit" id="submit" name="submit" class="btn btn-primary center-block">Create Event</button>
        </form>
    </div>
</div>
<script>
angular.element(document).ready(function() {
    angular.element("#eventDate").datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: new Date()
    });
});
</script>
