<div class="tribeEventList claneEventsList">
    <!-- <h4 class="text-center">Events  
 <span ng-if="eventsList.length !== 0 || eventsList !== null" class="pull-right searchBox"><input type="text" ng-model="eventSearch" placeholder="Search Event with Name"><i class="fa fa-search" aria-hidden="true"></i></span> 
    </h4>-->
    <ul>
        <li ng-if="eventsList.length !== 0 || eventsList !== null" ng-repeat="event in eventsList | filter:eventSearch | orderBy: 'createdAt':true">
            <div class="clanEventImg">
                <img class="img-responsive" data-ng-src="{{event.icon}}" alt="" on-error-img-src="img/default_profile.jpg" src="/img/tribeImgs/eventsThumbnail.jpg" alt="">
            </div>
            <div class="clanEventDetails">
                <h5><a href="{{event.externalLink}}" target="_blank">{{event.eventName}}</a></h5>
                <span>On {{event.eventDate}} Venue : <strong>{{event.venue}}</strong></span>
                <p>{{ event.eventDescription | limitTo: 100 }}{{event.eventDescription.length > 100 ? '...' : ''}}</p>
            </div>
        </li>
        <div class="noResult" ng-if="eventsList.length == 0 || eventsList == null">
          <span>No Result Found</span>
            <create-tribe-event ng-if="!hideJoinBtn" ename="Tribe"> </create-tribe-event>
        </div>
    </ul>
    <!-- <div class="profileRightTribeMensPicsIcons">
        <a class="leftright" href="">
            < </a>
                <a class="leftright" href=""> > </a>
    </div> -->
</div>
