<div class="claneTribemansList">
    <!--     <h4 class="text-center">Tribesmen</h4>
 -->
    <div class="tribeTribemanList" ng-if="tribemansList.length !== 0 || tribemansList !== null">
        <table class="table">
            <tr ng-repeat="tribeman in tribemansList | orderBy: 'createdAt':true">
                <td width="30%">
                    <div class="friendListPrf">
                        <img class="img-circle" align="center" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                </td>
                <td width="80%">
                    <h5><a ui-sref="main.base.tribe.main.friendProfile({tribemanId:tribeman.tribemanId})" title="">{{tribeman.tribemanName}}</a></h5> <!-- <span>Member : History clan</span> --><em>Since : {{tribeman.createdAt | amDateFormat:'MMMM Do YYYY'}}</em></td> <td width="20%">
                    <img class="post-tribe-mood" src="/img/exp_icons/{{tribeman.tribemanMood}}.png" alt="">
                </td>
                <td width="40%">
                    <div class="post-det-sentiment tribeSentiment">
                        <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="noResult" ng-if="tribemansList.length == 0 || tribemansList == null">No Result Found</div>
</div>
