<div class="clanePictureGrid">
<!--     <h4 class="text-center">Pictures</h4>
 -->    <ul>
        <li ng-if="photosList.length !== 0 || photosList !== null" ng-repeat="pic in photosList | orderBy: 'createdAt':true"><img ng-click="showSlider(photosList);" class="img-responsive" ng-src="{{pic.picture}}" alt=""></li>
    </ul>
    <div class="noResult" ng-if="photosList.length == 0 || photosList == null">No Result Found</div>
</div>
