<div class="tribeclans tribeProfileClanPage">
    <ul>
        <li ng-if="clansList.length !== 0 || clansList !== null" ng-repeat="clan in clansList | orderBy: 'createdAt':true">
            <div class="row">
                <div class="col-md-3 post-img">
                    <img data-ng-src="{{clan.icon}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/icons/tribe.png" alt="">
                </div>
                <div class="col-md-9 ">
                    <div class="post-details clearfix">
                        <div class="post-det-header">
                            <h5 class="pots-title" ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post({clanId:clan.clanId })" ng-click="setClan(clan);">{{clan.clanName}}</h5>
                            <span class="post-date">Public - Posted on {{$root.getMomentDate(clan.createdAt)}} </span>
                            <!-- Members -->
                        </div>
                    </div>
                    <div class="tribeSentiment">
                        <button style="background-color : {{$root.getHexCode(clan.clanSentiment)}}">{{ clan.clanSentiment | number:0 }}%</button>
                    </div>
                    <p class="tribeDescription">{{ clan.description | limitTo: 100 }}{{clan.description.length > 100 ? '...' : ''}}</p>
                </div>
            </div>
        </li>
        <div class="noResult" ng-if="clansList.length == 0 || clansList == null">
            <span>No Result Found,Please </span>
            <a href="" title="">
                <create-tribe tname="Clan " tribeid="{{tribeId}}" btn="Clan" tribemanid="{{tribeman.tribemanId}}" position="tribeProfilepage"></create-tribe>
            </a>
        </div>
    </ul>
</div>
