<ion-view class="account" cache-view="false">
    <ion-nav-buttons side="secondary">
        <a href="#/accountEdit">
            <button class="button button-icon icon">Edit</button>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="container pl20 pr20 m30">
            <div class="row">
                <div class="col">
                    <h2 class="text-center mb20">Account Information</h2>
                    <form class="mb20">
                        <div class="list registerFrom">
                            <label class="item item-input">
                                <span class="input-label registerinput">First Name</span>
                                <input type="text" value="{{userFirstName}}">
                            </label>
                            <label class="item item-input ">
                                <span class="input-label registerinput">Last Name</span>
                                <input type="text" value="{{userLastName}}">
                            </label>
                            <label class="item item-input">
                                <span class="input-label registerinput">First Name</span>
                                <input type="text" value="{{userEmail}}">
                            </label>
                            <label class="item item-input ">
                                <span class="input-label registerinput">Last Name</span>
                                <input type="text" value="{{userPhone}}">
                            </label>
                        </div>
                    </form>
                    <div class="text-center">
                        <button ng-click="logOut()" class="custom-btn  button button-calm btn-remedy btn-remedy-red"><i class="ion-android-exit"></i> Logout</button>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
