<ion-view class="account">
    <ion-content>
        <div class="container pl20 pr20 m30">
            <div class="row">
                <div class="col">
                    <h2 class="text-center mb20">Edit Information</h2>
                    <div class="list registerForm">
                        <label class="item item-input">
                            <span class="input-label registerinput">First Name:</span>
                            <input type="text" ng-model="user.first_name" value="{{userFirstName}}" id="userFirstName">
                        </label>
                        <label class="item item-input ">
                            <span class="input-label registerinput">Last Name:</span>
                            <input type="text" ng-model="user.last_name" ng-value="{{userLastName}}" id="userLastName">
                        </label>
                        <label class="item item-input ">
                            <span class="input-label registerinput">Email:</span>
                            <input type="email" ng-model="user.email" ng-value="{{userEmail}}" id="userEmail">
                        </label>
                        <label class="item item-input ">
                            <span class="input-label registerinput">Phone:</span>
                            <input type="text" ng-model="user.phone" ng-value="{{userPhone}}" id="userPhone">
                        </label>
                    </div>
                    <div class="text-center">
                        <button ng-click="accountSave(user)" class="custom-btn button button-calm btn-remedy btn-remedy-blue-light"><i class="ion-edit"></i> Save</button>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
