<ion-view>

    <ion-content class="has-header">
        <h2 class="text-center padding">List of Appointments</h2>
        <ul>
            <li ng-if="(userAppointmentsList.length > 0)" ng-repeat="appointment in userAppointmentsList">
                <a class="item" href="#/appointment/{{appointment.uid}}">{{appointment.vicit_time}}</a>
            </li>
            <li ng-if="userAppointmentsList.length < 0">There is no Appointments</li>
        </ul>
    </ion-content>

    <!-- <ion-tabs class="bottom tabs-default appo">

      <ion-tab title="Appointment">
        <ion-content class="has-header">
            <h2 class="text-center padding">List of Appointments</h2>
            <ul>
                <li ng-if="(userAppointmentsList.length > 0) && (appointment.app_type == 'appointment_visit')" ng-repeat="appointment in userAppointmentsList">
                    <a class="item" href="#/appointment/{{appointment.uid}}">{{appointment.vicit_time}}</a>
                </li>
                <li ng-if="userAppointmentsList.length < 0">There is no Appointments</li>
            </ul>
        </ion-content>
      </ion-tab>

      <ion-tab title="Video">
        <ion-content class="has-header">
            <h2 class="text-center padding">List of Video Visits</h2>
            <ul>
                <li ng-if="(userAppointmentsList.length > 0) && (appointment.app_type != 'appointment_visit')" ng-repeat="appointment in userAppointmentsList">
                    <a class="item" href="#/appointment/{{appointment.uid}}">{{appointment.vicit_time}}</a>
                </li>
                <li ng-if="userAppointmentsList.length < 0">There is no Appointments</li>
            </ul>
        </ion-content>
      </ion-tab>
    </ion-tabs> -->
</ion-view>
