<style>
.appointments_list li {
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: hidden;
}

.appointments_list li:nth-child(odd) {
    background: #d0f7ff;
}

@media only screen and (min-width: 768px) {
    .appointments_list li span.ng-binding {
        float: left;
        min-width: 220px;
        padding-left: 13px;
    }
    .appointments_list li b {
        float: left;
        display: inline-block;
        min-width: 150px;
        padding-left: 13px;
        padding-right: 7px;
    }
}

.appointments_list li span.ng-binding {
    padding-left: 13px;
    display: block;
    color: rgb(31, 80, 119);
    font-size: 13px !important;
}

.appointments_list li b {
    color: rgb(0, 84, 128);
    display: block;
    padding-left: 13px;
    padding-right: 7px;
    font-size: 12px;
}

.list {
    margin-top: 20px;
    font-size: 14px;
}

/*.has-header {
    top: 33px;
}*/
</style>
<ion-view>
    <ion-content>
        <h2 class="text-center padding">Appointment Details</h2>
        <div class="list">
            <ul class="appointments_list">
                <li><b>Visit Type </b><span>{{(appointment.appointment_type === "appointment_visit") ? "Appointment" : "Video"}}</span>
                </li>
                <li><b>Visit Time </b><span>{{vicit_timeD}}</span>
                </li>
                <li ng-if='appointment.appointment_type !== "video_visit"'><b>Visit Address </b><span>{{appointment.visit_address_1}}<div ng-show="appointment.visit_address_2"></span>
                </li>
                <li><b>Patient Name </b><span>{{appointment.patient_name}}</span>
                </li>
                <li><b>Contact Phone</b><span>{{appointment.contact_phone_number}}</span>
                </li>
                <li><b>Contact Email </b><span>{{appointment.contact_email}}</span>
                </li>
                <li><b>Billing Name</b><span>{{appointment.billing_name}}</span>
                </li>
                <li><b>Billing Address</b><span>{{appointment.billing_address_1}}, {{appointment.billing_city}}, {{appointment.billing_state}} {{appointment.billing_zip}}</span>
                </li>
                <li><b>Payment Amount</b><span>${{appointment.payment_amount}}</span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
