<ion-view cache-view="false">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-tabs class="tabs-default appo">
        <ion-tab title="Appointment">
            <ion-content class="has-header">
                <h2 class="text-center padding">List of Appointments</h2>    <button id="return" style="display: none;" ng-click="returnTab();">return</button>
                <ul>
                    <li ng-if="userAppointmentsList.length <= 0" class="text-center padding">
                        No Appointments available
                    </li>
                    <li ng-if="(userAppointmentsList.length > 0) && (appointment.app_type == 'appointment_visit')" ng-repeat="appointment in userAppointmentsList">
                        <a class="item" href="#/appointment/{{appointment.uid}}">{{appointment.vicit_time}}</a>
                    </li>
                </ul>
            </ion-content>
        </ion-tab>
        <ion-tab title="Video">
            <ion-content class="has-header">
                <h2 class="text-center padding">List of Video Visits</h2>
                <ul>
                    <li ng-if="userAppointmentsList.length <= 0" class="text-center padding">
                        No Appointments available
                    </li>
                    <li ng-if="(userAppointmentsList.length > 0) && (appointment.app_type != 'appointment_visit')" ng-repeat="appointment in userAppointmentsList">
                        <a class="item" href="#/appointment/{{appointment.uid}}">{{appointment.vicit_time}}</a>
                    </li>
                </ul>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
