<ion-view class="appointment-summary" cache-view="false">
    <ion-content>
        <div class="container m30">
            <h4 class="text-center nomargin text-blue">{{serviceName}} for</h4>
            <h2 class="text-center nomargin">{{overViewDetail.first_name}} {{overViewDetail.last_name}}</h2>
            <p class="text-center pl20 pr20"></p>
            <h4 class="text-center mt30 text-blue">Time of Visit</h4>
            <p class="text-center">{{vTime}}</p>
            <h4 ng-hide='vVisit' class="text-center mt30 text-blue">Location</h4>
            <p ng-hide='vVisit' ng-if='(vVisit) || !(frmMapAddress)' class="text-center pl20 pr20">{{patientAddress}}</p>
            <p ng-hide='vVisit' ng-hide='(vVisit) && (frmMapAddress)' class="text-center pl20 pr20">{{extraAddress}}</p>
            <p class="text-center mt30">Everything Correct?</p>
            <div class="btnholder text-center">
                <button ng-click="gotoPayment()" class="custom-btn button button-calm btn-remedy btn-remedy-blue-light">
                    Pay Now
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
