<ion-view class="appointment" cache-view="false">
    <ion-content>
        <div class="container m30">
            <h2 class="text-center">Time of Visit</h2>
            <div ng-hide="no_time_available">
                <p class="text-center pl20 pr20">Select a time window that
                    <br/>is convenient for you.</p>
                <div id="noslot" style="text-align: center; font-weight: bold;"></div>
                <p class="text-center mt30">Available Times</p>
                <div class="list list-inset">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            &nbsp;
                        </div>
                        <select name="" id="doctorsSlot" ng-model="time">
                            <option value="" selected>Please choose</option>
                        </select>
                    </label>
                </div>
                <p class="text-center">
                    <button ng-click="visitTime(time)" ng-if="time" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                        Confirm
                    </button>
                </p>
                <p class="text-center pl20 pr20 fineprint">
                    <small>Once you have selected a time, it will be held for five minutes. You will need to complete your payment in this time or your slot may be released to another patient.</small>
                </p>
            </div>
            <div ng-show="no_time_available">
                <p class="text-center pl20 pr20">Oops! No time available
                    <br/>for today and tomorrow.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
