<ion-view class="confirmed" hide-back-button="true">
    <ion-content>
        <div class="container m30 text-center">
            <h2>See You Soon!</h2>
            <p class="text-center"><b>Your visit is scheduled.</b></p>
            <p class="text-center pl20 pr20">A Remedy team member will call in the next 30 minutes to prepare for your visit.</p>
            <p>If it is currently outside our business hours, we will call in the morning.</p>
            <p class="text-center pl20 pr20">You will also receive an email confirmation shortly.</p>
            <div class="row pl20 pr20">
                <div class="col">
                    <h4 class="mt20 text-blue">Your Visit Details</h4>
                    <p class="nopadding nomargin">{{overViewDetail.first_name}} {{overViewDetail.last_name}}</p>
                    <p class="nopadding nomargin">{{vTime}}</p>
                    <p class="nopadding nomargin">{{confirmedPatientAddress}}
                        <!-- , <span ng-if="extra.address">{{extra.address}}, </span> {{extra.city}},  {{extra.state}} {{extra.zip}} -->
                        <h4 class="mt20 text-blue">Need to make a change?</h4>
                        <p>Call <a href="tel:512.900.5844">512.900.5844</a></p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="mt20 text-blue">In order to prepare for your visit,<br/>please complete the Remedy Consent to Treat form</h4>
                    <button type="button" ng-hide="webConsent" ng-click="consent_to_treat_open();" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                        Consent to Treat
                    </button>
                    <a ng-hide="!webConsent" href="https://www.smartwaiver.com/w/56cb90e10721c/web/" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                        Consent to Treat
                    </a>
                    <div ng-if="chkUserLogin() === 'false'">
                        <h4 class="mt20 text-blue">Want to save time on your next visit?</h4>
                        <button type="button" ui-sref="register" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                            Create An Account</button>
                    </div>
                    <br/>
                    <br/>
                    <a href="http://www.remedyurgentcare.com" class="custom-btn button button-calm btn-remedy btn-remedy-blue-light">
                        Return to Remedy Urgent Care
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
