<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Consent to Treat</h1>
        <div class="button button-clear" ng-click="modal5.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <div id="videowrap" style="width: 100%; position: relative; border: 1px solid #bbb; border-bottom: 0px; height: 100vh;">
            <iframe style="width: 100vw; height: 100vh;" onload="consent_to_treat_load()" src="https://www.smartwaiver.com/w/56cb90e10721c/web/#whoisdiv"></iframe>
        </div>
    </ion-content>
</ion-modal-view>
