<ion-view class="details" cache-view="false">
    <ion-content>
        <div class="container m30 pl20 pr20">
            <h2 class="text-center">Patient & Contact Information</h2>
            <form name="detailsFrm" id="detailsFrm">
                <div class="row">
                    <div class="col">
                        <p class="nomargin contactlabel">Contact Phone Number <span class="required">*</span></p>
                        <div class="">
                            <label class="item item-input">
                                <input type="tel" ng-model="patient.contact_phone" placeholder="Contact Phone Number" only-Digits minlength="10" maxlength="10" ng-required="true" ng-pattern="/^[1-9]{1}[0-9]{9}$/" value="{{contact_phone}}">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="nomargin contactlabel">Contact Email Address <span class="required">*</span></p>
                        <div class="">
                            <label class="item item-input">
                                <input type="text" ng-model="patient.contact_email" placeholder="Contact Email Address" ng-required="true" value="{{contact_email}}" ng-pattern="/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$/">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="nomargin contactlabel">Patient First Name <span class="required">*</span></p>
                        <div class="">
                            <label class="item item-input">
                                <input type="text" ng-model="patient.first_name" placeholder="Patient First Name" ng-required="true" value="" only-Alphabets ng-pattern="/.{2,}/">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="nomargin contactlabel">Patient Last Name <span class="required">*</span></p>
                        <div class="">
                            <label class="item item-input">
                                <input type="text" ng-model="patient.last_name" placeholder="Patient Last Name" ng-required="true" value="" only-Alphabets ng-pattern="/.{2,}/">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="nomargin contactlabel">Patient's Date of Birth (mm/dd/yyyy) <span class="required">*</span></p>
                        <div class="">
                            <label class="item item-input">
                                <input type="text" ng-model="patient.dob" ng-required="true" placeholder="mm/dd/yyyy" ng-pattern="/^(?:(?:(?:0?[13578]|1[02])(\/)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{4})$|^(?:0?2(\/)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{4})$/">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <p class="nomargin contactlabel">Patient's Gender</p>
                        <div class="">
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    &nbsp;
                                </div>
                                <select name="" id="" ng-init="patient.gender = patient.gender || 'male'" ng-model="patient.gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="nomargin contactlabel">Relationship to the Patient</p>
                        <div class="">
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    &nbsp;
                                </div>
                                <select name="" id="" ng-init="patient.relation = patient.relation || 'patient'" ng-model="patient.relation" ng-change="resPeson(patient.relation);">
                                    <option value="patient">I am the Patient</option>
                                    <option value="non-patient">I am not the Patient</option>
                                </select>
                                <!-- /# -->
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="patient.relation == 'non-patient'">
                    <div class="col">
                        <p class="nomargin contactlabel">Responsible Party First Name</p>
                        <div class="">
                            <label class="item item-input">
                                <input type="text" ng-model="patient.responsible" placeholder="Responsible Party First Name" ng-required="responsiblePerson">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="patient.relation == 'non-patient'">
                    <div class="col">
                        <p class="nomargin contactlabel">Responsible Party Last Name</p>
                        <div class="">
                            <label class="item item-input">
                                <input type="text" ng-model="patient.responsible_last" placeholder="Responsible Party Last Name" ng-required="responsiblePerson">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ng-disabled="detailsFrm.$invalid" ng-click="detailsFrm.$valid && patientDetails(patient)" ng-if="patient" class="custom-btn button button-block button-calm btn-remedy btn-remedy-blue">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
