<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Meet Dr Gabrysch</h1>
        <div class="button button-clear" ng-click="modal4.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>Lorem ipsum dolor sit amet, soleat postulant persequeris sed id, cu nemore efficiendi deterruisset pro, decore ubique legimus ea vim. Ut menandri adolescens quaerendum eam, quando argumentum ei cum. Mea autem alienum adversarium ut, ne sed sumo vivendo suscipiantur, fugit conceptam eloquentiam per te. Nec unum ullum accusamus in. Eros lucilius ad vis, mei exerci aliquam petentium et, ut nisl saperet detracto nam.</p>
            <p>Lorem ipsum dolor sit amet, soleat postulant persequeris sed id, cu nemore efficiendi deterruisset pro, decore ubique legimus ea vim. Ut menandri adolescens quaerendum eam, quando argumentum ei cum. Mea autem alienum adversarium ut, ne sed sumo vivendo suscipiantur, fugit conceptam eloquentiam per te. Nec unum ullum accusamus in. Eros lucilius ad vis, mei exerci aliquam petentium et, ut nisl saperet detracto nam.</p>
            <p>Lorem ipsum dolor sit amet, soleat postulant persequeris sed id, cu nemore efficiendi deterruisset pro, decore ubique legimus ea vim. Ut menandri adolescens quaerendum eam, quando argumentum ei cum. Mea autem alienum adversarium ut, ne sed sumo vivendo suscipiantur, fugit conceptam eloquentiam per te. Nec unum ullum accusamus in. Eros lucilius ad vis, mei exerci aliquam petentium et, ut nisl saperet detracto nam.</p>
            <p>Lorem ipsum dolor sit amet, soleat postulant persequeris sed id, cu nemore efficiendi deterruisset pro, decore ubique legimus ea vim. Ut menandri adolescens quaerendum eam, quando argumentum ei cum. Mea autem alienum adversarium ut, ne sed sumo vivendo suscipiantur, fugit conceptam eloquentiam per te. Nec unum ullum accusamus in. Eros lucilius ad vis, mei exerci aliquam petentium et, ut nisl saperet detracto nam.</p>
        </div>
    </ion-content>
</ion-modal-view>
