<ion-view hide-nav-bar="true" class="login-page bg-remedy-blue-light" cache-view="false">
    <span class="gotoAuth"><a href="#/auth"><i class="ion-close-round"></i></a></span>
    <div class="middlePage">
        <div class="container">
            <div class="fullscreen-bg text-center">
                <div style="padding: 20px; padding-top:70px;"><img src="img/logo2.png" style="width: 100%;max-width: 250px;"></div>
                <form name="forgotPassowrdFrm" id="forgotPassowrdFrm" novalidate class="simple-form pl30 pr30">
                    <div class="text-middle">
                        <div class="row">
                            <div class="col">
                                <p class="loginlabel">Enter your registered email address<span class="required">*</span></p>
                                <label style="margin-bottom: 10px;" class="item item-input transparentInput">
                                    <input type="text" value="" autocorrect="off" autocapitalize="none" ng-model="userEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                </label>
                            </div>
                        </div>
                        <div class="row myrow text-center mb10">
                            <button ng-click="forgotPassword(userEmail);" type="submit" class="button button-calm btn-remedy btn-remedy-yellow" ng-disabled="forgotPassowrdFrm.$invalid">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
                <img src="img/icon04.svg" class="loginhouse" />
            </div>
        </div>
    </div>
    </div>
</ion-view>
