<ion-view class="home" has-header="true" cache-view="false">
    <ion-content>
        <div class="container m30">
            <h2 class="text-center">Check Availability</h2>
            <p class="text-center pl20 pr20">
                Let's see if Remedy
                <br/>is available in your area.
            </p>
            <div class="btnholder text-center m30">
                <button ng-click="verifyLocation('rootStage')" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                    <i class="ion-location"></i> Use My Location
                </button>
            </div>
            <p class="text-center nomargin">Or Enter ZIP Code</p>
            <div class="list list-inset">
                <label class="item item-input whiteInput">
                    <input type="tel" value="" placeholder="Zip Code" ng-model="zipcode" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" only-Digits maxlength="6" minlength="5">
                </label>
            </div>
            <div class="btnholder text-center">
                <button ng-click="openVerification(zipcode)" ng-disabled='!zipcode' class="custom-btn button button-calm btn-remedy btn-remedy-blue-light">
                    <i class="ion-paper-airplane"></i> Check ZIP Code
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
