<ion-modal-view style="height: 506px;">
    <ion-header-bar>
        <h1 class="title">How Remedy Works</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <div id="videowrap" style="width: 100%; position: relative; border: 1px solid #bbb; border-bottom: 0px;">
            <video style="width: 100%; height: 100%" id="last" class="video-js vjs-default-skin" controls preload="metadata" poster="https://get.remedyurgentcare.com/REMEDY_ANIMPASS_V4.jpg" data-setup="{ 'fluid': true }">
                <source src="https://get.remedyurgentcare.com/Remedy.mp4" type="video/mp4">
                <source src="https://get.remedyurgentcare.com/Remedy.webm" type="video/webm">
            </video>
        </div>
    </ion-content>
</ion-modal-view>
