<ion-view>
    <ion-content>
        <div class="btnholder text-center">
            <br>
            <a class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" href="#/insurance_add">Add insurance</a>
            <br>
            <br>
            <a class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" href="#/insurance_self">View insurance</a>
        </div>
    </ion-content>
</ion-view>
