<style type="text/css">
/*.item-thumbnail-left,
.item-thumbnail-left .item-content {
    padding-left: 0 !important;
}*/

.dltbtn {
    float: right;
    font-size: 26px;
    color: red;
}
</style>
<ion-view cache-view="false">
    <ion-content>
        <div class="list insurance_lists">
            <h2 class="text-center padding">Insurance</h2>
            <div class="text-center padding">
                <!--  <button ng-click="backHome();" class="button button-positive">Home</button> -->
                <button ui-sref="insurance-add" class="button button-positive">Add Insurance</button>
            </div>
            <div style="clear:both;"></div>
            <ion-item ng-if="userInsurance.length > 0" ng-repeat="usrInsData in userInsurance" style="width:100%;">


                <div class="list card">
                    <div class="item">
                        <h3 style="display: inline-block;position: absolute;transform: translateY(-50%);top: 50%;">{{usrInsData.name}}</h3>
                        <i class="ion-ios-trash-outline dltbtn" ng-click="delInsurance(usrInsData.uid);"></i>
                    </div>
                    <div class="item item-body">
                        <h4>Front Card Image</h4>
                        <img ng-src="{{usrInsData.images[0]}}" alt="">
                    </div>
                    <div class="item item-body">
                        <h4>Back Card Image</h4>
                        <img ng-src="{{usrInsData.images[1]}}" alt="">
                    </div>
                </div>
                
                <!-- <div  style="float: left;margin-left:15px;">
                    <div>
                        <p>{{usrInsData.name}} (Front)</p><img  style="width: 120px; height: 120px;" ng-src="{{usrInsData.images[0]}}"></div>
                    <div>
                        <p>{{usrInsData.name}} (Back)</p><img  style="width: 120px; height: 120px;" ng-src="{{usrInsData.images[1]}}"></div>
                </div> -->

                
            </ion-item>
            <p ng-if="userInsurance.length <= 0" class="text-center padding">
                No Insurance Available
            </p>
        </div>
    </ion-content>
</ion-view>
