<ion-view cache-view="false">
    <ion-content>
        <form name="insuranceForm" id="insuranceForm" class="container m30">
            <h2 class="text-center">Choose Your Insurance</h2>
            <div class="list m30 insuranceName">
                <div class="list list-inset">
                    <label class="item item-input whiteInput">
                        <input type="text" name="insurance_name" id="insurance_name" placeholder="Name this Insurance Entry" ng-model="insurance.name" ng-required="true">
                    </label>
                </div>
                <!-- IN Device -->
                <div class="btnholder text-center" ng-hide="takeImageBtn">
                    <div class="card">
                        <div class="item">
                            <h4>Front Card Image</h4>
                            <a href="javascript:void(0);" class="item item-thumbnail">
                                <img ng-src="{{srcImage[0]}}" class="full-image" id="imgf" alt="">
                            </a>
                            <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" ng-click="takeImage()" ng-disabled="{{isDisabled}}"> Upload Image of Front of Card</button>
                        </div>
                        <div class="item">
                            <h4>Back Card Image</h4>
                            <a href="javascript:void(0);" class="item item-thumbnail">
                                <img ng-src="{{srcImage[1]}}" class="full-image" id="imgb" alt="">
                            </a>
                            <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" ng-click="takeImage()" ng-disabled="{{isDisabled}}"> Upload Image of Back of Card</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- IN Web -->
            <div class="btnholder text-center" ng-hide="!takeImageBtn">
                <div class="card">
                    <div class="item item-divider">
                        Front Card Image
                    </div>
                    <div class="item item-text-wrap">
                        <img ng-src="{{srcImage[0]}}" id="imgf" alt="">
                        <label class="filelab" for="imagesF"> <span class="ion-upload" style="font-size: 20px"></span> Upload Image of Front of Card
                            <input type="file" name="file" valid-file ng-model="insurance.imgf" id="imagesF" class="images full-image" class="file_upload" style="display: none;" ng-required="true" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Back Card Image
                    </div>
                    <div class="item item-text-wrap">
                        <img ng-src="{{srcImage[1]}}" id="imgb" alt="">
                        <label class="filelab" for="imagesB"> <span class="ion-upload" style="font-size: 20px"></span> Upload Image of Back of Card
                            <input type="file" name="file" valid-file ng-model="insurance.imgb" id="imagesB" class="images full-image" class="file_upload" style="display: none;" ng-required="true" />
                        </label>
                    </div>
                </div>
                </div>
            </div>
            <br>
            <div class="btnholder text-center">
                <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" ng-click="insuranceForm.$valid && saveInsuranceInfo(insurance)" ng-disabled="insuranceForm.$invalid">
                    Save Insurance Information
                </button>
            </div>
            </div>
        </form>
    </ion-content>
</ion-view>
