<ion-view>
    <ion-content ng-controller="ImgCtrl">
        <form name="insuranceForm" id="insuranceForm" class="container m30">
            <h2 class="text-center">Choose Your Insurance</h2>
            <div class="list m30">
                <div class="list list-inset">
                    <label class="item item-input whiteInput">
                        <input type="text" name="insurance_number" id="insurance_number" placeholder="Insurance Number" ng-model="insurance.number" ng-required="true">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input whiteInput">
                        <input type="text" name="insurance_group_number" id="insurance_group_number" placeholder="Insurance Group Number" ng-model="insurance.group_number" ng-required="true">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input whiteInput">
                        <input type="text" name="insurance_name" id="insurance_name" placeholder="Insurance Name" ng-model="insurance.name" ng-required="true">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <span class="input-label">Insurance Date</span>
                        <input type="date" name="insurance_date" id="insurance_date" ng-model="insurance.date" ng-required="true">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input insurance_provider whiteInput">
                        <select name="insurance_provider" id="insurance_provider" ng-model="insurance.provider" ng-required="true">
                        </select>
                    </label>
                </div>
                <div class="btnholder text-center">
                    <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" ng-click="insuranceForm.$valid && saveInsuranceInfo(insurance)" ng-disabled="insuranceForm.$invalid">
                        Save Insurance Information
                    </button>
                </div>
                <div class="btnholder text-center">
                    <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" ng-click="takeImage() ">Take Image</button>
                </div>
                <div class="list">
                    <a ng-repeat="imgBase64Data in imgBase64Datas" href="#" class="item item-thumbnail-left">
                        <img ng-src="data:image/png;base64,{{imgBase64Data}}">
                    </a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
