<ion-view class="intro" hide-back-button="true">
    <ion-content>
        <div class="container m30">
            <!-- <h2 class="text-center">What is Remedy?</h2> -->
                <h3 class="text-center">Remedy brings<br />urgent care to your door</h3>
            <div class="btnholder m30">
                <div class="container text-center">
                    <button ng-click="openAvailibity()" class="custom-btn button button-calm btn-remedy btn-remedy-blue btn-bigger">
                        Schedule My Visit
                    </button>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col">
                <div class="container text-center">
                    <p>Prefer a Telemedicine Call?</p>
                    <button ng-click="openVideoVisit()" class="custom-btn button button-calm btn-remedy btn-remedy-light-blue">
                        Schedule Video Visit
                    </button>
		</div>
                    <!-- <div class="btnholder text-center">
                        <p class="mt20">Want to Learn More?</p>
                        <button ng-click="openModalFit()" id="howRemedyWorks" class="custom-btn button button-calm btn-remedy btn-remedy-red">
                            How Remedy Works
                        </button>
                    </div> -->
                    <p class="text-center mt20">Prefer to Schedule By Phone?</p>
                    <div class="btnholder text-center">
                        <button class="custom-btn button button-calm btn-remedy btn-remedy-yellow" ng-click="callPhone()">
                            Call Remedy
                        </button>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
