<ion-view class="location" cache-view="false">
    <ion-content>
        <div class="container m30">
            <h2 class="text-center">Select Visit Location</h2>
            <p class="text-center">Where will the visit take place?</P>
            <div class="btnholder text-center m30" ng-click="verifyLocation('appointment')">
                <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light">
                    <i class="ion-location"></i> Use My Location
                </button>
            </div>
            <h2 class="text-center">Enter Your Address</h2>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-required="true" ng-model="Paddress" placeholder="Street Address 1" ng-pattern="/.{3,}/">
                </label>
                <label class="item item-input">
                    <input type="text" ng-required="true" ng-model="extra.address" placeholder="Street Address 2" ng-pattern="/.{3,}/">
                </label>
                <label class="item item-input">
                    <input type="text" ng-required="true" ng-model="extra.city" placeholder="City" ng-pattern="/.{3,}/">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        &nbsp;
                    </div>
                    <select ng-model="extra.state" ng-required="true">
                        <option value="" selected>Select State</option>
                        <option ng-repeat="x in stateList" value="{{x.abbreviation}}">{{x.name}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <input type="tel" ng-required="true" placeholder="ZIP Code" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" only-Digits minlength="5" maxlength="5" ng-model="extra.zip">
                </label>
            </div>
            <div class="btnholder text-center m30">
                <button ng-click="patientAddress(Paddress, extra, 'fromFrom')" ng-disabled="!((Paddress || extra.address) && extra.city && extra.state && extra.zip)" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                    <i class="ion-location"></i> Confirm
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
