<ion-view hide-nav-bar="true" class="login-page bg-remedy-blue-light" cache-view="false">
    <!--  <ion-header-bar class="bar-calm bar bar-header disable-user-behavior">
        <h1 class="title"></h1>
        <a href="#/home" class="loginClose">
            <div class="button button-clear"><span class="icon ion-close"></span></div>
        </a>
    </ion-header-bar> -->
    <div class="middlePage">
        <div class="container">
            <div class="fullscreen-bg text-center">
                <div style="padding: 20px; padding-top:70px;"><img src="img/logo2.png" style="width: 100%;max-width: 250px;"></div>
                <form name="loginFrm" novalidate class="simple-form pl30 pr30">
                    <div class="text-middle">
                        <div class="row">
                            <div class="col">
                                <p class="loginlabel">Email Address<span class="required">*</span></p>
                                <label style="margin-bottom: 10px;" class="item item-input transparentInput">
                                    <input type="text" value="" autocorrect="off" autocapitalize="none" ng-model="user.username" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                </label>
                                <p class="loginlabel">Password<span class="required">*</span></p>
                                <label class="item item-input transparentInput mb20">
                                    <input type="password" value="" ng-model="user.password" required>
                                </label>
                            </div>
                        </div>
                        <div class="row myrow text-center m30" style="margin-bottom:10px;">
                            <button ng-click="doLogin(user)" type="submit" class="button btn-bigger button-calm btn-remedy btn-remedy-blue" ng-disabled="loginFrm.$invalid">
                                Login
                            </button>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col">
                                <div class="btnholder text-center">
                                    <p><a ui-sref="forgot-password" style="color: #333;text-decoration: underline;">Forgot Password?</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row myrow text-center mb10" style="margin: 20px 0;">
                            <button ng-click="openCreateAccount('registeration')" type="submit" class="button button-calm btn-remedy btn-remedy-yellow">
                                Create Account
                            </button>
                        </div>
                        <div class="row myrow text-center mb10">
                            <button ui-sref="home" type="submit" class="button button-calm btn-remedy btn-remedy-blue">
                                Continue As Guest
                            </button>
                        </div>
                    </div>
                </form>
                <img src="img/icon04.svg" class="loginhouse" />
            </div>
        </div>
    </div>
    </div>
</ion-view>
