<ion-view class="location">
    <ion-content style="margin-bottom: 44px">
        <style>
        #map {
            width: 100%;
            height: 100%;
        }
        
        .mapPIN {
            position: absolute;
            top: 0;
            left: 0;
            width: 64px;
            height: 91px;
            background: url("img/pin56.png") no-repeat center center;
            background-size: 57px;
            transform: translate(-50%, -50%);
            top: 41%;
            left: 50%;
        }
        
        .scroll {
            height: 100%;
        }
        
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        
        #pac-input {
            background-color: #ffffff;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 80%;
            max-width: 300px;
            top: 24px !important;
            position: relative;
            z-index: 9999999;
            margin: 0 auto;
            text-align: center;
            border: 1px solid #afafaf;
            border-radius: 10px !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        
        #pac-input:focus {
            border-color: #4d90fe;
        }
        
        .pac-container {
            font-family: Roboto;
        }
        
        #type-selector {
            color: #ffffff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }
        
        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
        
        button[disabled] {
            opacity: .4;
            cursor: default !important;
            pointer-events: none;
        }
        </style>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <div class="mapPIN"></div>
    <input id="pac-input2" class="controls" type="text" placeholder="Search Box" style="display:none">
    <input id="pac-input" type="text" placeholder="Search Box" ng-focus="disableTap()">
    <button id="confirmAddressMap" class="bar bar-footer bar-calm btn-remedy-blue" ng-click="patientAddress()" id="confirmAddress" disable="true">
        <div class="title btn-remedy-blue">Confirm Address</div>
    </button>
</ion-view>
