<style type="text/css">
/*.messageBody {
    overflow-x: auto;
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
}*/

.message_list li {
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: hidden;
}

.message_list li:nth-child(odd) {
    background: #d0f7ff;
}

@media only screen and (min-width: 768px) {
    .message_list li span.ng-binding {
        float: left;
        min-width: 220px;
        padding-left: 13px;
    }
    .message_list li b {
        float: left;
        display: inline-block;
        min-width: 150px;
        padding-left: 13px;
        padding-right: 7px;
    }
}

.message_list li span.ng-binding {
    padding-left: 13px;
    display: block;
    color: rgb(31, 80, 119);
    font-size: 13px !important;
}

.message_list li b {
    color: rgb(0, 84, 128);
    display: block;
    padding-left: 13px;
    padding-right: 7px;
    font-size: 12px;
}

.list {
    margin-top: 20px;
    font-size: 14px;
}

.has-header {
    top: 33px;
}
</style>
<ion-view>
    <ion-content>
        <!-- <div class="list messageBody">
            <p>{{message.createdAt | date:'MM/dd/yyyy @ h:mma'}}</p>
            <p><b>{{message.usermsessage_title}}</b></p>
            <p>{{message.usermsessage_from}}</p>
            <p ng-bind-html="thisCanBeusedInsideNgBindHtml">
                <br>
            </p>
        </div> -->
        <div class="list">
            <h2 class="text-center padding">Message Details</h2>
            <ul class="message_list">
                <li><b>Time </b><span>{{message.createdAt | date:'MM/dd/yyyy @ h:mma'}}</span>
                </li>
                <li><b>Title </b><span>{{message.usermsessage_title}}</span>
                </li>
                <li><b>From </b><span class="ng-binding"> Remedy admin</span>
                </li>
                <li><b>Message Body</b>
                    <span ng-bind-html="thisCanBeusedInsideNgBindHtml">
                        </span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
