<style type="text/css">
.unread {
    background-color: skyblue;
}
</style>
<ion-view cache-view="false">
    <ion-content>
        <div class="list">
            <h2 class="text-center padding">List of Messages</h2>
            <ul>
                <li ng-if="userMessageList.length <= 0" class="text-center padding">
                    No Messages available
                </li>
                <li ng-repeat="message in userMessageList | orderBy:'-'">
                    <a class="item" ng-class="{unread : {{message.usermsessage_read_status}}==false}" href="#/message/{{message.uid}}"><b>{{message.usermsessage_title}}</b><p style="float: rigth;">{{message.createdAt | date:'MM/dd/yyyy @ h:mma'}}</p></a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
