<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Other Fees</h1>
        <div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <div class="p20">
            <h3>Our Fees</h3>
            <p><b>All patients pay a simple $49 service fee in order to dispatch a medical provider to your location. This is a non-refundable fee, and is paid at the time you make your visit request.</b></p>
            <br/>
            <h3>Have Insurance?</h3>
            <p>
                <b>Soon, we will accept Aetna, BCBS, Cigna, Humana, and United. For now, you will pay either your urgent care co-pay or $99 at the time of your visit. Remedy will provide you with an itemized receipt which you may file with your insurance.</b></p>
            <br/>
            <h3>Self-Pay?</h3>
            <p><b>Our rates are transparent and affordable.
        <h4>$99 Evaluation Fee<span class="flatfee">Flat Fee</span></h4>
        <p class="selfpay">This is the fee for the provider to evaluate and manage your urgent condition.
          <br/><span class="italic">* Well checks and physical exams only $49</span></p>
<br/>
      <h3>Additional Services</h3>

        <h4>$49 Simple Procedures & Tests<span class="flatfee">Flat Fee</span></h4>
        <p class="selfpay">Burn care, splinting, and injectable medicines, and various lab tests such as strep, flu, and urinalysis</p>
        <hr/>
        <h4>$99 Complex Procedures<span class="flatfee">Flat Fee</span></h4>
        <p class="selfpay">Splinting with crutches, wound repair with adhesive, IV hydration</p>
        <hr/>
        <h4>$149 Complex Procedures Requiring Follow-up<span class="flatfee">Flat Fee</span></h4>
        <p class="selfpay">Wound repair with stitches and abscess drainage. Rate includes follow-up visit.</p>

    </div>
    <!-- /.padding -->
  </ion-content>
</ion-modal-view>
