<style>
.list:last-child.card {
    margin-bottom: 20px !important;
}
.card,
.list-inset {
    margin: 0px !important;
}
</style>
<ion-view class="payment" cache-view="false">
    <ion-content delegate-handle="paymentContainer">
        <form name="payFrm" id="payment-form">
            <input type="hidden" ng-model="paymentData.stripecountry" name="country" class="country">
            <span class="payment-errors"></span>
            <div class="section">
                <section class="container headBlue pl20 pr20 pb20">
                    <br/>
                    <div class="row">
                        <div class="col">
                            <h3 class="text-blue text-center">Payment Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div>
                                <h1 class="nomb" style="font-size: 72px;color: #fff">${{priceCC}}</h1>
                                <input type="hidden" data-stripe="amount" value="{{priceCC}}">
                                <p class="nomb text-white">Covers Trip Fee</p>
                            </div>
                            <div>
                                <div class="btnholder">
                                    <p class="mt20" style="color: #fff;">Additional fees will apply
                                        <br/>at the time of service.</p>
                                    <button ng-click="otherFees()" type="button" class="custom-btn button button-calm btn-remedy btn-remedy-blue btn-remedy-small">
                                        Learn More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container p20">
                    <div class="row" ng-show="savedCard">
                        <div class="col">
                            <div class="list card">
                                <div class="item">
                                    <h3 style="display: inline-block;top: 50%;">{{cardData[0].name}}</h3>
                                    <i class="ion-ios-trash-outline dltbtn" style="font-size: 25px;float: right;" ng-click="deleteCard();"></i>
                                </div>
                                <div class="item">
                                    <h4>**** **** **** {{cardData[0].last4}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="!savedCard">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p class="nomb contactlabel">Card Holder's Name</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="text" name="cardholdername" class="card-holder-name" size="20" placeholder="Card Holder's Name" ng-required="true" ng-model="paymentData.cardholdername" ng-pattern="/.{2,}/">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="nomb contactlabel">Credit Card Number</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="tel" id="cardnumber" ng-model="paymentData.cardnumber" class="card-number" placeholder="Your Credit Card Number" ng-required="true" only-Digits minlength="16" maxlength="16" ng-pattern="/^((4\d{3})|(5[1-5]\d{2}))(-?|\040?)(\d{4}(-?|\040?)){3}|^(3[4,7]\d{2})(-?|\040?)\d{6}(-?|\040?)\d{5}/i">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-33">
                                    <p class="nomb contactlabel">CVC</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="tel" id="cvv" class="cvv" ng-model="paymentData.cvv" class="card-cvc" placeholder="123" only-Digits minlength="3" maxlength="4" ng-required="true" ng-pattern="/^[0-9]{3,4}$/">
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <p class="nomb contactlabel">Exp. Month</p>
                                    <div class="list">
                                        <label class="item item-input item-select">
                                            <div class="input-label">
                                                &nbsp;
                                            </div>
                                            <select id="exp-month" ng-model="paymentData.expMonth" data-stripe="exp-month" class="card-expiry-month">
                                                <option value="" selected>Select Month</option>
                                                <option value="01">Jan</option>
                                                <option value="02">Feb</option>
                                                <option value="03">Mar</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">Aug</option>
                                                <option value="09">Sep</option>
                                                <option value="10">Oct</option>
                                                <option value="11">Nov</option>
                                                <option value="12">Dec</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <p class="nomb contactlabel">Exp. Year</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="tel" placeholder="YYYY" ng-model="paymentData.expYear" ng-pattern="/^\d{4}$/" data-stripe="exp-year" only-Digits minlength="4" maxlength="4" class="card-expiry-year" ng-required="true">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="savecardAnonymous">
                                <div class="col">
                                    <ion-checkbox class="item-text-wrap" ng-checked="false" ng-model="paymentData.saveCardChk">
                                        <small>Save your card for faster use</small>
                                    </ion-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="nomb contactlabel">Billing Street Address</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="text" name="street" class="address" placeholder="Street Address" ng-model="paymentData.stripeaddress" ng-required="true" ng-pattern="/.{3,}/">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="nomb contactlabel">Billing Street Address 2 (optional)</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="text" ng-model="paymentData.stripeaddress2" placeholder="Street Address 2">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <p class="nomb contactlabel">Billing City</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="text" name="city" class="city" placeholder="City" ng-required="true" ng-model="paymentData.stripecity" ng-pattern="/.{3,}/">
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-50">
                                    <p class="nomb contactlabel">Billing State</p>
                                    <div class="list">
                                        <label class="item item-input item-select">
                                            <div class="input-label">
                                                &nbsp;
                                            </div>
                                            <select ng-model="paymentData.stripestate" ng-required="true">
                                                <option value="" selected>Select State</option>
                                                <option ng-repeat="x in stateList" value="{{x.abbreviation}}">{{x.name}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="nomb contactlabel">Billing ZIP Code</p>
                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="tel" name="zip" class="zip" placeholder="ZIP" only-Digits ng-required="true" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" ng-model="paymentData.stripezip" minlength="5" maxlength="5">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row promocodeSection">
                        <div class="col col-50">
                            <p class="nomb contactlabel">Promo Code</p>
                            <div class="list">
                                <label class="item item-input">
                                    <input type="text" ng-model="promocode" placeholder="Promo Code" id="promocode" maxlength="8">
                                </label>
                            </div>
                        </div>
                        <div class="col col-50">
                            <p class="nomb contactlabel">&nbsp;</p>
                            <div class="list">
                                <button type="button" ng-click="applyPromo(promocode)" ng-disabled="!promocode" class="custom-btn button button-calm btn-remedy btn-remedy-blue btn-remedy-small apply">
                                    Apply Code
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="activatedPromocode" style="display: none;">
                        Congratulations! You saved ${{discountedPrice}}. Your total is now ${{discountedFinalPrice}}.
                    </div>
                    <div class="row" style="display: none;">
                        <div class="col col-50">
                            <p class="nomb contactlabel">Insurance Number</p>
                            <div class="list">
                                <label class="item item-input">
                                    <input type="text" placeholder="Insurance Number" id="insuranceNumber" ng-model="insuranceNumber">
                                </label>
                            </div>
                        </div>
                        <div class="col col-50">
                            <p class="nomb contactlabel">Insurance Group</p>
                            <div class="list">
                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        &nbsp;
                                    </div>
                                    <select id="insuranceSlot" ng-model="insuranceGroup">
                                        <option value="" selected></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ion-checkbox ng-model="terms" class="item-text-wrap" ng-checked="false" ng-required="true">
                                <small style="font-size: 12px">I Agree to the Terms & Conditions, including the Cancellation Policy</small>
                            </ion-checkbox>
                            <div class="btnholder text-center">
                                <button ng-click="termsConditions()" type="button" class="button button-full custom-btn button button-calm btn-remedy btn-remedy-blue">
                                    Review Terms &amp; Conditions
                                </button>
                            </div>
                            <div class="btnholder text-center" id="paymentButton">
                                <button ng-show="!savedCard" ng-click="payFrm.$valid && finalPayment(terms, paymentData)" class="custom-btn button-full button button-calm btn-remedy btn-remedy-blue-light" ng-disabled="payFrm.$invalid">Make Payment</button>
                                <button ng-show="savedCard" ng-click="finalPayment(terms, paymentData)" class="custom-btn button-full button button-calm btn-remedy btn-remedy-blue-light" ng-disabled="!terms">
                                    Make Payment
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
        </form>
        </div>
    </ion-content>
</ion-view>
