<ion-view hide-nav-bar="true" class="register-page" cache-view="false">
    <ion-header-bar class="bar-calm bar bar-header disable-user-behavior">
        <h1 class="title"></h1>
        <a href="#/home" class="loginClose">
            <div class="button button-clear"><span class="icon ion-close"></span></div>
        </a>
    </ion-header-bar>
    <div class="middlePage">
        <div class="container">
            <div class="fullscreen-bg text-center mt20">
                <img src="img/logo.png" style="width: 100%;max-width: 250px;">
                <form novalidate class="simple-form" ng-model="registerFrm" name="registerFrm">
                    <div class="text-middle">
                        <div class="row">
                            <div class="col">
                                <div class="list registerFrom">
                                    <label class="item item-input">
                                        <span class="input-label registerinput">First Name</span>
                                        <input type="text" ng-model="register.first_name" ng-pattern="/.{2,}/" required>
                                    </label>
                                    <label class="item item-input ">
                                        <span class="input-label registerinput">Last Name</span>
                                        <input type="text" ng-model="register.last_name" ng-pattern="/.{2,}/" required>
                                    </label>
                                    <label class="item item-input transparentInput ">
                                        <span class="input-label registerinput">Phone</span>
                                        <input type="text" ng-model="register.phone" only-Digits minlength="10" maxlength="10" ng-pattern="/^[1-9]{1}[0-9]{9}$/" ng-readonly="isAnonymous" required>
                                    </label>
                                    <label class="item item-input transparentInput ">
                                        <span class="input-label registerinput">Email</span>
                                        <input type="text" ng-model="register.email" ng-pattern="/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$/" ng-readonly="isAnonymous" required>
                                    </label>
                                    <label class="item item-input transparentInput ">
                                        <span class="input-label registerinput">Password</span>
                                        <input id="password" name="password" type="password" ng-model="register.password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{6,}$/" ng-minlength="6" ng-maxlength="20" required>
                                    </label>
                                    <span style="color:red" ng-show="registerFrm.password.$dirty && registerFrm.password.$invalid">
                                    <span>Password must be 6 characters and include letters and numbers. No special characters or punctuation.</span>
                                    </span>
                                    <label class="item item-input transparentInput ">
                                        <span class="input-label registerinput">Confirm Password</span>
                                        <input type="password" id="password_c" name="password_c" ng-model="register.password_c" ng-pattern="confirmPassword" required>
                                    </label>
                                    <span style="color:red" ng-show="registerFrm.password_c.$dirty && registerFrm.password_c.$invalid">
                        <span>Confirm password must be same as password</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button ng-click="createAccount(register)" type="submit" class="button button-full button-calm btn-remedy btn-remedy-blue-light nomt" ng-disabled="registerFrm.$invalid">
                                    Create Account
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btnholder text-center">
                                    <p><a ui-sref="home" style="color: #333;text-decoration: underline;">Guest user</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btnholder text-center">
                                    <p><a href="#/auth" style="color: #333;text-decoration: underline;">Already Have An Account?</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</ion-view>
