<ion-view class="service">
    <ion-content>
        <div class="container text-center m30">
            <h2 class="text-center mb20">Select Your Service</h2>
            <div class="list text-center">
                <div class="item item-body text-center pt30 pb40">
                    <h2 class="text-center text-blue nomt">In-Person Visit</h2>
                    <p>A Remedy medical professional will come to your home, office, or other location.</p>
                    <div class="btnholder">
                        <button ng-click="product(1)" class="custom-btn button button-calm btn-remedy btn-remedy-blue-light">
                            Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
