<ion-view>
    <ion-content>
        <form name="settingsForm" id="settingsForm" novalidate class="container">
            <h2 class="text-center padding">User Settings</h2>
            <h4 class="text-center mt30">Change Password</h4>
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="password" name="old_password" id="old_password" placeholder="Old Password" ng-model="profile.old_password" ng-required="true">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="password" name="new_password" id="new_password" placeholder="New Password" ng-model="profile.new_password" ng-required="true" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{6,}$/" ng-minlength="6" ng-maxlength="20">
                    </label>
                    <span style="color:red; display: block; padding-top: 5px; font-size: 12px;" ng-show="settingsForm.new_password.$dirty && settingsForm.new_password.$invalid">
                            <span>Password must be 6 characters and include letters and numbers. No special characters or punctuation.</span>
                    </span>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" ng-model="profile.confirm_password" ng-required="true" ng-pattern="confirmPassword">
                    </label>
                    <span style="color:red" ng-show="settingsForm.confirm_password.$dirty && settingsForm.confirm_password.$invalid">
                            <span>Passwords do not match.</span>
                    </span>
                </div>
                <div class="btnholder text-center">
                    <button class="custom-btn button button-calm btn-remedy btn-remedy-blue-light" ng-click="saveSettings(profile)" ng-disabled="!(profile.old_password && profile.new_password && profile.confirm_password)">
                        Save Your Settings
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
