<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Terms &amp; Conditions</h1>
    <div class="button button-clear" ng-click="modal3.hide()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content>
    <div class="p30 termsconditions">
      <p>DO NOT USE OUR SERVICES OR THE APPLICATION DESCRIBED HERE IF YOU ARE EXPERIENCING A LIFE-THREATENING EMERGENCY.  FOR LOSS OF CONSCIOUSNESS, CESSATION OF BREATHING, DIFFICULTY BREATHING, CHEST PAIN, STROKE SYMPTOMS, POISONING OR OVERDOSE, HEAD INJURY, UNCONTROLLED BLEEDING, OR OTHER MEDICAL EMERGENCY, YOU SHOULD CONTACT 911 OR PROCEED TO YOUR NEAREST EMERGENCY ROOM.</p>

<p>Remedy Urgent Care, PLLC, a Texas corporation, D/B/A Remedy (“Remedy”) provides the interactive RemedyUrgentCare.com website and our proprietary interactive mobile application (collectively, the “Application”). Use of the Application, and other products and services provided by Remedy (collectively, the “Services”) is governed by the terms and conditions of this Agreement. Please read these terms and conditions of use (the “Agreement”) carefully before accessing or using the Services. Throughout this Agreement, Remedy is referred to as “we” or “us.”</p>

<p>By accessing or using the Services, you agree to be bound by this Agreement as posted and accessible through our Application or Website at the time of your access or use and to use the Services in accordance with the terms and conditions of this Agreement, our Privacy Policy remedyurgentcare.com/privacy and any additional terms and conditions that are referenced herein or that otherwise may apply to specific features of the Services (all of which are deemed part of this Agreement). </p>

<p>If you do not agree to the terms and conditions of use for the Services as set forth in this Agreement, you may not use the Services.</p>

<p>We reserve the right to change the terms of this Agreement in the future, and we will post the revised Terms and Conditions of Use through our Application or website and update the “Last Revised” date, below, to reflect the date of the changes. You agree to review the Agreement each time you use the Services so that you are aware of any modifications which have been made. By continuing to access or use the Services you agree to the terms of this Agreement, as modified.</p>

<p><b>What Service does Remedy Provide?</b></p>
<p>Remedy is designed to offer information and a means to enable you to obtain telephonic and in-person consultations and treatment for common medical conditions by facilitating the connection between you and healthcare professionals (each, a “Medical Provider” and collectively, the “Medical Practice”) from Remedy Urgent Care, PLLC through the use of the Application. For the avoidance of doubt, the capitalized word “Services” as used in this Agreement refers only to our Application, website and related content and does not refer to the telephonic and in-person consultations and treatment that users receive from the Medical Practice.</p>

<p>Through our innovative technology, Remedy may be able to provide a Medical Provider to your door and on-demand in less than two hours.  Remedy provides a forum for an independent Medical Practice that provides non-emergency general adult and pediatric healthcare services in the comfort and convenience of a patient’s home, office, or workplace, (“House Calls”) allowing the Medical Providers to diagnose and deliver medical treatments in-person to adults or children. The Medical Practice promoting itself on Remedy must perform thorough background checks on its Medical Providers to ensure that they are in current good standing with the Texas medical board, as well as thorough background checks on any assistant accompanying the Medical Providers during the House Calls (“Medical Assistant”).</p>

<p>The Medical Practice that promotes itself on Remedy, and its Medical Providers, are not employees of Remedy. Employees of Remedy do not provide users health care services and take no part in your medical diagnosis and/or treatment. Remedy shall not be liable for any professional advice from a Medical Provider that is provided to a user in-person or via telephone, nor for any information obtained through our Application. We do not recommend or endorse any specific tests, health care or service providers, medications, products or procedures. You acknowledge that your reliance on any Medical Providers that promote themselves on our Application or information provided by such Medical Providers to you is solely at your own risk and you assume full responsibility for all risk associated therewith, as allowable by the extent of the law.</p>

<p>Consult with your regular licensed health care provider as necessary and before seeking any new treatment or before you alter, suspend or initiate any change in your medical treatment, medication routine or health care related procedure or activity. Do not disregard medical advice issued to you by your regular licensed healthcare provider.</p>

<p>You will be required to enter into separate agreements with the Medical Practice providing you with medical services (“Physician Agreements”). Physician Agreements include, but are not limited to arbitration agreements, privacy policies, medical services consents, and nondisclosure agreements. The Medical Practice that promotes itself on Remedy, and its Medical Providers, are independent of Remedy, and Remedy is not responsible for any issues you may have with respect to the Medical Practice’s or a Medical Provider’s professionalism, timeliness, medical treatment, diagnosis or advice, information provided, or any other actions or omissions arising from, or incident to, any services provided by the Medical Practice or Medical Provider.</p>

<p><b>How to Use the Application?</b></p>
<p>To use the Application, you first need to sign up with Remedy and create your account (“Membership”). When signing up, you must provide us with certain information, such as your name, address, date of birth, credit card information, and insurance information (if applicable). Upon successful completion of the sign up process, we will provide you with a personal account, accessible for you with a password of your choice.

<p>You have to be 18 years of age or older and reside in a jurisdiction in which we offer the Application to use the Application. If you reside in a jurisdiction that restricts the use of the Application because of age, or restricts the ability to enter into contracts such as this one due to age, you must abide by such age limits and you must not use the Application. You represent that you are of legal age to enter into a binding contract.

<p>The Application is designed to enable you to send a request for non-emergency medical consultation services to a Medical Provider. The GPS receiver – which should be installed on the mobile device on which you have downloaded the Application – detects your location. The Application bills you a service charge and schedules your service on behalf of the Medical Provider. The Application introduces you to the Medical Provider whom you have requested and sends a message relaying that request to the professional. The Medical Provider will review your information which may include a phone call to obtain additional information before accepting or rejecting your request.  The Medical Provider has the right to reject your request for services We do guarantee the availability of a Medical Provider in your area nor do we guarantee that a Medical Provider will be able to treat your condition.</p>

<p><b>Your Use of the Services</b></p>
<p>You represent and warrant that the information you provide to us is accurate and complete. You acknowledge and agree that we are entitled at all times to verify the information provided and to deny your use of the Services at any time for any reason or no reason.</p>

<p>If you are using the Services on behalf of a minor, you agree to be present during the Medical Provider’s visit with the minor, and you agree that you are responsible for payment for the services provided to the minor and are assuming the obligations of this Agreement as they relate to the minor.  If you are using the Application on behalf of a minor, you are indicating that you are the parent, guardian, or legal representative of such minor.</p>

<p>You may only access the Services using authorized means. It is your responsibility to check to ensure you download the correct Application for your device. We are not liable if you do not have a compatible device or if you download the wrong version of the Application for your device.</p>

<p>By accessing or using the Services, you further agree that:<br/>
<ul>
<li>You will only use the Services for your sole, personal use and you will not resell them to a third party;</li>
<li>You will not copy or distribute the Services or other Services content</li>
<li>You will not upload or transmit any communications or content of any type that infringes or violates any rights of any party;</li>
<li>You will not use the Services for any purpose in violation of local, state, federal or international laws;</li>
<li>You will not use the Services as a means to distribute advertising or other unsolicited material to any third party;</li>
<li>You will not impersonate another person;</li>
<li>You will not post material that is unlawful, obscene, defamatory, threatening, harassing, abusive, slanderous, hateful or embarrassing to any other person or entity as determined by us in our sole discretion;</li>
<li>You will comply with all applicable third party terms of agreement when using the Services (e.g., your wireless data service agreement);</li>
<li>You will ensure that no unauthorized person shall have access to your mobile device or your Remedy passwords or accounts;</li>
<li>You will promptly notify us in the event your Remedy passwords or accounts have been compromised;</li>
<li>You will not assign or otherwise transfer your account to any other person or entity;</li>
<li>You will not try to harm the Services or impair the proper operation of the network in any way whatsoever; and</li>
<li>You will provide us with whatever proof of identity we may request.</li>
</ul>

<p>We reserve the right to immediately terminate your use of the Services should you fail to comply with any of the foregoing rules.</p>

<p>You are free to establish a hypertext link to our Services so long as the link does not state or imply any sponsorship of your website or service by us or by our Services. However, you may not, without our prior written permission, frame or inline link any of the content of our Services, or incorporate into another website or other service any of our material, content or intellectual property.</p>

<p><b>Our Right to Use User-Provided Content</b></p>
<p>We may, in our sole discretion, permit you to post or submit content and other materials through the Services (collectively, “User-Provided Content”). You grant us, and anyone authorized by us, a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to use, copy, modify, transmit, sell, exploit, create derivative works from, distribute, and/or publicly perform or display such User-Provided Content, in whole or in part, in any manner or medium (whether now known or hereafter developed), for any purpose that we choose. Also, you grant us, and anyone authorized by us, the right to identify you as the author of any User-Provided Content submitted by you. You will not receive any compensation of any kind for the use of any User-Provided Content submitted by you.</p>

<p>You acknowledge that Remedy only acts as a passive conduit for the distribution of the User-Provided Content and is not responsible or liable to you or to any third party for the content or accuracy of the User-Provided Content. You understand that we have no obligation to monitor any areas of the Services through which users can post User-Provided Content. However, we reserve the right at all times, in our sole discretion, to screen User-Provided Content and to edit, move, delete, and/or refuse to accept any User-Provided Content that in our judgment violates this Agreement or is otherwise unacceptable or inappropriate, whether for legal or other reasons.</p>

<p>Any use by you of the User-Provided Content is entirely at your own risk. You represent and warrant that any User-Provided Content posted or transmitted by you is original to you and does not copy the work of any third party or otherwise infringe any third party intellectual property rights, rights of privacy or publicity rights and does not contain any defamatory or disparaging statements. Furthermore, you represent and warrant that you have the right to grant the license described above.</p>

<p>You agree to indemnify and hold harmless Remedy, Remedy’s affiliates, and each of its and their respective directors, officers, managers, employees, shareholders, agents, representatives, licensors, successors and assigns from and against any and all losses, expenses, damages and costs, including reasonable attorneys’ fees, that arise out of any User-Provided Content posted or transmitted through the Services by you or by others using your account.</p>

<p><b>Payment</b></p>
<p>There is no charge to register with us or download the Application on your mobile device. You are charged only when you actually use the Services by scheduling a consultation with a Medical Provider. We reserve the right to introduce a fee in the future for downloading the Application as registering with us. If we decide to introduce such a fee, we will inform you accordingly and allow you to either continue or terminate your account. Your payment includes a Service Charge that is not covered by insurance, and allows us to provide the technology and convenience of Remedy.  </p>

<p>The rates that apply for the telephonic or in-person medical consultation services provided by the Medical Providers can be found on our website and through the Application. These may be modified or updated from time to time. It is your own responsibility to remain informed about the current rates for the medical services made available through the Application.</p>

<p>Remedy shall, on behalf of the Medical Provider, charge you for the medical services provided to you by that Medical Provider. You agree that you will pay for all medical services you receive from the Medical Provider, and that Remedy may charge your credit card account, as provided by you when registering for the Services, for the medical services including any taxes and late fees, as applicable, that may be accrued by or in connection with your account. You are responsible for the timely payment of all fees and for providing Remedy with a valid credit card account for payment of all fees at all times. Any payment made is non-refundable.</p>

<p>We use a third-party payment processor (the “Payment Processor”) to link us to your credit card account. The processing of payments or credits, as applicable, in connection with your use of the Application will be subject to the terms, conditions and privacy policies of the Payment Processor and your credit card issuer in addition to this Agreement. We are not responsible for any errors by the Payment Processor or your credit card issuer. In connection with your use of the Services (and specifically in connection with your scheduling of a telephonic or in-person consultation with a Medical Provider), Remedy will obtain certain transaction details, which we will use solely in accordance with our Privacy Policy.</p>

<p>If you will be using health insurance, you will be asked to present your current insurance card at the time of your visit.  If your insurance card has a co-payment indicated, we will charge that amount to your credit card at the time of your visit.  If no co-payment is specified on your insurance card, we will charge your credit card a standard co-pay of $75.</p>

<p>We will file an initial claim based upon the insurance information that you have provided to us.  Under state law, your insurance company has 30 days in which to process and pay the claim, request more information, or deny the claim and notify us of the decision.  If they have not notified us within 90 days of the date of service, it will be assumed that your insurance coverage is no longer in force, and the unpaid balance will be your responsibility.</p>

<p><b>Intellectual Property Ownership</b></p>
<p>Unless otherwise noted, all materials including without limitation, logos, brand names, images, designs, photographs, video clips and written and other materials that appear as part of our Application, Website or any of the other Services are copyrights, trademarks, service marks, trade dress and/or other intellectual property whether registered or unregistered ("Intellectual Property") owned, controlled or licensed by Remedy. The Services as a whole is protected by copyright and trade dress. Nothing on our Website should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Intellectual Property displayed or used on our Website, without the prior written permission of the Intellectual Property owner. Remedy aggressively enforces its intellectual property rights to the fullest extent of the law. The names and logos of Remedy, may not be used in any way, including in advertising or publicity pertaining to distribution of materials on our Website, without prior, written permission from Remedy. </p>

<p><b>Application License</b></p>
<p>Subject to your compliance with the terms and conditions of this Agreement, Remedy grants you a limited, non-exclusive, non-transferable license to download and install a copy of the Application on a mobile device that you own or control and to run such copy of the Application solely for your own personal use.</p>

<p>You shall not (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Application in any way; (ii) modify or make derivative works based upon the Application; (iii) reverse engineer or access the Application in order to (a) design or build a competitive product or service, (b) design or build a product using similar ideas, features, functions or graphics of the Application, or (c) copy any ideas, features, functions or graphics of the Application; or (v) launch an automated program or script, including, but not limited to, web spiders, web crawlers, web robots, web ants, web indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burdens or hinders the operation and/or performance of the Services.</p>

<p><b>Geo-Location Functionality</b></p>
<p>The Services include and make use of certain functionality and services provided by third parties that allow Remedy to include maps, geocoding, places and other content from Google, Inc. (“Google”) as part of the Services (the “Geo-Location Services”). Your use of the Geo-Location Services is subject to Google’s then current Terms of Use for Google Maps/Google Earth (http://www.google.com/intl/en_us/help/terms_maps.html) and by using the Geo-Location Services, you are agreeing to be bound by Google’s Terms of Use.</p>

<p><b>Disclaimer</b></p>
<p>THE SERVICES AND ANY INFORMATION CONTAINED ON OR PROVIDED THROUGH THE SERVICES ARE PROVIDED ON AN “AS IS” BASIS. ANY ACCESS TO OR USE OF THE SERVICES IS VOLUNTARY. WE WILL REGARD ALL ACCESS OR USE AS VOLUNTARY AND AT THE SOLE RISK OF THE USER.</p>

<p>The Services are solely designed to enable you to obtain telephonic and in-person consultations and treatment for common medical conditions by facilitating the connection between you and Medical Providers. NOTHING CONTAINED IN THE SERVICES IS OR SHOULD BE CONSIDERED, OR USED AS A SUBSTITUTE FOR, MEDICAL ADVICE, DIAGNOSIS OR TREATMENT. The services provided in the Application are here to help connect you to health care providers only. Any information contained in the Services should not be relied upon as the basis of any health-care decision. The Services do not constitute the practice of any medical, nursing or other professional healthcare advice, diagnosis or treatment.</p>

<p>NEVER DISREGARD, AVOID OR DELAY IN OBTAINING MEDICAL ADVICE FROM YOUR DOCTOR OR OTHER QUALIFIED HEALTH CARE PROVIDER BECAUSE OF SOMETHING YOU HAVE READ THROUGH OUR APPLICATION OR WEBSITE. IF YOU HAVE OR SUSPECT THAT YOU HAVE A MEDICAL PROBLEM OR CONDITION, YOU MAY USE THIS APPLICATION TO TRY TO CONTACT A QUALIFIED HEALTH CARE PROFESSIONAL. HOWEVER, IF YOU ARE EXPERIENCING A MEDICAL EMERGENCY, PLEASE CALL 911 FOR EMERGENCY MEDICAL HELP.</p>

<p>We also do not warrant or guarantee that files that may be available for downloading through the Services will be free of infections or viruses, worms, Trojan horses or other code that contains contaminating or destructive properties.</p>

<p>You expressly agree that your use of, or inability to use, the Services is at your sole risk. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement. We do not guarantee, represent or warrant that your use of the Services will be uninterrupted, timely, secure or error-free. We do not warrant that the results that may be obtained from the use of the Services will be accurate or reliable.</p>

<p>In no case shall Remedy, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the Services, or for any other claim related in any way to your use of the Services, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the Services or any content (or product) posted, transmitted, or otherwise made available via the Services, even if advised of the possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law.</p>

<p>We do not control, supply, endorse, warrant or guarantee any information, products, services or merchandise supplied by any of the Medical Providers that you may connect with via the Application or the Website. We also do not warrant or guarantee that files that may be available for downloading through the Website or the Application will be free of infections, viruses, worms, Trojan horses or other code that contains contaminating or destructive properties. </p>

<p>We, and our technology service providers, cannot and do not guarantee or warrant against errors, omissions, delays, interruptions or losses, including loss of data. You download and use the Services at your own discretion and risk, and you are solely responsible for any damages to your hardware device(s) or loss of data that results from the download or use of the Services. Users of the Services are responsible for maintaining a means external to the Services for the reconstruction of any lost data.</p>

<p>WE DO NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS OF ANY KIND WHATSOEVER (INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE OR NONINFRINGEMENT, OR ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICES, OR WITH RESPECT TO ANY INFORMATION, PRODUCT, SERVICE, MERCHANDISE OR OTHER MATERIAL PROVIDED ON OR THROUGH THE SERVICES (INCLUDING ANY CONSULTATIONS OR OTHER SERVICES YOU MAY OBTAIN FROM HEALTH CARE PROVIDERS THAT YOU CONNECT WITH VIA THE SERVICES). WE DO NOT WARRANT OR GUARANTEE THE ACCURACY, COMPLETENESS, CORRECTNESS, TIMELINESS OR USEFULNESS OF ANY INFORMATION, PRODUCTS, SERVICES, MERCHANDISE OR OTHER MATERIAL PROVIDED THROUGH THE SERVICES OR ON THE INTERNET GENERALLY. WE MAKE NO WARRANTY OR GUARANTEE THAT THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE. YOUR SOLE AND EXCLUSIVE RECOURSE FOR DISSATISFACTION WITH THE SERVICES IS TO STOP USING THEM.</p>

<p><b>Limitation of Liability</b></p>
<p>TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, IN NO EVENT WILL REMEDY BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE, EXEMPLARY, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE) ARISING OUT OF THIS AGREEMENT, OR THE USE OF, OR THE INABILITY TO USE, THE SERVICES, INCLUDING, WITHOUT LIMITATION, ANY INFORMATION OR DATA MADE AVAILABLE THROUGH THE SERVICES OR ANY SERVICES PERFORMED BY ANY HEALTH CARE PROVIDERS THAT YOU CONNECT WITH VIA THE SERVICES (INCLUDING CLAIMS OF MEDICAL MALPRACTICE AGAINST THOSE HEALTH CARE PROVIDERS), EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. IN THE EVENT THE FOREGOING LIMITATION OF LIABILITY IS DETERMINED BY A COURT OF COMPETENT JURISDICTION TO BE UNENFORCEABLE, THEN THE MAXIMUM LIABILITY OF REMEDY FOR ALL CLAIMS (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE AND MEDICAL MALPRACTICE), OR OTHERWISE) OF EVERY KIND ARISING OUT OF THIS AGREEMENT WILL NOT EXCEED ONE HUNDRED DOLLARS ($100.00). THE FOREGOING LIMITATION OF LIABILITY OF REMEDY WILL COVER, WITHOUT LIMITATION, ANY TECHNICAL MALFUNCTION, COMPUTER ERROR OR LOSS OF DATA, AND ANY OTHER INJURY, ARISING FROM THE USE OF THE SERVICES.</p>

<p><b>Indemnification</b></p>
<p>You agree to indemnify and hold harmless Remedy,, and each of its affiliates, directors, officers, managers, employees, shareholders, agents, representatives, licensors, successors and assigns from and against any and all losses, expenses, damages and costs, including reasonable attorneys’ fees, that arise out of your use of the Services, violation of this Agreement by you or any other person using your account, or your violation of any rights of another. We reserve the right to control the defense of any claim for which we are entitled to indemnification under this section. In such event, you agree to provide us with such cooperation as is reasonably requested by us.</p>

Modifications to, or Discontinuation of, the Services</p>
We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Services, or any portion thereof, with or without notice. You agree that we will not be liable to you or any third party for any modification, suspension or discontinuance of the Services or any portion thereof.</p>

<p><b>Privacy</b></p>
<p>Your use of the Services is subject to Remedy’s Privacy Policy. Please review this policy so you understand what information we collect through the Services, how we use it, how we secure it, and when we may share it.</p>

<p><b>Promotions and Offers</b></p>
<p>We may, as part of our services to users, encourage you to participate and enjoy our promotions. The following terms and conditions apply to all offers and promotions, unless otherwise stated. By accepting any promotional offer, you agree to be bound by the following additional terms. The Application reserves the right to send particular promotions to particular users, Physicians, and other individuals. We may use any personal information you provide to us (including your email address), to provide you (by email or otherwise) with information regarding our contests and promotions, as further described in our Privacy Policy; provided, however, that we will not use your personal information for our promotions or for our marketing of products without your prior written consent. Notwithstanding the foregoing, you agree that Remedy may communicate your personal information to the Medical Practice featured on the Application in connection with any healthcare services provided by the Medical Practice and Health Care Professionals.
Price discounts cannot be used together or combined with other discount offers or promotional offers. Promotional offers are intended for the addressed recipient only and cannot be transferred. If you are not the intended recipient, then the offer is null and void. We may request further information from you if you wish to participate in our promotions and offers. Participation in these promotions is completely voluntary. Therefore, you have the choice to decline to participate in any promotion where you are required to provide further information about yourself.</p>

<p>Remedy is not responsible for any unauthorized promotions and offers offered by third parties through the Application.</p>

<p><b>Miscellaneous</b></p>
<p>This Agreement constitutes the entire agreement between us and you with respect to the subject matter contained in this Agreement and supersedes all previous and contemporaneous agreements, proposals and communications, written or oral, related to that subject matter. You also may be subject to additional terms and conditions that may apply when you use the products or services of a third party that are available through the Services. In the event of any conflict between any such third-party terms and conditions and this Agreement, this Agreement will govern. This Agreement will be governed by and construed in accordance with the laws of the State of Texas, without regard to any conflicts of law provisions contained therein.
This Agreement is personal to you and you may not assign it to anyone. If any provision of this Agreement is found to be unlawful, void, or for any reason unenforceable, then that provision will be deemed severable from this Agreement and will not affect the validity and enforceability of any remaining provisions. This Agreement is not intended to benefit any third party, and does not create any third party beneficiaries. Accordingly, this Agreement may only be invoked or enforced by you or us. You agree that regardless of any statute or law to the contrary, any claim or cause of action that you may have arising out of or related to use of the Services or this Agreement must be filed by you within one year after such claim or cause of action arose or be forever barred. Any and all provisions of this Agreement that would reasonably be expected to be performed after the termination or expiration of this Agreement shall survive and be enforceable after such termination or expiration including, without limitation, provisions relating to ownership, indemnification, limitation of liability and governing law.</p>

<p><b>Notice for Claims of Copyright Violations</b></p>
<p>If you believe that your work has been copied and posted on our website in a way that constitutes copyright infringement, you should provide our Copyright Agent with a written notice that sets forth the infringement details. To be effective, the notice must contain the following information:</p>

<p>Please provide:<br/>
<ul>
<li>a description of the copyrighted work that you believe has been infringed;</li>
<li>a description of the material that you claim is infringing the copyrighted work identified in #1, and a detailed description of where it is located on our Application;</li>
<li>your address, telephone number, and email address;</li>
<li>a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
<li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest.</li></ul></p>

<p>Please send the written communication to our Copyright Agent at the following address:<br/>
By mail:<br/>5307 Hwy. 290W, Bldg. B, Ste. 1<br/>
Austin, TX 78735<br/>
Email:<br/>info@remedyurgentcare.com</p>
<p>We reserve the right, in appropriate circumstances and at our discretion, to terminate the privileges of any account holder who repeatedly infringes the copyrights or other intellectual property rights of others.</p>

<p>Last Revised: Nov. 30, 2015</p>

<p>2015 Remedy, All rights reserved.</p>

      
    </div>  
    <!-- /.padding -->
  </ion-content>
</ion-modal-view>