<ion-popover-view>
    <ion-content>
        <ion-list ng-click="popover.hide()">
            <ion-item href="#/home" ng-click="popover.hide($event)">
                <i class="icon ion-home"></i> Home
            </ion-item>
            <ion-item href="#/appointments" ng-click="popover.hide($event)">
                <i class="icon ion-calendar"></i> My Appointments
            </ion-item>
            <ion-item href="#/insurance_self" ng-click="popover.hide($event)">
                <i class="icon ion-umbrella"></i> Insurance
            </ion-item>
            <ion-item href="#/settings" ng-click="popover.hide($event)">
                <i class="icon ion-gear-b"></i> Password Settings
            </ion-item>
            <ion-item href="#/messages" ng-click="popover.hide($event)">
                <i class="icon ion-chatbox"></i> Messages from Remedy
            </ion-item>
            <ion-item ng-click="logOut()" ng-click="popover.hide($event)">
                <i class="icon ion-log-out"></i> Log Out
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
