<ion-view class="verification" cache-view="false">
    <ion-content>
        <form name="verifyFRM" id="verifyFRM" novalidate>
            <div class="container m30">
                <h2 class="text-center">Please Confirm</h2>
                <ion-checkbox class="item-text-wrap" ng-model="emergency" ng-checked="false" ng-required="true" style="border:0px !important">
                    <p class="text-blue item-text-wrap">This is not an emergency</p>
                    <p>If this is a medical emergency, call 911.</p>
                </ion-checkbox>
                <ion-checkbox class="item-text-wrap" ng-model="over18" ng-checked="false" ng-required="true" style="border:0px !important">
                    <p class="text-blue item-text-wrap">The patient is at least one year of age</p>
                    <p>Patients must be at least one year old at time of care</p>
                </ion-checkbox>
                <ion-checkbox ng-show="vvisit" class="item-text-wrap" ng-model="existingPatient" ng-checked="false" ng-required="vvisit" style="border:0px !important">
                    <p class="text-blue item-text-wrap">I am an existing patient of Remedy</p>
                    <p>Texas law requires that all patients have seen a Remedy Urgent Care provider in person prior to using Video Visit. For more info, call Remedy at 512-900-5844.</p>
                </ion-checkbox>
                <div class="btnholder text-center m30">
                    <button ng-click="product(1)" ng-disabled='verifyFRM.$invalid' class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                        Schedule My Visit
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
