<style type="text/css">
    @media only screen and (min-width:825px) {
    #directions {
        padding-left: 30% !important;
    }
</style>
<ion-view class="confirmed" hide-back-button="true">
    <ion-content>
        <div class="container m30 text-center">
            <h2>See You Soon!</h2>
            <p class="text-center"><b>Your visit is scheduled.</b></p>
            <p class="text-center pl20 pr20">Prepare for your video visit five minutes before your appointment with your computer or smart phone.</p>
            <p class="text-center pl20 pr20" id="directions" style="padding-left:25px; text-align:left; font-size:12px;"><b>On your computer (requires <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>)</b>
                <br>1. Type "remedy.doxy.me" into your Chrome web browser.</br>2. Enter "remedy" into 'Clinician's Room'.
                <br>3. Enter your name and 'Check In'.
            </p>
            <p class="text-center pl20 pr20" id="directions" style="padding-left:25px; text-align:left; font-size:12px;"><b>On your smart phone</b>
                <br>1. Download the Doxy.me app.
                <br>2. Start the app and select "Patient".
                <br>3. Enter "doxy.me/remedy" into the Room URL.
                <br>4. Enter your name and 'Check In'.</p>
            <a id="badges" style="margin:auto; margin-right:5%;" href="https://itunes.apple.com/us/app/doxy.me/id995641397?mt=8"><img style="width:135px;" src="http://get.remedyurgentcare.com/remedy_tele/images/AppStore.png" /></a>
            <a style="margin:auto" href="https://play.google.com/store/apps/details?id=doxy.me&hl=en"><img style="width:135px;" src="http://get.remedyurgentcare.com/remedy_tele/images/PlayStore.png" /></a>
            <p class="text-center pl20 pr20" style="margin-top:6px;">You will also receive an email confirmation shortly about your video visit.</p>
            <div class="row pl20 pr20">
                <div class="col">
                    <h4 class="mt20 text-blue">Your Visit Details</h4>
                    <p class="nopadding nomargin">{{overViewDetail.first_name}} {{overViewDetail.last_name}}</p>
                    <p class="nopadding nomargin">{{vTime}}</p <h4 class="mt20 text-blue">Need to make a change?</h4>
                    <p>Call <a href="tel:512.900.5844">512.900.5844</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" ng-click="newAppointment()" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                        Schedule Another Visit
                    </button>
                    <br/>
                    <br/>
                    <button type="button" ui-sref="register" ng-if="chkUserLogin() === 'false'" class="custom-btn button button-calm btn-remedy btn-remedy-blue">
                        Register with us
                    </button>
                    <br/>
                    <br/>
                    <a href="http://www.remedyurgentcare.com" class="custom-btn button button-calm btn-remedy btn-remedy-blue-light">
                        Return to Remedy Urgent Care
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
