<div class="tribePicDetais">
    <div class="modal-header">
    <i class="fa fa-times" ng-click="close()"></i>
        <h3>Picture of Details</h3>
    </div>
    <div class="pictureDetailsMain">
        <div class="posterProfile">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-circle" data-ng-src="{{picDetails.tribemanProfilePicture}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg">
                    </div>
                    <div class="col-md-10">
                        <h4>{{picDetails.tribemanName}}</h4>
                        <em>Posted on {{picDetails.createdAt | amDateFormat:'MMMM Do YYYY'}}</em>
                    </div>
                </div>
            </div>
        </div>
        <div class="pictureDetailBigimg">
            <img ng-src="{{picDetails.picture}}" alt="">
            <img class="pictureDetailBigimgIcon" src="img/social/plain/small/circle/tw_circle.png" alt="">
        </div>
        <div class="pictureDetailText">
            <h4>{{picDetails.imageTitle}}</h4>
            <p>{{picDetails.description}}</p>
            <div class="posterShare">
                <ul>
                    <li> </li>
                    <li> </li>
                </ul>
            </div>
        </div>
        <div class="pictureDetailImgs">
            <ul>
                <!-- class="active" -->
                <li ng-repeat="img in tribemanPicturesList | limitTo:5"><img class="img-responsive" ng-src="{{img.picture}}" alt=""></li>
            </ul>
        </div>
    </div>
</div>
