<div class="clanTribeMans" data-ng-controller="TribeMansController">
   <bookmarked-list tribeman="{{tribeman}}"></bookmarked-list>
    <ul class="profileMainBreadCremp clanBradcrumb">
        <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="#">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li> <a ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId})" href="#">{{currentTribe.tribeName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li><a ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId,clanId:currentClan.clanId})" href="#">{{currentClanDetails.clanName}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li>Tribemans </li>
    </ul>
    <div class="clanDetils clearfix">
        <div class="clanMainTopLeft">
            <h4>{{currentClanDetails.clanName}}</h4>
            <em>Public - Created at {{currentClanDetails.createdAt | amDateFormat:'MMMM Do YYYY'}},</em>
        </div>
        <div class="clanMainTopRight">
            <div class="clanMainTopRightRound" style="background-color : {{$root.getHexCode(currentClanDetails.clanSentiment)}}">
                <strong>+<br>{{currentClanDetails.clanSentiment | number:0}}%</strong>
            </div>
        </div>
        <div class="tribeMainDescription">
            <p>{{ currentClanDetails.description | limitTo: 250 }}{{currentClanDetails.description.length > 250 ? '...' : ''}}</p>
        </div>
    </div>
    <div class="claneTribemansList">
        <h4>Tribesmen 
<!-- <span class="pull-right"><i class="fa fa-search" aria-hidden="true"></i></span>
 -->        </h4>
        <div ng-if="tribeMansList.length !== 0 || tribeMansList !== null">
            <table class="table">
                <tr ng-repeat="tribeman in tribeMansList">
                    <td width="30%">
                        <div class="friendListPrf">
                            <img class="img-circle" align="center" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                        </div>
                    </td>
                    <td width="80%">
                        <h5><a ui-sref="main.base.tribe.main.friendProfile({tribemanId:tribeman.tribemanId})" title="">{{tribeman.tribemanName}}</a></h5>
                        <span>Member : {{currentClanDetails.clanName}}</span><em>Since : {{tribeman.createdAt  | amDateFormat:'MMMM Do YYYY'}}</em></td>
                    <!-- <td width="40%">Trader</td> -->
                    <td width="20%">
                        <img class="post-tribe-mood" src="/img/exp_icons/{{tribeman.tribemanMood}}.png" alt="">
                    </td>
                    <td width="40%">
                        <div class="post-det-sentiment tribeSentiment">
                            <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
                        </div>
                    </td>
                    <!-- <td width="40%">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </td> -->
                </tr>
            </table>
            <div ng-if="tribeMansList.length > 9 " class="profileRightTribeMensPicsIcons">
                <a class="leftright" href="">
                    < </a>
                        <a class="leftright" href=""> > </a>
            </div>
        </div>
        <div class="notribeMansList" ng-if="tribeMansList.length == 0 || tribeMansList == null">No Result Found</div>
    </div>
</div>
