<div class="postPageMain" data-ng-controller="PostsController">
    <div class="clanMainTop clearfix">
        <bookmarked-list tribeman="{{tribeman}}"></bookmarked-list>
        <ul class="profileMainBreadCremp clanBradcrumb">
            <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="#">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
            <li> <a ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId})" href="#">{{currentTribe.tribeName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
            <li>{{currentClanDetails.clanName}} <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
            <li>Posts </li>
        </ul>
        <div class="clanDetils clearfix">
            <div class="clanMainTopLeft">
                <h4>{{currentClanDetails.clanName}}</h4>
                <em>Public - Created at {{currentClanDetails.createdAt | amDateFormat:'MMMM Do YYYY'}},</em>
            </div>
            <div class="clanMainTopRight">
                <div class="clanMainTopRightRound" style="background-color : {{$root.getHexCode(currentClanDetails.clanSentiment)}}">
                    <strong>+<br>{{currentClanDetails.clanSentiment | number:0}}%</strong>
                </div>
            </div>
            <div class="tribeMainDescription">
                <p>{{ currentClanDetails.description | limitTo: 250 }}{{currentClanDetails.description.length > 250 ? '...' : ''}}</p>
            </div>
        </div>
        <div class="postMainTopComment clearfix">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 col-xs-2 no_padding">
                        <div class="postCommentImg">
                            <img class="img-circle" align="center" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-10 col-md-12-15">
                        <form class="postCommentBox" name="createPost" ng-submit="postClan(postData);">
                            <div class="postCommentTextarea">
                                <input type="text" placeholder="Post Title" ng-model="postData.title" class="form-control" name="title" required>
                            </div>
                            <div class="postCommentTextarea">
                                <!-- <textarea placeholder="Post Description" ng-model="postData.description" class="form-control" rows="3" required></textarea> -->
                                <textarea placeholder="Post Description" ng-model="postData.description" class="form-control" rows="3" required></textarea>
                                <p class="danger" ng-show="moodExpError">{{moodeError}}</p>
                                <div class="commentMoodMain" id="cheetah">
                                    <i class="fa fa-smile-o commentMood" ng-hide="moodIcon" aria-hidden="true"></i>
                                    <img ng-show="moodIcon" class="img-circle commentMood" ng-src="/img/exp_icons/{{commentMood}}.png" alt="">
                                    <ul class="commntMoodExp" id="hidden">
                                        <li><img tooltip-html-unsafe="ANGRY" tooltip-placement="top" ng-click="chooseCommetMood('ANGRY')" ng-class="{'clickBr': commentMood == 'ANGRY'}" src="img/exp_icons/ANGRY.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="DISGUST" tooltip-placement="top" ng-click="chooseCommetMood('DISGUST')" ng-class="{'clickBr': commentMood == 'DISGUST'}" src="img/exp_icons/DISGUST.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="FEAR" tooltip-placement="top" ng-click="chooseCommetMood('FEAR')" ng-class="{'clickBr': commentMood == 'FEAR'}" src="img/exp_icons/FEAR.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="HAPPY" tooltip-placement="top" ng-click="chooseCommetMood('HAPPY')" ng-class="{'clickBr ': commentMood == 'HAPPY '}" src="img/exp_icons/HAPPY.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="SAD" tooltip-placement="top" ng-click="chooseCommetMood('SAD ')" ng-class="{'clickBr ': commentMood == 'SAD '}" src="img/exp_icons/SAD.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="SURPRISED" tooltip-placement="top" ng-click="chooseCommetMood('SURPRISED ')" ng-class="{'clickBr ': commentMood == 'SURPRISED '}" src="img/exp_icons/SURPRISED.png" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="postCommentImgUpload">
                                <label class="btn btn-default btn-file">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    <input type="file" style="display: none;" ng-file-model="postData.postPicture" imgid="clanPostPicture"> Upload media
                                </label>
                                <span class="danger" id="tribeIcoErr"></span>
                                <div class="tribeImgDiv">
                                    <img id="clanPostPicture" style="height: 60px;width: 60px;">
                                    <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                                </div>
                            </div>
                            <div>
                                <h5>Post Sentiment :</h5>
                                <rzslider rz-slider-model="postSentiment.value" rz-slider-options="postSentiment.options"></rzslider>
                            </div>
                            <button type="submit" class="pull-right">Post to Clan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="postPageMainPoster">
        <ul>
            <li ng-if="postList.length !== 0 || postList !== null" class="post" ng-repeat="post in postList">
                <div class="posterProfile">
                    <img class="img-circle img-responsive" align="left" data-ng-src="{{post.profileImageUrl}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    <div class="posterProfileRight">
                        <h4>{{post.createdByUsername}}</h4>
                        <em>Posted on {{$root.getMomentDate(post.createdAt)}}</em>
                    </div>
                </div>
                <span ng-if="post.createdByUsername === tribeman.tribemanName" class="spanInline postDetailsEdit" custom-popover type="post" data="{{post}}"></span>
                <div class="posterContent">
                    <img ng-if="post.postPicture !== null" class="img-responsive postImgThumb" data-ng-src="{{post.postPicture}}" alt="">
                     <!-- on-error-img-src="img/default_profile.jpg" src="img/icons/tribe.png" -->
                    <!-- ui-sref="main.base.tribe.main.main.categorie.tribes.clan.postDetails({postID: post.postId})" -->
                    <h4 ng-click="postDetails(post)">{{post.postName}}</h4>
                    <p>{{ post.postText | limitTo: 250 }}{{post.postText.length > 250 ? '...' : ''}}</p>
                </div>
                <!-- <div class="posterShare">
                    <ul>
                        <li> </li>
                        <li> </li>
                        <li> </li>
                    </ul>
                    <img class="img-circle pull-right" align="right" src="img/social/plain/small/circle/fb_circle.png" alt="">
                </div>
                <div class="posterRelated">
                    <ul>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Jony Depp</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Iraq</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Mass Kilin</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Donald Trump</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Infosys </span></a>
                        </li>
                    </ul>
                </div> -->
                <div class="posterCommentSection clearfix">
                    <div class="row">
                        <div class="postCommentImg pstCmtImg">
                            <img class="img-circle" align="center" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                        </div>
                        <div class="postCommentTextBox">
                            <input class="form-control" ng-model="postCommentText" ng-enter="createPostComment(post.postId,postCommentText)" placeholder="Post a comment here...">
                        </div>
                    </div>
                    <comments-list postid="{{post.postId}}"></comments-list>
                </div>
            </li>
            <div class="noResult" ng-if="postList.length == 0 || postList == null">No Posts Found</div>
        </ul>
    </div>
</div>
