<div class="tribeCreate">
    <div class="row">
        <div class="col-md-12">
            <div class="tab_form">
                <div class="tab_form_title">
                    <div class="modal-header">
                        <!-- <div class="pull-right">
                            <i class="fa fa-times" ng-click="close()" aria-hidden="true"></i>
                        </div> -->
                        <h4 ng-if="!selectedTribe" class="ctreateTitle">Create {{tribeName}} <i class="fa fa-times" ng-click="close()"></i></h4>
                        <h4 ng-if="selectedTribe" class="ctreateTitle fromTrbPg">Create a new clan under <strong>“{{tribeListData[0].tribe.tribeName}}”</strong> tribe <i class="fa fa-times" ng-click="close()"></i></h4>
                        <!--  <ul class="nav nav-tabs tab_form_ul" role="tablist">
                            <li class="active" data-toggle="tab" data-target="#clan">Clan</li>
                        </ul> -->
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="clan">
                            <form name="clanCreateForm" ng-submit="clanCreate(clanData);" novalidate>
                                <div class="form-group">
                                    <label for="clanName">Enter your Clan name</label>
                                    <input type="text" name="clanName" id="clanName" ng-model="clanData.clanName" class="form-control" value="">
                                    <p ng-show="clanCreateForm.clanName.$invalid">Clan Name is required.</p>
                                </div>
                                <div class="form-group">
                                    <label for="clanDescription">Clan description</label>
                                    <textarea class="form-control" name="clanDescription" id="clanDescription" rows="3" ng-model="clanData.description" placeholder=""></textarea>
                                </div>
                                <div class="form-group" ng-if="showCategory">
                                    <label for="categoryId">Select Category</label>
                                    <select class="form-control" name="categoryId" id="categoryId" ng-model="categoryId" ng-options="item.categoryId as item.categoryName for item in catList" ng-change="getTribeList(categoryId)">
                                        <option selected value="">Select Category</option>
                                    </select>
                                </div>
                                <p ng-if="noTribe">No tribe list under this Category</p>
                                <div class="form-group" ng-if="showTribeSelect">
                                    <label for="tribeId">Select Tribe</label>
                                    <!-- <input name="Tribe" id="Tribe" type="text" placeholder="Enter Tribe Name" ng-model="clanData.tribeId" typeahead="tribe.tribeName for tribe in tribeListData | filter:$viewValue | limitTo:8" class="form-control"> -->
                                    <select  class="form-control" name="tribeId" id="tribeId" ng-model="clanData.tribeId" ng-options="item.tribe.tribeId as item.tribe.tribeName for item in tribeListData">
                                        <option selected value="">Select Tribe</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="selectedTribe">
                                    <label>Selected Tribe : </label>
                                    <strong> {{tribeListData[0].tribe.tribeName}}</strong>
                                </div>
                                <p ng-if="noTribeTrbman">No tribe list under this Category for this Logged in tribeman</p>
                                <!-- <div class="form-group">
                                    <label class="btn btn-default btn-file">
                                        <i class="fa fa-picture-o"></i>
                                        <input type="file" style="display: none;"> Upload Clan image
                                    </label>
                                </div> -->
                                <div class="form-group" ng-if="!noTribeTrbman">
                                    <label class="btn btn-default btn-file">
                                        <i class="fa fa-picture-o"></i>
                                        <input type="file" style="display: none;" ng-file-model="clanData.icon" imgid="clanIcon" required> Upload Clan Icon
                                    </label>
                                    <span class="danger" id="tribeIcoErr"></span>
                                    <div class="tribeImgDiv">
                                        <img id="clanIcon" style="height: 60px;width: 60px;">
                                        <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                                    </div>
                                </div>
                                <span ng-if="chooseClanIcn">Please choose the clan icon.</span>
                                <button type="submit" ng-disabled="clanCreateForm.$invalid"  class="crtTrbClnBtn">Create Clan</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
