<div class="clanPhotos" data-ng-controller="pictureController">
    <bookmarked-list tribeman="{{tribeman}}"></bookmarked-list>
    <ul class="profileMainBreadCremp clanBradcrumb">
        <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="#">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li> <a ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId})" href="#">{{currentTribe.tribeName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li><a ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId,clanId:currentClan.clanId})" href="#">{{currentClanDetails.clanName}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li>Photos </li>
    </ul>
    <div class="clanDetils clearfix">
        <div class="clanMainTopLeft">
            <h4>{{currentClanDetails.clanName}}</h4>
            <em>Public - Created at {{currentClanDetails.createdAt | amDateFormat:'MMMM Do YYYY'}},</em>
        </div>
        <div class="clanMainTopRight">
            <div class="clanMainTopRightRound" style="background-color : {{$root.getHexCode(currentClanDetails.clanSentiment)}}">
                <strong>+<br>{{currentClanDetails.clanSentiment | number:0}}%</strong>
            </div>
        </div>
        <div class="tribeMainDescription">
            <p>{{ currentClanDetails.description | limitTo: 250 }}{{currentClanDetails.description.length > 250 ? '...' : ''}}</p>
        </div>
    </div>
    <div class="postMainTopComment clearfix">
        <div class="col-md-2" style="padding:0px;">
            <div class="row">
                <div class="postCommentImg">
                    <img class="img-circle" src="/img/tribeImgs/tribeImg1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-10" style="padding:0px 0px 0px 10px;">
            <div class="row">
                <form class="postCommentBox addClanPic" ng-submit="addPicture(pictureData);">
                    <div class="postCommentTextarea">
                        <input type="text" placeholder="Picture Name" ng-model="pictureData.pictureName" class="form-control" name="pictureName" required>
                    </div>
                    <div class="postCommentImgUpload">
                        <label class="btn btn-default btn-file">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <input type="file" style="display: none;" ng-file-model="pictureData.picture" imgid="clanPicture" required>
                        </label>
                        <span class="danger" id="tribeIcoErr"></span>
                        <div class="tribeImgDiv">
                            <img id="clanPicture" style="height: 60px;width: 60px;">
                            <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i>
                        </div>
                    </div>
                    <button type="submit" class="pull-right">Add Picture</button>
                </form>
            </div>
        </div>
    </div>
    <div class="clanePictureGrid">
        <h4>Pictures</h4>
        <ul>
            <li ng-if="clanPicutures.length !== 0 || clanPicutures !== null" ng-repeat="pic in clanPicutures">
                <img class="img-responsive" ng-src="{{pic.picture}}" alt="" 
                ng-click="showSlider(clanPicutures)"></li> <div class="noResult" ng-if="clanPicutures.length == 0 || clanPicutures == null">No Result Found</div>
        </ul>
        <div ng-if="clanPicutures.length > 10" class="profileRightTribeMensPicsIcons">
            <a class="leftright" href="">
                < </a>
                    <a class="leftright" href=""> > </a>
        </div>
    </div>
</div>
