<div class="clanEvents" data-ng-controller="EventController">
    <bookmarked-list tribeman="{{tribeman}}"></bookmarked-list>
    <ul class="profileMainBreadCremp clanBradcrumb">
        <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li> <a ui-sref="main.base.tribe.main.main.categorie({categorieID:currentCategory.categoryId})" href="#">{{currentCategory.categoryName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li> <a ui-sref="main.base.tribe.main.main.categorie.tribes({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId})" href="#">{{currentTribe.tribeName}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li><a ui-sref="main.base.tribe.main.main.categorie.tribes.clan.post({categorieID:currentCategory.categoryId,tribeId:currentTribe.tribeId,clanId:currentClan.clanId})" href="#">{{currentClanDetails.clanName}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li>Events </li>
    </ul>
    <div class="clanDetils clearfix">
        <div class="clanMainTopLeft">
            <h4>{{currentClanDetails.clanName}}</h4>
            <em>Public - Created at {{currentClanDetails.createdAt | amDateFormat:'MMMM Do YYYY'}},</em>
        </div>
        <div class="clanMainTopRight">
            <div class="clanMainTopRightRound" style="background-color : {{$root.getHexCode(currentClanDetails.clanSentiment)}}">
                <strong>+<br>{{currentClanDetails.clanSentiment | number:0}}%</strong>
            </div>
        </div>
        <div class="tribeMainDescription">
            <p>{{ currentClanDetails.description | limitTo: 250 }}{{currentClanDetails.description.length > 250 ? '...' : ''}}</p>
        </div>
    </div>
    <div class="claneEventsList">
        <h4>Events 
        <!-- <span class="pull-right searchBox">
        <input type="text" ng-model="eventSearch" placeholder="Search Event with Name"><i class="fa fa-search" aria-hidden="true"></i> </span> -->
        </h4>
        <ul>
            <li ng-if="result.length !== 0 || result !== null" ng-repeat="event in result | filter:eventSearch">
                <div class="clanEventImg">
                    <img class="img-responsive" data-ng-src="{{event.icon}}" alt="" on-error-img-src="img/default_profile.jpg" src="/img/tribeImgs/eventsThumbnail.jpg" alt="">
                </div>
                <div class="clanEventDetails">
                    <h5><a href="{{event.externalLink}}" target="_blank">{{event.eventName}}</a></h5>
                    <span>On {{event.eventDate}} Venue : <strong>{{event.venue}}</strong></span>
                    <p>{{ event.eventDescription | limitTo: 100 }}{{event.eventDescription.length > 100 ? '...' : ''}}</p>
                </div>
            </li>
        </ul>
        <div ng-if="result.length > 10" class="profileRightTribeMensPicsIcons">
            <a class="leftright" href="">
                < </a>
                    <a class="leftright" href=""> > </a>
        </div>
        <div class="noResult" ng-if="result.length == 0 || result == null">No Result Found</div>
    </div>
</div>
