<div class="postPageMain PostDetailController">
    <div class="postDetailCloseIcon">
        <i class="fa fa-times" ng-click="close()"></i>
    </div>
    <div class="postPageMainPoster">
        <ul class="postDetailList">
            <li>
                <div class="posterProfile">
                    <img class="img-circle img-responsive" align="left" data-ng-src="{{postDetail.profileImageUrl}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    <div class="posterProfileRight">
                        <h4>{{postDetail.createdByUsername}}</h4>
                        <em>Posted on {{$root.getMomentDate(postDetail.createdAt)}}</em>
                    </div>
                </div>
                <!-- <span ng-if="postDetail.createdByUsername === tribeman.tribemanName" class="spanInline postDetailsEdit" custom-popover type="post" data="{{postDetail}}"></span>
                 -->
                <div class="posterContent postDI">
                    <div class="postDetailPic">
                        <img class="img-responsive" data-ng-src="{{postDetail.postPicture}}" on-error-img-src="img/default_profile.jpg" src="img/icons/tribe.png" alt="">
                    </div>
                    <div class="postDetailTitle">
                        <h4>{{postDetail.postName}}</h4>
                        <p>{{postDetail.postText}}</p>
                    </div>
                </div>
                <!-- <div class="posterShare">
                    <ul>
                        <li> </li>
                        <li> </li>
                        <li> </li>
                    </ul>
                    <img class="img-circle pull-right" align="right" src="img/social/plain/small/circle/fb_circle.png" alt="">
                </div>
                <div class="posterRelated clearfix">
                    <ul>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Jony Depp</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Iraq</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Mass Kilin</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Donald Trump</span></a>
                        </li>
                        <li>
                            <a href=""><em class="postRelatedClr"></em> <span>Infosys </span></a>
                        </li>
                    </ul>
                    <div class="postRating pull-right">
                        <div class="postRate" star-rating ng-model="postRating" on-rating-select="rateFunction(rating)"></div>
                    </div>
                </div> -->
                <div class="posterCommentSection clearfix">
                    <ul>
                        <li class="clearfix">
                            <div class="postCommentImg">
                                <img class="img-circle" align="center" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                            </div>
                            <div class="postCommentTextBox">
                                <input class="form-control" ng-model="commentText" ng-enter="createClanPostComment()" placeholder="Post a comment here...">
                                <p class="danger" ng-show="moodExpError">{{moodeError}}</p>
                                <div class="commentMoodMain" id="cheetah">
                                    <i class="fa fa-smile-o commentMood" ng-hide="moodIcon" aria-hidden="true"></i>
                                    <img ng-show="moodIcon" class="img-circle commentMood selectedMood" ng-src="/img/exp_icons/{{commentMood}}.png" alt="">
                                    <ul class="commntMoodExp" id="hidden">
                                        <li><img tooltip-html-unsafe="ANGRY" tooltip-placement="top" ng-click="chooseCommetMood('ANGRY')" ng-class="{'clickBr': commentMood == 'ANGRY'}" src="img/exp_icons/ANGRY.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="DISGUST" tooltip-placement="top" ng-click="chooseCommetMood('DISGUST')" ng-class="{'clickBr': commentMood == 'DISGUST'}" src="img/exp_icons/DISGUST.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="FEAR" tooltip-placement="top" ng-click="chooseCommetMood('FEAR')" ng-class="{'clickBr': commentMood == 'FEAR'}" src="img/exp_icons/FEAR.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="HAPPY" tooltip-placement="top" ng-click="chooseCommetMood('HAPPY')" ng-class="{'clickBr ': commentMood == 'HAPPY '}" src="img/exp_icons/HAPPY.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="SAD" tooltip-placement="top" ng-click="chooseCommetMood('SAD ')" ng-class="{'clickBr ': commentMood == 'SAD '}" src="img/exp_icons/SAD.png" alt=""></li>
                                        <li><img tooltip-html-unsafe="SURPRISED" tooltip-placement="top" ng-click="chooseCommetMood('SURPRISED ')" ng-class="{'clickBr ': commentMood == 'SURPRISED '}" src="img/exp_icons/SURPRISED.png" alt=""></li>
                                    </ul>
                                </div>
                                <!--  <textarea class="form-control" placeholder="Post a comment here..." rows="2"></textarea> -->
                            </div>
                        </li>
                        <!-- <li ng-if="commentsList.length !== 0 || commentsList !== null" ng-repeat="cmt in commentsList" ng-init="comment = cmt.postComment" class="clearfix">
                            <div class="postCommentImg">
                                <img class="img-circle img-responsive" align="left" data-ng-src="{{cmt.userProfilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                            </div>
                            <div class="postCommentTextBox">
                                <strong>{{cmt.username}} <font>{{comment.comment}} 
                                </font></strong>
                                <span class="commentLike">{{comment.likes}} 
                                    <span ng-if="tribeman.tribemanName !== cmt.username"  ng-click="commentLike(comment)">
                                         Like
                                    </span>
                                <span ng-if="tribeman.tribemanName === cmt.username" class="unlike">
                                         Unlike
                                    </span>
                                </span>
                                <span>. Reply .</span>
                                <em am-time-ago="comment.createdAt"></em>
                            </div>
                            <span ng-if="cmt.username === tribeman.tribemanName" class="spanInline" custom-popover type="comment" data="{{comment}}"></span>
                        </li> -->
                        <div class="posterCommentSection clearfix">
                            <comments-list postid="{{postDetail.postId}}"></comments-list>
                        </div>
                        <!--                         <div class="noResult" ng-if="commentsList.length == 0 || commentsList == null">No Comments Found</div>
 -->
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
