<div class="row main-result">
    <div class="col-md-12">
        <div class="row">
            <div class="head col-md-12">
                <div class="sentiment" ng-include src="'js/app/search/templates/content/results/main/search.result.main.sentiment.view.html'">                    
                </div>
                <!-- <div class="col-md-4" ng-include src="'js/app/search/templates/content/results/main/search.result.main.locations.view.html'">                    
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="head col-md-12">
                <div ng-include src="'/js/app/search/templates/content/search.trending.topics.float.view.html'">                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="result-content col-md-12 resultTab noHt">
                <div class="spin-loading" ng-if="shwLoad">
                    <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
                </div>
                <div class="loadingAnimate" ng-if="shwLoad"><marquee scrollamount="5" width="40">&lt;&lt;&lt;</marquee><span translate>Scraping content sources for your search</span><marquee scrollamount="5" direction="right" width="40">&gt;&gt;&gt;</marquee></div>
                
                <!-- <marquee class="loadingAnimate" scrollamount="15" direction="up" behavior="alternate" ng-if="shwLoad"><marquee scrollamount="15" direction="right" behavior="alternate">Loading ...</marquee></marquee> -->
                <ul id="myTab" class="nav nav-tabs">
                    <li id="step-phrase" class="trending_phrase" ng-class="{'active' : selectedTab === 'trending_phrase'}">
                        <a href="javascript:void(0)" ng-click="toggleTab('trending_phrase', $event)">
                            <span translate>TRENDING PHRASE</span>
                        </a>
                    </li>
                    <li id="step-leaders" class="opinion_leader" ng-class="{'active' : selectedTab === 'opinion_leader'}">
                        <a href="javascript:void(0)" ng-click="toggleTab('opinion_leader', $event)">
                            <span translate>OPINION LEADER</span>
                        </a>
                    </li>
                    <li id="step-media" class="image_video" ng-class="{'active' : selectedTab === 'image_video'}">
                        <a href="javascript:void(0)" ng-click="toggleTab('image_video', $event)">
                            <span translate>IMAGE &amp; VIDEO</span>
                        </a>
                    </li>
                </ul>
                <div id = "myTabContent" class="tab-content">

                    <div class="pull-left result-col col-space tradingIcon tab-pane fade" id="trending_phrase" ng-class="{'srchBodyColor' : !shwLoad, 'srchBodyNoColor' : shwLoad, 'in active' : selectedTab === 'trending_phrase'}" ng-if="loadTabTphrases" ng-show="selectedTab === 'trending_phrase'" ng-include src="'js/app/search/templates/content/results/main/search.result.main.trendingphrases.view.html'"/>

                    <div class="pull-left result-col col-space opinionIcon tab-pane fade" id="opinion_leader" ng-class="{'srchBodyColor' : !shwLoad, 'srchBodyNoColor' : shwLoad, 'in active' : selectedTab === 'opinion_leader'}" ng-if="loadTabOLeaders" ng-show="selectedTab === 'opinion_leader'" ng-include src="'js/app/search/templates/content/results/main/search.result.main.contributors.view.html'"/>

                    <div class="pull-left result-col mediaIcon tab-pane fade" id="image_video" ng-class="{'srchBodyColor' : !shwLoad, 'srchBodyNoColor' : shwLoad, 'in active' : selectedTab === 'image_video'}" ng-show="selectedTab === 'image_video'"  ng-if="loadTabImedia" ng-include src="'js/app/search/templates/content/results/main/search.result.main.media.view.html'"/>
                </div>
            </div>
        </div>
    </div>
</div>
