/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@font-face {
	font-family: 'fontawesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Nunito';
	font-size: 14px;
	font-weight: 300
}
.offline-div {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
}
.element.ng-hide {
	display: none;
}
.center {
	text-align: center
}
a {
	text-decoration: none;
	color: #0772b6
}
li a {
	color: #0772b6!important
}
.banner {
	position: relative
}
.banner-tagline {
	position: absolute;
	top: 5px;
	left: 10px;
}
.slider .slide-box {
	padding-bottom: 46px;
}
.rating {
	color: #a9a9a9;
	margin: 0;
	padding: 0;
}
ul.rating {
	display: inline-block;
}
.rating li {
	list-style-type: none;
	display: inline-block;
	padding: 1px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.rating .filled {
	color: #21568b;
}
/**/
.greyBg {
	background: #f2f2f2;
	padding: 20px;
	text-align: center
}
.greyBg img {
	background: #fff;
	border-radius: 50%
}
h1 {
	text-align: center;
	color: #333333;
	font-weight: 400;
	font-family: 'Nunito';
	font-size: 200%
}
input, button, select, textarea {
	font-family: 'Nunito'
}
html input[disabled] {
	color: #999
}
.wrap {
	padding: 0 20px
}
.logo {
	background: #fff url(../img/xxxhdpi/logo-hb.png) right 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 144px;
	height: 144px;
	display: block;
	margin: 0 auto
}
/*login*/
.loginBox, .wrapBox {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	margin: 30px 0
}
.loginFb, .loginFb:hover, .loginFb:focus {
	background: #3B5998;
	border: 1px solid #3B5998;
	color: #fff;
	border-radius: 5px!important;
	margin-right: 5px;
}
.loginGoogle, .loginGoogle:hover, .loginGoogle:focus {
	background: #c24737;
	border: 1px solid #c24737;
	color: #fff;
	border-radius: 5px!important;
	margin-left: 5px
}
.inputLogin {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #adadad;
	margin: 8px 0 8px 30px;
	overflow: visible!important;
	background: #f6f6f6
}
.input {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #adadad;
	margin: 8px 0 8px 30px;
	overflow: visible!important;
}
.btnOrangeBorder, .btnOrangeBorder:hover {
	border: 1px solid #f57f20!important;
	background: #fff;
	color: #f57f20;
	border-radius: 5px!important;
	margin-right: 5px;
}
.btnBlueBorder, .btnBlueBorder:hover {
	border: 1px solid #0772b6!important;
	background: #fff;
	color: #0772b6;
	border-radius: 5px!important;
	margin-left: 5px
}
.btnOrange, .btnOrange:hover {
	border: 1px solid #f57f20!important;
	background: #f57f20;
	color: #fff;
	border-radius: 5px!important;
}
.btnOrange:active {
	border: 1px solid #0772b6!important;
	background: #0772b6!important;
}
.btnReduced {
	width: 98%!important;
}
.btnBlue, .btnBlue:hover {
	border: 1px solid #0772b6!important;
	background: #0772b6;
	color: #fff!important;
	border-radius: 5px!important;
}
.btnBlue:active {
	border: 1px solid #f57f20!important;
	background: #f57f20;
}
.btnBlue[disabled] {
	background: #0772b6;
	color: #fff!important;
}
.btnRqServices {
	border: 1px solid #0772b6!important;
	background: #fff;
	color: #f00!important;
	border-radius: 5px!important;
}
.button-barMod {
	padding-top: 10px;
	margin-top: 30px
}
.skip {
	cursor: pointer;
	padding: 0;
	text-align: right;
	color: #666;
	float: right
}
.footer {
	width: 100%;
}
.footer a:active {
	background: #f2f2f2
}
.paadding20 {
	padding: 20px;
	display: inline-block
}
.btnOrange {
	background: #f57f20!important;
	border: 1px solid #f57f20!important;
	color: #fff;
	font-size: 120%;
	border-radius: 5px
}
.linkMid {
	text-align: center;
	display: block;
	color: #0872b7;
	padding: 10px 0
}
 input::-webkit-input-placeholder {
 color:#474747;
 opacity:1
}
input:-moz-placeholder {
 color: #474747;
 opacity:1
}
input::-moz-placeholder {
 color: #474747;
 opacity:1
}
input:-ms-input-placeholder {
 color: #474747;
 opacity:1
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.acceptTerms {
	text-align: center;
	width: 100%;
	margin: 10px;
	overflow: hidden
}
.asertive {
	background: #d70a0a;
	border: none;
	border-radius: 3px;
	padding: 5px;
	color: #ffb8b8;
	text-align: center
}
.bar-header {
	border-color: #b2b2b2;
	background-color: #f57f20;
	background-image: none;
	color: #fff;
	border-bottom: none;
}
.loginSpaceFix {
	border-bottom: none;
}
.loginSpaceFix .inputLogin {
	background: #fff!important
}
.button-bar > .button:last-child, .button-bar > .button:first-child {
	border-radius: 0;
}
.button-bar > .button:last-child {
	border-right: none
}
.button-bar > .button:first-child {
	border-left: none
}
/*##########################
css modification 0610.15
pradip saha
#########################*/

/*.bar {
	height: 50px!important
}
.bar .title {
	line-height: 51px
}*/
.bar.bar-stable {
	border-color: #b2b2b2;
	background-color: #f57f20;
	background-image: none;
	color: #fff;
	border-bottom: none
}
.bar.bar-stable .title {
	color: #fff;
	font-family: 'Nunito';
	font-size: 120%;
	font-weight: 400;
}
.ion-navicon::before {
	color: #fff
}
.btnCall {
	background: #fff!important;
	border: 1px solid #fff!important;
	border-radius: 5px;
	font-family: 'Nunito';
	color: #f57f20!important;
	font-size: 18px!important;
	padding: 0 20px!important;
}
/*.has-header {
	top: 50px
}*/
/*########### top bar end - dashboard start ############*/

.cardDashboard .card {
	box-shadow: none;
	border: none;
	padding: 5px;
	margin: 0;
	border-radius: 0;
	background: #fff;
	outline: 1px solid #b2b2b2;
	position: relative
}
.cardDashboard .card a {
	background: #f3f3f3;
	display: table-cell;
	vertical-align: middle;
	height: 150px;
	min-height: 140px;
	padding: 0;
	text-transform: capitalize;
	line-height: 15px;
}
.cardDashboard .row {
	padding: 0
}
.cardDashboard .row + .row {
	margin-top: 0;
	padding-top: 0;
}
/*##################### dashboard icons ##############################*/

.icoArea {
	display: block;
	padding: 50px 0 0 0;
	font-size: 90%;
	font-family: 'Nunito';
	position: absolute;
	top: 20%;/*transform: translateY(-50%);*/
	width: 90%
}
/*##################### left col ##############################*/
.profile-info {
	padding: 10% 10%;
	background: #f3f3f3;
	font-family: 'Nunito';
	border-bottom: 1px solid #ddd
}
.profile-info img {
	border-radius: 50%;
	border: 5px solid #fff
}
.bgGreyLeft {
	background-color: #f3f3f3
}
.bgGreyLeft a {
	color: #333;
	box-shadow: none;
	border: none;
	padding: 5px;
	margin: 3px 0 3px 1px;
	border-radius: 0;
	outline: 1px solid #cecece;
	position: relative
}
.lmIcon {
	height: 50px;
}
.bgWhite {
	margin: -1px
}
.bgWhite a {
	background: #FFF;
	padding: 20px 0;
	cursor: pointer
}
.bgWhite .row, .boxLogout .row {
	padding: 0
}
.boxLogout {
	margin: -1px;
	margin-top: -6px
}
.boxLogout a {
	padding: 20px 0
}
/*############## ionic class modified #################*/
.bar-stable .button.button-clear {
	color: #fff
}
/*.tabbed-slidebox .tsb-icons a{ white-space:nowrap; padding:5px 10px; margin:0 20px}*/



@media screen and (-webkit-device-pixel-ratio: 1.5) {
#header {
	background: url(hdpi/bg.png);
}
}
/*## subscription plan ##*/
.tabbed-slidebox .tsb-icons a {
	width: auto;
	padding: 0;
	font-weight: 300
}
.tabbed-slidebox .tsb-icons a.tabWidth1 {
	min-width: 80px
}
.tabbed-slidebox .tsb-icons a.tabWidth2 {
	min-width: 90px
}
.tabbed-slidebox .tsb-icons a.tabWidth3 {
	min-width: 100px
}
.tabbed-slidebox .tsb-icons a.tabWidth4 {
	min-width: 160px
}
.tabbed-slidebox .tsb-icons a.tabWidth5 {
	min-width: 190px
}
.tabbed-slidebox .tsb-icons a.tabWidth6 {
	min-width: 135px
}
.icoAreaSubs {
	display: block;
	padding: 50px 0 0 0;
	font-size: 90%;
	font-family: 'Nunito';
	position: absolute;
	top: 20%;/*transform: translateY(-50%);*/
	width: 50px;
	left: 10px
}
.subscList .list {
	border-bottom: 1px solid #bcbcbc;
	margin-bottom: 0
}
.subscList .list p {
	margin: 0;
	font-size: 100%!important;
}
.subscList .list section p {
	margin: 0;
}
.subscList .list h3, .item h3 {
	font-size: 120%;
	color: #333;
	font-weight: 400
}
.subscList .card {
	margin: 10px 0
}
.subscList .item-body, .item-body {
	padding: 15px
}
.item {
	font-size: 100%
}
.cardMargin {
	padding: 10px;
}
.selectPlan {
	position: absolute;
	z-index: 999;
	height: 68px;
	line-height: 58px;
	bottom: 0;
	display: block;
	background: #fff;
	width: 100%;
	text-align: center;
	font-size: 120%;
	border-top: 1px solid #ccc;
	font-weight: 400;
}
a.btnSelectPlan {
	background: #0c76b5;
	width: 50%;
	display: block;
	color: #fff;
	float: right
}
.price {
	float: left;
	width: 50%;
	display: block;
	border-right: 1px solid #ccc;
	color: #d6670d
}
/*icon position fox of login page*/
.iconFix {
	position: absolute;
	background: #fff;
	margin: 0 0 0 -23px!important;
	text-align: left;
}
/*.overflow-scroll .scroll{height:100vh!important; min-height:100vh!important}*/
.button-clear.button-clear {
	color: #fff
}
/*steps start*/
.subsStep-step p {
	margin: 0;
}
.subsStep-row {
	display: table-row;
}
.subsStep {
	display: table;
	width: 100%;
	position: relative;
	padding: 5px 0 0 0;
	background: #e5e5e5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}
.subsStep-row:before {
	top: 20px;
	bottom: 0;
	left: 5%;
	position: absolute;
	content: " ";
	width: 90%;
	height: 3px;
	background-color: #fff;
	z-order: 0;
}
.subsStep-step {
	display: table-cell;
	text-align: center;
	position: relative;
	width: 33%
}
.subsStep-step a {
	background: #fff;
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 15px;
	color: #666;
	line-height: 30px
}
.subsStep-step a.completeStep {
	background: #f57f20;
	color: #fff
}
.subsStep-step a.activeStep {
	background: #0c76b5;
	color: #fff
}
.subsEmptyBox {
	height: 150px;
	display: block;
	width: 100%
}
/*steps end service details start*/
.serviceImg {
	margin: 0;
	overflow: hidden
}
.serviceImg img {
	min-height: auto
}
.dtlsBox {
	padding: 15px
}
.dtlsBox li {
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	text-align: left; /*padding-bottom:10px;*/
	clear: both;
	position: relative
}
.dtlsBox li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.dtlsBox {
	display: block;
	font-size: 100%;
	color: #2b2b2b;
	clear: both;
	margin: 0;
}
.dtlsBox a {
	display: block;
	font-size: 100%;
	color: #2b2b2b;
	margin: 0;
}
.dtlsBox a span, .dtlsBox section span {
	float: right;
	background: #f3f3f3;
	padding: 0 10px;
	border-radius: 50px;
	min-width: 35px;
	text-align: center;
	line-height: 30px;
	color: #333;
	font-weight: 400;
	font-size: 100%;
	margin: 5px 0 0 0;
}
.dtlsBox h2 {
	font-size: 150%;
	margin: 0;
}
.dtlsBox li h3 {
	padding: 10px 0 3px 0!important;
	margin: 0
}
.dtlsBox li p {
	padding: 0!important;
	margin: 0!important;
	line-height: 22px;
	font-size: 100%!important;
	text-align: left!important;
}
.listBorder li {
	border-bottom: 1px solid #ccc!important;
}
.status {
	border-radius: 3px;
	padding: 5px;
	margin: 0 5px 0 0;
	font-size: 100%;
	white-space: nowrap;
	display: inline-block
}
.statusBlue {
	background: #0c76b5;
	color: #fff;
}
.statusGreen {
	background: #dcfed9!important;
	color: #207802!important
}
.statusRed {
	background: #fed9d9!important;
	color: #b50c0c!important;
}
.statusGrey {
	background: #ececec!important;
	color: #515151!important;
}
.grey {
	color: #a6a6a6!important;
}
.green {
	color: #207802!important
}
.blue {
	color: #0772b6!important
}
.red {
	color: #b50c0c!important;
}
.orange {
	color: #f67f21!important
}
.uppercase {
	text-transform: uppercase;
	font-size: 85%!important
}
a.viewAll, .viewAll {
	float: right;
	font-weight: 600;
	color: #0772b6!important;
	padding: 5px 7px;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
	border: 1px solid #ccc
}
.noPadding {
	padding: 0;
	margin: 0
}
.paddingleft15, .paddingLeftam {
	padding: 0 0 0 15px;
}
.dtlsBox big {
	font-size: 500%;
	font-weight: 400;
	padding: 20px 0;
	display: block;
	color: #0872b7
}
.dtlsBox big span {
	font-size: 30%;
	color: #2b2b2b;
	font-weight: 400;
	margin-left: 10px
}
h4, .item h4 {
	padding: 5px 0;
	margin: 0;
	font-size: 100%;
	margin-bottom: 5px;
	color: #2b2b2b
}
.txtPos1 {
	margin: 3px 20px 0 0;
	float: left
}
.trainerList h3 {
	color: #2b2b2b!important
}
.trainerList a {
	margin: 0
}
.fontBig {
	font-size: 150%;
	border-color: #ccc!important
}
/**/

.tabbed-slidebox .slider-slide {
	padding-top: 0px;
	color: #000!important;
	background-color: #f9f6f6!important;
	font-weight: 300!important;
	text-align: left!important;
}
.tabbed-slidebox .tsb-icons {
	text-align: center;
	margin: 0!important;
	position: relative;
	background-color: #f67f21!important;
	border-top: 1px solid #fe9644;
}
.tabbed-slidebox .tsb-icons a {
	display: inline-block;
	color: #fff!important;
	-webkit-transform: translate3d(0, 0, 0)!important;
	padding: 0;
	font-size: 120%!important;
	border-bottom: 3px solid #f67f21!important;
	line-height: 45px!important;
	margin: 0!important;
	white-space: nowrap!important;
	word-break: normal!important
}
.tabbed-slidebox .tsb-icons a.active {
	color: #fff!important;
	-webkit-transform: translate3d(0, 0, 0);
	border-bottom: 3px solid #f9f6f6!important;
	font-weight: 400;
}
.tabbed-slidebox .tsb-icons:after {
	border-color: transparent transparent #fff transparent!important;
	bottom: -10px!important;
}
.formArea .item-input {
	padding-left: 0
}
.input-label {
	font-size: 90%;
	font-weight: 400
}
p.serviceTxt {
	font-size: 110%!important;
	text-align: left!important;
}
.card a {
	color: #2b2b2b;
}
.card a:active {
	background: #e5e5e5;
}
.serviceTitle {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0 5px;
	height: 30px;
	font-weight: 300
}
.imgDb {
	width: 50%;
	max-width: 50%;
	margin: 0 auto;
	display: block
}
.imgDb img {
	height: auto;
	width: 100%;
	display: block;
}
.leftCol .row {
	padding: 0!important;
	position: relative;
	display: table-cell
}
.leftCol a {
	box-shadow: none;
	border: none;
	padding: 5px;
	margin: 0;
	border-radius: 0;
	background: #fff;
	outline: 1px solid #ddd;
	position: relative;
	display: table-cell;
	width: 33.33%;
	height: 120px;
	vertical-align: middle;
	color: #2b2b2b;
	line-height: 18px;
}
.leftCol a:hover {
	background: #f2f2f2
}
.leftCol a img {
	width: 70%;
	margin: 0 15%
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
	white-space: normal!important
}
.noData {
	padding: 10px 15px;
	display: block;
	text-align: left;
}
.paddingBot {
	padding-bottom: 10px
}
.paddintBot2 {
	padding-bottom: 20px
}
.paddingTop {
	padding-top: 10px
}
.noBotPadding {
	padding-bottom: 0;
	margin-bottom: 0
}
.clearBoth {
	clear: both
}
.tabbed-slidebox .tsb-icons:after {
	display: none!important
}
.termList {
	list-style-type: decimal-leading-zero;
	padding-left: 15px;
}
.termList li, .termList p, .termList li p {
	font-size: 12px;
	line-height: normal;
	border: none
}
.termList li p {
	padding: 5px 0!important
}
.termList ul {
	list-style-type: upper-alpha;
	padding-left: 15px;
}
.termList ul ul {
}
.termList ul ul ul {
	list-style-type: lower-alpha
}
.termList ul li {
	margin: 7px 0
}
.myProfileForm input, .myProfileForm select, .myProfileForm textarea {
	border: 1px solid #ccc;
	width: 100%;
	margin: 5px 0;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0 1px 3px #ccc
}
.myProfileForm label {
	padding: 15px;
	background: #f3f3f3
}
.myProfileForm label .input-label {
	margin: 0;
	padding: 0
}
.successMsg {
	border-color: #28a54c;
	background-color: #28a54c;
	color: #fff;
	padding: 0 12px;
	font-size: 100%;
	text-align: center;
	line-height: 42px
}
.btnSpace {
	margin: 0 5px;
}
.btnPartner {
	margin: 0 10px;
	text-align: center
}
.tollFree {
	font-weight: 400;
	white-space: nowrap;
	clear: both;
	padding-bottom: 15px
}
.tollFree span, .tollFree a {
	float: left;
}
.tollFree span span.red {
	color: #f57f20!important
}
.paymentTxt {
	color: #2b2b2b!important;
	padding: 10px 0;
	display: block
}
.item-assertive {
	border-color: #e42112;
	background-color: #ef473a;
	color: #fff;
	padding: 10px;
	text-align: center
}
.arrowPos {
	position: absolute;
	right: 10px;
	font-size: 30px;
	top: 10px
}
.menu-open .menu-content .pane, .menu-open .menu-content .scroll-content {
	opacity: .7;
	background: #000000
}
.hideSpan {
	display: none
}
.tabbed-slidebox .tsb-ic-wrp {
	/*display: flex;*/
	/*display: -webkit-flexbox;
	display: -ms-flexbox;*/
	display: -webkit-flex;/*flex-direction: row; 
	flex-wrap: wrap; 
	-webkit-box-pack: center; 
	-moz-box-pack: center; 
	-ms-flex-pack: center; 
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; 
	-webkit-transform:translate3d(0,0,0);*/
}
/*.scroll-view{ height:100vh!important}*/
.scroll {
	height: 100%!important;
	margin-top: 0
}
.navIcon {
	padding-right: 7px!important;
	margin-left: 35px;
	font-size: 200%!important;
}
.navIconRqService {
	font-size: 23px;
	position: absolute;
	top: 0;
	left: 4px;
	color: #f57f20;
}
.pointer {
	cursor: pointer
}
.ion-ios-close-outline {
	font-size: 23px!important
}
.txtWhite {
	color: #fff
}
.marginTop4 {
	margin-top: 4px
}
.marginTop10 {
	margin-top: 10px
}
.item-body {
	background: #f2f2f2
}
.item-body h1 {
	padding: 0;
	margin: 0;
	font-size: 120%;
	line-height: 30px;
	text-align: left;
	display: inline-block;
	color: #f67f21;
	font-weight: 400;
	text-transform: capitalize
}
.notificationCount {
	position: absolute;
	top: 0;
	background-color: #dc0000;
	font-size: 10px;
	font-weight: 600;
	padding: 1px 3px;
	line-height: 10px;
	border-radius: 20px;
}
.popup-open .popup-backdrop, .popup-open .popup {
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 1px 3px #ccc
}
.notification .list {
	margin: 10px
}
.notification .list:last-child.card {
	margin: 5px 0;
	border: 1px solid #ddd
}
.notification .item {
	padding: 0 !important;
	margin: 0;
	border: none
}
.notification p {
	padding: 5px 0
}
.pageHead {
	padding: 10px 15px;
	background: #f2f2f2;
	border-radius: 3px;
}
.pageHead h1 {
	padding: 0;
	margin: 0;
	font-size: 120%;
	line-height: 30px;
	text-align: left;
	display: inline-block;
	color: #f67f21;
	font-weight: 400;
}
.fixSettingPadding {
	padding: 0 0 0 28px
}
.fixSettingBorder .item {
	border: none;
	padding-left: 0
}
/*###################################################
						colors
##################################################*/
.subscList .list section p, .subscList .list p, .dtlsBox li p, .trainerList p, .subsStep-step p, p.serviceTxt {
	color: #666!important
}
/*###################################################
						icons
##################################################*/
.ion-ios-telephone, .ion-ios-location, .ion-ios-telephone-outline, .ion-ios-location-outline, .ion-ios-calendar-outline, .ion-ios-clock-outline, .ion-ios-loop-strong {
	font-size: 120%!important;
	float: left;
	margin: 0 5px 0 0;
	color: #797979
}
.ion-ios-email-outline, .ion-ios-locked-outline, .ion-ios-person-outline, .ion-iphone {
	font-size: 150%;
	margin: 0 13px 0 -45px;
	width: 18px;
	text-align: center
}
.ion-social-google, .ion-social-facebook {
	position: absolute;
	left: 15px;
	top: 2px;
	font-size: 150%
}
/*120216*/
.borderBot {
	border-top: 1px solid #ccc;
	margin: 0 -20px
}
.list.wrapBox.subsFix {
	margin-top: 0!important;
	padding-top: 0!important;
	border-bottom: none
}
.regBtn {
	width: 100%;
	border: none;
	background: #fff
}
/*###################################################				
				membership card
##################################################*/

.cardHeader {
	background: #0870b4;
	padding: 0 10px!important
}
.cardHeader h1 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	width: 100%
}
.cardMid {
	background: #f5f5f5 url(../img/bg-card.jpg) center 0 no-repeat;
	background-size: 100%;
	padding: 20px;
}
.brandLogo {
	background: url(../img/logo-hb.svg) center 5px no-repeat;
	height: 58px;
	background-size: 100%;
	width: 250px;
	margin: 0 auto
}
.memArea {
	padding: 20px 0 20px 100px;
	position: relative;
	min-height: 100px;
}
.memArea img {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0;
	border-radius: 3px
}
.memArea h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0 0 0
}
.memArea p {
	font-size: 14px;
	color: #666
}
.cardBigFont {
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: 700
}
.txtDate p {
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: #666
}
.txtDate span {
	font-size: 18px;
	font-weight: 700
}
.cardPad {
	padding: 20px 0
}
.qrCode {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 3px
}
