<ion-view view-title="">
    <ion-content class="">
    <div ng-show="yogaSession">
        <label ng-show="yogaSession.sessionsname" class="item item-divider">
            <center><span class="form-control">{{yogaSession.sessionsname}}
            </span></center>
        </label>
        <label ng-show="yogaSession.start_date" class="item item-input item-stacked-label">
            <span class="input-label">Date</span>
            <span class="form-control">{{yogaSession.start_date |  amDateFormat:"Do MMMM"}}
            </span>
        </label>

       <label ng-show="yogaSession.start_time" class="item item-input item-stacked-label">
            <span class="input-label">Time</span>
            <span class="form-control">{{yogaSession.start_time | date:"HH:mma"}} to {{yogaSession.end_time | date:"HH:mma"}}
            </span>
        </label>
        <label ng-show="yogaSession.zone" class="item item-input item-stacked-label">
            <span class="input-label">Place</span>
            <span class="form-control">{{yogaSession.zone}}
            </span>
        </label>
        <label ng-show="yogaSession.sales_order" class="item item-input item-stacked-label">
            <span class="input-label">Sales Order</span>
            <span class="form-control">{{yogaSession.sales_order}}
            </span>
        </label>
        <label ng-show="yogaSession.sessionsno" class="item item-input item-stacked-label">
            <span class="input-label">Session ID </span>
            <span class="form-control">{{yogaSession.sessionsno}}</span>

        </label>

        <label ng-show="yogaTasks" class="item item-divider">
            <h2><span class="form-control">Tasks
            </span></h2>
        </label>

        <label ng-show="yogaTasks" class="item item-input item-stacked-label" ng-repeat="task in yogaTasks">

            <span class="item item-input item-stacked-label" ng-repeat="taskDetails in task"><b>Member : {{taskDetails.contactname}}</b>
                <br>
                <span class="input-label" ng-show="taskDetails.tasksname">Task: </span>
                <span class="input-label" ng-show="taskDetails.tasksname">{{taskDetails.tasksname}}</span><br>
                <span class="input-label" ng-show="taskDetails.ratings">Rating: </span>
                <span class="input-label" ng-show="taskDetails.ratings">{{taskDetails.ratings}}</span><br>
            </span>
        </label>




        <label ng-show="yogaSession.overall_ratings" class="item item-input item-stacked-label">
            <span class="input-label">Ratings</span>
            <span class="form-control">{{yogaSession.overall_ratings}}
            </span>
        </label>

        <label ng-show="yogaSession.cf_941!='Held' " class="item item-input item-stacked-label"><center>
            <button class="button button-positive" ng-click="rescheduleSession({{yogaSessionID}})">
              Reschedule Session
            </button>
            </center>
        </label>
        <section ng-show="rescheduleMessage" class="dtlsBox">
          <span class="serviceTxt positive">{{rescheduleMessage}}</span>
        </section>
    </div>
    <div ng-hide="yogaSession" class="assertive noData">You do not have any sessions details
    </div>





    </ion-content>
</ion-view>
