<ion-view view-title="">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0" ng-if="loggedInUser">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Sessions</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Packages</a> <a href="javascript:;" class="tab-link tabWidth4">Performance</a> </div>
      </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Yoga at Home</h1>
                    <service-request servicename="Yoga at Home" serviceIndex = "10" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <div class="serviceImg"> <img class="full-image" src="img/banner/yoga.jpg"> </div>
                  <section class="dtlsBox">
                    <p class="serviceTxt">It is healthyBillions' endeavor to promote Prevention. Our highly expert, regularly trained professionals ensure highest quality of service delivery. </p>
                  </section>

                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Sessions</h2>
                    <ul>
                      <li ng-click="allSlid(1)"> <section> <span ng-if="summaryData.upcomingSessions.length">{{summaryData.upcomingSessions.length}}</span> <span ng-if="!summaryData.upcomingSessions.length">0</span>Upcoming Sessions</section> </li>
                      <li ng-click="allSlid(1)"><section><span class="statysGrey" ng-if="summaryData.lastSessions.length">{{summaryData.lastSessions.length}}</span><span ng-if="!summaryData.lastSessions.length">0</span>Previous Sessions</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(1)">All</section>
                  <span ng-if="summaryData.upcomingSessions[0].start_date" class="ion-ios-calendar-outline blue"></span> <span class="fl">{{summaryData.upcomingSessions[0].start_date}}</span> <span ng-if="summaryData.upcomingSessions[0].start_time" class="ion-ios-clock-outline blue paddingLeftam"></span> <span class="fl">{{summaryData.upcomingSessions[0].start_time}}</span>
                  </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in summaryData.invoices | limitTo:2"> <section ng-click="allSlid(2)"><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section></li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(2)">All</section> <span class="status statusRed uppercase">pending</span> <span class="status statusGreen uppercase">paid</span> </div>
                </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Packages</h2>
                    <ul>
                      <li ng-repeat="package in summaryData.packages | limitTo:2"> <section ng-click="allSlid(3)"> <span class="statusGreen"> {{truncate(package.unit_price)| currency:"&#8377;"}} </span> {{package.servicename}}</section> </li>
                    </ul>
                  </section>
                  <div class="item item-body"> <section class="viewAll uppercase" ng-click="allSlid(3)">All</section> </div>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Yoga at Home</h1>
                    <service-request servicename="Yoga at Home" serviceIndex = "10" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Upcoming Sessions</h2>
                    <ul>
                      <li ng-repeat="upcomingSessions in summaryData.upcomingSessions"> <a href="#/dashboard/yogaSessionDetails/{{upcomingSessions.sessionsid}}">
                        <h3>{{upcomingSessions.consultant}}</h3>
                        <em ng-if="upcomingSessions.start_date" class="ion-ios-calendar-outline blue"></em> <em class="fl">{{upcomingSessions.start_date}}</em> <em ng-if="upcomingSessions.start_time" class="ion-ios-clock-outline blue paddingleft15"></em> <em class="fl">{{upcomingSessions.start_time}}</em>
                        <div class="clearBoth"></div>
                        </a> </li>
                    </ul>
                  </section>
                  <span ng-hide="summaryData.upcomingSessions" class="assertive noData"> You do not have any sessions</span> </div>
                <div class="card list">
                  <section class="dtlsBox">
                    <h2>Previous Sessions</h2>
                    <ul>
                      <li ng-repeat="lastSessions in summaryData.lastSessions"> <a href="#/dashboard/yogaSessionDetails/{{lastSessions.sessionsid}}">
                        <h3>{{lastSessions.consultant}}</h3>
                        <em ng-if="lastSessions.start_date" class="ion-ios-calendar-outline blue"></em> <em class="fl">{{lastSessions.start_date}}</em> <em ng-if="lastSessions.start_time" class="ion-ios-clock-outline blue paddingleft15"></em> <em class="fl">{{lastSessions.start_time}}</em>
                        <div class="clearBoth"></div>
                        </a> </li>
                    </ul>
                  </section>
                  <span ng-hide="summaryData.lastSessions && summaryData.lastSessions.length!=0" class="assertive noData"> You do not have any sessions</span> </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Yoga at Home</h1>
                    <service-request servicename="Yoga at Home" serviceIndex = "10" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Invoice</h2>
                    <ul>
                      <li ng-repeat="invoice in summaryData.invoices | limitTo:2"> <section><span class="statusGreen">{{invoice.total| currency:"&#8377;"}}</span>{{invoice.invoice_no}}</section> <section ng-if="invoice.total_payment_amount">Total Paid Amount <span class="statusGreen">{{invoice.total_payment_amount| currency:"&#8377;"}} </span></section></li>
                    </ul>
                    </section>
                    <span ng-hide="summaryData.invoices" class="assertive noData"> You do not have any invoices</span>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Yoga at Home</h1>
                    <service-request servicename="Yoga at Home" serviceIndex = "10" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Packages</h2>
                    <ul ng-show="summaryData.packages !== null">
                      <li ng-repeat="package in summaryData.packages">
                        <section> <span class="statusGreen">{{truncate(package.unit_price)| currency:"&#8377;"}}</span> {{package.servicename}}</section>
                      </li>
                    </ul>
                    </section>
                    <span ng-show="summaryData.packages == null" class="assertive noData">You do not have any packages</span>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-slide>
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="cardMargin">
              <div class="subscList">
                <div class="card list">
                 <div class="item item-body">
                    <h1>Yoga at Home</h1>
                    <service-request servicename="Yoga at Home" serviceIndex = "10" class="viewAll uppercase">Request Service</service-request>
                  </div>
                  <section class="dtlsBox">
                    <h2>Performance</h2>
                    <div class="slide-box box list" ng-show="summaryData.performance" ng-if="summaryData.performance">
                      <label class="item item-input item-select">
                      <div class="input-label"> <strong> Member</strong> </div>
                      <select ng-model="selectPerformanceMember" ng-options="performances.member for performances in summaryData.performance" ng-change="fetchPerformance(selectPerformanceMember)">
                      </select>
                      </label>
                      <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"> </canvas>
                    </div>
                    </section>
                    <div ng-show="summaryData.performance==null" class="assertive noData">You do not have any performance </div>
                </div>
              </div>
            </div>
            </ion-scroll>
            </div>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
    <tab-slide-box tab="0">

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide dynamic-height>
          <ion-scroll>
            <div class="card list">
             <div class="item item-body">
                    <h1>Yoga at Home</h1>
                    <service-request servicename="Yoga at Home" serviceIndex = "10" class="viewAll uppercase">Request Service</service-request>
                  </div>
              <div class="serviceImg"> <img class="full-image" src="img/banner/yoga.jpg"> </div>
              <section class="dtlsBox">
                <p class="serviceTxt">It is healthyBillions' endeavor to promote Prevention. Our highly expert, regularly trained professionals ensure highest quality of service delivery. </p>
               <p class="tollFree"><span>Call:</span> <a href="tel:8100888888">8 - 100 - 888 - 888</a></p>
              </section>
            </div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
