<div class="policyText">
    <h2>Zimgo 개인정보취급방침</h2>
    <p>주식회사 비피유홀딩스(이하 "회사"라 합니다)는 이용자의 개인정보를 소중하게 생각하고, 이용자의 개인정보를 보호하기 위하여 최선의 노력을 다하고 있습니다. 회사는 "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 상의 개인정보보호 규정 및 방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다. </p>
    <p>회사는 관련 법령에 의거한 개인정보취급방침을 정하여 이용자에게 본인의 개인정보가 어떠한 용도와 방식으로 이용되며, 개인정보 보호를 위해 어떠한 조치를 취하는지에 대해 알려 드립니다. 또한 본 방침을 사이트에 공개하여 이용자가 언제나 쉽게 열람할 수 있도록 하고 있습니다.</p>
    <p>이용자는 개인정보의 수집, 이용, 제공, 위탁 등과 관련한 아래 사항에 대하여 원하지 않는 경우 동의를 거부할 수 있습니다. 다만, 이용자가 동의를 거부하는 경우 서비스의 전부 또는 일부를 이용할 수 없음을 알려드립니다. </p>
    <h3>본 방침은 2017년 1월 1일부터 시행됩니다</h3>
    <table class="table table-bordered">
        <tr>
            <td>1. 개인정보의 수집 및 이용목적</td>
            <td>7. 이용자 및 법정대리인의 권리와 그 행사방법</td>
        </tr>
        <tr>
            <td>2. 수집하는 개인정보 항목 및 수집방법</td>
            <td>8. 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항</td>
        </tr>
        <tr>
            <td>3. 개인정보의보유 및 이용기간</td>
            <td>9. 개인정보보호를 위한 기술적·관리적 대책</td>
        </tr>
        <tr>
            <td>4. 개인정보의 파기절차 및 방법</td>
            <td>10. 개인정보 관리책임자 및 상담·신고</td>
        </tr>
        <tr>
            <td>5. 개인정보의 공유 및 제공</td>
            <td>11. 기타</td>
        </tr>
        <tr>
            <td>6. 개인정보의 위탁</td>
            <td>12. 부칙</td>
        </tr>
    </table>
    <h3>1. 개인정보의 수집 및 이용목적</h3>
    <p>개인정보는 생존하는 개인에 관한 정보로서 회원 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다. 회사가 수집한 개인정보는 다음의 목적을 위해 활용합니다.</p>
    <h4> 1) 회원관리 </h4>
    <ul>
        <li> - 회원제 서비스 이용에 따른 본인확인, 개인식별
        </li>
        <li> - 부정이용 방지와 비인가 사용 방지
        </li>
        <li> - 가입의사 확인, 가입에 대한 제한
        </li>
        <li> - 만14세 미만 아동 가입시 법정 대리인 동의여부 확인
        </li>
        <li> - 법정 대리인 본인확인
        </li>
        <li> - 불만처리 등 민원처리
        </li>
        <li> - 분쟁조정을 위한 기록보존
        </li>
        <li> - 고지사항 전달
        </li>
    </ul>
    <h4>   2) 서비스 제공에 관한 계약의 이행 및 서비스 제공에 따른 금액 정산 및 지급  </h4>
    <ul>
        <li> - 금융거래 본인 인증 및 금융 서비스</li>
        <li> - 서비스 제공에 따른 금액 지급 및 세금 등의 신고</li>
    </ul>
    <h4>  3) 마케팅 및 광고에 활용  </h4>
    <ul>
        <li>- 신규 서비스(제품) 개발 및 특화
        </li>
        <li> - 회원에게 가장 유용하다고 생각할 광고 서비스 제공
        </li>
        <li> - 인구통계학적 특성에 따른 서비스 제공 및 광고 게재
        </li>
        <li> - 접속 빈도 파악
        </li>
        <li>- 서비스 이용에 대한 통계</li>
    </ul>
    <h3>2. 수집하는 개인정보 항목 및 수집방법</h3>
    <p> 회사는 회원가입 시 개인정보수집에 대한 동의를 받고 있습니다. 개인정보수집과 관련하여 회사의 이용약관과 개인정보수집 및 이용에 대해 「동의함」 버튼을 클릭할 수 있는 절차를 마련하고 있으며, 「동의함」 버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다. 회사가 수집하는 개인정보는 필수항목과 선택항목으로 구분됩니다.</p>
    1) 수집항목
    <p>① 회사는 회원가입, 고객상담, 서비스 제공을 위하여 다음과 같이 필요한 최소한의 개인정보만을 수집합니다.
        <회원가입 시>
            필수항목 : 이메일주소(아이디와 이메일주소 동일), 비밀번호, 휴대 전화번호, 만14세 미만인 경우 법정대리인 정보 사업자명, 사업자등록번호, 아이 디, 비밀번호, 설립일, 대표자명, 대표전화번호, 법인브랜드명, 담당자 이름, 이메일주소, 휴대폰번호, 사업유형(업태)</p>
    <p>② 서비스 이용과정이나 사업처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. (접속 IP정보, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록)</p>
    <p>③ 서비스 이용 과정에서 이용자의 별도 동의 절차를 거쳐 개인정보가 추가 수집될 수 있습니다
    </p> 2) 수집방법 회사는 다음과 같은 방법으로 개인정보를 수집하고 해당 목적을 달성하기 위해서만 사용합니다. 홈페이지를 통한 회원가입, 회원정보 수정, 서비스에 따른 회원정보 추가 기입 및 수정, 서비스 이용, 고객센터 문의를 통한 수집 및 SNS 사이트의 개인정보 제공.
    <h3>3. 개인정보의 보유 및 이용기간</h3>
    <p> 회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. </p>
    <h4>1) 관련법령에 의한 정보보유 및 기간</h4>
    <p>회사는 다음과 같은 방법으로 개인정보를 수집하고 해당 목적을 달성하기 위해서만 사용합니다. </p>
    <table class="table table-bordered">
        <tr>
            <th>구 분</th>
            <th>처리 및 보유기간</th>
        </tr>
        <tr>
            <td>고객 각종 계약체결 및 이행을 위하여 불가피하게 필요한 경우에 수집, 이용하는 개인정보 </td>
            <td>수집, 이용목적 달성 시까지</td>
        </tr>
        <tr>
            <td>개별동의를 받아 수집, 이용하는 개인정보</td>
            <td>동의 받은 기간 동안</td>
        </tr>
    </table>
    <h3>4. 개인정보의 파기절차 및 방법</h3>
    <p>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성되거나, 보유 및 이용기간이 경과된 후에는 해당 정보를 지체 없이 파기합니다.다만, 정보통신망 이용촉진 및 정보보호 등에 관한 법률에 따라 1년 간 이용 기록이 없는 회원의 경우, 이용중인 회원의 개인정보와 별도 분리하여 안전하게 보관하며, 회원 중 이메일주소 및 비밀번호를 등록하지 않고 1년간 이용하지 않은 경우 회원의 개인정보 일체를 파기합니다.</p>
    <p>파기절차 및 방법은 다음과 같습니다.</p>
    <h4> 1) 파기절차 </h4>
    <p>이용자가 회원가입 등을 위해 입력한 정보는 수집 및 이용목적이 달성된 후 파기됩니다.다만, 법령에 따라 일정 기간 저장된 후 파기될 수 있습니다. 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</p>
    <h4>2) 파기방법 </h4>
    <ul>
        <li>- DB 등 전자적 파일 형태로 저장된 개인정보 : 재생할 수 없는 기술적 방법으로 삭제
        </li>
        <li>- 종이(서면)에 작성·출력된 개인정보 : 분쇄하거나 소각 등의 방법으로 파기</li>
    </ul>
    <h3>5. 개인정보의 공유 및 제공</h3>
    <p>회사는 이용자들의 개인정보를 "1. 개인정보의 수집 및 이용목적"에서 고지한 범위 내에서 이용하며, 동 범위를 초과하여 이용하거나 이용자의 개인정보를 제3자에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다. </p>
    <h4>1) 이용자들이 사전에 동의한 경우</h4>
    <p>정보수집 또는 정보제공 이전에 이용자께 비즈니스 파트너가 누구인지, 어떤 정보가 왜 필요한지, 그리고 언제까지 어떻게 보호/관리되는지 알려드리고 동의를 구하는 절 차를 거치게 되며, 이용자께서 동의하지 않는 경우에는 추가적인 정보를 수집하거나 비즈니스 파트너와 공유하지 않습니다.</p>
    <p> 2) 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기 관의 요구가 있는 경우
    </p>
    <h3>6. 개인정보의 위탁</h3>
    <p>회사는 원활한 서비스 제공을 위하여, 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 관계 법령에 따라 필요한 사항을 규정하고 있습니다.</p>
    <h3>7. 이용자 및 법정대리인의 권리와 그 행사방법</h3>
    <p> 이용자의 개인정보 조회/수정을 위해서는 '개인정보변경'(또는 '회원정보수정' 등)을, 가입해지(동의철회)를 위해서는 "’회원탈퇴’"를 클릭하여 본인 확인절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 혹은 개인정보관리책임자에게 서면, 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</p>
    <p> 법정대리인이 당해 만 14세 미만 아동의 개인정보를 조회/수정하거나 가입해지를 하기 위해서는 회사의 개인정보관리책임자에게 서면, 이메일로 이를 요청할 수 있으며, 회사는 요구 받은 내용을 지체 없이 조치하겠습니다.</p>
    <p>이용자의 개인정보의 오류에 대한 정정을 요청한 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.</p>
    <p>회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 "3. 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</p>
    <h3>8. 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항</h3>
    <p>회사는 이용자에게 특화된 맞춤서비스를 제공하기 위해서 이용자의 정보를 수시로 저장하고 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에 저장됩니다.</p>
    <h4>  1) 쿠키(cookie)란?</h4>
    <p> 쿠키란 웹 서버가 웹 브라우저에 보내어 저장했다가 서버의 부가적인 요청이 있을 때 다시 서버로 보내주는 문자열 정보를 말합니다. 고객님께서 웹사이트에 접속을 하시면 고객님의 브라우저에 있는 쿠키의 내용을 읽고, 추가정보를 찾아 접속에 따른 성명 등의 추가 입력 없이 서비스를 제공할 수 있습니다.</p>
    <h4>2) 쿠키의 사용 목적</h4>
    <ul>
        <li>- 회원과 비회원의 접속빈도나 방문시간 등의 분석</li>
        <li>- 이용자의 취향과 관심분야 파악 및 자취 추적</li>
        <li>- 각종 이벤트 참여 정도 및 방문횟수 파악 등을 통한 타겟 마케팅</li>
        <li>- 개인 맞춤서비스 제공</li>
        - 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 쿠키에 의한 정보수집 수준을 조정할 수 있습니다. </li>
        <li> - 인터넷 익스플로러의 경우, 웹브라우저의 [도구]>[인터넷옵션]>[개인정보]>[설정]에서 쿠키에 의한 정보수집 수준을 조정할 수 있습니다.</li>
        <li>- 쿠키에 의한 정보수집 수준 조정을 통해 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 하거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. (단, 이용자가 쿠키 설치를 거부할 경우 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.)</li>
    </ul>
    <h3>9. 개인정보보호를 위한 기술적·관리적 대책</h3>
    <p>회사는 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 다음과 같은 기술적· 관리적 대책을 강구하고 있습니다.</p>
    <h4> 1) 기술적 보호 대책 </h4>
    <p>① 이용자의 개인정보는 비밀번호에 의해 보호되며, 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금기능을 사용하는 등 별도 보안기능을 통해 보호되고 있습니다. </p>
    <p>② 백신 프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 적용함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</p>
    <p>③ 네트워크상의 개인정보 및 개인인증정보를 안전하게 전송할 수 있는 보안장치(SSL)를 채택하고 있습니다.</p>
    <p>④ 해킹 등에 의해 고객의 개인정보가 유출되는 것을 방지하기 위하여, 외부 침입을 차단하는 장치를 이용하고 있으며, 침입탐지시스템을 설치하여 24시간 감시하고 있습니다.</p>
    <h4> 2) 관리적 보호 대책 </h4>
    <p>① 개인정보 취급 직원의 최소화 및 교육</p>
    - 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.
    <p>② 정기적인 자체 감사 실시</p>
    - 개인정보 취급 관련 안전성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.
    <p>③ 내부관리계획의 수립 및 시행</p>
    - 개인정보의 안전한 처리를 위하여 행정안전부의 내부관리 지침을 준수하여 내부관리계획을 수립하고 시행하고 있습니다.
    <p> ④ 개인정보의 암호화 - 이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
    <h3>10. 개인정보 관리책임자 및 상담·신고</h3>
    <p>회사는 이용자의 개인정보를 보호하고 개인정보와 관련한 불만 및 문의를 처리하기 위하여 아래와 같이 개인정보 관리책임자를 지정하고 있습니다. 이용자는 회사의 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 또는 담당부서로 신고할 수 있으며, 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
    <ul>
        <li> 개인정보 관리책임자
        </li>
        <li> 성명 : <a href="" title="">장승희</a>
        </li>
        <li> 소속 : <a href="" title="">㈜비피유홀딩스</a>
        </li>
        <li> 전화 : <a href="" title="">1899-9513</a>
        </li>
        <li>이메일 : <a href="" title="">jsh@bpuholdings.com</a></li>
    </ul>
    <ul>
        <li>성명 : <a href="" title="">니넬호직</a>
        </li>
        <li> 소속 : <a href="" title="">㈜비피유홀딩스</a>
        </li>
        <li> 전화 : <a href="" title="">1899-9513</a>
        </li>
        <li>이메일 : <a href="" title="web">ninel@bpuholdings.com</a></li>
    </ul>
    <ul>
        <li>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
        </li>
        <li> 개인정보침해신고센터 : <a href="tel" title="">118</a> ㅣ <a href="web" title="">www.118.or.kr</a>
        </li>
        <li> 대검찰청 첨단범죄수사과 : <a href="tel" title="">02-3480-2000</a> ㅣ <a href="web" title="">www.spo.go.kr</a>
        </li>
        <li>경찰청 사이버테러대응센터 : <a href="tel" title="">02-393-9112</a> ㅣ <a href="web" title="">www.netan.go.kr</a> </li>
    </ul>
    <h3>11. 기타</h3>
    <p>본 개인정보취급방침은 회사의 공식사이트 이외의 링크된 다른 웹사이트(회사가 운영하지 않는 웹사이트를 말합니다)에서는 적용되지 않습니다.</p>
    <h3>12. 부칙</h3>
    <p> 본 개인정보취급방침은 2017년 1월 1일부터 적용됩니다.
    </p>
    <p>법령·정책 또는 보안기술의 변경에 따라 현 개인정보취급방침 내용의 추가·삭제 및 수정이 있을 시에는 개정안 적용일의 7일 전부터 회사의 사이트 내 공지사항을 통하여 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제 3자 제공 등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.</p>
</div>
