<div class="policyText">
    <h2>Zimgo 청소년 보호정책</h2>
    <h3>최종 수정 날짜 : 2017년 1월 1일</h3>
    <h3>1. 청소년 보호정책 목적</h3>
    <p>주식회사 비피유홀딩스(이하 ‘회사’라 합니다)는 청소년이 유해한 환경으로부터 보호받고 건전한 인격체로 성장할 수 있도록 하기 위하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 청소년보호법에 의거하여 청소년 보호정책을 수립, 시행하고 있습니다.</p>
    <h3>2. 청소년 보호 장치</h3>
    <p>‘회사’는 청소년이 아무런 제한장치 없이 유해정보에 노출되지 않도록 별도의 인증장치를 마련, 적용하며 유해정보가 노출되지 않기 위한 예방차원의 조치를 강구하고 있습니다.</p>
    <h3>3. 유해정보로 인한 피해상담 및 고충처리</h3>
    <p> ‘회사’는 유해정보로 인한 피해상담 및 고충처리를 위한 전문인력을 배치하여 그 피해가 확산되지 않도록 노력하고 있습니다. 이용자께서는 하단에 명시한 청소년보호 책임자 및 담당자에게 전화나 메일을 통하여 피해상담 및 고충처리를 요청 할 수 있으며 자체적으로 처리가 곤란할 경우 피해 특성별 관련기관을 안내해 드리고 있습니다.</p>
    <h3>4. 유해정보로부터 청소년을 보호하기 위한 업무 담당자 교육 시행</h3>
    <p> ‘회사’는 청소년보호담당자 및 각 서비스 담당자들을 대상으로 청소년 보호 관련 법령 및 제재기준, 유해정보 발견시 대처방법, 위반사항 처리에 대한 보고절차 등을 교육하고 있습니다.</p>
    <h3>5. 청소년보호 책임자 및 담당자의 지정</h3>
    <p> ‘회사’는 아래와 같이 청소년보호 책임자 및 담당자를 지정하여 청소년 보호를 위하여 최선을 다하고 있습니다.</p>
    <ul>
        <li> 청소년 보호 관리 책임자 </li>
        <li> 이름 : 장승희 </li>
        <li> 소속 : ㈜비피유홀딩스 </li>
        <li>이메일 : <a href="" title="">jsh@bpuholdings.com</a></li>
        <li>직위 : 이사</li>
    </ul>
    <ul>
        <li>청소년 보호 담당자 </li>
        <li> 이름 : 정만호 </li>
        <li> 소속 : ㈜비피유홀딩스 </li>
        <li>메일 : <a href="web" title="">jmh@bpuholdings.com</a></li>
        <li>직위 : 차장</li>
    </ul>
</div>
