<div class="policyText termsPage">
    <h2>Zimgo 약관</h2>
    <table class="table" style="border: none;">
        <tr>
            <td>제1조
                <목적>
            </td>
            <td>제14조
                <서비스의 제공 등>
            </td>
        </tr>
        <tr>
            <td>제2조
                <용어의 정의>
            </td>
            <td>제15조
                <서비스의 변경 및 종료>
            </td>
        </tr>
        <tr>
            <td>제3조
                <약관의 게시, 효력 및 변경>
            </td>
            <td>제16조
                <정보의 제공 및 광고의 게재>
            </td>
        </tr>
        <tr>
            <td>제4조
                <약관의 해석>
            </td>
            <td>제17조
                <권리의 귀속>
            </td>
        </tr>
        <tr>
            <td>제5조
                <이용신청>
            </td>
            <td>제18조
                <게시물의 저작권>
            </td>
        </tr>
        <tr>
            <td>제6조
                <이용신청의 유보 또는 거절>
            </td>
            <td>제19조
                <게시물의 관리>
            </td>
        </tr>
        <tr>
            <td>제7조
                <개인정보의 수집>
            </td>
            <td>제20조
                <구매중개>
            </td>
        </tr>
        <tr>
            <td>제8조
                <회원정보의 변경>
            </td>
            <td>제21조
                <휴먼계정관리>
            </td>
        </tr>
        <tr>
            <td>제9조
                <회원정보의 관리와 책임>
            </td>
            <td>제22조
                <계약해제.해제 등>
            </td>
        </tr>
        <tr>
            <td>제10조
                <회원정보의 보호, 이용>
            </td>
            <td>제23조
                <이용의 제한>
            </td>
        </tr>
        <tr>
            <td>제11조
                <회원에 대한 통지>
            </td>
            <td>제24조
                <면책조항>
            </td>
        </tr>
        <tr>
            <td>제12조
                <회사의 의무>
            </td>
            <td>제25조
                <손해배상>
            </td>
        </tr>
        <tr>
            <td>제13조
                <회원의 의무>
            </td>
            <td>제26조
                <준거법 및 재판관할>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>제27조 〈규정준용〉 부칙</td>
        </tr>
    </table>
    <h2>제1조 <목적></h2>
    <p>본 약관은 (주)비피유홀딩스(이하 ‘회사’라 합니다.)가 운영하는 Zimgo(이하 ‘서비스’라 합니다.)에 인터넷 서비스에 회원으로 가입하고 이용할시 회사와 회원의 권리, 의무 및 책임사항, 기타 필요한 사항들을 규정함을 목적으로 합니다.</p>
    <h3>제2조 <용어의 정의></h3>
    <p>이 약관에서 사용하는 용어의 정의는 아래와 같습니다.</p>
    <ul>
        <li>① 서비스 : 접속 가능한 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 ‘회원’이 이용할 수 있는 ‘회사’의 모든 제반 서비스를 의미합니다.</li>
        <li>② 회원 : ‘회사’의 ‘서비스’에 접속하여 본 약관에 동의하고 본 ‘회사’의 서비스를 이용하는 자를 말합니다.</li>
        <li>③ 아이디(ID) : ‘회원’의 식별과 서비스 이용을 위하여 ‘회원’이 사용하는 이메일로 정하고 ‘회사’가 승인하는 것을 말합니다. </li>
        <li>④ 비밀번호 : ‘회원’이 부여 받은 아이디와 일치된 ‘회원’임을 확인하고, 비밀보호를 위해 ‘회원’이 정한 문자와 숫자, 특수문자의 조합을 의미합니다.</li>
        <li>⑤ 게시물 : ‘회원’이 ‘서비스’를 이용함에 있어 ‘서비스’에 게시한 부호 ․ 문자 ․ 음성 ․ 음향 ․ 화상 ․ 영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 말합니다.</li>
        <li>⑥ 이용고객 : 회사의 서비스를 이용하기 위하여 회사와 이용계약을 체결하려고 하는 자를 말합니다.</li>
    </ul>
    <h3>제3조 <약관의 게시, 효력 및 변경></h3>
    <ul>
        <li>① 이 약관은 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다</li>
        <li>② ‘회사’는 약관의 규제에 관한 법률, 온라인 디지털콘텐츠사업 발전법, 정보통신망이용촉진 및 정보보호 등에 관한 법률, 전기통신사업법, 위치정보보호법, 개인정보보호법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</li>
        <li>③ 회사는 약관을 개정할 경우 그 개정이유 및 적용일자를 명시하여 현행 약관과 함께 적용일자 10일전부터 적용일 전일까지 제1항의 방법으로 공지합니다. 다만, 회원의 권리 또는 의무에 관한 중요한 규정의 변경은 최소한 30일전에 공지하고 개정약관을 회원이 등록한 메일, SMS 등으로 발송하여 통지합니다.</li>
        <li>④ ‘회사’가 제3항에 따라 개정약관을 공지 또는 통지하면서 회원에게 개정약관 적용일까지 거부의사를 표시하지 않으면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다.</li>
        <li>⑤ 약관에 동의하는 것은 정기적으로 웹을 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미합니다. 변경된 약관에 대한 정보를 알지 못해 발생하는 이용자의 피해는 회사에서 책임지지 않습니다.</li>
        <li>⑥ ‘회원’이 개정약관의 적용에 대하여 동의하지 않는 경우 ‘회원’은 규정에 따라 이용계약을 해지할 수 있습니다. 또한 ‘회사’는 동의하지 않은 ‘회원’에 대하여 이용계약을 해지할 수 있습니다.</li>
    </ul>
    <h3>제4조 <약관의 해석></h3>
    <ul>
        <li>① ‘회사’는 ‘개별서비스’에 대하여 별도의 이용약관 및 정책(이하 ‘별도의 이용약관 및 정책’이라 함)을 둘 수 있으며, 해당 내용이 이 약관과 상충할 경우에는 ‘별도의 이용약관 및 정책’이 우선하여 적용 됩니다.</li>
        <li>② 이 약관에 정하지 아니한 사항에 대하여는 ‘별도의 이용약관 및 정책’ 및 관계법령, 약관의 규제에 관한 법률 또는 상관례에 따릅니다.</li>
    </ul>
    <h3>제5조 <이용신청></h3>
    <ul>
        <li>① 서비스 이용자가 이 약관을 읽고 회원가입신청에 동의버튼을 누르거나 확인 등에 체크하는 방법을 취한 경우 이 약관에 동의한 것으로 간주합니다.</li>
        <li>② ‘회사’의 서비스 이용을 위한 회원가입은 서비스 이용자가 제1항과 같이 동의한 후에 회사가 정한 신청서에 ‘회원’의 ID(이메일) 및 비밀번호를 입력하고, 등록하기 또는 확인 단추를 누르는 방법으로 합니다. </li>
        <li>③ 만 14세 미만의 아동이 이 서비스를 이용하기 위해서는 ‘회사’가 요구하는 요건의 법정대리인의 동의절차를 거쳐야 합니다.</li>
        <li>④ 이용고객이 전항의 "동의합니다"를 선택하고 신청양식을 작성하는 것은 이 약관 및 “개인정보의 수집 및 이용”에 대한 내용을 숙지하고, 회사가 서비스 이용을 위해 운영하는 각종 정책(예 : 개인정보처리방침, 저작권 정책, 스팸정책 등)과 수시로 공지하는 사항을 준수하는 것에 대해 동의하는 것으로 봅니다. </li>
    </ul>
    <h3>제6조 <이용신청의 유보 또는 거절></h3>
    <ul>
        <li>① 회원등록은 회원가입신청 절차에 의한 서비스 이용자의 회원가입 신청과 회사의 회원등록승낙에 의하여 성립됩니다. ‘회사’는 회원가입 신청자가 필수사항 등을 성실히 입력하여 가입신청을 완료하였을 때에는 필요한 사항을 확인한 후 승낙을 하여야 합니다. 단, 회원가입 신청서 제출 이외에 별도의 자료 제출이 요구되는 경우에는 예외로 합니다.</li>
        <li>② ‘회사’는 아래 각호에 해당하는 경우에는 회원등록의 승낙을 유보할 수 있습니다.
            <ol>
                <li>1. 제공서비스 설비용량에 현실적인 여유가 없는 경우</li>
                <li>2. 서비스를 제공하기에는 기술적으로 문제가 있다고 판단되는 경우</li>
                <li>3. 기타 회사가 재정적, 기술적으로 필요하다고 인정하는 경우</li>
            </ol>
        </li>
        <li>③ ‘회사’는 아래 각호에 해당하는 경우에는 회원등록을 거절할 수 있습니다.
            <ol>
                <li>1. 타인의 정보를 이용하여 가입신청을 하는 경우</li>
                <li>2. 부정한 용도로 본 서비스를 이용하고자 하는 경우</li>
                <li>3. 가입신청서의 내용을 허위로 기재하였거나 허위서류를 첨부하여 가입신청을 하는경우</li>
                <li>4. 14세 미만의 아동이 개인정보제공에 대한 동의를 부모 등 법정대리인으로부터 받지 않은 경우</li>
                <li>5. ‘회사’가 관련법령 등을 기준으로 하여 명백하게 사회질서 및 미풍양속에 반할 우려가 있음을 인정하는 경우</li>
                <li>6. 영리를 추구할 목적으로 본 서비스를 이용하고자 하는 경우</li>
                <li>7. 기타 ‘회사’가 정한 이용요건에 충족되지 않은 경우</li>
            </ol>
        </li>
        <li>④ ‘회사’는 회원에 대하여 영화, 비디오물의 진흥에 관한 법률 및 청소년보호법 등에 따른 등급 및 연령준수를 위해 이용제한이나 등급별 제한을 할 수 있습니다.</li>
        <li>⑤ 회사는 서비스를 이용하는 회원에 대하여 회원의 종류 및 등급별로 구분하여 이용시간, 이용회수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다. </li>
    </ul>
    <h3>제7조 <개인정보의 수집></h3>
    <p>‘회사’는 서비스를 제공하기 위하여 관련 법령의 규정에 따라 ‘회원’으로부터 필요한 개인정보를 수집합니다.</p>
    <h3>제8조 <회원정보의 변경></h3>
    <p>‘회원’은 회원정보 관리페이지에서 본인의 개인정보를 열람하고 수정할 수 있으며, ‘회사’는 ‘회원’이 회원정보를 변경하지 아니하여 발생한 손해에 대하여 책임을 부담하지 않습니다.</p>
    <h3>제9조     <회원정보의 관리와 책임></h3>
    <ul>
        <li>① ‘회원’은 서비스 이용을 위한 회원 ID(이메일), 비밀번호의 관리에 대한 책임, 본인 ID(이메일)의 제3자에 의한 부정사용 등 ‘회원’의 고의 또는 과실로 인해 발생하는 모든 불이익에 대한 책임에 대하여 부담합니다. 다만, 이것이 ‘회사’의 고의 또는 과실로 인하여 야기된 경우에는 회사가 책임을 부담합니다.</li>
        <li>② ‘회원’은 회원ID(이메일), 비밀번호 및 추가정보 등을 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 본인의 비밀번호를 수정하는 등의 조치를 취하여야 하며 즉시 이를 회사에 통보하여 회사의 안내를 따라야 합니다. 만약, ‘회원’이 그 사실을 ‘회사’에 통지하지 않거나, 통지한 경우에도 회사의 안내에 따르지 않아 발생한 불이익에 대하여 회사는 책임을 지지 않습니다.</li>
    </ul>
    <h3>제10조    <회원정보의 보호, 이용></h3>
    <ul>
        <li>① ‘회사’는 관계법령이 정하는 바에 따라 ‘회원’의 등록정보를 포함한 개인정보를 보호하기 위해 노력합니다.</li>
        <li>② ‘회원’의 개인정보의 보호 및 사용에 대해서는 관련법령 및 회사의 개인정보 취급방침이 적용됩니다.</li>
        <li>③ ‘회사’의 공식사이트 이외의 웹에서 링크된 사이트에서는 ‘회사’의 개인정보 취급방침이 적용되지 않습니다.</li>
        <li>④ ‘회사’는 ‘회원’의 귀책사유로 인해 노출된 정보에 대하여는 일체의 책임을 지지 않습니다.</li>
        <li>⑤ ‘회사’는 회원정보의 취급과 관리 등의 업무를 수행함을 원칙으로 합니다. 다만, 필요한 경우 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수 있으며, 회원정보의 취급과 관리 등에 업무를 위탁하는 경우에는 개인정보취급방침에 공지합니다.</li>
        <li>⑥ ‘회원’이 이용계약 체결과정에서 회사에 제공한 회원정보에 대한 이용 또는 제공에 대한 동의를 철회하고자 하는 경우에는 개인정보취급방침에서 정한 방에 따르며, ‘회원’이 이러한 동의를 철회하는 경우 서비스 이용계약은 자동으로 해지됩니다.</li>
        <li>⑦ ‘회사’는 정보통신망법, 통신비밀보호법 등 관계법령에 따라 행정기관이나 수사기관 등에서 ‘회원’의 회원정보의 열람이나 제출을 요청하는 경우에는 이를 제공할 수 있습니다.</li>
        <li>⑧ 회사는 서비스 제공과 관련하여 알고 있는 회원의 회원정보를 본인의 동의없이 제3자에게 제공하지 않습니다.</li>
        <li>⑨ 회사는 회원의 회원정보를 보호하기 위해 보안시스템을 구축 운영하며, "개인정보처리방침"을 공지하고 준수합니다. 또한, 회사는 "개인정보처리방침" 따라 회원정보를 처리함에 있어 안정성 확보에 필요한 기술적 및 관리적 대책을 수립ㆍ운영합니다. </li>
        <li>⑩ 회사는 서비스와 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 서비스 화면에 게재하거나 메일 등을 통하여 회원에게 통지합니다. </li>
        <li>⑪ 회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 회사의 고의나 과실에 기해 발생한 경우에 한하여 회사에서 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.</li>
    </ul>
    <h3>제11조    <회원에 대한 통지></h3>
    <ul>
        <li>① ‘회사’가 ‘회원’에 대한 통지를 하는 경우 이 약관에 별도 규정이 없는 한 서비스 내 이메일, 전자쪽지 등으로 할 수 있습니다.</li>
        <li>② ‘회사’는 ‘회원’ 전체에 대한 통지의 경우 7일 이상 ‘회사’의 게시판에 게시함으로서 제1항의 통지에 갈음할 수 있습니다.</li>
    </ul>
    <h3>제12조    <회사의 의무></h3>
    <ul>
        <li>① ‘회사’는 관련법과 본 약관이 금지하거나 미풍약속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 서비스를 제공하기 위하여 최선을 다하여 노력합니다. 단, 천재지변, 비상사태, 그 밖에 부득이한 경우 서비스를 일시 중단하거나 중지할 수 있습니다.</li>
        <li>② ‘회사’는 ‘회원’이 안정하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.</li>
        <li>③ ‘회사’는 서비스이용과 관련하여 ‘회원’으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우 이를 처리하여야 합니다. 또한 제기한 의견이나 불만사항에 대하여는 연락 가능한 수단을 통하여 회원에게 처리과정 및 결과를 전달합니다.</li>
        <li>④ ‘회사’가 제3자와의 서비스 제공계약 등을 체결하여 ‘회원’에게 서비스를 제공하는 경우 ‘회사’는 각 개별서비스에서 서비스의 제공을 위하여 제3자에게 제공되는 ‘회원’의 구체적인 회원정보를 명시하고 회원의 개별적이고 명시적인 동의를 받은 후 동의의 범위 내에서 해당 서비스의 제공 기간 동안에 한하여 ‘회원’의 개인정보를 제3자의와 공유하는 등 관련 법령을 준수합니다.</li>
    </ul>
    <h3>제13조    <회원의 의무></h3>
    <ul>
        <li>① ‘회원’은 아래 각 호에 해당하는 행위를 하여서는 아니 됩니다.
            <ol>
                <li> 1. 회원가입신청 또는 변경 시 허위내용을 등록하는 행위</li>
                <li>2. 제3자의 ID(이메일) 및 비밀번호를 도용하여 부당하게 서비스를 이용하는 행위</li>
                <li>3. ‘회사’의 서비스를 이용하여 얻는 정보를 ‘회사’의 사전 승낙 없이 영리 또는 비영리의 목적으로 복제, 출판, 방송 등에 사용하거나 제3자에게 제공하는 행위</li>
                <li>4. ‘회사’ 또는 제3자에 대한 허위의 사실을 게재하거나 지적재산권을 침해하는 등 회사나 제3자의 권리를 침해하는 행위</li>
                <li>5. 정보통신망법 등 관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 등)를 전송하거나 게시하는 행위</li>
                <li>6. 청소년보호법에서 규정하는 청소년유해매체물의 게시하는 행위</li>
                <li>7. 공공질서 또는 미풍양속에 위배되는 내용의 정보, 문장, 도형, 음성 등을 유포하는 행위</li>
                <li>8. ‘회사’의 직원으로 가장 또는 사칭하거나 제3자의 명의를 도용하여 글을 게시하거나 이메일을 발송하는 행위</li>
                <li>9. 스토킹, 도배글, 욕설 등 다른 회원의 서비스 이용을 방해하는 행위</li>
                <li>10. 다른 회원의 개인정보 등을 동의 없이 불법 수집, 저장, 공개하는 행위</li>
                <li>11. 범죄와 결부된다고 객관적으로 인정되는 행위</li>
            </ol>
        </li>
        <li>② ‘회사’는 ‘회원’이 각 항의 행위를 하는 경우 게시물 등을 사전통지 없이 삭제할 수 있으며, 서비스의 이용을 제안하거나 일방적으로 해지할 수 있습니다. </li>
        <li>③ ‘회원’은 관계법, 이 약관의 규정, 이용안내 및 서비스와 관련하여 공지한 주의사항 등 ‘회사’가 통지하는 사항 등을 준수하여야 하며, 기타 ‘회사’의 업무에 방해되는 행위를 하여서는 안 됩니다.</li>
        <li>④ 회원은 회사에서 공식적으로 인정한 경우를 제외하고는 서비스를 이용하여 상품을 판매하는 영업 활동을 할 수 없으며, 특히 해킹, 광고를 통한 수익, 음란사이트를 통한 상업행위, 상용소프트웨어 불법배포 등을 할 수 없습니다. 이를 위반하여 발생한 영업활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가 책임을 지지 않으며, 회원은 이와 같은 행위와 관련하여 회사에 대하여 손해배상 의무를 집니다. </li>
        <li>⑤ 회원은 서비스의 이용권한, 기타 서비스 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.</li>
        <li>⑥ 회원은 회원 ID 및 비밀번호를 철저히 관리하여야 하며, 관리소홀, 부정사용 등에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인이 부담하며, 회사는 고의 또는 과실이 없는 한 이에 대한 어떠한 책임도 부담하지 않습니다.</li>
        <li>⑦ 회원은 본인의 ID 및 비밀번호를 제3자에게 이용하게 하여서는 아니되며, 회원 본인의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지하는 경우에는 즉시 비밀 번호를 변경하여야 하며, 해당 사실을 회사에 통지하고 회사가 안내하는 바에 따라야 합니다.</li>
        <li>⑧ 회원은 이용계약을 체결하면서 부여받은 ID를 변경할 수 없으며, 부득이한 사유로 인하여 변경하고자 하는 경우에는 이용계약을 해지하고 재가입하여야 합니다.</li>
        <li>⑨ 회원은 전항과 관련된 행위를 한 경우 서비스 이용과 관련한 일체의 권리를 주장할 수 없습니다.</li>
    </ul>
    <h3>제14조    <서비스의 제공 등></h3>
    <ul>
        <li>① ‘회사’는 회원에게 SNS 검색 서비스를 제공한다.</li>
        <li>② ‘회사’는 서비스를 연중무휴, 1일 24시간 제공함을 원칙으로 합니다.</li>
        <li>③ ‘회사’는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 ‘회사’는 제11조에 정한 방법으로 ‘회원’에게 통지합니다. 단, ‘회사’가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.</li>
        <li>④ ‘회사’는 서비스의 제공에 필요한 정기점검을 실시할 수 있으며, 정기점검시간은 서비스제공화면에 공지한 바에 따릅니다.</li>
    </ul>
    <h3>제15조    <서비스의 변경 및 종료></h3>
    <ul>
        <li>① ‘회사’가 서비스 제공을 위해 계약한 CP(Contents Provider)와의 계약종료, CP의 변경, 신규서비스의 개시 등의 사유로 서비스 내용이 일부 또는 전부 변경되거나 서비스종료 될 수 있습니다. </li>
        <li>② 서비스의 내용, 이용방법, 이용시간에 대하여 변경이 있는 경우에는 변경사유, 변경될 서비스의 내용 및 제공일자 등은 그 변경 전에 해당 서비스 초기화면에 게시하여야 합니다.</li>
        <li>③ ‘회사’는 무료로 제공되는 일부 또는 전부를 ‘회사’의 정책 및 운영의 필요상 변경, 수정, 중단, 종료할 수 있으며, 이에 대하여 관련법에 특별한 규정이 없는 한 ‘회원’에게 별도의 보상을 하지 않습니다.</li>
    </ul>
    <h3>제16조    <정보의 제공 및 광고의 게재></h3>
    <ul>
        <li>① ‘회사’는 ‘회원’이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 공지사항이나 이메일, 쪽지, SMS 등의 방법으로 ‘회원’에게 사전 동의를 받아서 제공할 수 있습니다. 단, ‘회원’은 관련법에 따른 거래관계 정보 및 고객문의 등에 대한 답변 등을 제외하고는 언제든지 이메일에 대하여 수신 거절을 할 수 있습니다.</li>
        <li>② ‘회사’는 서비스의 운영과 관련하여 서비스화면, 홈페이지, 이메일 등에 광고를 게재할 수 있습니다. 단, 광고가 게재된 이메일을 수신한 ‘회원’은 수신거절을 할 수 있습니다.</li>
        <li>③ 회원이 서비스상에 게재되어 있는 광고를 이용하거나 서비스를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 회원과 광고주간의 문제입니다. 만약, 회원과 광고주간에 문제가 발생할 경우에도 회원과 광고주가 직접 해결하여야 하며, 이와 관련하여 회사는 어떠한 책임도 지지 않습니다.</li>
    </ul>
    <h3>제17조    <권리의 귀속></h3>
    <ul>
        <li>① 서비스 및 콘텐츠에 대한 저작권 및 지식재산권은 ‘회사’에 귀속됩니다. 단, ‘회원’의 게시물 및 업무위탁계약, 제휴계약에 따라 제공된 저작물, 콘텐츠에 인용된 타인의 저작물 등은 제외합니다.</li>
        <li>② 업무위탁계약 및 제휴계약에 따라 제공된 저작물의 경우 각 계약 조건에 따라 저작권 및 지식재산권의 귀속이 달리 정해질 수 있습니다.</li>
        <li>③ ‘회사’는 서비스와 관련하여 ‘회원’에게 ‘회사’가 정한 이용조건에 따라 계정, 아이디, 콘텐츠 등을 이용할 수 있는 이용권만을 부여하며, ‘회원’은 이를 양도, 판매, 담보제공 등 처분행위의 대상으로 삼을 수 없습니다.</li>
    </ul>
    <h3>제18조    <게시물의 저작권></h3>
    <ul>
        <li>① 게시물이라 함은 ‘회사’의 서비스에 업로드 된 콘텐츠 및 콘텐츠를 구성하는 각종 파일과 링크, ‘회원’들의 댓글 등을 포함하는 정보를 의미합니다.</li>
        <li>② ‘회원’이 서비스 내에 게시한 게시물의 저작권은 해당 게시물의 저작자에게 귀속됩니다.</li>
        <li>③ ‘회원’이 서비스 내에 게시한 게시물은 검색결과 내지 서비스 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다. 그리고 회원이 서비스에 게시물을 게재하는 것은 다른 회원이 게시물을 서비스내에서 사용하거나 회사가 검색결과로 사용하는 것을 허락한 것으로 봅니다. 이 경우, ‘회사’는 저작권법 규정을 준수하며, ‘회원’은 언제든지 고객센터 및 서비스 내 관리기능을 통해 해당 게시물에 대한 삭제, 검색결과 제외, 비공개 등의 조치를 취할 수 있습니다.</li>
        <li>④ 회원은 자신이 서비스내에 게시한 게시물을 회사가 국내ㆍ외에서 다음 각 호의 목적으로 사용하는 것을 허락합니다.
            <ol>
                <li>1.서비스(제3자가 운영하는 사이트 또는 미디어의 일정 영역내에 입점하여 서비스가 제 공되는 경우를 포함합니다)내에서 게시물을 사용하기 위하여 게시물의 크기를 변환하거나 단순화하는 등의 방식으로 수정하는 것</li>
                <li>2. 회사에서 운영하는 다른 사이트 또는 다른 회사가 운영하는 사이트에 게시물을 복제ㆍ 전송ㆍ전시하는 것. 다만, 회원이 게시물의 복제ㆍ전송ㆍ전시에 동의하지 아니할 경우 에는 그러하지 않습니다.</li>
                <li>3. 회사의 서비스를 홍보하기 위한 목적으로 미디어, 통신사 등에게 게시물의 내용을 보 도, 방영하게 하는 것. 단, 이 경우 회사는 회원의 개별 동의없이 미디어, 통신사 등에 게 게시물 또는 회원정보를 제공하지 않습니다.</li>
            </ol>
        </li>
        <li>⑤ 전항의 규정에도 불구하고, 회사가 게시물을 전항 각 호에 기재된 목적 이외에 상업적 목적(예 : 제3자에게 게시물을 제공하고 금전적 대가를 지급받는경우 등)으로 사용할 경우에는 사전에 전화, 메일 등의 방법으로 회원의 동의를 얻습니다. 이 경우 회사는 회원에게 별도의 보상을 제공합니다.</li>
        <li>⑥ 회원이 이용계약을 해지하거나, 회사가 제22조 제2항 또는 제27조 제3항에 의하여 이용계약을 해지하는 경우, 회원이 서비스에 게시한 게시물은 삭제됩니다. 다만, 다른 회원 또는 제3자에게 의하여 스크랩, 펌, 담기 등으로 다시 게시된 게시물, 공유게시판, 댓글 등 공용 서비스 내에 게재된 게시물 등 다른 회원의 정상적인 서비스 이용에 필요한 게시물은 삭제되지 않습니다. </li>
        <li>⑦ 회사는 서비스 운영정책상 게시물의 내용을 변경하지 아니하고 게시물의 게재위치를 변경ㆍ이전할 수 있으며, 게시물의 이전ㆍ변경하는 경우에는 사전에 공지합니다.</li>
    </ul>
    <h3>제19조    <게시물의 관리></h3>
    <ul>
        <li>① ‘회원’의 게시물이 정보통신망법 및 저작권법 등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, ‘회사’는 관련법에 따라 조치를 취하여야 합니다.이에 대해 회사는 어떠한 책임도 지지 않습니다.</li>
        <li>② ‘회사’는 전항에 따라 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 게시물에 대하여 임시조치 등을 취할 수 있습니다.</li>
        <li>③ 본 조에 따른 세부절차는 정보통신망법 및 저작권법이 규정한 범위 내에서 ‘회사’는 개별 서비스별로 게시물과 관련된 세부이용지침을 별도로 정하여 시행할 수 있습니다.</li>
    </ul>
    <h3>제20조 <구매중개〉</h3>
    <ul>
        <li>① 서비스로부터 연결(링크)된 쇼핑몰(유료 컨텐츠 제공업체 포함. 이하 같습니다)들은 회사와 계약을 통하여 입점한 제휴 쇼핑몰들로서 회사는 단지 제휴 쇼핑몰들과의 연결(링크)만을 제공할 뿐이며, 쇼핑몰의 운영 및 관리, 물품(컨텐츠 포함. 이하 같습니다)의 판매, 배송 및 환불 등에 대한 모든 책임은 회사에 고의 또는 과실이 없는 한 제휴 쇼핑몰들이 부담하고, 회사는 일절 관여하지 않습니다.</li>
        <li>② 회원이 제휴 쇼핑몰에서 물품을 구매 또는 이용하는 경우 약관, 구매 및 이용절차, 대금결제, 배송, 반품, 교환등 물품 구매 및 이용과 관련된 일체의 절차는 제휴 쇼핑몰의 절차에 따라야 하며, 회사는 회원의 물품 구매 또는 이용에 일절 관여하지 않습니다.</li>
        <li>③ 회원이 제휴 쇼핑몰에서 물품을 구매 또는 이용하는 과정에서 제휴 쇼핑몰에 제공한 회원정보, 결제정보(신용카드번호, 은행계좌번호 등)등의 분실, 도난, 유출, 변조 등에 대한 모든 책임은 제휴쇼핑몰이 부담하며, 회사는 이에 대해 고의 또는 과실이 없는 한 책임을 부담하지 않습니다. </li>
    </ul>
    <h3>제21조 <휴먼계정관리〉</h3>
    <ul>
        <li>① 회사는 장기 비로그인 회원에게 배달되는 불법스팸메일 또는 회원의 메일함이 방치됨으로써 발생하는 불필요한 저장공간의 낭비를 줄이고 서비스 이용을 원활히 하기 위해서 휴면계정 관리정책을 실시합니다.</li>
        <li>② 회사는 회원이 3개월 동안 서비스에 로그인하지 않는 경우 메일 수신 정지 조치를 취할 수 있으며, 이후 9개월 동안(연속하여 12개월 동안) 서비스에 로그인하지 않는 경우 서비스 이용계약을 해지하거나, 회원의 메일함을 초기화할 수 있습니다. </li>
        <li>③ 제2항에 따른 서비스 이용 계약의 해지 또는 메일함 초기화로 인한 데이터(예: 주소록, 메일 등)의 삭제에 대한 책임은 회원이 부담하며, 회사는 고의 또는 과실이 없는 한 데이터 삭제에 따른 책임을 부담하지 않습니다. </li>
    </ul>
    <h3>제22조    <계약해제, 해지 등></h3>
    <ul>
        <li>① ‘회원’은 언제든지 서비스초기화면의 고객센터 또는 회원관리정보를 통하여 이용계약 해지신청을 할 수 있으며, ‘회사’는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다.</li>
        <li>② ‘회원’이 계약을 해지할 경우 관련법 및 개인정보취급방침에 따라 ‘회사’가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 ‘회원’의 모든 데이터는 소멸됩니다. </li>
        <li>③ ‘회원’이 본 서비스를 1년의 기간 동안 본 서비스를 이용하지 아니할 때에는 ‘회사’는 가지고 있는 회원정보의 모든 데이터를 소멸시킬 수 있습니다.</li>
        <li>④ ‘회원’이 계약을 해지하는 경우 ‘회원’이 서비스에 작성한 게시물은 삭제됩니다. 단, 타인에 의해 스크랩 등이 되어 재 게시되거나, 공용게시판에 등록된 게시물 등은 삭제되지 않으니 사전에 삭제 후 탈퇴하시기 바랍니다.</li>
    </ul>
    <h3>제23조    <이용의 제한 등></h3>
    <ul>
        <li>①‘회사’는 다음 각 호에 해당하는 사유가 발생한 경우에는 ‘회원’의 서비스 이용을 제한하거나 중지 시킬 수 있습니다.
            <ul>
                <li> 1. ‘회원’이 제13조 회원의 의무>를 위반한 경우 </li>
                <li>2. 서비스용 설비의 보수점검, 교체 및 고장 또는 운영상 상당한 이유가 있는 경우</li>
                <li>3. 서비스의 안정적인 운영을 위하여 정기점검을 실시하는 경우</li>
                <li> 4. 전기통신사업법에 규정된 기간통신 사업자가 전기통신 서비스를 중지했을 경우</li>
                <li> 5. 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 경우</li>
                <li>6. 기타 중대한 사유로 인하여 ‘회사’가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우</li>
            </ul>
        </li>
        <li>② ‘회사’는 ‘회원’이 본 약관의 의무를 위반하거나 서비스의 정상적인 운영을 방해한 경우 경고, 일시정지, 영구이용정지 등으로 서비스 이용을 단계적으로 제한할 수 있습니다.</li>
        <li>③ ‘회사’는 전항에도 불구하고, 주민등록법을 위반한 명의도용, 저작권법 및 컴퓨터프로그램보호법을 위반한 불법프로그램의 제공 및 운영방해, 정보통신망법을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다. 본 항에 따른 영구이용정지 시 서비스 이용을 통해 획득한 혜택 등도 모두 소명되며, ‘회사’는 이에 대하여 별도로 보상하지 않습니다.</li>
        <li>④ ‘회사’는 ‘회원’이 계속해서 12개월 이상 로그인 하지 않는 경우, 회원정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수 있습니다.</li>
        <li>⑤ ‘회사’는 본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 이용제한정책 및 개별서비스상의 운영정책에서 정하는 바에 의합니다.</li>
        <li>⑥ 본 조에 따라 서비스이용을 제한하거나 계약을 해지하는 경우에는 ‘회사’는 제11조
            <회원에 대한 통지>에 따라 통지합니다. 단, ‘회사’가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.</li>
        <li>⑦ ‘회원’은 본 조에 따른 이용제한 등에 대해 ‘회사’가 정한 절차에 따라 이의신청을 할 수 있습니다. 이때 이의가 정당하다고 ‘회사’가 판단한 경우 ‘회사’는 즉시 서비스의 이용을 재개합니다.</li>
    </ul>
    <h3>제24조    <면책조항> </h3>
    <ul>
        <li>① ‘회사’는 천재지변, 전쟁 및 기타 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 대한 책임이 면제됩니다.</li>
        <li>② ‘회사’는 기간통신사업자가 전기통신 서비스를 중지하거나 정상적으로 제공하지 아니하여 손해가 발생할 경우 책임이 면제됩니다.</li>
        <li>③ ‘회사’는 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해에 대하여 책임이 면제됩니다.</li>
        <li>④ ‘회사’는 ‘회원’의 귀책사유로 인하 서비스이용의 장애 또는 손해에 대하여 책임을 지지 않습니다.</li>
        <li>⑤ ‘회사’는 이용자의 컴퓨터 오류에 의해 손해가 발생한 경우, 또는 ‘회원’이 신상정보 및 이메일 주소를 부실하게 기재하여 손해가 발생한 경우 책임을 지지 않습니다.</li>
        <li>⑥ ‘회사’는 ‘회원’이 서비스를 이용하여 기대하는 수익을 얻지 못하거나 상실한 것에 대하여 책임을 지지 않습니다.</li>
        <li>⑦ ‘회사’는 ‘회원’이 서비스를 이용하면서 얻은 자료로 인한 손해에 대하여 책임을 지지 않습니다. 또한 ‘회사’는 ‘회원’이 서비스를 이용하며 타 ‘회원’으로 인해 입게 되는 정신적 피해에 대하여 보상할 책임을 지지 않습니다.</li>
        <li>⑧ ‘회사’는 ‘회원’이 서비스에 게재한 각종 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 대하여 책임을 지지 않습니다.</li>
        <li>⑨ ‘회사’는 이용자 상호간 및 이용자의 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며, 이로 인한 손해를 배상할 책임도 없습니다.</li>
        <li>⑩ ‘회사’에서 ‘회원’에게 무료로 제공하는 서비스의 이용과 관련해서는 어떠한 손해도 책임을 지지 않습니다.</li>
    </ul>
    <h3>제25조 (손해 배상)</h3>
    <ul>
        <li>① 회원이 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는 경우, 이 약관을 위반한 회원은 회사에 발생하는 모든 손해를 배상하여야 합니다.
        </li>
        <li>② 회원이 서비스를 이용하는 과정에서 행한 불법행위나 이 약관 위반행위로 인하여 회사가 당해 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 회원은 자신의 책임과 비용으로 회사를 면책 시켜야 하며, 회사가 면책되지 못한 경우 당해 회원은 그로 인하여 회사에 발생한 모든 손해를 배상하여야 합니다.
        </li>
    </ul>
    <h3>제26조    <준거법 및 재판관할></h3>
    <ul>
        <li> ① 회원은 게시물과 관련된 저작권 침해, 명예훼손 또는 개인정보 및 서비스 이용과 관련된 사항에 관한 문제제기 또는 문제해결은 회사가 운영하는 고객센터 또는 권리침해신고센터를 통하여 처리하여야 합니다. </li>
        <li>② ‘회사’와 ‘회원’간 제기된 소송은 대한민국법을 준거법으로 합니다.</li>
        <li>③ ‘회사’와 ‘회원’간 발생한 분쟁에 관한 소송은 제소 당시의 ‘회원’의 주소에 의하고, 주소가 없는 경우 거소를 관할하는 지방법원의 전속관할로 합니다. 단, 제소 당시 ‘회원’의 주소 또는 거소가 명확하지 아니한 경우의 관할법원은 민사소송법에 따라 정합니다.</li>
        <li>④ 해외에 주소나 거소가 있는 ‘회원’의 경우 ‘회사’와 ‘회원’간 발생한 분쟁에 관한 소송은 전항에도 불구하고 대한민국 서울중앙지방법원을 관할법원으로 합니다.</li>
    </ul>
    <h3>제27조    <규정의 준용></h3>
    <p>본 약관에 명시되지 않은 사항에 대해서는 관련법령에 의하고, 법에 명시되지 않는 부분에 대하여는 관습에 의합니다.</p>
    <ul>
        <li>부칙</li>
        <li>(시행일)</li>
        <li>본 약관은 2017년 1월 1일부터 적용됩니다.</li>
    </ul>
</div>
