<div class="policy-head">
    <div>
        <a ui-sref="main.base.content.main.main">
            <img width="200px" src="img/lg_zimgologo.png">
        </a>
    </div>
</div>
<div class="policy-content">
    <div data-ui-view="content"></div>
</div>
