<ion-view view-title="Diagnostic Services">
    <ion-content class="sliderContainer" style="overflow:hidden;">
        <tab-slide-box tab="0" ng-if="loggedInUser">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp"> <a href="javascript:;" class="tab-link tabWidth3">Summary</a> <a href="javascript:;" class="tab-link tabWidth3">Services</a> <a href="javascript:;" class="tab-link tabWidth2">Invoice</a> <a href="javascript:;" class="tab-link tabWidth3">Partners</a> </div>
            </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                    <div class="serviceImg"> <img class="full-image" src="img/banner/banner-spa.jpg"> </div>
                                    <section class="dtlsBox">
                                        <h2>Services</h2>
                                        <ul>
                                            <li ng-click="allSlid(1)">
                                                <a href="#">
                                                    <span ng-show="summaryData.upcomingSessions.length !==null">{{summaryData.upcomingSessions.length}}</span>
                                                    <span ng-show="summaryData.upcomingSessions.length == null">0</span>Upcoming Services</a>
                                            </li>
                                            <li><a href="#"><span class="statysGrey">{{summaryData.lastSessions.length}}</span><span ng-show="summaryData.lastSessions.length == null">0</span>Previous Services</a>
                                            </li>
                                        </ul>
                                        <div class="item item-body"> <a href="#" class="viewAll uppercase" ng-click="allSlid(1)">All</a> </div>
                                    </section>
                                </div>
                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Partners</h2>
                                        <ul>
                                            <li ng-repeat="diagnostic in summaryData.ambulanceInfo.partners | limitTo:2">
                                                <span class="statysGrey">{{diagnostic.partnersname}}</span>
                                            </li>
                                        </ul>

                                    </section>
                                    <div class="item item-body"> <a href="#" class="viewAll uppercase" ng-click="allSlid(3)">All</a> </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>

                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2 class="noPadding">Upcoming Sessions</h2>
                                    </section>
                                    <ul>
                                        <li ng-repeat="upcomingSessions in summaryData.upcomingSessions">
                                            <div class="item item-body">
                                                <h4>{{upcomingSessions.consultantsname}}</h4>
                                                <span class="ion-ios-calendar-outline green"></span><span class="txtPos1">{{upcomingSessions.preferred_date}}</span>
                                                <span class="ion-ios-clock-outline blue"></span><span class="txtPos1">{{upcomingSessions.preferred_date}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2 class="noPadding">Previous Sessions</h2>
                                    </section>
                                    <ul>
                                        <li ng-repeat="lastSessions in summaryData.lastSessions">
                                            <div class="item item-body">
                                                <h4>{{lastSessions.consultantsname}}</h4>
                                                <span class="ion-ios-calendar-outline green"></span><span class="txtPos1">{{lastSessions.preferred_date}}</span>
                                                <span class="ion-ios-clock-outline blue"></span><span class="txtPos1">{{lastSessions.preferred_date}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>

                <ion-slide dynamic-height>
                    <ion-scroll>
                        <div class="cardMargin">
                            <div class="subscList">
                                <div class="card list">
                                    <section class="dtlsBox">
                                        <h2>Package</h2>
                                        <ul ng-show="summaryData.packages">
                                            <li ng-repeat="package in summaryData.packages">
                                                <section>
                                                    <h2>{{package.servicename}}</h2>
                            <label>Price: {{truncate(package.unit_price)}} INR
                                                </section>
                                            </li>
                                        </ul>
                                        <div ng-show="summaryData.packages==null" class="assertive noData"> do not have any partners for diagnostic </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
</ion-content>
</ion-view>
<ion-view view-title="Diagnostic Services" ng-if="!loggedInUser">
  <ion-content class="sliderContainer">
   <tab-slide-box tab="0" >
        <div class="tsb-icons" >
            <div class="tsb-ic-wrp">
                <a href="javascript:;" class="tab-link" >About</a>
                <a href="javascript:;" class="tab-link" >Partners</a>
            </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide dynamic-height>
                <ion-scroll>
                  <div class="dd">
                     <div class="item item-body banner">
                         <img class="full-image" src="img/banner/slider-yoga.jpg">
                         <h3 class="padding banner-tagline">Eye Care At your doorstep.</h3>
                        <p class="serviceTxt">
                             This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                             the content is from a card-body consisting of an image and paragraph text.
                        </p>
                        <center>
                                <i class="icon ion-ios-telephone-outline"></i> 180030002525
                        </center>
                     </div>
                  </div>
                  <div class="slide-box box list" banner>
                    <a class="item button-full btnBlue btnPartner" ng-click="partnerList()">Partners</a>
                  </div>
                </ion-scroll>
            </ion-slide>
            <ion-slide dynamic-height>
                <ion-scroll>
                <div class="slide-box box" ng-if="partners.partners.length>0">
                    <div class="list">
                        <a class="item" href="#" ng-repeat="partner in partners.partners">
                            <h2>{{partner.partnersname}}</h2>
                            <p ng-if="partner.partners_address">{{partner.partners_address}}</p>
                            <p ng-if="partner.partnersphone"><label class="positive icon ion-ios-telephone"> </label>{{partner.partnersphone}}</p>
                        </a>
                    </div>
                </div>
                <div ng-if="partners.partners==null" class="assertive noData">Partners is not avaliable.</div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
