<div class="crea_a_eve profilePicUl">
    <div class="modal-header">
        <h5 class="clan_title">Update Profile <i class="fa fa-times" ng-click="close()"></i></h5></div>
    <div class="crea_a_eve_top clearfix">
        <div class="col-md-6">
            <div class="crea_top_left">
                <div class="col-md-4 no_padding">
                    <div class="updatePrflPicImg">
                        <img class="img-circle img-responsive" align="left" data-ng-src="{{tribemanDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <strong>{{tribemanDetails.tribemanName}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class="pull-left"><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(tribemanDetails.tribemanSentiment)}}">{{ tribemanDetails.tribemanSentiment | number:0 }}%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{tribemanDetails.tribemanMood}}.png" alt=""></em>
            <span>Happy</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="form-area pf-pic-ul">
    <form class="clearfix" ng-submit="tribemanProfilePicUpdate(tribemanProfilePic)">
        <div class="form-group text-center">
            <div class="form-group">
                <div class="tribeImgDiv">
                    <img id="userProfile" src="img/default_profile.jpg" style="height: 250px;width: 250px;border-radius: 100%;">
                    <div class="defualtUpImg">
                        <label>
                            <!-- <i class="fa fa-picture-o"></i> -->
                            <input type="file" style="display: none;" ng-file-model="tribemanProfilePic" imgid="userProfile"> <img src="/img/tribeImgs/upIcon.png" alt="">
                        </label>
                    </div>
                    <!-- <i class="fa fa-times-circle fa-2x" aria-hidden="true" ng-click="closeImg();"></i> -->
                </div>
                <span class="danger" id="tribeIcoErr"></span>
            </div>
            <button type="submit" class="btn btn-primary center-block">Update Profile Picture</button>
        </div>
    </form>
</div>
</div>
