<div class="row tribeProfilePage fiendProfilePage">
    <div class="spin-loading" ng-if="shwLoad">
        <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="profilePageLeft">
                <div class="profilePageLeftTop">
                    <h4><i class="fa fa-user" aria-hidden="true"></i> {{friendDetails.tribemanName}}</h4>
                    <div class="profileImg">
                        <img class="img-circle" align="center" data-ng-src="{{friendDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                    <div class="profileDetails clearfix">
                        <div class="profileStatus clearfix">
                            <span class="pull-left"><i></i> Online</span>
                            <span class="pull-right">{{friendsCount}} Friends</span>
                        </div>
                        <div class="profileSecondStatus">
                            <ul>
                                <li class="clearfix">
                                    <span class="pull-left">Photos</span>
                                    <span class="pull-right">{{tribemanPictureCount}}</span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left">Since</span>
                                    <span class="pull-right">{{friendDetails.createdAt | amDateFormat:'MMMM Do YYYY'}}</span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left">Last Update</span>
                                    <span class="pull-right">8th Jan 2016</span>
                                </li>
                            </ul>
                            <div class="profileSentimentVal clearfix">
                                <span class="pull-left">{{friendDetails.tribemanMood}} 
                                <img class="post-tribe-mood" ng-src="/img/exp_icons/{{friendDetails.tribemanMood}}.png" alt=""> </span>
                                <span class="pull-right"><em class="post-det-sentiment tribeSentiment"><button style="background-color : {{$root.getHexCode(friendDetails.tribemanSentiment)}}">{{ friendDetails.tribemanSentiment | number:0 }}%</button></em> <span class="prflSentimet">Sentiment</span>
                                </span>
                            </div>
                        </div>
                        <div class="profileActivites">
                            <button  ng-click="sendMessage();" class="text-center">Send a message</button>
                            <button ng-if="!addFrndBtn" class="text-center" ng-click="addFriend()">Add Friend</button>
                        </div>
                        <div class="profileIgonre">
                            <button ng-if="addFrndBtn" class="text-center" ng-click="unFriend()">Unfriend</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="profilePageLeftBottom">
                    <h4>My Tribes</h4>
                    <ul>
                        <li ng-repeat="tr in tribeListData" ng-init="tribe = tr.tribe">
                            <span class="categorieTitle" ng-click="goToCatPage(tribe)">{{tribe.tribeCategory}} <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            <em class="categorieVal" ng-click="goToTribePage(tribe)"> {{tribe.tribeName}}</em>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="col-md-6 bodyPad">
            <div class="profilePageMiddle">
                <div class="tribemanBreadcamp">
                    <ul class="profileMainBreadCremp">
                        <li> <a href="#/tribe/top">Tribe Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                        <li> <a href="" ui-sref="main.base.tribe.main.profile({tribemanId:loggedInTribemanDetails.tribemanId})">{{loggedInTribemanDetails.tribemanName}}<i class="fa fa-angle-right" aria-hidden="true"></i></a> </li>
                    </ul>
                </div>
                <ul class="nav nav-tabs profilePageMiddleTabs">
                    <li class="active" data-toggle="tab" data-target="#feeds">Feeds</li>
                    <li data-toggle="tab" data-target="#about">About</li>
                    <li data-toggle="tab" data-target="#friends">Friends</li>
                    <li data-toggle="tab" data-target="#pictures">Pictures</li>
                    <li data-toggle="tab" data-target="#myclans">My Clans</li>
                </ul>
                <div class="tab-content">
                    <div id="feeds" class="tab-pane fade in active">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.feeds.view.html'"></div>
                    </div>
                    <div id="about" class="tab-pane fade">
                        <h4>About</h4>
                    </div>
                    <div id="friends" class="tab-pane fade">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.friends.view.html'"></div>
                    </div>
                    <div id="pictures" class="tab-pane fade">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.pictures.view.html'"></div>
                    </div>
                    <div id="myclans" class="tab-pane fade">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.myclans.view.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profilePageRight">
                <!-- <div class="profilePageRightTop">
                    <h4>Friends</h4>
                    <ul>
                        <li ng-if="friendsList.length !== 0 || friendsList !== null" ng-repeat="frnd in friendsList">
                            <span><img src="/img/tribeImgs/demoProfileImg.png"></span>
                            <span><strong>Muhmad Alishphic</strong></span>
                            <span class="pull-right"><em></em></span>
                        </li>
                        <div class="noResult" ng-if="friendsList.length == 0 || friendsList == null">No Firends Found</div>
                    </ul>
                    <p>Friend Online <b>{{friendsList.length}}</b> of <b>{{0}}</b> <a href="">view all</a></p>
                </div> -->
                <div class="profilePageRightBottom">
                    <div class="clanImage">
                        <h4>Pictures</h4>
                        <img class="img-thumbnail" src="/img/tribeImgs/prfl-main.jpg" alt="">
                        <ul>
                            <li><img class="img-thumbnail" src="/img/tribeImgs/prfl-small.jpg" alt=""></li>
                            <li><img class="img-thumbnail" src="/img/tribeImgs/prfl-small.jpg" alt=""></li>
                            <li><img class="img-thumbnail" src="/img/tribeImgs/prfl-small.jpg" alt=""></li>
                            <li><img class="img-thumbnail" src="/img/tribeImgs/prfl-small.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
