<div class="row tribeProfilePage">
    <div class="col-md-12">
        <div class="spin-loading" ng-if="shwLoad">
            <div class='uil-spin-css'>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profilePageLeft">
                <div class="profilePageLeftTop">
                    <div class="trbPrfl">
                        <div class="profileImg text-center">
                            <img class="img-circle" align="center" data-ng-src="{{tribemanDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                            <button ng-click="changeProfilePc();"><i class="fa fa-pencil text-center"></i></button>
                        </div>
                        <h4>{{tribemanDetails.tribemanName}}</h4>
                    </div>
                    <div class="profileDetails clearfix">
                        <div class="profileStatus clearfix">
                            <span class="pull-left"><i></i> Online</span>
                            <span class="pull-right">{{friendsCount}} Friends</span>
                        </div>
                        <div class="profileSecondStatus">
                            <ul>
                                <li class="clearfix">
                                    <span class="pull-left">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i> Photos</span>
                                    <span class="pull-right">{{tribemanPictureCount}}</span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left"><i class="fa fa-calendar-o" aria-hidden="true"></i> Since</span>
                                    <span class="pull-right">{{tribemanDetails.createdAt | amDateFormat:'MMMM Do YYYY'}}</span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Last Update</span>
                                    <span class="pull-right">8th Jan 2016</span>
                                </li>
                            </ul>
                            <div class="profileSentimentVal clearfix">
                                <span class="pull-left"><img class="post-tribe-mood" ng-src="/img/exp_icons/{{tribemanDetails.tribemanMood}}.png" alt=""> {{tribemanDetails.tribemanMood}} 
                                 </span>
                                <span class="pull-right"><em class="post-det-sentiment tribeSentiment"><button style="background-color : {{$root.getHexCode(tribemanDetails.tribemanSentiment)}}">{{ tribemanDetails.tribemanSentiment | number:0 }}%</button></em> <span class="prflSentimet">Sentiment</span>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="profileActivites">
                             <button ng-click="inviteTribe();" class="text-center">Invite to Clan</button> 
                        </div> -->
                    </div>
                </div>
                <!-- <div class="profilePageLeftBottom">
                    <h4>My Tribes</h4>
                    <ul>
                        <li ng-repeat="tr in tribeListData" ng-init="tribe = tr.tribe">
                            <span class="categorieTitle" ng-click="goToCatPage(tribe)">{{tribe.tribeCategory}} <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            <em class="categorieVal" ng-click="goToTribePage(tribe)"> {{tribe.tribeName}}</em>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="col-md-6 bodyPad">
            <div class="profilePageMiddle">
                <ul class="profileMainBreadCremp clanBradcrumb">
                    <li> <a href="#/tribe/top">Tribe Home </a><i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li> {{tribemanDetails.tribemanName}}</li>
                </ul>
                <ul class="nav nav-tabs profilePageMiddleTabs">
                    <li class="active" data-toggle="tab" data-target="#feeds">Feeds</li>
                    <li data-toggle="tab" data-target="#about">About</li>
                    <li data-toggle="tab" data-target="#friends">Friends</li>
                    <li data-toggle="tab" data-target="#pictures">Pictures</li>
                    <li data-toggle="tab" data-target="#myclans">My Clans</li>
                </ul>
                <div class="tab-content">
                    <div id="feeds" class="tab-pane fade in active">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.feeds.view.html'"></div>
                    </div>
                    <div id="about" class="tab-pane fade">
                        <h4>About</h4>
                    </div>
                    <div id="friends" class="tab-pane fade">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.friends.view.html'"></div>
                    </div>
                    <div id="pictures" class="tab-pane fade">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.pictures.view.html'"></div>
                    </div>
                    <div id="myclans" class="tab-pane fade">
                        <div ng-include src="'/js/app/tribe/templates/profile/categories/tribeman.profile.myclans.view.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profilePageRight">
                <div class="profilePageRightTop">
                    <h4>Friend Requests</h4>
                    <ul class="frndRequestPendingList">
                        <li ng-if="pendingFriendRequests.length !== 0 || pendingFriendRequests !== null" ng-repeat="fr in pendingFriendRequests" ng-init="frndReq = fr.requestTribeman" class="clearfix">
                            <div class="col-md-2 no_padding">
                                <div class="reqImg">
                                    <img class="img-circle img-responsive" align="center" data-ng-src="{{frndReq.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 padding_right_none">
                                <div class="reqD">
                                    <a ui-sref="main.base.tribe.main.friendProfile({tribemanId:frndReq.tribemanId})" title="">
                                        <strong tooltip-html-unsafe="{{frndReq.tribemanName}}" tooltip-placement="top"> {{ frndReq.tribemanName}} </strong>
                                        <!-- <strong tooltip-html-unsafe="{{frndReq.tribemanName}}" tooltip-placement="top"> {{ frndReq.tribemanName | limitTo: 8 }}{{frndReq.tribemanName.length > 8 ? '...' : ''}} </strong> -->
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 no_padding">
                                <div class="acceptRejectBtns">
                                    <button class="acceptBtn" ng-click="acceptFrndRequest(fr.request.tribemanFriendListId);"><i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                    <button class="rejectBtn" ng-click="rejectFrndRequest(fr.request.tribemanFriendListId);"><i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <div class="noResult" ng-if="pendingFriendRequests.length == 0 || pendingFriendRequests == null">No Firend Requests</div>
                    </ul>
                    <div class="row readMoreDiv">
                        <div class="col-md-6 no_padding readHead">
                            <span class="pull-left">Friend Requests</span>
                        </div>
                        <div class="col-md-6 no_padding readMore">
                            <a href="" class="pull-right" ng-if="pendingFriendRequests.length > 2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="profilePageMessages">
                    <h4><i class="fa fa-envelope-o" aria-hidden="true"></i> Sent Messages</h4>
                    <ul class="profileMessageList">
                        <li ng-if="messageList.length !== 0 || messageList !== null" ng-repeat="m in messageList | limitTo : 2" class="clearfix" ng-init="msg = m.message">
                            <div class="col-md-2 col-sm-2 no_padding">
                                <div class="reqImg">
                                    <img class="img-circle img-responsive" align="center" data-ng-src="{{m.userToIdTribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10 no_padding">
                                <div class="messageBody">
                                    <a ui-sref="main.base.tribe.main.friendProfile({tribemanId:m.userToIdTribeman.tribemanId})" title="">
                                        <strong tooltip-html-unsafe="{{msg.userToId}}" tooltip-placement="top">@{{ msg.userToId | limitTo: 15 }}{{msg.userToId.length > 15 ? '...' : ''}} </strong></a>
                                    <div class="messageText">
                                        <span>{{ msg.message | limitTo: 25 }}{{msg.message.length > 25 ? '...' : ''}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="noResult" ng-if="messageList.length == 0 || messageList == null" class="noResult">No Messages</div>
                    </ul>
                    <div class="row readMoreDiv">
                        <div class="col-md-6 no_padding readHead">
                            <span class="pull-left">Sent Message</span>
                        </div>
                        <div class="col-md-6 no_padding readMore">
                            <messages-list ng-if="messageList.length > 2"></messages-list>
                        </div>
                    </div>
                </div>
                <div class="profileInvitations">
                    <h4>Recived Invitations</h4>
                    <ul class="profileInvitationsList">
                        <li ng-if="invitesList.length !== 0 || invitesList !== null" ng-repeat="invit in invitesList | limitTo : 2" class="clearfix">
                            <div class="col-md-2 col-sm-2 no_padding">
                                <div class="reqImg">
                                    <img class="img-circle img-responsive" align="center" data-ng-src="{{invit.userProfilePicture}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 no_padding">
                                <div class="inviteBody">
                                    <div class="inviteDetails">
                                        <a ui-sref="main.base.tribe.main.friendProfile({tribemanId:invit.userToId})" title="">
                                            <strong tooltip-html-unsafe="{{invit.username}}" tooltip-placement="top"> {{ invit.username | limitTo: 15 }}{{invit.username.length > 15 ? '...' : ''}} </strong></a>
                                        <span class="inviteClanName" tooltip-html-unsafe="{{invit.clanName}}" tooltip-placement="top"> {{ invit.clanName | limitTo: 17 }}{{invit.username.length > 17 ? '...' : ''}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 no_padding">
                                <div class="acceptRejectBtns">
                                    <button class="acceptBtn" ng-click="acceptClanInvt(invit.id);"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button class="rejectBtn" ng-click="rejectClanInvt(invit.id);"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </li>
                        <div class="noResult" ng-if="invitesList.length == 0 || invitesList == null">No Invitations</div>
                    </ul>
                    <div class="row readMoreDiv">
                        <div class="col-md-6 no_padding readHead">
                            <span class="pull-left">Recived Invitations</span>
                        </div>
                        <div class="col-md-6 no_padding readMore">
                            <invitation-list ng-if="invitesList.length > 2">Read More</invitation-list>
                        </div>
                    </div>
                </div>
                <div class="profilePageRightBottom">
                    <div class="clanImage">
                        <h4>Pictures</h4>
                        <div class="container slider">
                            <img class="slide" ng-src="{{tribemanPicutures[0].picture}}" />
                            <!-- <img ng-repeat="photo in tribemanPicutures" class="slide" ng-show="isActive($index)" ng-src="{{photo.picture}}" /> -->
                            <!--<ul class="nav">
                                <li ng-repeat="photo in tribemanPicutures  | limitTo:4" ng-class="{'active':isActive($index)}">
                                    <img src="{{photo.picture}}" ng-click="showPhoto($index);" />
                                </li> 
                            </ul>-->
                        </div>
                        <div class="col-md-12 picture-gallery-bottam">
                            <div class="col-md-8 no_padding">
                                <span>Our Popular Pictures</span>
                            </div>
                            <div class="col-md-4 no_padding">
                                <a href="" ng-click="viewSlider(tribemanPicutures);" title="">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
