<div class="crea_a_eve inviteTribe msgListM">
    <div class="modal-header">
        <i class="fa fa-times" ng-click="close()"></i>
        <h5 class="clan_title">Sent Messages</h5>
    </div>
    <div class="crea_a_eve_top clearfix">
        <div class="col-md-6">
            <div class="crea_top_left">
                <div class="col-md-3 no_padding">
                    <div class="inviteTribePrPf">
                        <img class="img-circle img-responsive" align="left" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="inviteTribeProfileName">
                        <strong>{{tribeman.tribemanName}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class=""><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{tribeman.tribemanMood}}.png" alt=""></em>
            <span>{{tribeman.tribemanMood}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="messageListBody clearfix">
        <ul>
            <li class="clearfix" ng-if="mList.length !== 0 || mList !== null" ng-repeat="m in mList | orderBy: 'createdAt':true" class="clearfix" ng-init="msg = m.message">
                <div class="col-md-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10 no_padding msgMnBdy">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="inviteTribeManImg">
                                    <img class="img-circle img-responsive" align="center" data-ng-src="{{m.userToIdTribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <strong>{{msg.userToId}}</strong>
                                <p>{{msg.message}}</p>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
            </li>
            <div class="noResult" ng-if="mList.length == 0 || mList == null" class="noResult">No Messages</div>
        </ul>
        </div>
    </div>
