<div class="crea_a_eve inviteTribe invitationList">
    <div class="modal-header">
        <i class="fa fa-times" ng-click="close()"></i>
        <h5 class="clan_title">All Recived Invitations List</h5>
    </div>
    <div class="crea_a_eve_top clearfix">
        <div class="col-md-6">
            <div class="crea_top_left">
                <div class="col-md-3 no_padding">
                    <div class="inviteTribePrPf">
                        <img class="img-circle img-responsive" align="left" data-ng-src="{{tribeman.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="inviteTribeProfileName">
                        <strong>{{tribeman.tribemanName}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class=""><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(tribeman.tribemanSentiment)}}">{{ tribeman.tribemanSentiment | number:0 }}%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{tribeman.tribemanMood}}.png" alt=""></em>
            <span>{{tribeman.tribemanMood}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="invitationsListBody clearfix">
        <ul>
            <li class="clearfix" ng-if="invtList.length !== 0 || invtList !== null" ng-repeat="invit in invtList">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="inviteTribeManImg">
                            <img class="img-circle img-responsive" align="center" data-ng-src="{{invit.userProfilePicture}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <strong>{{ invit.username}}</strong>
                        <span>Since : {{invit.createdAt}}</span>
                        <div class="inviteClan">
                            <span>{{invit.clanName}}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="invAccBtns">
                            <button class="acceptBtn" ng-click="acceptClanInvt(invit.id);"><i class="fa fa-check" aria-hidden="true"></i> </button>
                            <button class="rejectBtn" ng-click="rejectClanInvt(invit.id);"><i class="fa fa-times" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                </div>
            </li>
            <div class="noResult" ng-if="invtList.length == 0 || invtList == null">No Invitations</div>
        </ul>
    </div>
</div>
