<div class="crea_a_eve inviteTribe">
    <div class="modal-header">
        <i class="fa fa-times" ng-click="close()"></i>
        <h5 class="clan_title">Invite Friend to Clan</h5>
    </div>
    <div class="crea_a_eve_top clearfix">
        <div class="col-md-6">
            <div class="crea_top_left">
                <div class="col-md-3 no_padding">
                    <div class="inviteTribePrPf">
                        <img class="img-circle img-responsive" align="left" data-ng-src="{{tribemanDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="inviteTribeProfileName">
                        <strong>{{tribemanDetails.tribemanName}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profileSentimentVal clearfix createEventSentiment">
                <span class=""><span class="prflSentimet">Sentiment</span>
                <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(tribemanDetails.tribemanSentiment)}}">{{ tribemanDetails.tribemanSentiment | number:0 }}%</button>
            </em>
                </span>
                <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{tribemanDetails.tribemanMood}}.png" alt=""></em>
            <span>{{tribemanDetails.tribemanMood}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-area">
        <form ng-submit="inviteTribe(inviteData);">
            <div class="form-group">
                <label>Select Tribe :</label>
                <select ng-change="clanSelect(inviteData.clan)" class="form-control" ng-model="inviteData.clan" ng-options="clan as clan.clanName for clan in myClanList">
                    <option selected value="">Select Clan</option>
                </select>
            </div>
            <!-- <div ng-if="!selectFrnd" class="form-group clearfix">
                <label>Select Friend :</label>
                <select ng-change="tribeFriend(inviteData.userToId)" class="form-control" ng-model="inviteData.userToId" ng-options="item as item.accountName for item in friendsList">
                    <option selected value="">Select Friend</option>
                </select>
                <div ng-if="showFrndDetails" class="inviteTribeFriendShow clearfix">
                    <div class="col-md-6">
                        <div class="inviteFrndDetails clearfix">
                            <img class="img-circle img-responsive" ng-src="{{selectedFriend.profilePic}}" src="img/default_profile.jpg"  alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>{{selectedFriend.tribemanName}}</h4>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <label>Invite Message :</label>
                <textarea ng-model="inviteData.inviteText" class="form-control" type="textarea" id="message" placeholder="Invite Message" maxlength="140" rows="3" name="additional_services"></textarea>
            </div>
            <button type="submit" id="submit" name="submit" class="btn btn-primary center-block">Invite Tribe</button>
        </form>
    </div>
</div>
