<div class="crea_a_eve sendMsg">
    <div class="modal-header">
        <h5 class="clan_title">Send Message <i class="fa fa-times" ng-click="close()"></i></h5>
    </div>
    <div class="crea_a_eve_top clearfix">
        <div class="row">
            <div class="col-md-6">
                <div class="crea_top_left">
                    <div class="col-md-3 no_padding">
                        <div class="inviteTribePrPf">
                            <img class="img-circle img-responsive" align="left" data-ng-src="{{friendDetails.profilePic}}" alt="" on-error-img-src="img/default_profile.jpg" src="img/default_profile.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="inviteTribeProfileName">
                            <strong>{{friendDetails.tribemanName}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profileSentimentVal clearfix createEventSentiment">
                    <span class=""><span class="prflSentimet">Sentiment</span>
                    <em class="post-det-sentiment tribeSentiment">
                <button style="background-color : {{$root.getHexCode(friendDetails.tribemanSentiment)}}">{{ friendDetails.tribemanSentiment | number:0 }}%</button>
            </em>
                    </span>
                    <span class="pull-right"> 
            <em><img class="post-tribe-mood" ng-src="/img/exp_icons/{{friendDetails.tribemanMood}}.png" alt=""></em>
            <span>{{friendDetails.tribemanMood}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-area sentMsg">
        <form class="clearfix" ng-submit="sensMessage(sendMsg);">
            <div class="form-group">
                <div class="postCommentTextarea">
                    <textarea placeholder="Type Message..." ng-model="sendMsg" class="form-control" rows="3" required></textarea>
                    <p class="alert-danger" ng-show="moodExpError">{{moodeError}}</p>
                    <div class="commentMoodMain" id="cheetah">
                        <i class="fa fa-smile-o commentMood" ng-hide="moodIcon" aria-hidden="true"></i>
                        <img ng-show="moodIcon" class="img-circle commentMood" ng-src="/img/exp_icons/{{commentMood}}.png" alt="">
                        <ul class="commntMoodExp" id="hidden">
                            <li><img tooltip-html-unsafe="ANGRY" tooltip-placement="top" ng-click="chooseCommetMood('ANGRY')" ng-class="{'clickBr': commentMood == 'ANGRY'}" src="img/exp_icons/ANGRY.png" alt=""></li>
                            <li><img tooltip-html-unsafe="DISGUST" tooltip-placement="top" ng-click="chooseCommetMood('DISGUST')" ng-class="{'clickBr': commentMood == 'DISGUST'}" src="img/exp_icons/DISGUST.png" alt=""></li>
                            <li><img tooltip-html-unsafe="FEAR" tooltip-placement="top" ng-click="chooseCommetMood('FEAR')" ng-class="{'clickBr': commentMood == 'FEAR'}" src="img/exp_icons/FEAR.png" alt=""></li>
                            <li><img tooltip-html-unsafe="HAPPY" tooltip-placement="top" ng-click="chooseCommetMood('HAPPY')" ng-class="{'clickBr ': commentMood == 'HAPPY '}" src="img/exp_icons/HAPPY.png" alt=""></li>
                            <li><img tooltip-html-unsafe="SAD" tooltip-placement="top" ng-click="chooseCommetMood('SAD ')" ng-class="{'clickBr ': commentMood == 'SAD '}" src="img/exp_icons/SAD.png" alt=""></li>
                            <li><img tooltip-html-unsafe="SURPRISED" tooltip-placement="top" ng-click="chooseCommetMood('SURPRISED ')" ng-class="{'clickBr ': commentMood == 'SURPRISED '}" src="img/exp_icons/SURPRISED.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h5>Message Sentiment :</h5>
                    <rzslider rz-slider-model="messsageSentiment.value" rz-slider-options="messsageSentiment.options"></rzslider>
                </div>
                <!-- <div class="postCommentImgUpload">
                    <label class="btn btn-default btn-file">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <input type="file" style="display: none;"> Upload Image
                    </label>
                </div> -->
            </div>
            <button class="btn btn-primary center-block" type="submit">Send Message</button>
        </form>
    </div>
</div>
