/*Developer CSS changes*/
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.logImg{
  content:url(../images/hb_logo.png);
  max-width:200px;
  margin-top: -13px;
  margin-left: -11px;
}

.profileImg{
  content:url(../images/no_image.jpg);
}

.ngdialog-content{width: 80% !important;height: 400px;overflow: auto;}