.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

body {font-family: 'Nunito', Arial, Helvetica, sans-serif; font-size:14px; font-weight:300;}
.logo{ background:url( ../images/svg/logo-hb.svg) no-repeat 0 0; width:250px; height:55px; display:block; background-size:100%;}
.logSignupBox{ width:720px; margin:0 auto; border:1px solid #dedede; border-radius:5px; box-shadow:0 1px 2px #dedede}
.logoCenter{ margin:5% auto 30px; }


h1.head{ font-size:16px; letter-spacing:2px; text-transform:uppercase; font-weight:300; color:#2e2e2e}
.boxhalf{ width:48%; display:inline-block; margin:0 auto; vertical-align:top; padding:20px}
.logSignupBox input{ border:2px solid #ccc; border-radius:0; padding:10px; height:auto}
.btnTxt{ font-size:18px; color:#164570; text-transform:uppercase; font-weight:400}

.btnOrange, .btnOrange:focus {
	background: #f67f21;
	color: #fff;
	padding:10px;
	border-radius: 3px;
	display: inline-block; min-width: 150px
}
.btnOrange:hover, .btnBlue:hover {
	color: #fff;
	text-decoration: none;
	opacity: .9
}
.btnFB{ background:#4265ae; width:80%; margin-bottom:10px; border-radius:3px; color:#FFF}
.btnG{ background:#e76040; width:80%; border-radius:3px; color:#FFF;margin-bottom:20px; }

.regForm{ padding:20px}
.regForm input[type="text"], .regForm input[type="tel"], .regForm input[type="email"], .regForm input[type="password"]{ width:100%; display:inline-block}
.regForm .form-group{ display:inline-block; width:47.5%; margin:15px 1%}

.help-block{ position:absolute; margin: 0}
.activateForm .form-group{ display:inline-block; width:32.5%; margin:}
.divider{ border-bottom:1px solid #ccc; margin-top:20px}
/*############## dashboard ############*/
.clear{ clear:both}
.page-header{ margin:15px 0!important}
.logoHead{ width:220px; height:48px}
.navbar-brand{ padding:5px 20px}
.navbar{ height:auto; min-height:60px; box-shadow:1px 1px 2px #ccc}
.panel-yellow{ margin:5px 10px}


.dashboard img{ height:50px!important; margin:20px 0 0 10px}
.dashboard .panel-info > .panel-heading{ height:90px!important; background:#fff; border:1px solid #ccc; font-size:16px; border-radius:3px; box-shadow:0 1px 2px #ddd}
.dashboard .panel-info > .panel-heading:hover{border:1px dashed #ccc}
.dashboard .panel{ box-shadow:none}
.panel-info{ border:none;}

.navbar-top-links .dropdown-menu li a .fa-user{ font-size:15px}
/*#################*/

.ico-em-cont{ background:url(../images/svg/ico-emergency-contact.svg) no-repeat 0 0; background-size:100%;width:50px; height:50px; display:block; margin:20px 0 0 0}
.ico-doc-con{ background:url(../images/svg/ico-doctor-connect.svg) no-repeat 0 0;  background-size:100%;width:50px; height:50px; display:block; margin:20px 0 0 0}
.ico-travel{ background:url(../images/svg/ico-travel.svg) no-repeat 0 0; background-size:100%;width:85px; height:50px; display:block; margin:20px 0 0 0}
.ico-ambulance{ background:url(../images/svg/ico-ambulance.svg) no-repeat 0 0;background-size:100%;width:75px; height:50px; display:block; margin:20px 0 0 0}

.ico-mso{ background:url(../images/svg/ico-mso.svg) no-repeat 0 0;width:40px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-diagnostic{ background:url(../images/svg/ico-diagnostic.svg) no-repeat 0 0;width:34px; height:50px; display:block; margin:20px 0 0 0;background-size:100% }
.ico-pharmacy{ background:url(../images/svg/ico-pharmacy.svg) no-repeat 0 0; width:29px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-physio{ background:url(../images/svg/ico-physio.svg) no-repeat 0 0; width:60px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-doctor{ background:url(../images/svg/ico-doctor.svg) no-repeat 0 0;width:60px; height:50px; display:block; margin:20px 0 0 0 ;background-size:100%}
.ico-nurse{ background:url(../images/svg/ico-nurse.svg) no-repeat 0 0;width:60px; height:50px; display:block; margin:20px 0 0 0;background-size:100% }
.ico-opd{ background:url(../images/svg/ico-opd.svg) no-repeat 0 0; width:50px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-ipd{ background:url(../images/svg/ico-ipd.svg) no-repeat 0 0; width:50px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-yoga{ background:url(../images/svg/ico-yoga.svg) no-repeat 0 0; width:60px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-fitness{ background:url(../images/svg/ico-fitness.svg) no-repeat 0 0; width:70px; height:50px; display:block; margin:30px 0 0 0;background-size:100%}
.ico-dietcian{ background:url(../images/svg/ico-dietcian.svg) no-repeat 0 0; width:45px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
.ico-full-body{ background:url(../images/svg/ico-full-body.svg) no-repeat 0 0;width:50px; height:50px; display:block; margin:20px 0 0 0 ;background-size:100%}
.ico-eye{ background:url(../images/svg/ico-eye.svg) no-repeat 0 0;width:60px; height:50px; display:block; margin:20px 0 0 0;background-size:100% }
.ico-dental{ background:url(../images/svg/ico-dental.svg) no-repeat 0 0;width:40px; height:50px; display:block; margin:20px 0 0 0;background-size:100% }
.ico-gynea{ background:url(../images/svg/ico-gynea.svg) no-repeat 0 0; width:50px; height:50px; display:block; margin:20px 0 0 0;background-size:100%}
ul.notificationList{width:300px; max-height:80vh; overflow:auto; border-top:1px solid #ccc;border-bottom:1px solid #ccc}
ul.notificationList, .notificationList{ padding:0}
ul.notificationList li{ display:block;  border-left:3px solid #09C}
ul.notificationList li a, .notificationList li a{ padding:10px!important; font-weight:300; border-bottom:1px solid #ddd; white-space:normal!important; display:block}
ul.notificationList li:last-child a{ border:none}
ul.notificationList h3, .notificationList h3{ font-size:14px; font-weight:400; padding:0; margin:0}
ul.notificationList p, .notificationList p{ padding:5px 0; margin:0; color:#5c5c5c; line-height:18px; }
ul.notificationList a:hover, .notificationList a:hover{ text-decoration:none!important}
ul.notificationList time, .notificationList time{ color:#5c5c5c; font-size:12px}
ul.notificationList .head{ font-size:16px; border-bottom:1px solid #ddd; padding:5px }
a.showMore{ color:#337ab7!important;}
.fa-tasks, .fa-bell, .fa-user{ font-size:20px}

ul.paymentOption{ list-style-type:none; padding:0; margin:0 0 10px 0; float:left; width:30%; min-height:400px}
ul.paymentOption li{display:block; border-bottom:1px solid #ddd}
ul.paymentOption li a{display:block;text-align:left}
ul.paymentOption li a:hover{ text-decoration:none}
table.tblPayment{ width:98%!important; margin:10px auto; text-align:left}
.paymentOptRt{width:70%; margin-left:30%; padding: 0 0 0 10px}
.paytm{background:url(../images/logo-paytm.jpg) no-repeat 10px center; padding:12px 0 8px 65px!important; }
.payu{background:url(../images/logo-payu.jpg) no-repeat 10px center; padding:10px 0!important;height:35px!important}

.card { border-radius:3px; margin:10px ;box-shadow: 0 1px 3px #ccc; padding:10px}
.card h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 120%;
    line-height: 30px;
    text-align:center;
    display:block;
    color: #2c2c2c;
    font-weight: 400;
    text-transform: capitalize; border-bottom:1px solid #ededed
}
.btnBookNow{ background:#f57f20; color:#fff; border:none; border-radius:3px; padding:5px 10px}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  
}
@media screen and (max-width:480px){
  .logSignupBox{ width:90%; margin:0 auto; border:1px solid #dedede; border-radius:5px; box-shadow:0 1px 2px #dedede}
  .boxhalf{ width:96%; display:block; margin:0 auto; vertical-align:top; padding:2%}
  .regForm .form-group{ display:block; width:100%;}
  .activateForm .form-group{ display:block; width:100%;}
}

@media screen and (min-width:481px) and (max-width:767px){
  .logSignupBox{ width:98%; margin:0 auto; border:1px solid #dedede; border-radius:5px; box-shadow:0 1px 2px #dedede}
  .boxhalf{ width:48%; display:inline-block; margin:0 auto; vertical-align:top; padding:1%}
}
@media screen and (min-width:1200px) and (max-width:1400px){
.respTravelEm{ width:100px; float:right}	
	
	}